
<div class="card">
	<div class="row g-0">

		<div class="col-sm-8">
			<div class="card-body">
				<h3><span class="badge bg-primary">3. Check</span></h3>
				<p class="card-text">
					Or mail Living Messiah Ministries a check...
					<Address />
				</p>
			</div>
		</div>
		<div class="col-sm-4">
			<img src="/images/donate-blank-check.jpg" class="p-2" alt="Check" />
		</div>

	</div>
</div> 