
<div class="card">
	<div class="row g-0">

		<div class="col-md-8">
			<div class="card-body">
				<h3><span class="badge bg-primary">2. Zelle</span></h3>
				<p class="card-text">
					Or, you could send donations via <b>Zelle Pay</b> with the <b>Donations@LivingMessiah.com</b> email.
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<img src="/images/donate-zelle.jpg" class="p-2" alt="Zelle" />
		</div>

	</div>
</div>