@using LivingMessiah.Web.Pages.Sukkot.Constants
@using static LivingMessiah.Web.Links.Sukkot
@using LivingMessiah.Web.Pages.Sukkot.RegistrationSteps.Enums
@using LivingMessiah.Web.Shared.Sukkot
@using NB = LivingMessiah.Web.Shared.Sukkot.Enums

<div class="card mt-0 mb-3">
	<div class="card-body bg-light">
		
		@((MarkupString)RemainderAndTotal(RegistrationStep.RemainingCost, RegistrationStep.TotalDonation))

		<p class="lead">
			Currently, the only way to pay for registration is via <u>Check</u>.  Click

			<CommonButtons RegistrationStepId="RegistrationStep.Id"
										 NavButton="NB.NavButton.DetailsPrint">
			</CommonButtons>  and follow the instructions.

		</p>

	</div>
</div>