@using LivingMessiah.Web.Pages.Sukkot.Constants
@using static LivingMessiah.Web.Links.Sukkot
@using LivingMessiah.Web.Pages.Sukkot.RegistrationSteps.Enums
@using LivingMessiah.Web.Shared.Sukkot
@using NB = LivingMessiah.Web.Shared.Sukkot.Enums

<div class="card mt-0 mb-3">
	<div class="card-body bg-light">
		
		@((MarkupString)RemainderAndTotal(RegistrationStep!.RemainingCost, RegistrationStep.TotalDonation))

		<p class="lead">
			@* ToDo: Xref, For similar verbiage, see Donate.razor, Pages\OtherPages\ *@

			We are working on a credit card / debit card processing solution.
			In the interim, you could send donations via <b>Zelle Pay</b> with the <b>Donations@LivingMessiah.com</b> email.
			Alternatively you can pay in person at service by filling out a donation slip and marking it <b>Sukkot 2023 Registration</b> and handing it to an elder.
			<CommonButtons RegistrationStepId="RegistrationStep!.Id"
										 NavButton="NB.NavButton.DetailsPrint">
			</CommonButtons>  and follow the instructions.

		</p>

	</div>
</div>