@using SukkotApi.Domain.Enums

<h4 class="mt-3 pt-2 border-top">
	Status Flags <span class="float-right text-info">
		<small> Status: @Status.Name <sup>(@Status.Value)</sup> </small>
	</span>
</h4>


@*table-striped*@

<table class="table table-bordered table-hover table-sm my-5">
	<thead class="">
		<tr>
			<th>Item</th>
			<th class="text-center">Check Box</th>
			@*<th class="text-center">Scope</th>*@
		</tr>
	</thead>
	<tbody>
		@foreach (var item in AvailableStatusFlags)
		{
			<tr>
				<td>@item</td>
				<td class="text-center">
					@if	(@Has(item)) { <i class="fas fa-check"></i> }
				</td>
				@*<td>--Scope--</td>*@
			</tr>
		}
	</tbody>
</table>


