@*@using static LivingMessiah.Web.Links.Sukkot*@
@using LivingMessiah.Web.Pages.Sukkot.Constants
@using LivingMessiah.Web.Settings
@using LivingMessiah.Web.Shared.Sukkot
@using Link = LivingMessiah.Web.Links.Sukkot
@using NB = LivingMessiah.Web.Shared.Sukkot.Enums

<div class="btn-toolbar mt-3 pt-2" role="toolbar">

	<div class="btn-group btn-group-sm  me-2" role="group">
		<CommonButtons RegistrationStepId="Id"
									 NavButton="NB.NavButton.Details">
		</CommonButtons>
	</div>

	<div class="btn-group btn-group-sm  me-2" role="group">
		<CommonButtons RegistrationStepId="Id"
									 NavButton="NB.NavButton.DetailsPrint">
		</CommonButtons>
	</div>

	<div class="btn-group btn-group-sm  me-2" role="group">
		<CommonButtons RegistrationStepId="Id"
									 NavButton="NB.NavButton.DeleteConfirmation">
		</CommonButtons>
	</div>



</div>

