@using LivingMessiah.Web.Services

<h3>AlertList</h3>
@typeparam TItem

<LivingMessiah.Web.Pages.BlazorExamples.Components.AlertBox class="alert-dark">
	<span> Child Content 2 using Attribute Splatting</span>
</LivingMessiah.Web.Pages.BlazorExamples.Components.AlertBox>

@code {
	[Parameter]
	public IEnumerable<TItem> Data { get; set; }
}
