@page "/EventCallbackExample"
@using LivingMessiah.Web.Pages.BlazorExamples

<h3>Event Callback</h3>
<h1>Parent-child example</h1>

<EventCallbackChild Title="Panel Title from Parent" OnClickCallback="@ShowMessage">
	Content of the child component is supplied by the parent component.
</EventCallbackChild>

<p>@message</p>

@*<AlertBox> test</AlertBox>*@

<AlertBox>
	@*<HeaderContent>HeaderContent Goes HERE!</HeaderContent>*@
	<span> Child Content 1</span>
</AlertBox>


<AlertBox>
	<span> Child Content 1 NOT using Attribute Splatting</span>
</AlertBox>

<AlertBox class="alert-dark">
	<span> Child Content 2 using Attribute Splatting</span>
</AlertBox>



