@page "/RegistrationSteps"
@using SukkotApi.Domain

<h1>Registration Steps</h1>
<p class="text-muted"><small>Test <i>SmartEnum</i></small></p>

<ul>
	@foreach (var item in RegistrationStep.List)
	{
		<li><b>@item.Name</b>: item.CanTransitionTo(RegistrationStep.FormCompletion)</li>
	}
</ul>

@*

	log.LogInformation($"...Can New transition to Paid?: {RegistrationSteps.New.CanTransitionTo(RegistrationSteps.Paid)} ");
	log.LogInformation($"...Can New transition to Accepted?: {RegistrationSteps.New.CanTransitionTo(RegistrationSteps.Accepted)} ");
	log.LogInformation($"...Can New transition to Cancelled?: {RegistrationSteps.New.CanTransitionTo(RegistrationSteps.Cancelled)} ");
	log.LogInformation($"...Can Cancelled transition to New?: {RegistrationSteps.Cancelled.CanTransitionTo(RegistrationSteps.New)} ");
	log.LogInformation($"...Can Cancelled transition to Paid?: {RegistrationSteps.Cancelled.CanTransitionTo(RegistrationSteps.Paid)} ");

*@

@code {

}
