@using LivingMessiah.Web.Shared.Sukkot
@*@using LivingMessiah.Web.Features.Sukkot.Constants*@
@using NB = LivingMessiah.Web.Shared.Sukkot.Enums

<div class="card mt-0 mb-3">
	<div class="card-body bg-light">
<h2 class="text-success">Success <i class="fas fa-exclamation"></i></h2>
<p>You have completed the task of Sukkot Registration! <i class="far fa-smile-wink fa-fw fa-2x"></i></p>
@*<i class="fas fa-exclamation fa-fw fa-2x"></i>*@
<h4>Next Steps</h4>

<p>Click the <b>Back to Introduction</b> button if you wish to review the plans at Sukkot</p>
<p>
	If you would like to make an additional donation, click...
	<br />
	<CommonButtons RegistrationStepId="RegistrationStepId"
						NavButton="NB.NavButton.Donation">
	</CommonButtons>
</p>

	</div>
</div>