@using LivingMessiah.Web.Features.Sukkot.Constants

<div class="row mb-3">
	<div class="col-12">
		<Button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
						class="btn-info btn-lg">
			Registration Walk Through Guide <i class='@Chevron'></i>
		</Button>
	</div>
</div>

@if (!IsCollapsed)
{


	<p class="lead">
		Sign Up for an account or use one previously created.
		<ol class="lead">
			@*		<li>
				<button @onclick="@(() => RedirectToLoginClick(@Page.Index))"
				type="button" class="btn-primary btn-sm">
				Login <i class='fas fa-sign-in-alt'></i>
				</button>
				to create an account.
				</li>*@
			<li>Verify the account (an email with a link will be sent to you)</li>
			<li>Once that is done, you will be returned to this page so you can continue with the Registration.</li>
			<li>
				<b>Note</b>, close the browser that you used to sign up for you Living Messiah account before you log back in.
				The cache needs to be cleared otherwise it won't recognize the verification process.
			</li>
		</ol>
	</p>

	<p class="lead">
		For assistance, you can print out this
		<a href="@LivingMessiah.Web.Features.Sukkot.Constants.Blobs.UrlPDF(PDFs.RegistrationWalkThrough)"
		 class="btn btn-primary btn-sm" target="_blank">
			<i class="fas fa-file-pdf"></i> PDF
		</a> or leave it open in another window.
	</p>
}

@code {
	public bool IsCollapsed { get; set; } = true;
	public string Chevron  { get; set; } = "fas fa-chevron-down";
	protected void ToggleButtonClick(bool isCollapsed)
	{
		IsCollapsed = !isCollapsed;
		Chevron = IsCollapsed ? "fas fa-chevron-down" : "fas fa-chevron-up"; 
	}
}
