@page "/SukkotAdmin/RegistrationGrid/"

@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h3><i class="fas fa-table"></i> Registration Grid</h3>
</div>

<SfTab CssClass="">
	<TabItems>

		<TabItem>
			<ChildContent>
				<TabHeader Text="Add"></TabHeader>
			</ChildContent>
			<ContentTemplate>

				<AddForm IsEdit="false"></AddForm>

			</ContentTemplate>
		</TabItem>

		<TabItem>
			<ChildContent>
				<TabHeader Text="Edit"></TabHeader>
			</ChildContent>
			<ContentTemplate>

				<AddForm IsEdit="true"></AddForm>

			</ContentTemplate>
		</TabItem>

		<TabItem>
			<ChildContent>
				<TabHeader Text="List"></TabHeader>
			</ChildContent>
			<ContentTemplate>

				<List></List>

			</ContentTemplate>
		</TabItem>

	</TabItems>
</SfTab>

