<LoadingComponent IsLoading="Description==null">
	<div class="card  border-success my-3">
		<div class="card-header">
			@Title <sup>@Id</sup>
		</div>
		<div class="card-body">
			<p class="pb-2 border-success">
				@((MarkupString)Description)
			</p>
		</div>
	</div>
</LoadingComponent>
