@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options
@using LivingMessiah.Web.Features.Sukkot.RegistrationSteps.Enums

<ul class="list-inline">
	<li class="list-inline-item"><small><b>SID</b> (Status ID): </small></li>
	@foreach (var item in Status.List.OrderBy(o => o.Value).Where(w => w.UsedInDbOnly).ToList())
	{
		<li class="list-inline-item"><small>@item.Value: @item.Name; </small></li>
	}
</ul>
