@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<button @onclick="@Toggle" title="@Title"
				type="button" class="btn btn-outline-info btn-sm float-end">
	<i class="@Icon"></i>
	@Text
</button>