@page "/Wirecast"
@using Page = LivingMessiah.Web.Links.Wirecast

<PageTitle>@Page.Title</PageTitle>

<LoadingComponent IsLoading="VM==null">

	<ul class="list-inline float-end">
		<li class="list-inline-item">Id: @VM!.Id</li>
		<li class="list-inline-item">Date: @VM.ShabbatDate.ToString("MMMM dd")</li>
	</ul>

	<a href="@VM.WirecastLink"
		 class="btn btn-success" title="Link to Wirecast">
		<i class="fas fa-podcast fa-fw fa-3x" aria-hidden="true"></i>
	</a>
	<p><small>@VM.WirecastLink</small></p>

	<hr class="warning" />

</LoadingComponent>

