@page "/CodeOfConduct"

@using Page = LivingMessiah.Web.Links.WindmillRanch.CodeOfConduct
<PageTitle>@Page.Title</PageTitle>

<h2><i class="@Page.Icon"></i> @Page.Title</h2>

<h5>Work in progress</h5>

<p>ToDo: What is expected of people when they visit the Windmill Ranch</p>

@code {

}
