@page "/CodeOfConduct"
@using static LivingMessiah.Web.WindmillRanch.Anchors

<h2><i class="@IconCodeOfConduct"></i> @TitleCodeOfConduct</h2>

<h5>Work in progress</h5>

<p>ToDo: What is expected of people when they visit the Windmill Ranch</p>

@code {

}
