<h3>InternalNotes</h3>


<h1>2021 Annual Update</h1>

<p>Here are some of the notes I have jotted down</p>



<hr />

<h1>Page Enhancements</h1>
<p class="lead">
	I've bee waiting patiently to greatly improve this page as I see this as main part of my position at LMM and local resident/overseer/ground keeper of the property.

	<blockquote class="blockquote mx-5">
		Where there is no vision, the people perish: but he that keepeth the <b>Torah</b>	<sup>the law</sup>, happy is he.
		<footer class="blockquote-footer"><cite title="Proverbs 29:18">Proverbs 29:18</cite></footer>
	</blockquote>

	I see a big part of my task therefore is to keep the vision going.
	Part of that is showing and documenting progress which can more effectively be done if you are systematic / formal about documenting work that has been done and work that needs to be done.
	Therefore what I want to do with this page is for it to be seen as a Project Management page.
</p>

<h3>Project Management Technical Requirements</h3>
<h5>A database of tables</h5>

<ul class="list-inline">
	<li>Projects and Project Categories</li>.
	<li>People</li>.
	<li>Folders and Tags</li>.
	<li>???</li>.
</ul>

<p class="lead">
	<b>Project Data Points:</b> status, priority, prerequisites, cost, phases, justification, approval, funding
</p>

<p class="lead">
	<b>People Data Points:</b> Who worked on which project and how much time did they spend and how should they be compensated
</p>

<p class="lead">
	<b>Folders and Tags:</b> This is to aide in searching / filtering the projects.
</p>

<h3>SyncFusion Components</h3>
<p class="lead">
	Since I'm already implementing this suite of components I thought I could leverage other ones that would be useful to this page
</p>

<ul>
	<li><a href="https://blazor.syncfusion.com/demos/kanban/dialog-editing?theme=bootstrap4"></a>A Kanban Board</li>.
	<li><a href="https://blazor.syncfusion.com/demos/diagramcomponent/hierarchical-tree?theme=bootstrap4"></a>Diagrams</li>.
</ul>


<ul>
	<li>Other keep track of hours</li>.
</ul>




<p class="lead">
	Please keep a link of this page as content will be updated frequently
</p>

<p>ToDo: Write more about</p>
<ul>
	<li>Emphasize the need for people to live Off Grid and lead a self sufficient life style</li>
	<li>The life style is oriented to be community focused</li>
	<li>Land Stewardship</li>
	<li>PDF Map reference</li>
</ul>