@page "/WindmillRanch/Intro"

@using LivingMessiah.Web.Pages.WindmillRanch.Components
@using Page = LivingMessiah.Web.Links.WindmillRanch
<PageTitle>@Page.Title</PageTitle>

<Menubar></Menubar>

<div class="pb-2 mt-4 mb-2">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>



<ReturnAnchor/>
