@page "/WindmillRanch/Permaculture"

@using LivingMessiah.Web.Pages.WindmillRanch.Components
@using Page = LivingMessiah.Web.Links.WindmillRanch.Permaculture

<PageTitle>@Page.Title</PageTitle>

<Menubar></Menubar>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2>@Page.Title</h2>
</div>

<h2 class="mt-5 mb-0"><span class="badge bg-warning">Biblical Permaculture</span></h2>

<div class="card">

	<div class="card-body">
		<p class="lead">
			Before I can talk about <i>Biblical Permaculture</i> I need to talk about <b>Torah Gated Communities (TGC)</b>.
			This is a place where Torah observant people can come together and live based on their strongly held religious beliefs and convictions with an emphasis on self reliance and self governance.
		</p>
		<p class="card-text">
			At it's foundation TGC's naturally lend themselves to agriculture because that was the first job in the Bible.  God told Adam to Keep the Garden of Eden.
			Another way of describing Biblical Permaculture is to think of it as a religious based <a href="https://en.wikipedia.org/wiki/Ecovillage"><u>Ecovillage</u></a> that governs itself according to the <b>Torah</b>.
			<blockquote class="blockquote mx-5">
				Instead of Permaculture Ethics, replace it with the rule book of life, the <b>Torah</b>.
				<footer class="blockquote-footer"><cite title="">John Marsing LMM Beit Din member</cite></footer>
			</blockquote>
		</p>

		<h4 class="card-text">Advantages</h4>
		<ul class="lead">
			<li>
				<b>self reliance</b>:
				Being part of a tight community that can meet the basic needs of it's member and create an economy
				(<a href="https://www.myhebrewbible.com/Article/153/Economy-of-God-G3622-oikonomia-G3623-oikonomos-dispensation-steward">God's Economy <i class="fas fa-external-link-alt"></i></a>)
				independent of the World's economy is not only a good thing it is commanded to do so
				<a href="https://www.myhebrewbible.com/VerseByScriptureIdRange/30294/30294/slug">James 1:27  <i class="fas fa-external-link-alt"></i></a>.
			</li>
			<li>
				<b>self governance</b>: is the outcome of righteous sovereignty.
				My duties, responsibilities, obligations and loyalties are met first and foremost with the TGC.
				The church need to zealously take back her responsibility as the sole the welfare provider for their members/citizens.
			</li>
			<li>
				<b>alternative dispute resolution</b>:
				It is like when people register to attend Living Messiah sponsored <i>Sukkot</i> gatherings where the registrant agrees to the rules defined in the registration form.
				If a conflict arises the decisions will be made by the Elders and those decisions are final.
				The church can not be a fully sovereign entity until is re-establishes its jurisdiction and create
				<a href="https://www.myhebrewbible.com/Article/899/1Co-06-1-11-Legal-Matters-Between-The-Brethren-Courts-of-Ecclesia">Courts of Ecclesia <i class="fas fa-external-link-alt"></i></a>.
			</li>
			<li>
				<b>Vetted Neighbors</b>:
				"Love thy neighbor as thyself" takes on a whole different meaning when restricted to citizens of the TGC
			</li>
			<li>
				<b>perpetuity:</b> The title of the property is owned by the TGC and is held in trust.  The advantage is that the title part of the ownership is held in perpetuity not unlike a <b>covenant</b>.
			</li>
		</ul>

	</div>
</div>

<h2 class="mt-5 mb-0"><span class="badge bg-warning">Permaculture Design</span></h2>
<div class="card">

	<div class="card-body">
		<p class="lead">
			To help me try to tackle the solution(s) to plan a well thought out design for the property, I filled out the
			<a href='@Blobs.UrlWindmillRanch("RAD-Questionnaire-Windmill-Ranch/Index.html")'
				 target="_blank">
				<i class="fas fa-file-pdf"></i>
				RAD Permaculture Design Questionnaire for the Windmill Ranch
			</a>
			and submitted it to the good people at
			<a href='http://restorationag.com/'
				 target="_blank">
				<i class="fas fa-file-pdf"></i>
				RestorationAG.com
			</a>.
		</p>
	</div>

	<div class="card-body">
		<h4>People knowledgeable in permaculture that have come out to the ranch</h4>
		<p class="lead">
			Two people have come out to the property that possess a good knowledge of permaculture.
			In both cases we walked the land and discussed possibilities for future development.
			The first was <b>Grant Tims</b> who is associated with the Savory Institute
			and the second was <b>Don Decker</b> of the NRCS USDA (located in Douglas).
			Both agreed that fencing off the land to give it rest for was a good thing.
		</p>
		<p class="lead">
			Grant was quite knowledgeable in many aspects of permaculture but more versed in composting and jumpstarting the microbiology.
			I believe he said his wife was going to be accredited by Dr. Elaine Ingham who is a guru in microbiology.
			He wasn't very knowledgeable with water harvesting and creating swales but his boss, <b>Ricardo Aguirre</b> was.
		</p>
		<p class="lead">
			Don knew a lot about the history of the area and the plants that were here before the introduction of open range grazing.
			He said this used to be much more of grassland and that there was much less bushes and the small trees that now dominate the land.
			I was hoping to get more information from him about building swales and other strategies for rehydrating the land but that didn't happen.'
		</p>
	</div>

	<div class="card-body">
		<h4>Other people that I have networked with.</h4>
		<p class="lead">
			<b>Dennis Maroney</b> of the 47 Ranch which is a big spread of land just North East of Bisbee Arizona.
			He is well versed in agriculture and has given many suggestions.
			I met him at the Farmer's Market and chatted with him multiple times about what I'm trying to accomplish.
		</p>
	</div>

</div>


<ReturnAnchor />