@page "/WindmillRanch/Priorities"

@using LivingMessiah.Web.Pages.WindmillRanch.Components
@using Page = LivingMessiah.Web.Links.WindmillRanch.Priorities

<PageTitle>@Page.Title</PageTitle>

<Menubar></Menubar>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2>@Page.Title</h2>
</div>

<h2 class="mt-5 mb-0"><span class="badge bg-warning">Priorities</span></h2>

<h5 class="text-warning">ToDo: Page Introduction</h5>
<ol>
	<li>Permaculture Design Framework</li>
	<li>
		<p>ToDo: finish the list of Permaculture Design Priorities</p>
		<ul>
			<li>Access to the properties</li>
			<li>Water Retention: Swells, Gibbon / Check Dams</li>
			<li>Zones</li>
		</ul>
	</li>
	<li>Sukkot Gathering | Shooting for the first to be next year (2021)</li>
</ol>

<ReturnAnchor />
