@page "/mishpocha"

@using Page = LivingMessiah.Web.Links.Mishpocha
<PageTitle>@Page.Title</PageTitle>

<p class="lead"><i>Mishpocha</i> is Hebrew for Family Life</p>

<img src='@Blobs.UrlOther("mishpocha-1024-385.jpeg")' alt="@Page.Descr" class="img-fluid rounded mt-3" />

<div class="card border-primary mb-3">

	<div class="card-body">
	</div>

</div>
