<i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
<figure>
	<blockquote class="blockquote">
		<p>@ChildContent</p>
	</blockquote>
	<figcaption class="blockquote-footer text-end">
		<cite title="@Cite">@Cite</cite>
	</figcaption>
</figure>
