@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@implements IDisposable

<a class="btn btn-outline-primary btn-sm" 
	href="/CounterEventSubscription" title="Counter Event Subscription">
	<i class="fas fa-sort-numeric-down"></i>
	Counter Event Subscription 
	<span class="badge bg-secondary">@CounterState.Value.ClickCount</span>
</a>
