@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<a class="btn btn-outline-primary btn-sm" 
	href="/CounterSimple" title="Counter Simple">
	<i class="fas fa-sort-numeric-down"></i>
	Counter Simple
	<span class="badge bg-secondary">@CounterState.Value.ClickCount</span>
</a>