@inherits CurrentParashaButtonBase

@if (Parasha != null)
{
	@((MarkupString)ParashaAnchor)
	<ul class="fa-ul size14">
		<li>
			<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
			@Parasha.Haftorah
		</li>
		<li>
			<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
			@Parasha.Brit
		</li>
		@if (IsPrinterFriendly)
		{
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				<small>@ParashaHref</small>
			</li>
		}
	</ul>
}
else if (LoadFailed)
{
	<p class="text-danger"><em>Could not load because Current Parasha Unknown</em></p>
}
else
{
	<p><em>Loading...</em></p>
}

