<h1>Davidic Dance</h1>
<img src="@Blobs.UrlRoot("dance2.jpg")" class="img-fluid img-circle" asp-append-version="true" />
<p class="lead">
	Consider joining us during praise and worship as we worship from our hearts using our hands and feet.
	You need not know the steps just move in the same direction and you will catch on in no time.
	If you are interested in practicing some of the dance steps we use, inquire about our dance workshops.<br /><br />
</p>

@code {

}
