<h2>Frequently Asked Questions</h2>

<p class="lead">
	<img src="@Blobs.UrlRoot("why.jpg")" class="img-fluid img-circle" asp-append-version="true" />
	Here is a listing of some of the more common questions that we are asked along with our responses.
	This is a "work in progress" and changes as we receive different questions.
	Please feel free to ask us a question and if it is of common interest to others, we'll post both the question and our response in this column.
	You may submit your questions via email to @((MarkupString)AnchorEmail)
</p>
<br />

<ul class="fa-ul lead">
	<li>
		<span class="text-danger"><i class="fa-li fas fa-question"></i></span>&nbsp;
		Why are you celebrating the Holy Days one month later than on the regular Jewish calendar?<br />
		<ul class="fa-ul">
			<li>
				<span class="text-success"><i class="fa-li fas fa-long-arrow-alt-right"></i></span>&nbsp;
				We believe that the Jewish calendar is in error, at least this year.
				For 2013, they declared Nissan 1 to be on March 12.
				We believe that the new year cannot start until the old one is over, that is, until Winter has past and Spring begun.
				This happens on the Spring Equinox, when the length of the day equals the length of the night.
				This occurs around March 21 of each year.
				So we began counting the days of this year on the first new moon after the Spring Equinox which places the Holy Days later than the regular Jewish calendar.
				<a href="@LivingMessiah.Web.Links.FurtherStudies.Index"
					 class="btn btn-primary btn-sm ">
					Learn More...
				</a>
			</li>
		</ul>
	</li>

	<li>
		<span class="text-danger"><i class="fa-li fas fa-question"></i></span>&nbsp;
		Why do you pronounce Yeshua’s Name as Yahushua, and Yahveh’s Name as Yahuwah?
		<ul class="fa-ul">
			<li>
				<span class="text-success"><i class="fa-li fas fa-long-arrow-alt-right"></i></span>&nbsp;
				We use Yahushua because He comes in His Father’s name, so part of the Father’s name must be in His Name (John 5:43.)
				So the <b>Yahu</b> is in <b>Yahu</b>shua and <b>Yahu</b>wah.
				Furthermore, Yahushua is the name of Joshua who was a type of Messiah who brought the Israelites into the promise land.
				We know that “Jesus” in Greek is <i>Iesus</i> and when you look at Joshua's name in the Septuagint it is the same name, <i>Iesus</i>.
				<br /><br />
				Also the prophets came in <b>Yahu</b>wah’s name: Isaiah (Yesha<b>yahu</b>) or Jeramiah (Yirme<b>yahu</b>) bear His name.
				The angel told Mary to name the child Yahushua because "<b>He</b> will save His people" (emphasis on He).
				So when you look at Yahushua it means “Yah will save”, whereas Yeshua only means “salvation”.
				So the question is “who is saving”, since Mary was told the name means "He will save."
				<br /><br />
				We realize that not everyone may be "on the same page" with this line of reasoning, and we are not dogmatic about it.
				As long as you have a personal relationship with the God of Abraham, Isaac, and Jacob through the atoning work of the Messiah, that's the critical thing.
				We want to do all things in the spirit of Love.
			</li>
		</ul>
	</li>

</ul>

<ul class="fa-ul lead">
	<li>
		<span class="text-danger"><i class="fa-li fas fa-question"></i></span>&nbsp;
		Do you believe that the Bible is God's word to his people and is without error?
		<ul class="fa-ul">
			<li>
				<span class="text-success"><i class="fa-li fas fa-long-arrow-alt-right"></i></span>&nbsp;
				We believe that the Bible is definitely God's word to his people and that it was written by men under the inspiration of God's Holy Spirit
				(the <i>Ruach HaKodesh</i> in Hebrew).
				Because much of it was written more than 2500 years ago, long before the English language was created, there may be some translational errors.
				However, a close study of the Bible will reveal that it is amazingly consistent and relevant given its age and history.
				The very fact that the Bible even exists today is nothing short of miraculous.
				There is no other book like it on earth.
			</li>
		</ul>
	</li>
</ul>

<ul class="fa-ul lead">
	<li>
		<span class="text-danger"><i class="fa-li fas fa-question"></i></span>&nbsp;
		Do you believe that Jesus was born on Christmas?
		<ul class="fa-ul">
			<li>
				<span class="text-success"><i class="fa-li fas fa-long-arrow-alt-right"></i></span>&nbsp;
				We believe it's very unlikely that Jesus was born on Christmas.
				Furthermore, it's even more unlikely that he ever heard the name Jesus.
				He was most likely known by his Hebrew name, <i>Yahushua</i>.
			</li>
		</ul>
	</li>
</ul>

@code {
		protected readonly MarkupString AnchorEmail =
			new MarkupString($"<a href='mailto:{Emails.Info.Email()}{Emails.Info.Subject}'>{Emails.Info.Email()}</a>");
}
