<h3>Oneg</h3>
<h3><u>Breaking Bread <i>Oneg</i></u></h3>
<p class="lead">
	After the main service concludes (usually around 5:00 pm) the community shares a meal together.
	We call this meal <i>Oneg</i>, a Hebrew word meaning “delight.” (see Isaiah 58:13)
</p>

<ul class="fa-ul lead">
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		Each family brings a Biblically clean dish to share with others at our buffet table.
		Salad bar items and desserts always welcome.
		(Please see a member of leadership if you are not familiar with the term “Biblically clean.”)
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		At the sound of the dinner bell, we invite our first-time visitors to begin the serving line.
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		Parents, thank you for accompanying your children through the serving line.
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		If you are making multiple plates for others, we have helping hands available to assist you through the line.
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		Consider those behind you in the line when making your plate.
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		Always keep food sanitation and safety in mind – see <a href="http://www.servsafe.com" target="_blank">servsafe.com</a> <span class="fas fa-external-link-alt"></span>.
	</li>
</ul>
