<h3>Our Vision:</h3>
<h1><span class="text-warning">To Gather the Living Tabernacle of Messiah to Worship</span></h1>
<br />
<h3>&nbsp;&nbsp;&nbsp;The Living Tabernacle . . .</h3>
<br />
<ul class="fa-ul lead">
	<li>
		<i class="fa-li fas fa-caret-right"></i><span class="text-warning"><i><strong>A Guarded Body of Believers</strong>,</i></span>
		in the Holy Spirit, Yahushua the Messiah, <span class="hebrew">יְהוָה</span>
		the Creator and Elohim of Abraham, Isaac, and Jacob, the Eternal One of Israel.
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i><span class="text-warning"><i><strong>A Covenant Assembly,</strong></i></span>
		a called out people, built on love, displaying the character and fruit of the Spirit of Love, Joy, Peace, Patience, Kindness, Goodness, Faithfulness, Gentleness and Self-Control.
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i><span class="text-warning">
			<i>
				<strong>A House of Hospitality, Charity, Praise and Prayer,</strong>
			</i>
		</span> filled with hearts of Thanksgiving.
	</li>
	<li><i class="fa-li fas fa-caret-right"></i><span class="text-warning"><i><strong>United in Purpose.</strong></i></span></li>
	<li>
		<i class="fa-li fas fa-caret-right"></i><span class="text-warning">
			<i><strong>Bondservants of</strong></i>	<span class="hebrew">יְהוָה</span>,
			who preserves the covenant and lovingkindness of those who love Him and keep His commands.
		</span>
	</li>
</ul>

<br />
<h3>&nbsp;&nbsp;&nbsp;The Living Tabernacle will . . .</h3>
<br />

<blockquote>
	<ul class="fa-ul">
		<li>
			<i class="fa-li fas fa-caret-right"></i><span class="text-warning">
				<i>
					<strong>Branch and Grow</strong>
				</i>
			</span> by utilizing the gifts each believer has been given.
		</li>
		<li>
			<i class="fa-li fas fa-caret-right"></i><span class="text-warning">
				<i>
					<strong>Proclaim the Message of Salvation</strong>
				</i>
			</span> to the nations.
		</li>
		<li>
			<i class="fa-li fas fa-caret-right"></i>
			<span class="text-warning"><i><strong>Disciple</strong></i></span> those who seek
			<span class="text-warning">
				<i><strong>Truth, The Living Word of</strong></i>	<span class="hebrew">יְהוָה</span>,
			</span>
			and <span class="text-warning"><i><strong>Messiah Yahushua.</strong></i></span>
		</li>
		<li>
			<i class="fa-li fas fa-caret-right"></i><span class="text-warning">
				<i><strong>Make a Joyful Noise</strong></i>
			</span> as families worship together in song and dance.
		</li>
		<li>
			<i class="fa-li fas fa-caret-right"></i>
			<span class="text-warning">
				<i><strong>Establish the Essence of the Kingdom of</strong></i> <span class="hebrew">יְהוָה</span>, <strong>LOVE.</strong>
			</span>
		</li>
	</ul>

	<small>Mark Webb,<br />&nbsp;&nbsp;&nbsp;&nbsp;Congregational Leader<br />&nbsp;&nbsp;&nbsp;&nbsp;May 27, 2012</small>
</blockquote>


@code {

}
