@if (IsLoading)
{
	if (LoadingTemplate != null)
	{
		@LoadingTemplate
	}
	else
	{
		<div class="spinner-border"></div>
		<span style="display: inline-block; vertical-align: super">@LoadingText</span>
	}
}
else
{
	@ChildContent
}

@code{
	[Parameter]
	public bool IsLoading { get; set; }

	[Parameter]
	public string LoadingText { get; set; } = "Loading...";

	[Parameter]
	public RenderFragment LoadingTemplate { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}

@*
	https://www.meziantou.net/creating-a-reusable-loading-indicator-in-blazor.htm

	ToDo: What if I get a DB exception error
	- I would continue to get the Spinning Icon
	- I want the spinner to stop and just give it the error message
	- The problem is I don't know the error message at design time
*@