@if (IsLoading)
{
	if (LoadingTemplate != null)
	{
		@LoadingTemplate
	}
	else
	{
		if (TurnSpinnerOff == false)
		{
			<div class="spinner-border"></div>
			<span style="display: inline-block; vertical-align: super">@LoadingText</span>
		}
	}
}
else
{
	@ChildContent
}

@code{
	[Parameter]
	public bool IsLoading { get; set; }

	[Parameter]
	public string LoadingText { get; set; } = "Loading...";

	[Parameter]
	public bool TurnSpinnerOff { get; set; } = false;

	[Parameter]
	public RenderFragment? LoadingTemplate { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }
}
