@using static LivingMessiah.Web.Links.Account

<div class="container-fluid bg-light">

	<AuthorizeView>
		<Authorized>
			<div class="row d-print-none">

				<div class="col-8">
					<a href="@Profile"  title="Role: @Role; IsAdmin:@IsAdmin; Email:@EmailAddress">
						<span class="text-success"><b>Shalom @Name!</b></span> @((MarkupString)BlueCheck)
					</a>
				</div>
				<div class="col-4">
					<form method="post" action="@LogoutAction">
						<button type="submit" class="btn btn-sm btn-outline-info float-right text-black-50">
							<u>Log out</u> <i class="fas fa-sign-out-alt"></i>
						</button>
					</form>
				</div>
			</div>
		</Authorized>

		<NotAuthorized>
			<div class="row d-print-none">
				<div class="col-12">
					<a href="@Login" class="btn btn-sm btn-outline-info float-right text-black-50">
						<u>Log in</u> <i class="fas fa-sign-in-alt"></i>
					</a>
				</div>
			</div>
		</NotAuthorized>
	</AuthorizeView>

</div>

