<h1>Breaking Bread Together (Oneg)</h1>
<p class="lead">
	<img src="@Blobs.UrlRoot("oneg.jpg")" class="img-fluid img-circle" asp-append-version="true" />
	Join us each Shabbat after services from 5:00 - 6:30 for an evening meal we share together.
	Either bring a picnic dinner for yourself or bring a dish for our buffet table to be shared with others.
	We look forward to this time of fellowship around the dinner table as we close the Shabbat together.
	Salad bar items and desserts always welcome.
</p>

@code {

}
