
@if (Parasha == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<span class="fa-stack fa-3x">
		<i class="far fa-calendar fa-stack-2x"></i>
		<strong class="fa-stack-1x calendar-text">@Parasha.ShabbatDate.ToString("dd")</strong>
	</span>
	<p><span class="badge badge-primary">@Parasha.ShabbatDate.ToString("MMMM yyyy")</span></p>

}

