<h1>Personal Resolution</h1>
<p>
	<a href='@Blobs.UrlPdfs("resolve.pdf")' target="_blank">
		<img class="img-fluid" src="@Blobs.UrlRoot("ResolveSm.jpg")" asp-append-version="true" />
	</a>
</p>
<p>
	Each member of this congregation's leadership has made a personal vow before God concerning his life and conduct.
	This written vow, known as the "I Resolve" document, can be viewed
	<a href='@Blobs.UrlPdfs("resolve.pdf")'
		 class="btn btn-primary btn-sm" target="_blank">
		<i class="fas fa-file-pdf"></i>&nbsp;here
	</a>.
</p>


@code {

}
