@if (ShowCurrentWeeklyVideos)
{
	<hr class="warning" />
	<h3>Latest Videos</h3>

	<LoadingComponent IsLoading="CurrentWeeklyVideos is null && DatabaseWarning==false">
		@foreach (var item in CurrentWeeklyVideos)
		{
			<YouTubeWeeklyVideo WeeklyVideoType="(LivingMessiah.Domain.WeeklyVideoType)item.WvtId">

			</YouTubeWeeklyVideo>
		}
	</LoadingComponent>

	@if (DatabaseError)
	{
		<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
	}
	else
	{
		if (DatabaseWarning)
		{
			<p class="text-warning">@DatabaseWarningMsg</p>
		}
	}

}








