@if (ShowCurrentWeeklyVideos)
{
	<hr class="warning" />
	<h3>Latest Videos</h3>

	<ReagularVideoMessage MessageExpiration="@MessageExpiration"></ReagularVideoMessage>

	<LoadingComponent IsLoading="CurrentWeeklyVideos is null" TurnSpinnerOff="@TurnSpinnerOff">
		@foreach (var item in CurrentWeeklyVideos!)
		{
			<YouTubeWeeklyVideo WeeklyVideoType="(LivingMessiah.Domain.WeeklyVideoType)item.WvtId">

			</YouTubeWeeklyVideo>
		}
	</LoadingComponent>
}