
<h3>
	<span class="badge bg-warning">Statement of Faith</span>
</h3>

<p class="lead">
	<img src="@Blobs.UrlRoot("WhatWeBelieve.jpg")" class="img-fluid" asp-append-version="true" />
	<br />
	First, a word about names:  At <strong>Living Messiah</strong>,
	although not dogmatic about it, we use Yahuwah (YHWH) in place of "the LORD" and Yahushua in place of Jesus.
	These are the Hebrew pronunciations of the English names commonly used and they are found in the Hebrew texts.
</p>

<h3>We Believe . . . . </h3>
<ul class="fa-ul size14">
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> that the Bible, consisting exclusively of the 66 books (Hebrew: <i>Tanach</i> and <i>Brit Chadasha</i>, Genesis through Revelation),
		was written by men inspired by the Holy Spirit, was inerrant in the original manuscripts, was then and is today the authoritative Living Word of God,
		alone infallible in all matters of faith and doctrine; God's complete revelation to man.
		<blockquote>
			<small>Isaiah 40:8; 55:11; I Peter 1:21, Matthew 5:17, 18, John 10:35; II Timothy 3:15-17, Psalm 119:89; Proverbs 30:5-6; Jude 3</small>
		</blockquote>
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> that our God is the God of Abraham, Isaac and Jacob, and He is the Creator of all visible and invisible things and by His will everything stands and exists
		<blockquote>
			<small>Exodus 3:6, Matthew 22:32, Genesis 1:1, Isaiah 44:24</small>
		</blockquote>
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> that Yahushua is the promised Messiah of Israel and Savior of all mankind. As the Son of God, He was conceived of the Holy Spirit and born by the Virgin,
		was living a sinless life, died and came to life from death. He was given the full authority in Heaven and on Earth.
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> that through the work of His life and His blood we are redeemed and we have salvation. The meaning of name Yahushua is "Yahuwah Saves".
		<blockquote>
			<small>I Timothy 3:16, Isaiah 7:14, 9:6-7, Isaiah 53, Matthew 1:23, 26:63-64, John 1:29</small>
		</blockquote>
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> that Salvation is a gift of Grace through faith in the sacrifice and blood of Yahushua, and everyone has right to receive Yahushua for their sins to be forgiven
		<blockquote>
			<small>Leviticus 17:11, John 3:16-17, 17:3, Romans 3:9-10, 23-24, Ephesians 2:8, Hebrew 9:12,22</small>
		</blockquote>
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> in the ministry of the Holy Spirit of God, whose work on earth is to convict the world of guilt in regard to sin,
		righteousness and judgment, to draw man to know God, bring him to repentance and to reveal the person and work of Yahushua.
		The Spirit of God regenerates the believer in Yahushua, applying to him the Messiah's atoning work;
		and, indwelling him at the moment of salvation, enables him to live a sanctified life.
		We affirm that the Holy Spirit dwells in the community of the saved, imparting His gifts and ministries for the edification of the believers and the glorification of God.
		<blockquote>
			<small>
				Genesis 1:2; II Samuel 23:2, John 16:8-11; I John 2:20; John 14:26; I Corinthians 2:6-12, John 3:5-8; 6:63; Romans 8:11,
				Romans 8:1-4, Acts 2:38, 39; II Thessalonians 2:13; Ephesians 2:19-22, I Corinthians 11:4-11; Romans 12:11
			</small>
		</blockquote>
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> in the resurrection from dead of everyone who ever lived on the Earth either for everlasting life with God, or for complete isolation from Him
		<blockquote>
			<small>John 5:28-29, Daniel 12:2, Matthew 25:46</small>
		</blockquote>
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> in water baptism in the Name of Yahushua and that it is a voluntary decision and promise to serve Him with all your good will all the days of your life
		<blockquote>
			<small>Mark 16:16, Acts 2:37-38, 19:5, Romans 6:3-4</small>
		</blockquote>
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> that all of us, Jews and non Jews, have access to God through Yahushua and are the Spiritual Body of Messiah
		<blockquote>
			<small>Acts 2:17, Galatians 3:28, Ephesians 2:12-14, 3:6, John 14:6</small>
		</blockquote>
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We believe</strong> in the authority of the Ten Commandments (Law) which was and is ground and condition of covenant relationship between God and His people,
		and that the teachings of Yahushua confirm God's Law (Torah) and opens up its deepness and meaning
		<blockquote>
			<small>Jeremiah 31:31-34, II Corinthians 3:3-5, James 2:10-12, Romans 3:31, 7:12, 8:7-8, 13:8-10</small>
		</blockquote>
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		<strong>We celebrate</strong> Yahuwah's appointed festivals ---- which are the reminder and prototype of things already created in the Divine salvation plan ----
		and that these festivals are going to be celebrated after second coming of Yahushua
		<blockquote>
			<small>Leviticus 23:1, Colossians 2:16, I Corinthians 5:8, Zechariah 14:16-19</small>
		</blockquote>
	</li>
</ul>


@code {

}
