@using LivingMessiah.Web.Store.Toolbar
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<ToolbarState> ToolbarState
@inject IDispatcher Dispatcher


@if (ToolbarState.Value.Enabled)
{
	<button class="btn-sm btn-outline-success">Enabled</button>
}
else
{
	<button class="btn-sm btn-outline-danger ms-3">Disabled</button>
}
		
<button class="btn-sm btn-outline-primary ms-3" @onclick="UpdateMessageButtonClicked">
	Update Message
</button>

<span class="ms-3">@ToolbarState.Value.Message</span>
