<h1>Weekly Torah Study</h1>
<p class="lead">
	<img src="@Blobs.UrlRoot("WhatWeDo.jpg")" class="img-fluid img-circle" asp-append-version="true" />
	It is known that people learn more effectively when they are actively engaged in discussion rather than passively listening to a speaker.
	With this in mind, our weekly Torah study emphasizes interactive discussion.
	Each week, a different member of the leadership team conducts the Torah study for that week.
	The goal is not merely to present ideas that the leader may have but to also stimulate discussion so that other members of the congregation
	might share insights that the Father has given them.
</p>
<p>
	We are currently studying the Torah on a three year cycle (triennial <i>parasha</i>) which allows us more time to delve deeper into His Word.
	<a href="Parasha"
		 class="btn-primary btn-sm">
		<span class="fas fa-torah"></span>&nbsp;Current Torah Study...
	</a>
</p>


@code {

}
