@using static LivingMessiah.Web.Features.ImportantLinks.Constants.FaithLifeWindmillRanch

<h2><span class="badge bg-warning">@Title</span></h2>
<div class="card">
	<img src="@Blobs.UrlImportantLinks(Image)" class="card-img-top" alt="@Title" />
	<div class="card-body">
		<p class="card-text">
			Go here to see activity at the Windmill Ranch.
		</p>
		<a href="@Url" target="_blank" class="btn btn-primary"><small>@UrlSimple&nbsp;<i class="fas fa-external-link-square-alt"></i></small></a>
	</div>
</div>

