@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ol>
	<li>Registration#: @DisplayVM?.Id ?? "DisplayVM IS NULL"</li>

</ol>

<div class="card-footer text-muted">
	<button @onclick="@(e => CancelActionHandler())" class="@SuperUser.Constants.CancelButton.Color">
		<i class="@SuperUser.Constants.CancelButton.Icon"></i> @SuperUser.Constants.CancelButton.Text
	</button>
</div>