
<div class="d-block d-sm-none">
	<div class="row">
		<div class="col-6">
			<ElderQualifications/>
		</div>
		<div class="col-6">
			<br />
			<img src="@Blobs.UrlRoot("shofarsmall.jpg")" class="img-fluid" />
		</div>
	</div>
</div>


<div class="d-none d-sm-block">
	<div class="row">
		<div class="col-sm-10">
			<hr class="warning" />
			<img src="@Blobs.UrlRoot("shofar.jpg")" class="img-fluid" />
		</div>
		<div class="col-sm-2"></div>
	</div>

	<div class="row">
		<div class="col-sm-10">
			<ElderQualifications/>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
