@page "/Leadership"
@using LivingMessiah.Web.Pages.Leadership.Enums
@using LivingMessiah.Web.SmartEnums

@using Page = LivingMessiah.Web.Links.Leadership
<PageTitle>@Page.Title</PageTitle>

<Header />


<div class="@MediaQuery.Xs.DivClass">
	<Accordion />
</div>	

<div class="@MediaQuery.SmMdOrLgOrXl.DivClass">
	<SmMdOrLgOrXlCard />
</div>


<Footer />