@page "/Leadership"
@using LivingMessiah.Web.Pages.Leadership.Enums

@using Page = LivingMessiah.Web.Links.Leadership
<PageTitle>@Page.Title</PageTitle>

<Header/>

<div class="d-block d-sm-none">
	<Accordion/>
</div>

<div class="d-none d-sm-block">
	@foreach (var item in LivingMessiah.Web.Pages.Leadership.Enums.Office.List.OrderBy(o => o.Value).Where(w => w.IsFilled == true).ToList())
	{
		<hr class="warning" />
		<OfficeContent Office="@item" IsXs="false"></OfficeContent>
	}
</div>

<Footer />