@using static LivingMessiah.Web.Pages.Sukkot.Constants.Other
@using SukkotApi.Domain

@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options
@inject IOptions<SukkotSettings> SukkotSettings

<div class="row">

	<div class="col-4">
		<h4>Cost</h4>
	</div>

	<div class="col-8">
		<dl class="row">
			<dt class="col-6">Registration Cost:</dt>
			<dd class="col-6"><span class="float-right">@vwRegistration.RegistrationFeeAdjusted.ToString("C0")</span></dd>
		</dl>
	</div>

</div>