

<div class='chapter'>
	<span class='pageno' title='215' id='Page_215'></span>
	<h2 class='c005'>VI. <br /> CHRISTIAN PASSOVER.</h2>
</div>

<h3 class='c010'>1. OLD COVENANT AND NEW.</h3>

<p class='c011'>
	In the New Testament the rites and symbols of
	the Old Testament find recognition and explanation.
	This is peculiarly true of the passover service. It was
	a central fact in the gospel story. The sacrifice, or
	offering, of Jesus Christ as the Saviour, was made at
	that season;<a id='r580' /><a href='#f580' class='c012'><sup>[580]</sup></a> and it was evident that he himself felt
	that  it was essential that this be  so. He held  back
	from Jerusalem until the approach of the passover
	feast, when he knew that his death was at hand.<a id='r581' /><a href='#f581' class='c012'><sup>[581]</sup></a>
	And his last passover meal was made the basis of the
	new memorial and symbolic covenant meal with his
	disciples.<a id='r582' /><a href='#f582' class='c012'><sup>[582]</sup></a> The passover sacrifice is as prominent in
	the New Testament as in the Old.
</p>

<p class='c000'>
	Paul, familiar with Jewish customs by study and
	<span class='pageno' title='216' id='Page_216'></span>experience, writing to Corinthian Christians of their
	duty and privileges as members of the household of
	faith, urges them to make a new beginning in their
	lives, as the Israelites made a new beginning on the
	threshold of every year at the passover festival, with
	its accompanying feast of unleavened bread, when all
	the lay-over leaven from a former state was put away.
	“Purge out the old leaven,” he says, “that ye may be
	a new lump, even as ye are unleavened. For our
	passover also hath been sacrificed, even Christ.”<a id='r583' /><a href='#f583' class='c012'><sup>[583]</sup></a>
</p>

<h3 class='c010'>2. PROFFERED WELCOME BY THE FATHER.</h3>

<p class='c011'>
	The primitive passover sacrifice was an offering of
	blood by the head of the household on the threshold
	of his home, as a token of his welcome to the guest
	who would cross over that blood and thereby become
	one with the family within. It was not an outsider
	or a stranger who proffered a threshold sacrifice, but
	it was the house-father who thus extended a welcome
	to one who was yet outside. The welcoming love
	was measured by the preciousness of the sacrifice.
	The richer the offering, the heartier the welcome.<a id='r584' /><a href='#f584' class='c012'><sup>[584]</sup></a>
</p>

<p class='c000'>
	In the Egyptian passover the threshold sacrifice
	was a proffer of welcome to Jehovah by the collective
	family in each Hebrew home. In the Christian passover
	<span class='pageno' title='217' id='Page_217'></span>it was the sacrifice of the Son of God on the
	threshold of the Father’s home, the home of the family
	of the redeemed, as a proffer of welcome to whoever
	outside would cross the outpoured blood, and become
	a member of the family within. Therefore it is written:
	“God so loved the world, that he gave his only
	begotten Son, that whosoever believeth on him should
	not perish, but have eternal life.”<a id='r585' /><a href='#f585' class='c012'><sup>[585]</sup></a> And “for this
	cause,” says Paul, “I bow my knees unto the Father,
	from whom every family in heaven and on earth is
	named.”<a id='r586' /><a href='#f586' class='c012'><sup>[586]</sup></a>
</p>

<p class='c000'>
	Among primitive peoples, as among the Jews, no
	indignity could equal the refusal of a proffered guest-welcome,
	in a rude trampling on the blood of the
	threshold sacrifice, instead of crossing over it reverently
	as a mode of its acceptance. Hence the peculiar
	force of the words of the Jewish-Christian writer of
	the Epistle to the Hebrews, concerning the mistreatment
	of God’s threshold sacrifice, in the Son of God
	offered as our passover: “A man that hath set at
	nought Moses’ law dieth without compassion on the
	word of two or three witnesses: of how much sorer
	punishment, think ye, shall he be judged worthy, who
	hath <em>trodden under foot the Son of God</em>, and hath
	counted the blood of the covenant, wherewith he was
	<span class='pageno' title='218' id='Page_218'></span>sanctified [separated from the outside world], an unholy
	[a common] thing, and hath done despite unto
	the Spirit of grace?”<a id='r587' /><a href='#f587' class='c012'><sup>[587]</sup></a>
</p>

<h3 class='c010'>3. BRIDEGROOM AND BRIDE.</h3>

<p class='c011'>
	All through the New Testament, Jesus, the outpouring
	of whose blood is “our passover” welcome
	from the Father, is spoken of as the Bridegroom, and
	his church as the Bride. His coming to earth is referred
	to as the coming of the Bridegroom–as was
	the coming of Jehovah to the Virgin of Israel in
	Egypt. He likened himself to a bridegroom. And
	his coming again to his church is foretold as the
	meeting of the Bridegroom and the Bride.
</p>

<p class='c000'>
	John the Baptist, forerunner of Jesus, speaking of
	his mission as closing, and that of Jesus as opening
	out gloriously, says: “Ye yourselves bear me witness,
	that I said, I am not the Christ, but, that I am sent
	before him. He that hath the bride is the bridegroom:
	but the friend of the bridegroom, which
	standeth and heareth him, rejoiceth greatly because
	of the bridegroom’s voice: this my joy therefore is
	fulfilled. He must increase, but I must decrease.”<a id='r588' /><a href='#f588' class='c012'><sup>[588]</sup></a>
</p>

<p class='c000'>
	Jesus, referring to the charge against his disciples,
	that they did not fast, as did the disciples of John,
	<span class='pageno' title='219' id='Page_219'></span>said: “Can the sons of the bride-chamber mourn, as
	long as the bridegroom is with them? but the days
	will come, when the bridegroom shall be taken away
	from them, and then will they fast.”<a id='r589' /><a href='#f589' class='c012'><sup>[589]</sup></a>
</p>

<p class='c000'>
	Paul repeatedly refers to this relation between Christ
	and his church: “The head of every man is Christ;
	and the head of the woman is the man; and the head
	of Christ is God.”<a id='r590' /><a href='#f590' class='c012'><sup>[590]</sup></a> “The husband is the head of the
	wife, as Christ also is the head of the church....
	Husbands, love your wives, even as Christ also loved
	the church, and gave himself up for it.... He that
	loveth his own wife loveth himself: for no man ever
	hated his own flesh; but nourisheth and cherisheth it,
	even as Christ also the church; because we are members
	of his body. For this cause shall a man leave
	his father and mother, and shall cleave to his wife;
	and the twain shall become one flesh. This mystery
	is great: but I speak in regard of Christ and of the
	church.”<a id='r591' /><a href='#f591' class='c012'><sup>[591]</sup></a>
</p>

<p class='c000'>
	In the Apocalypse, the inspired seer looking into
	the future, at the consummation of the present age,
	tells of the glorious vision before him, when Christ
	shall come to claim his own: “I heard as it were the
	voice of a great multitude, and as the voice of many
	waters, and as the voice of mighty thunders, saying,
	<span class='pageno' title='220' id='Page_220'></span>Hallelujah: for the Lord our God, the Almighty,
	reigneth. Let us rejoice and be exceeding glad, and
	let us give the glory unto him: for the marriage of the
	Lamb is come, and his wife hath made herself ready.
	And it was given unto her that she should array herself
	in fine linen, bright and pure: for the fine linen is
	the righteous acts of the saints. And he saith unto
	me, Write, Blessed are they which are bidden to the
	marriage supper of the Lamb.”<a id='r592' /><a href='#f592' class='c012'><sup>[592]</sup></a>
</p>

<p class='c000'>
	And again he says: “I saw the holy city, new
	Jerusalem, coming down out of heaven from God,
	made ready as a bride adorned for her husband....
	And there came one of the seven angels; ... and he
	spake with me, saying, Come hither, I will shew thee
	the bride, the wife of the Lamb. And he carried me
	away in the Spirit to a mountain great and high, and
	shewed me the holy city Jerusalem, coming down out
	of heaven from God, having the glory of God: ...
	having a wall great and high; having twelve gates.
	And I saw no temple therein: for the Lord God the
	Almighty, and the Lamb, are the temple thereof....
	And the gates thereof shall in no wise be shut by day
	(for there shall be no night there): and they shall
	bring the glory and the honor of the nations into
	it: and there shall in no wise enter into it anything
	unclean, or he that maketh an abomination and a lie:
	<span class='pageno' title='221' id='Page_221'></span>but only they which are written in the Lamb’s book
	of life.”<a id='r593' /><a href='#f593' class='c012'><sup>[593]</sup></a>
</p>

<p class='c000'>
	A closing declaration of the seer is, that the church
	as the Bride, with the representative of the Bridegroom
	until his coming, waits and calls for his return:
	“The Spirit and the bride say, Come.... Come,
	Lord Jesus.”<a id='r594' /><a href='#f594' class='c012'><sup>[594]</sup></a> And so, from the Pentateuch to the
	Apocalypse, the Scriptures, Hebrew and Christian,
	recognize and emphasize the primitive Threshold
	Covenant as the beginning of religious rites, and as
	symbolic of the spirit of all true covenant worship.
</p>

<h3 class='c010'>4. SURVIVALS OF THE RITE.</h3>

<p class='c011'>
	Survivals of the primitive Threshold Covenant are
	found in various customs among Oriental Christians,
	and Christians the world over. Thus Easter is still
	looked at in some regions as the continuance of Passover,
	and the blood on the threshold is an accompaniment
	of the feast. Among the modern Greeks, each
	family, as a rule, buys a lamb, kills it, and eats it on
	Easter Sunday. “In some country districts the blood
	[of the lamb] is sometimes smeared on the threshold
	of the house.”<a id='r595' /><a href='#f595' class='c012'><sup>[595]</sup></a> Easter, like the Jewish Passover, is
	the threshold of the new ecclesiastical year.
</p>

<p class='c000'>
	At the Church of the Holy Sepulcher, in Jerusalem,
	<span class='pageno' title='222' id='Page_222'></span>a principal incident in the Easter festivities is the
	bringing down of fire from heaven at the opening of
	the new ecclesiastical year.<a id='r596' /><a href='#f596' class='c012'><sup>[596]</sup></a> This ceremony seems to
	be a survival of the primitive custom of seeking new
	life, in its symbol of fire, at the threshold of the home
	and of the new year, in the East and in the West.<a id='r597' /><a href='#f597' class='c012'><sup>[597]</sup></a>
</p>

<p class='c000'>
	In the sacredness of the rite of the primitive Threshold
	Covenant there is added emphasis to the thought
	which causes both the Roman Catholic Church and
	the Greek Church to count marriage itself a sacrament.
	And thus again to the claim that a virgin who
	is devoted to a religious life is a “spouse of Christ,”
	and that her marriage to an earthly husband is adultery.<a id='r598' /><a href='#f598' class='c012'><sup>[598]</sup></a>
	Many another religious custom points in the
	same direction.
</p>

@code {

}
