
<div class='chapter'>
  <span class='pageno' title='203' id='Page_203'></span>
  <h2 class='c005'>V. <br /> HEBREW PASS-OVER, OR CROSS-OVER, <br /> SACRIFICE.</h2>
</div>

<h3 class='c010'>1. NEW MEANING IN AN OLD RITE.</h3>

<p class='c011'>
  How the significance of the Hebrew passover rite
  stands out in the light of this primitive custom! It is
  not that this rite had its origin in the days of the
  Hebrew exodus from Egypt, but that Jehovah then
  and there emphasized the meaning and sacredness of
  a rite already familiar to Orientals. In dealing with
  his chosen people, God did not invent a new rite or
  ceremonial at every stage of his progressive revelation
  to them; but he took a rite with which they were
  already familiar, and gave to it a new and deeper significance
  in its new use and relations.
</p>

<p class='c000'>
  Long before that day, a covenant welcome was given
  to a guest who was to become as one of the family,
  or to a bride or bridegroom in marriage, by the outpouring
  of blood on the threshold of the door, and by
  staining the doorway itself with the blood of the covenant.
  <span class='pageno' title='204' id='Page_204'></span>And now Jehovah announced that he was to
  visit Egypt on a designated night, and that those who
  would welcome him should prepare a threshold covenant,
  or a pass-over sacrifice, as a proof of that welcome;
  for where no such welcome was made ready
  for him by a family, he must count the household as
  his enemy.<a id='r541' /><a href='#f541' class='c012'><sup>[541]</sup></a>
</p>

<p class='c000'>
  In announcing this desire for a welcoming sacrifice
  by the Hebrews, God spoke of it as “Jehovah’s passover,”
  as if the pass-over rite was a familiar one, which
  was now to be observed as a welcome to Jehovah.<a id='r542' /><a href='#f542' class='c012'><sup>[542]</sup></a>
  Moses, in reporting the Lord’s message to the Hebrews,
  did not speak of the proposed sacrifice as something
  of which they knew nothing until now, but he
  first said to them, “Draw out, and take you lambs
  according to your families, and kill the passover”–or
  the threshold cross-over;<a id='r543' /><a href='#f543' class='c012'><sup>[543]</sup></a> and then he added details
  of special instruction for this new use of the old rite.
</p>

<h3 class='c010'>2. A WELCOME WITH BLOOD.</h3>

<p class='c011'>
  A lamb was the chosen sacrifice in the welcome to
  Jehovah. Each household, or family, was to take one
  lamb for this offering. No directions were given as
  to the place or manner of its sacrifice; for that seems
  to have been understood by all, because of the very
  <span class='pageno' title='205' id='Page_205'></span>term “pass-over,” or threshold cross-over. This is
  implied, indeed, in the directions for the use of the
  blood when it was poured out: “Kill the passover,”
  in the usual place; “and ye shall take a bunch of
  hyssop, and dip it in the blood that is at the <em>threshold</em>
  [Hebrew, <em>saph</em>], and strike the lintel and the two
  side posts with the blood that is at the <em>threshold</em>.”<a id='r544' /><a href='#f544' class='c012'><sup>[544]</sup></a>
</p>

<p class='c000'>
  In that welcome with blood there was covenant
  protection from Jehovah as he came into Egypt to
  execute judgment on his enemies. The Egyptians
  had already refused him allegiance, and put themselves
  in open defiance of his authority. They were
  now to be visited in judgment.<a id='r545' /><a href='#f545' class='c012'><sup>[545]</sup></a> But in order to the
  distinguishing of the Lord’s people from his enemies,
  the Hebrews were to prepare a blood welcome at their
  doorway, and the Lord would honor this welcome by
  covenanting with those who proffered it.
</p>

<p class='c000'>
  “And Moses said, Thus saith the Lord, About midnight
  will I go out into the midst of Egypt: and all
  the firstborn in the land of Egypt shall die, from the
  firstborn of Pharaoh that sitteth upon his throne, even
  unto the firstborn of the maidservant that is behind
  the mill; and all the firstborn of cattle.... But against
  any of the children of Israel shall not a dog move
  his tongue, against man or beast: that ye may know
  <span class='pageno' title='206' id='Page_206'></span>how that the Lord doth put a difference between the
  Egyptians and Israel.”<a id='r546' /><a href='#f546' class='c012'><sup>[546]</sup></a>
</p>

<p class='c000'>
  In furtherance of this purpose, the Lord asked for
  the sacrifice of the threshold cross-over by the Hebrews:
  “For the Lord will pass through [the land]
  to smite the Egyptians; and when he seeth the blood
  upon the lintel, and on the two side posts [of the
  Hebrew homes], the Lord will pass over [cross-over
  or through] the door, and will not suffer the destroyer
  to come in unto your houses to smite you.”<a id='r547' /><a href='#f547' class='c012'><sup>[547]</sup></a> Obviously
  the figure here employed is of a sovereign accompanied
  by his executioner, a familiar figure in the
  ancient East. When he comes to a house marked by
  tokens of the welcoming covenant, the sovereign will
  covenant-cross that threshold, and enter the home as
  a guest, or as a member of the family; but where no
  such preparation has been made for him, his executioner
  will enter on his mission of judgment.<a id='r548' /><a href='#f548' class='c012'><sup>[548]</sup></a>
</p>

<h3 class='c010'>3.  BASON, OR THRESHOLD.</h3>

<p class='c011'>
  It is strange that the Hebrew word for “threshold”
  (<em>saph</em>) in this narrative is translated “bason” in our
  English Bible. It is because of this that the identity
  of the passover sacrifice with the primitive Threshold
  Covenant is so generally lost sight of. This word
  <span class='pageno' title='207' id='Page_207'></span><em>saph</em> occurs many times in the Old Testament text,
  and in nine cases out of ten it is translated “threshold,”
  or “door,” or “door-post,” or the like.<a id='r549' /><a href='#f549' class='c012'><sup>[549]</sup></a> It would
  seem that it should be so translated in this instance.
</p>

<p class='c000'>
  In some cases where <em>saph</em> is translated “bason,” or
  “cup,” the term “threshold” would be more appropriate,
  as when included in an enumeration of the
  temple furniture.<a id='r550' /><a href='#f550' class='c012'><sup>[550]</sup></a> Bronze and silver thresholds were
  often mentioned in the furniture of Babylonian and
  Assyrian temples;<a id='r551' /><a href='#f551' class='c012'><sup>[551]</sup></a> and they might well have had
  mention among the Hebrews. It is possible, however,
  that there was a cavity, as a blood receptacle, in the
  threshold of houses or temples where sacrifices were
  so frequent; and this would account for the use of
  the word <em>saph</em> as “bason,” even where it referred to
  the threshold of the door.
</p>

<p class='c000'>
  The translators of the Septuagint, living in Egypt
  and familiar with the customs of that land, rendered
  <em>saph</em> by <em>thyra</em>, “doorway,”<a id='r552' /><a href='#f552' class='c012'><sup>[552]</sup></a> in the story of the
  exodus. Jerome, with his understanding of Oriental
  life, gives <em>limen</em>, “threshold,” for <em>saph</em>, at this point.<a id='r553' /><a href='#f553' class='c012'><sup>[553]</sup></a>
  Philo Judæus, out of his Egyptian Jewish experiences,
  <span class='pageno' title='208' id='Page_208'></span>describing the Jewish passover festival, speaks of it as
  “the feast <em>diabateria</em>, which the Jews called <em>paskha</em>.”<a id='r554' /><a href='#f554' class='c012'><sup>[554]</sup></a>
  “<em>Diabateria</em>” are “offerings before crossing a border,”<a id='r555' /><a href='#f555' class='c012'><sup>[555]</sup></a>
  or threshold sacrifices. Rabbi Ishmael, a Talmudist,
  in explaining the passage descriptive of the institution
  of the passover in Egypt, says: “One dug a hole in
  the [earthen] threshold, and slaughtered into that,”
  “for <em>saph</em> signifies here nothing else than threshold.”<a id='r556' /><a href='#f556' class='c012'><sup>[556]</sup></a>
</p>

<p class='c000'>
  A striking illustration of the error of translating
  <em>saph</em> “a bason” or “a cup,” is shown in the rendering
  of Zechariah 12 : 1–3 in our English Bible. The
  Lord is there promising to protect the borders of Jerusalem
  against all besiegers. “Thus saith the Lord,
  which ... layeth the foundation of the earth:... Behold,
  I will make Jerusalem a <em>threshold</em> [or, boundary
  stone, Hebrew, <em>saph</em>] of reeling unto all the peoples
  round about.... I will make Jerusalem a burdensome
  stone for all the peoples.” The figure seems to be
  that of the besiegers staggering as they come against
  that foundation, or threshold stone, which the Lord
  has established. Yet <em>saph</em> is here translated “cup,”
  and the passage thereby rendered meaningless.
</p>

<p class='c000'>
  There would seem, indeed, to be little room for
  doubt that <em>saph</em> should be translated “threshold” in
  <span class='pageno' title='209' id='Page_209'></span>the description of the pass-over sacrifice. In Assyrian,
  the word <em>sippu</em>, from the same root as the Hebrew
  <em>saph</em>, means only threshold, not bason or cup.<a id='r557' /><a href='#f557' class='c012'><sup>[557]</sup></a>
</p>

<h3 class='c010'>4. PASS-OVER OR PASS-BY.</h3>

<p class='c011'>
  The common understanding of the term “passover,”
  in connection with the Hebrew exodus from Egypt, is
  that it was, on the Lord’s part, a passing by those
  homes where the doorways were blood-stained, without
  entering them. Yet this meaning is not justified
  by the term itself, nor by the significance of the primitive
  rite. Jehovah did not merely spare his people
  when he visited judgment on the Egyptians. He
  covenanted anew with them by passing over, or crossing
  over, the blood-stained threshold into their homes,
  while his messenger of death went into the houses of
  the Lord’s enemies and claimed the first-born as belonging
  to Jehovah.<a id='r558' /><a href='#f558' class='c012'><sup>[558]</sup></a>
</p>

<p class='c000'>
  <span class='pageno' title='210' id='Page_210'></span>This word <em>pesakh</em>, translated “passover,” is a peculiar
  one. Its etymology and root meaning have been
  much in discussion. It is derived from the root
  <em>pāsăkh</em> “to cross over,” a meaning which is still preserved
  in the Hebrew word <em>Tiphsakh</em>, the name of a
  city on the banks of the Euphrates,<a id='r559' /><a href='#f559' class='c012'><sup>[559]</sup></a> the Hebrew
  equivalent of the classical Thapsacus.<a id='r560' /><a href='#f560' class='c012'><sup>[560]</sup></a> <em>Tiphsakh</em> means
  “crossing,” apparently so called from the ford of the
  Euphrates at that place.
</p>

<p class='c000'>
  Later Jewish traditions and customs point to the
  meaning of the original passover rite as a crossing
  over the threshold of the Hebrew homes by Jehovah,
  and not of his passing by his people in order to their
  sparing. A custom by which a Hebrew slave became
  one of the family in a Hebrew household, through
  having his ear bored with an awl at the door-post of
  the house, and thereby blood staining the doorway,<a id='r561' /><a href='#f561' class='c012'><sup>[561]</sup></a>
  is connected with the passover rite by the rabbis.
  “The Deity said: The door and the side-posts were
  my witnesses in Egypt, in the hour when I passed-over
  the lintel and the two side-posts, and I said that
  to Me the children of Israel shall be slaves, and not
  slaves to slaves; I brought them out from bondage
  to freedom; and this man who goeth and taketh a
  <span class='pageno' title='211' id='Page_211'></span>lord to himself shall be bored through before these
  witnesses.”<a id='r562' /><a href='#f562' class='c012'><sup>[562]</sup></a>
</p>

<p class='c000'>
  According to Jewish traditions, it was on a passover
  night when Jehovah entered into a cross-over covenant
  with Abraham on the boundary of his new possessions
  in Canaan.<a id='r563' /><a href='#f563' class='c012'><sup>[563]</sup></a> It was on a passover night that
  Lot welcomed the angel visitors to his home in Sodom.<a id='r564' /><a href='#f564' class='c012'><sup>[564]</sup></a>
  It was at the passover season that the Israelites crossed
  the threshold of their new home in Canaan, when the
  walls of Jericho fell down, and the blood-colored
  thread on the house of Rahab was a symbol of the
  covenant of the Hebrew spies with her and her household.<a id='r565' /><a href='#f565' class='c012'><sup>[565]</sup></a>
  The protection of the Israelites against the
  Midianites,<a id='r566' /><a href='#f566' class='c012'><sup>[566]</sup></a> and the Assyrians,<a id='r567' /><a href='#f567' class='c012'><sup>[567]</sup></a> and the Medes and
  the Persians,<a id='r568' /><a href='#f568' class='c012'><sup>[568]</sup></a> and again the final overthrow of Babylon,<a id='r569' /><a href='#f569' class='c012'><sup>[569]</sup></a>
  all these events were said to have been at the
  passover season.<a id='r570' /><a href='#f570' class='c012'><sup>[570]</sup></a> These traditions would seem to
  show that the pass-over covenant was deemed a cross-over
  covenant, and a covenant of welcome at the family
  and the national threshold.
</p>

<p class='c000'>
  In the passover rite as observed by modern Jews, at
  a certain stage of the feast the outer door is opened,
  <span class='pageno' title='212' id='Page_212'></span>and an extra cup and chair are arranged at the table,
  in the hope that God’s messenger will cross the threshold,
  and enter the home as a welcome guest.<a id='r571' /><a href='#f571' class='c012'><sup>[571]</sup></a> All this
  points to the meaning of “cross-over,” and not of
  “pass-by.”
</p>

<p class='c000'>
  In some parts of northern and eastern Europe there
  is a custom still preserved among the Jews of jumping
  over a tub of water on passover night, which is said to
  be symbolic of crossing the Red Sea, but which shows
  that the passover feast was a feast of crossing over.<a id='r572' /><a href='#f572' class='c012'><sup>[572]</sup></a>
</p>

<h3 class='c010'>5. MARRIAGE OF JEHOVAH WITH ISRAEL.</h3>

<p class='c011'>
  It seems clear that the Egyptian passover rite was
  a rite of threshold covenanting, as ordered of God and
  as understood by the Israelites. Its sacrifice was on
  the threshold of the homes of the Hebrews on the
  threshold of a new year,<a id='r573' /><a href='#f573' class='c012'><sup>[573]</sup></a> and on the threshold of a
  new nationality. Then Israel began anew in all
  things. Moreover, it was recognized as the rite of
  marriage between Jehovah and Israel; as the very
  Threshold Covenant had its origin in the rite of primitive
  marriage.
</p>

<p class='c000'>
  That first passover night was the night when Jehovah
  <span class='pageno' title='213' id='Page_213'></span>took to himself in covenant union the “Virgin of
  Israel,” and became a Husband unto her. From that
  time forward any recognition of, or affiliation with,
  another God, is called “whoredom,” “adultery,” or
  “fornication.”<a id='r574' /><a href='#f574' class='c012'><sup>[574]</sup></a> In this light it is that the prophets
  always speak of idolatry.
</p>

<p class='c000'>
  Jeremiah recognizes the first passover night as the
  time of this marriage covenant, when he says:
</p>

<div class='lg-container-b c013'>
  <div class='linegroup'>
    <div class='group'>
      <div class='line'>“Behold, the days come, saith Jehovah,</div>
      <div class='line'>That I will make a new covenant</div>
      <div class='line'>With the house of Israel, and with the house of Judah:</div>
      <div class='line'>Not according to the covenant that I made with their fathers</div>
      <div class='line'>In the day that I took them by the hand</div>
      <div class='line'>To bring them out of the land of Egypt;</div>
      <div class='line'>Which my covenant they brake,</div>
      <div class='line'>Although I was an husband unto them, saith Jehovah.”<a id='r575' /><a href='#f575' class='c012'><sup>[575]</sup></a></div>
    </div>
  </div>
</div>

<p class='c000'>
  And Jehovah, speaking through Ezekiel of his loving
  choice of the Hebrew daughter of the Amorite and
  the Hittite, says: “Now when I passed by thee, and
  looked upon thee, behold, thy time was the time of
  love; and I spread my skirt over thee, and covered
  thy nakedness: yea, I sware unto thee, and entered
  into a covenant with thee, saith the Lord God, and
  thou becamest mine.”<a id='r576' /><a href='#f576' class='c012'><sup>[576]</sup></a>
</p>

<p class='c000'>
  <span class='pageno' title='214' id='Page_214'></span>It seems to be in recognition of the truth that the
  Egyptian passover was the rite of marriage between
  Jehovah and Israel, that the Song of Songs, the epithalamium
  of the Hebrew Scriptures, is always read in
  the synagogue at the passover service. This idea of
  the relation of Jehovah and Israel runs through the
  entire Old Testament, and shows itself in the Jewish
  ritual of to-day.
</p>

<p class='c000'>
  In the primitive marriage rite the stamp of the red
  hand of the bridegroom is the certification of the covenant
  union, at the doorway of the family. But in the
  Egyptian passover it was the virgin of Israel who
  certified to the marriage covenant by the bloody
  stamp on the doorway. Hence it was a feminine
  symbol, in a bush of hyssop, that was dipped in the
  blood and used for this stamping.<a id='r577' /><a href='#f577' class='c012'><sup>[577]</sup></a> The tree, or bush,
  is a universal symbol of the feminine in nature. This
  is shown, for example, in the tree or brush-topped
  pole as the symbol of Ashtaroth, “wife,”<a id='r578' /><a href='#f578' class='c012'><sup>[578]</sup></a> as over
  against the pillar or obelisk as the symbol of Baal,
  or “lord,” or “husband.”<a id='r579' /><a href='#f579' class='c012'><sup>[579]</sup></a>
</p>


@code {

}
