<div class='chapter'>
  <span class='pageno' title='193' id='Page_193'></span>
  <h2 class='c005'>IV. <br /> ORIGIN OF THE RITE.</h2>
</div>

<h3 class='c010'>1.  A NATURAL QUESTION.</h3>

<p class='c011'>
  A question that forces itself on the mind, in connection
  with the study of a world-wide primitive rite
  like this of the Threshold Covenant, is, What was its
  origin? How came it to pass, that primitive peoples,
  in all parts of the world, were brought to attach such
  exceptionally sacred significance to the threshold of
  a hut, or tent, or cave, or house; of a palace or temple;
  of a domain, local or national; and to count its
  crossing by blood a form of holy covenanting between
  the parties engaged in it, and the deity invoked in the
  ceremony? This question goes back to the origin of
  religious rites among human beings, and its answer
  must, in order to commend itself to all, be in accordance
  with the natural outgrowths and the abnormal
  perversions of religious rites, in the main line of
  human development all the world over.
</p>

<p class='c000'>
  However simple and elemental were man’s earliest
  <span class='pageno' title='194' id='Page_194'></span>religious ideas, they must have been from the beginning
  pure and uplifting, or they would not have been
  religious. Nothing impure or debasing in itself would
  have raised man’s thoughts Godward, even though
  man might subsequently come to degrade his best
  conceptions of God and his worship. Hence the
  answer to this question must include only such facts
  as were capable of being viewed reverently by primitive
  man, as worthy of God’s creatures in the loving
  service and worship of God.
</p>

<h3 class='c010'>2. AN ANSWER BY INDUCTION.</h3>

<p class='c011'>
  This threshold rite clearly goes back to the beginning
  of family life. The facts already presented are
  proof of this. The rite includes the proffer of blood
  at the foundation of the family as a family. It is a
  part of the marriage ceremonial among primitive peoples.
  It is also the means by which one is adopted
  from without into a family circle or group. It marks
  every stage of the progress of family life, from one
  pair to a community and to an empire, in its civil and
  religious relations. It is a form of covenanting between
  its participants, and between them and God;
  and thus it has sanctity as a religious rite.
</p>

<p class='c000'>
  A fair induction from these recognized facts, in
  their sweep and significance, would seem to indicate,
  <span class='pageno' title='195' id='Page_195'></span>as the origin of this primitive rite, the covenant union
  between the first pair in their instituting of the family
  relation. When was the first covenant made between
  two human beings? When was the first outpouring
  of blood in loving sacrifice? By what act was the
  first appeal made to the Author and Source of life for
  power for the transmission of life, by two persons who
  thereby entered into covenant with each other and
  with him? The obvious answer to these questions
  is an answer to the question, What was the origin of
  the rite of the Threshold Covenant?
</p>

<p class='c000'>
  Life and its transmission must have been a sacred
  mystery to the first thinkers about God and his human
  workers. Blood was early recognized as life, its outpouring
  as the pledge and gift of life, and its interchange
  as a life covenant between those who shared
  its substance. In view of this truth, a covenant union
  by blood that looked to the transmission of life must
  have been in itself, to a thoughtful and reverent person,
  an appeal to the Author of life to be a party to
  that covenant union, in order to give it efficiency.
</p>

<p class='c000'>
  When first a twain were made one in a covenant of
  blood, the threshold altar of the race was hallowed as
  a place where the Author of life met and blessed the
  loving union. And from this beginning there was the
  natural development of religious rites and ceremonies,
  in the family, in the temple, and in the domain, as
  <span class='pageno' title='196' id='Page_196'></span>shown alike in the history of the human race and in
  the main teachings of both the Old Testament and
  the New.
</p>

<h3 class='c010'>3. NO COVENANT WITHOUT BLOOD.</h3>

<p class='c011'>
  Flowing blood is widely deemed essential to the
  covenant by which two are made one in the marriage
  relation. This is peculiarly the case among those
  primitive peoples where young maidens are guarded
  with jealous care, and are given in marriage at a very
  early age. In the thought of such peoples there is no
  binding covenant without blood, in the family relation.<a id='r524' /><a href='#f524' class='c012'><sup>[524]</sup></a>
  And a bloody hand stamp on the cloth of
  testimony is the primitive certificate of the marriage
  covenant.
</p>

<p class='c000'>
  Facts in illustration of this truth are numerous in
  the nuptial customs of Syria, Egypt, China, Dahomey,
  Liberia, Europe, Central America, Samoa, and other
  widely different regions. A few of these facts are
  given in the Appendix for the benefit of scientific
  students, in a language better suited than English for
  the presentation of such details.<a id='r525' /><a href='#f525' class='c012'><sup>[525]</sup></a>
</p>

<div>
  <span class='pageno' title='197' id='Page_197'></span>
  <h3 class='c010'>4. CONFIRMATION OF THIS VIEW.</h3>
</div>

<p class='c011'>
  If the view here given of the origin of this rite of
  the Threshold Covenant be correct, there will be
  found traces of the truth in the different religions of
  mankind. And this is the case, as shown in religious
  literatures, in history, and in primitive customs and
  beliefs.
</p>

<p class='c000'>
  The most ancient expression of the religious
  thought and feeling of the Aryan races is found in the
  Vedas and their accompanying literature. The Brahmanas,
  in this literature, deal with the sacrificial element
  in public and family worship, and with the rites
  and ceremonies pertaining to religion. In the description
  of the construction of the household altars and
  the high altars, there is abundant evidence that the
  woman is recognized as the primitive altar, and that
  the form of the woman is made the pattern of the
  altar form.
</p>

<p class='c000'>
  It is distinctly declared as to the shape of the altar,
  standing east and west, that it “should be broader on
  the west side, contracted on the middle, and broad
  again on the east side; for thus shaped they praise a
  woman: ‘broad about the hips, somewhat narrower
  between the shoulders, and contracted in the middle
  [or about the waist].’” Again, it is said, in explanation,
  that “the altar (<em>vedi</em>, feminine) is female, and the
  <span class='pageno' title='198' id='Page_198'></span>fire (<em>agni</em>, masculine) is male.”<a id='r526' /><a href='#f526' class='c012'><sup>[526]</sup></a> This identifying of
  the altar with the woman, of the offering with the
  man, and of their union with worship and covenanting,
  is repeatedly found in the Brahmanas.<a id='r527' /><a href='#f527' class='c012'><sup>[527]</sup></a>
</p>

<p class='c000'>
  Even as far back as the Vedas themselves the term
  <em>yoni</em>, or doorway of physical life, is used as synonymous
  with altar.<a id='r528' /><a href='#f528' class='c012'><sup>[528]</sup></a> And the production of sacred fire, for
  purposes of worship, by twisting a stick in softened
  wood, is described in the Rig-Vedas as a form of this
  covenant rite. These facts point to this origin of the
  threshold altar of covenant and sacrifice.
</p>

<p class='c000'>
  At present in India the most widely recognized visible
  aid in worship is the representation of the <em>linga</em>
  and the <em>yoni</em> combined. This symbol nominally stands
  for Siva; but that seems to be only because Saivism
  predominates in modern Hindooism. The idea of
  this symbolic combination long antedates this prominence
  of Siva worship.<a id='r529' /><a href='#f529' class='c012'><sup>[529]</sup></a>
</p>

<p class='c000'>
  <span class='pageno' title='199' id='Page_199'></span>A form of Booddhist prayer in Tibet, said to be
  repeated more frequently than any other known
  among men, is “the six-syllabled sentence, ‘<em>
    Om mani
    padme Hūm
  </em>,’–‘Om! the Jewel in the Lotus! Hum!’”
  This prayer is simply a euphemism for the primitive
  Threshold Covenant, as here explained, with an ejaculatory
  invocation and ascription before and after it.<a id='r530' /><a href='#f530' class='c012'><sup>[530]</sup></a>
  It seems to be a survival of the thought that here
  was the beginning of religious rites, and that all covenant
  worship must continue in its spirit and power.
</p>

<p class='c000'>
  Every repetition of that prayer, by speech or by
  mechanism, is supposed to affect the progress of a
  soul in its crossing the threshold of one of the stages
  of being in the universe. It is a help to a new birth
  for some soul somewhere.
</p>

<p class='c000'>
  There would thus appear to be no room for doubt
  in this matter in the language and customs of the
  primitive Aryan peoples, and there are also confirmations
  <span class='pageno' title='200' id='Page_200'></span>of the idea among the Semites. A legend that
  has a place among the Jews and the Muhammadans,
  tells of a visit of Abraham to the home of Hagar and
  Ishmael in Arabia.<a id='r531' /><a href='#f531' class='c012'><sup>[531]</sup></a> An Amalekite wife of Ishmael
  refused hospitality to Abraham, and in consequence
  Abraham left a message to Ishmael to “change his
  threshold.” This message Ishmael understood to
  mean the putting away of his wife and the taking of
  another, and he acted accordingly. In the Arabic “a
  wife” is one of the meanings of the term “threshold.”<a id='r532' /><a href='#f532' class='c012'><sup>[532]</sup></a>
</p>

<p class='c000'>
  And the term “gate,” or “door,” had among the rabbis
  a specific application to the altar of family covenanting.
  Thus Buxtorf, in his definings of “<em><span lang="la" xml:lang="la">janua</span></em>”
  and “<em><span lang="la" xml:lang="la">ostium</span></em>,” says plainly: “<em>
    <span lang="la" xml:lang="la">
      Apud rabbinos etiam est
      ‘ostium ventris muliebris.’
    </span>
  </em>” And he quotes the saying
  of a disappointed bridegroom : “<em>
    <span lang="la" xml:lang="la">
      Ostium apertum
      inveni.
    </span>
  </em>”<a id='r533' /><a href='#f533' class='c012'><sup>[533]</sup></a>
</p>

<p class='c000'>
  Among the early Babylonians and Egyptians, as
  among other primitive peoples, the twofold symbols
  of sex are counted the sacred emblem of life, and as
  such are borne by the gods of life, and by those who
  <span class='pageno' title='201' id='Page_201'></span>have the power of life and death from those gods.
  The circle and rod, or ring and bolt, conjoined, are in
  the right hand of the Babylonian sun-god Shamash;<a id='r534' /><a href='#f534' class='c012'><sup>[534]</sup></a>
  as, in the <em>ankh</em>, or <em><span lang="la" xml:lang="la">crux ansata</span></em>, they are in the right
  hand of every principal deity of ancient Egypt.<a id='r535' /><a href='#f535' class='c012'><sup>[535]</sup></a> It is
  much the same with the Phœnicians and others.<a id='r536' /><a href='#f536' class='c012'><sup>[536]</sup></a>
</p>

<p class='c000'>
  In the innermost shrine of the most sacred Shinto
  temples of Japan, the circular mirror, and the straight
  dagger, with the same meaning as the circle and rod
  in Babylonia and Egypt and Phœnicia, are the only
  indications of the presence of deity; and the worshipers
  in those temples can come no farther than the
  threshold of the shrine containing these emblems.<a id='r537' /><a href='#f537' class='c012'><sup>[537]</sup></a>
</p>

<p class='c000'>
  Wherever, among the primitive peoples in America,
  as elsewhere, the red hand is found as a symbol of
  covenant, and of life and strength through covenant,
  it would seem to point to this primal meaning of the
  hand stamp of blood at the doorway of life in a sacred
  covenant. There are indications in Central American
  <span class='pageno' title='202' id='Page_202'></span>sculptures of the sacredness attaching to the covenant
  rite between the first pair; and the combined symbols
  of sex are represented there as in the East.<a id='r538' /><a href='#f538' class='c012'><sup>[538]</sup></a>
</p>

<p class='c000'>
  It is a well-known fact that the public exhibit of the
  primitive Threshold Covenant, as here explained, has
  been continued as a mode of reverent worship among
  primitive peoples in the South Sea Islands, down to
  modern times. The testimony of Captain Cook, the
  famous navigator, is specific on this point.<a id='r539' /><a href='#f539' class='c012'><sup>[539]</sup></a> It is also
  to be noted that in these islands the two supports of
  the altar, or table of sacrifice, are seemingly symbols
  of the two sexes, similar to those used in the far East.<a id='r540' /><a href='#f540' class='c012'><sup>[540]</sup></a>
</p>

<p class='c000'>
  All of the gathered facts concerning the Threshold
  Covenant in different lands and in different times, as
  presented in the foregoing pages, would seem to be
  in accordance with this view of the origin of the rite,
  as with no other that can be suggested. The main
  symbolism of both the Old and the New Testament
  also seem to indicate the same beginning.
</p>

@code {

}
