<div class='chapter'>
  <span class='pageno' title='223' id='Page_223'></span>
  <h2 class='c005'>VII. <br /> OUTGROWTHS AND PERVERSIONS <br /> OF THIS RITE.</h2>
</div>

<h3 class='c010'>1. ELEMENTAL BEGINNINGS.</h3>

<p class='c011'>
  Apart from the mooted question of the origin and
  development of man as man,–whether it be held that
  he came into being as an incident in the evolutionary
  progress of the ages, or that his creation was by a
  special fiat of the Author of all things,–it is obvious
  that there was a beginning, when man first appeared
  as a higher order of being than the lower animals
  then in existence. The distinguishing attribute of
  man, as distinct from the lower animals at their best,
  is the capacity to conceive of spiritual facts and forces.
  Even at his lowest estate man is never without an
  apprehension of immaterial and supernatural personalities,
  intangible yet real and potent. The lower
  animals at their highest, and under the most effective
  training, give no indication of the possibility of such a
  conception on their part.
</p>

<p class='c000'>
  <span class='pageno' title='224' id='Page_224'></span>Both the Bible record and the disclosed facts of
  science show man at the start in a primitive state,
  with only elemental beginnings of knowledge or
  thought or skill. No claim is made for him, by any
  advocate of his pre-eminence in creation, that he then
  had skill in the arts, or attainment in civilization, or
  that he was possessed of a religious theory or ritual
  of even the simplest character. It is a matter of interest
  and importance to trace the course of man’s
  progress from the first to the present time, and to see
  how the good and the evil showed themselves along
  the line, from the same germs of thought and conduct
  rightly used or misused. The primitive rite of the
  Threshold Covenant, here brought out as initial and
  germinative, seems to present a reasonable solution
  of the observed course in religious development and
  in religious perversions in the history of mankind
  from the beginning until now.
</p>

<p class='c000'>
  Before primitive man could have concerned himself
  seriously with the course of the heavenly bodies, or
  the changes of the seasons, or the points of compass
  and the correspondent shifting of the winds, he must
  have recognized the sacred mystery of life and its
  transmission. It would seem that a covenant involved
  in the union of twain made one over outpoured blood,
  with power from the Author of life for the transmission
  of life, must have been the primal religious
  <span class='pageno' title='225' id='Page_225'></span>rite that brought man’s personal action into the clear
  light of a covenant relation with his Creator. Every
  subsequent development of the religious idea, good
  and bad, pure and impure, would seem to be traceable
  as an outgrowth, or as a perversion, of this elemental
  religious rite.
</p>

<h3 class='c010'>2. MAIN OUTGROWTHS</h3>

<p class='c011'>
  It would seem clear that the primal idea of a covenant
  union between two persons, and between those
  persons and their God, was found in the initial and
  primitive rite of marriage, with its outpoured blood,
  or gift of life, on the threshold of being; and that this
  rite contained in itself the germs of covenanting and
  of sacrifice, and the idea of an altar and a sacrament,
  where, and by which, man and God were brought into
  loving communion and union. Thus the beginning
  of religious rites was found in the primal Threshold
  Covenant as here portrayed.
</p>

<p class='c000'>
  Out of this beginning came all that is best and
  holiest in the thought of sacrifice and sacrament and
  spiritual communion. The very highest development
  of religious truth, under the guidance of progressive
  revelation from God, and of man’s growth in
  thought and knowledge with the passing ages, is
  directly in the line of this simple and germinal idea.
  Both the Bible record and the record of outside history
  <span class='pageno' title='226' id='Page_226'></span>tend to confirm this view of religious rites in
  their beginning and progress.
</p>

<p class='c000'>
  New life as a consequence of blood, or life, surrendered
  in holy covenanting, is a natural inference
  or outgrowth of the truth of the primal Threshold
  Covenant. Thus the thought of life after death, in
  the resurrection or in metempsychosis, comes with
  the recognition of the simple fact of the results of
  covenant union in the sight, and with the blessing,
  of the Author of life, in the rite of the Threshold
  Covenant.<a id='r599' /><a href='#f599' class='c012'><sup>[599]</sup></a>
</p>

<p class='c000'>
  The transference of the altar of threshold covenanting,
  from the persons of the primary pair in the family
  to the hearthstone or entrance threshold of the home
  or family doorway, with the accompaniment of fire as
  a means of giving and sustaining life to those who sat
  at the common table or altar, in the covenant meal or
  sacrament of hospitality, brought about the custom
  of sacramental communion feasts with guests human
  and divine. And so, also, there came the rites of
  worship, with the altar of burnt sacrifice or of incense,
  and the marriage torch, and the doorway fire, and the
  threshold or hearthstone covenant at a wedding. Out
  of this thought there came gradually and naturally
  the prominence of the altar and the altar fire in private
  <span class='pageno' title='227' id='Page_227'></span>and public worship, as it obtains both in the simpler
  and in the more gorgeous ecclesiastical rituals.<a id='r600' /><a href='#f600' class='c012'><sup>[600]</sup></a>
</p>

<p class='c000'>
  In conjunction with the place of fire on the family
  altar in the Threshold Covenant, there came naturally
  the recognition of fire and warmth and light as gifts
  of God for the promotion and preservation of life to
  those who were dependent on him. Thus the sun as
  the life-giving fire of the universe came to be recognized
  as a manifestation of God’s power and love. Its
  agency in bringing new life after death, in the course
  of the changing seasons, led men to connect the
  movements of the heavenly bodies with God’s dealings
  with man in the line of his covenant love. The
  too common mistake has been of thinking of this view
  of celestial nature as the origin of man’s religious
  rites, instead of as an outgrowth of the primal religious
  rite, which antedated man’s study of, or wonder
  over, the workings of the elements and the course of
  the heavenly bodies.
</p>

<p class='c000'>
  In summing up the results of such a study as this,
  of primitive customs and their outgrowth, it is necessary
  only to suggest a few of the more prominent
  lines of progress from the elemental beginning, leaving
  it to the student and thinker to follow out these,
  and to find others, in his more careful and further
  consideration of the subject in its varied ramifications.
  <span class='pageno' title='228' id='Page_228'></span>It is sufficient now to affirm that the Old Testament
  and the New point to this primitive rite of the Threshold
  Covenant as a basis of their common religious
  ritual; and that gleams of the same germinal idea
  show themselves in the best features of all the sacred
  books of the ages. It would be easy, did time and
  space allow, to follow out in detail the indications that
  all modes of worship in sacrifice, in oblation, in praise,
  and prayer, in act and in word, are but natural expressions
  of desire for covenant union with Deity, and
  of joy in the thought of its possession, as based on
  the fact of such covenanting sought and found in the
  primal religious rite of the human race.
</p>

<h3 class='c010'>3. CHIEF PERVERSIONS.</h3>

<p class='c011'>
  With the world as it is, and with man as he is,
  every possibility of good has a corresponding possibility
  of evil. Good perverted becomes evil. Truth
  which, rightly used, proves a savor of life, will, when
  misused, prove a savor of death.<a id='r601' /><a href='#f601' class='c012'><sup>[601]</sup></a> And that which is
  a symbol of truth becomes a means of misleading
  when looked at as if it were in itself the truth.
</p>

<p class='c000'>
  The primitive Threshold Covenant as an elemental
  religious rite was holy and pure, and had possibilities
  of outgrowth in the direction of high spiritual attainment
  and aspiring. But the temptation to uplift the
  <span class='pageno' title='229' id='Page_229'></span>agencies in this rite into objects deemed of themselves
  worthy of worship resulted in impurity and deterioration,
  by causing the symbol to hide the truth instead
  of disclosing it.
</p>

<p class='c000'>
  Among the earliest forms of a temple as a place of
  worship was the ziggurat, or stepped pyramid, erected
  as a mighty altar, with its shrine, or holy of holies, at
  the summit, wherein a bride of the gods awaited the
  coming of the deity to solemnize the primal Threshold
  Covenant in expression of his readiness to enter
  into loving communion with the children of men.<a id='r602' /><a href='#f602' class='c012'><sup>[602]</sup></a>
  From this custom the practice of Threshold Covenanting
  at the temple doorways became incumbent on
  women of all conditions of society at certain times,
  and under certain circumstances, in certain portions
  of the world, as a proof of their religious devotion,<a id='r603' /><a href='#f603' class='c012'><sup>[603]</sup></a>
  and thus there grew up all the excesses of sacred
  prostitution in different portions of the world.<a id='r604' /><a href='#f604' class='c012'><sup>[604]</sup></a>
</p>

<p class='c000'>
  The prominence given to the two factors in the
  primitive Threshold Covenant as a sacred religious act,
  led to the perversion of the original idea by making the
  factors themselves objects of reverence and worship;
  <span class='pageno' title='230' id='Page_230'></span>and separately, or together, they came to be worshiped
  with impure and degrading accompaniments.
</p>

<p class='c000'>
  Reverence for the phallus, or for phallic emblems,
  shows itself in the earliest historic remains of Babylonia,
  Assyria, India, China, Japan, Persia, Phrygia,
  Phoenicia, Egypt, Abyssinia, Greece, Rome, Germany,
  Scandinavia, France, Spain, Great Britain, North and
  South America, and the Islands of the Sea. It were
  needless to attempt detailed proof of this statement,
  in view of all that has been written on the subject by
  historians, archæologists, and students of comparative
  religions.<a id='r605' /><a href='#f605' class='c012'><sup>[605]</sup></a> It is enough to suggest that the mistake
  has too often been made of supposing that this
  “phallic worship” was a primitive conception of a
  religious truth, instead of a perversion of the earlier
  and purer idea which is at the basis of the highest
  religious conceptions, from the beginning until now.
</p>

<p class='c000'>
  Quite as widely extended, in both time and space,
  as the worship of the phallus as the symbol of masculine
  potency, is the recognition of the tree of life as the
  symbol of feminine nature in its fruit-bearing capacity.
  A single tree, or a grove of trees, or the lotus flower,
  the fig, or the pomegranate, with the peculiar form of
  <span class='pageno' title='231' id='Page_231'></span>their seed capsules, appear in all the earlier religious
  symbolisms, over against the phallus in its realistic
  or its conventional forms, as representative of reproductive
  life.<a id='r606' /><a href='#f606' class='c012'><sup>[606]</sup></a>
</p>

<p class='c000'>
  In ancient Assyrian sculpture the most familiar
  representation of spiritual blessing was of a winged
  deity with a basket and a palm cone, touching with
  the cone a sacred tree, or again the person of a
  sovereign, as if imparting thereby some special benefit
  or power. This representation was long a mystery to
  the archeologist, but a recent scholar has shown that
  it is an illustration of a practice common in the East
  to-day, of carrying a cone of the male palm to a
  female palm tree, in order to vitalize it by the pollen.<a id='r607' /><a href='#f607' class='c012'><sup>[607]</sup></a>
  The cone is one of the conventional forms of the
  phallus, worshiped as a symbol in the temples of the
  goddesses of the East in earlier days and later.<a id='r608' /><a href='#f608' class='c012'><sup>[608]</sup></a>
  <span class='pageno' title='232' id='Page_232'></span>Hence this ancient Assyrian representation is an illustration
  of the truth that the primitive threshold covenant
  was recognized as the type of divine power, and
  covenant blessing, imparted to God’s representative,
  under the figure of the phallus and the tree.
</p>

<p class='c000'>
  It would seem, indeed, that the pillar and the tree
  came to be the conventional symbols of the male and
  female elements erected in front of an altar of worship,<a id='r609' /><a href='#f609' class='c012'><sup>[609]</sup></a>
  and that, in the deterioration of the ages, these symbols
  themselves were worshiped, and their symbolism
  was an incentive to varied forms of impurity, instead
  of to holy covenanting with God and in God’s service.
  Therefore these symbols were deemed by true worshipers
  a perversion of an originally sacred rite, and
  their destruction was a duty with those who would
  restore God’s worship to its pristine purity.
</p>

<p class='c000'>
  Thus the command to Jehovah’s people as to their
  treatment of the people of Canaan was: “Take heed
  to thyself, lest thou make a covenant with the inhabitants
  of the land whither thou goest, lest it be for a
  snare in the midst of thee: but ye shall break down
  their altars, and dash in pieces their pillars [or male
  symbols], and ye shall cut down their Asherim [or
  trees as a female symbol]: for thou shalt worship no
  other god: for the Lord [Jehovah], whose name is
  Jealous, is a jealous God: lest thou make a covenant
  <span class='pageno' title='233' id='Page_233'></span>with the inhabitants of the land, and they go a whoring
  after their gods.”<a id='r610' /><a href='#f610' class='c012'><sup>[610]</sup></a> Here is a distinct reference to
  the primitive Threshold Covenant in its purity and
  sacredness, and to its perversion in the misuse of the
  phallus and tree in their symbolism.
</p>

<p class='c000'>
  Again the command was explicit to the Israelites:
  “Thou shalt not plant thee an Asherah of any kind of
  tree beside the altar of the Lord thy God, which thou
  shalt make thee. Neither shalt thou set thee up a
  pillar; which the Lord thy God hateth.”<a id='r611' /><a href='#f611' class='c012'><sup>[611]</sup></a>
</p>

<p class='c000'>
  From the earliest historic times the serpent seems
  to have been accepted as a symbol of the nexus of
  union between the two sexes, and to be associated,
  therefore, with the pillar and the tree, as suggestive
  of the desire that may be good or evil, according to
  its right or wrong direction and use. Its place as a
  symbol has been at the threshold of palace and temple
  and home, with limitless powers of evil in its misuse.<a id='r612' /><a href='#f612' class='c012'><sup>[612]</sup></a>
</p>

<p class='c000'>
  <span class='pageno' title='234' id='Page_234'></span>“Mighty snakes standing upright,” together with
  “mighty bulls of bronze” were “on the threshold of
  the gates” in ancient Babylon.<a id='r613' /><a href='#f613' class='c012'><sup>[613]</sup></a> A serpent wreathed
  the phallus boundary stone (as if suggestive of its
  being a thing of life) on the threshold of Babylonian
  domains.<a id='r614' /><a href='#f614' class='c012'><sup>[614]</sup></a> As a symbol of life and life-giving power
  the serpent stood erect above the head of the mightiest
  kings of Egypt, who gave and took life at their pleasure,<a id='r615' /><a href='#f615' class='c012'><sup>[615]</sup></a>
  and it even accompanied the winged sun-orb in
  its manifestation of light and warmth and life over the
  grandest temples of ancient Thebes.<a id='r616' /><a href='#f616' class='c012'><sup>[616]</sup></a> The Egyptian
  goddess Ket, or Kadesh, “Mistress of Heaven,” a
  divinity borrowed from the Semites, was represented
  as standing on a lioness, with lotus flowers, their
  stems coiled in circular form, in her right hand, and
  two serpents in her left hand, as she came with her
  offering to Min, or Khem, the god of generative force.<a id='r617' /><a href='#f617' class='c012'><sup>[617]</sup></a>
  A similar representation of a goddess of life is found
  in ancient Assyrian remains.
</p>

<p class='c000'>
  In the representation of Nergal, the lord of the
  <span class='pageno' title='235' id='Page_235'></span>under world, in the ancient Babylonian mythology,
  the phallus and the serpent were identical.<a id='r618' /><a href='#f618' class='c012'><sup>[618]</sup></a> Beltis-Allat,
  consort of Nergal, and lady of the under world,
  brandished a serpent in either hand. She was guardian
  of the waters of life which were under the threshold
  of the entrance of her realm.<a id='r619' /><a href='#f619' class='c012'><sup>[619]</sup></a>
</p>

<p class='c000'>
  That which was primarily a holy instinct became,
  in its perversion, a source of evil and a cause of dread;
  hence the serpent became a representative of evil
  itself, and the conflict with it was the conflict between
  good and evil, between light and darkness. This is
  shown in the religions of ancient Babylonia, Egypt,
  and India, and Phœnicia and Greece, and Mexico and
  Peru, and various other countries.<a id='r620' /><a href='#f620' class='c012'><sup>[620]</sup></a>
</p>

<p class='c000'>
  Vishnoo and his wife Lakshmi, from whom, according
  to Hindoo teachings, the world was produced, and
  by whom it continues or must cease, are represented
  as seated on a serpent, as the basis of their life and
  power.<a id='r621' /><a href='#f621' class='c012'><sup>[621]</sup></a> Siva, also, giver and destroyer of life, is
  <span class='pageno' title='236' id='Page_236'></span>crowned with a serpent, and a serpent is his necklace,
  while the symbol of his worship is the <em>linga in yoni</em>.<a id='r622' /><a href='#f622' class='c012'><sup>[622]</sup></a>
  A mode of Hindoo worship includes the placing of a
  stone <em>linga</em> between two serpents, and under two trees,
  the one a male tree and the other a female tree.<a id='r623' /><a href='#f623' class='c012'><sup>[623]</sup></a> And
  in various ways the serpent appears, in connection
  with different Hindoo deities, as the agent of life-giving
  or of life-destroying.<a id='r624' /><a href='#f624' class='c012'><sup>[624]</sup></a> A suggestive representation
  of Booddha as the conqueror of desire shows
  him seated restfully on a coiled serpent, the hooded
  head of which is a screen or canopy above his head.<a id='r625' /><a href='#f625' class='c012'><sup>[625]</sup></a>
</p>

<p class='c000'>
  Apollo, son of Zeus, was the slayer of the man-destroying
  serpent at Delphi; yet the serpent, when
  conquered, became a means of life and inspiration to
  others.<a id='r626' /><a href='#f626' class='c012'><sup>[626]</sup></a> Æsculapius, the god of healing, a son of
  Apollo, was represented by the serpent because he
  gave new life to those who were dying. Serpents
  were everywhere connected with his worship as a
  means of healing.<a id='r627' /><a href='#f627' class='c012'><sup>[627]</sup></a> The female oracle who represented
  Apollo at Delphi sat on a tripod formed of
  entwined serpents.<a id='r628' /><a href='#f628' class='c012'><sup>[628]</sup></a> Serpents on the head of Medusa
  <span class='pageno' title='237' id='Page_237'></span>were a means of death to the beholder; and these
  serpents were given to Medusa instead of hair because
  of her faithlessness and sacrilege in the matter of the
  Threshold Covenant.<a id='r629' /><a href='#f629' class='c012'><sup>[629]</sup></a> Thus the good and the evil in
  that which the serpent symbolized were shown in the
  religions of the nations of antiquity, and serpent worship
  became one of the grossest perversions of the
  idea of the primitive Threshold Covenant.
</p>

<p class='c000'>
  As in the matter of phallic worship and tree worship,
  so in this of the worship of the serpent, it would
  seem unnecessary to multiply illustrations of its
  prominence in various lands, when so many special
  treatises on the subject are already available.<a id='r630' /><a href='#f630' class='c012'><sup>[630]</sup></a> It is
  only necessary to emphasize anew the fact that the
  evident thought of the symbol is an outgrowth or a
  perversion of the idea of the primitive Threshold
  Covenant.
</p>

<p class='c000'>
  The form of the Bible narrative, portraying the first
  temptation and the first sin, seems to show how early the
  symbolism of the tree and the serpent was accepted
  in popular speech. From that narrative as it stands
  it would appear that the first act of human disobedience
  was incontinence, in transgression of a specific
  <span class='pageno' title='238' id='Page_238'></span>command to abstain, at least for a time, from carnal
  intercourse. Desire, as indicated by the serpent,
  prompted to an untimely partaking of the fruit of the
  forbidden tree, and the consequences of sin followed.
  The results of this act of disobedience, as recorded in
  the sacred text,<a id='r631' /><a href='#f631' class='c012'><sup>[631]</sup></a> make evident the correctness of this
  view of the case. When the Bible narrative was first
  written, whenever that was, the terms “tree,”<a id='r632' /><a href='#f632' class='c012'><sup>[632]</sup></a> “fruit”
  of the tree,<a id='r633' /><a href='#f633' class='c012'><sup>[633]</sup></a> “knowledge,”<a id='r634' /><a href='#f634' class='c012'><sup>[634]</sup></a> “serpent,” were familiar
  figures of speech or euphemisms, and their use in the
  Bible narrative would not have been misunderstood
  by readers generally. Probably there was no question
  as to this for many centuries. It was not until the
  dull prosaic literalism of the Western mind obscured
  the meaning of Oriental figures of speech that there
  was any general doubt as to what was affirmed in the
  Bible story of the first temptation and disobedience.<a id='r635' /><a href='#f635' class='c012'><sup>[635]</sup></a>
</p>

<p class='c000'>
  Philo Judæus at the beginning of the Christian era,
  seems to understand this as the meaning of the narrative
  in Genesis, and he applies the teachings of that
  <span class='pageno' title='239' id='Page_239'></span>narrative accordingly.<a id='r636' /><a href='#f636' class='c012'><sup>[636]</sup></a> There are indications that the
  rabbis looked similarly at the meaning of the Bible
  text. There are traces of this traditional view in different
  Jewish writings.<a id='r637' /><a href='#f637' class='c012'><sup>[637]</sup></a>
</p>

<p class='c000'>
  Evidently the original meaning was still familiar
  in the early Christian ages. But its becoming connected
  with false doctrines and heresies, as taught
  by the Ophites and other Gnostic sects, seems to
  have brought the truth itself into disrepute, and
  finally led to its repudiation in favor of a dead
  literalism.<a id='r638' /><a href='#f638' class='c012'><sup>[638]</sup></a> The curse resting on the serpent, in
  consequence of the first sin of incontinence, was the
  degradation of the primitive impulse,<a id='r639' /><a href='#f639' class='c012'><sup>[639]</sup></a> unless uplifted
  again by divine inspiration.<a id='r640' /><a href='#f640' class='c012'><sup>[640]</sup></a> Because of their breach
  of the covenant of divine love our first parents were
  expelled from their home of happiness, and the guardians
  of the threshold forbade their return to it.<a id='r641' /><a href='#f641' class='c012'><sup>[641]</sup></a>
</p>

<p class='c000'>
  In the closing chapters of the New Testament, as in
  the opening chapters of the Old, the symbolism of the
  <span class='pageno' title='240' id='Page_240'></span>tree and the serpent, and the covenant relations
  involved in crossing the threshold, appear as familiar
  and well-understood figures of speech. “The dragon,
  the old serpent, which is the Devil and Satan,”<a id='r642' /><a href='#f642' class='c012'><sup>[642]</sup></a>
  representing unholy desire, is shut out from the precincts
  of the New Jerusalem. Within the gates of that
  city is there the tree of life watered by the stream that
  flows from under the throne of power.<a id='r643' /><a href='#f643' class='c012'><sup>[643]</sup></a> The city
  threshold is the dividing line between light and darkness,
  good and evil, life and death. “Blessed are they
  that wash their robes, that they may have the right to
  come to the tree of life, and may enter in by the gates
  into the city. Without are the dogs, and the sorcerers,
  and the fornicators, and the murderers, and the idolators,
  and every one that loveth and maketh a lie.”<a id='r644' /><a href='#f644' class='c012'><sup>[644]</sup></a>
</p>

<p class='c000'>
  Thus it is in the Hebrew and Christian Scriptures,
  at their beginning and at their close. And there are
  traces of the same truth in the teachings of the various
  religions, and of the more primitive customs and symbolisms.
  The all-dividing threshold separates the
  within from the without; and a covenant welcome
  there gives one a right to enter in through the gates
  into the eternal home, to be a partaker of the tree of
  life, with its ever-renewing and revivifying fruits.
</p>

@code {

}
