
<pre>

The Project Gutenberg EBook of The Threshold Covenant, by H. Clay Trumbull

This eBook is for the use of anyone anywhere in the United States and most
other parts of the world at no cost and with almost no restrictions
whatsoever.  You may copy it, give it away or re-use it under the terms of
the Project Gutenberg License included with this eBook or online at
www.gutenberg.org.  If you are not located in the United States, you'll have
to check the laws of the country where you are located before using this ebook.



Title: The Threshold Covenant
       or, The Beginning of Religious Rites

Author: H. Clay Trumbull

Release Date: June 14, 2015 [EBook #49216]

Language: English

Character set encoding: UTF-8

*** START OF THIS PROJECT GUTENBERG EBOOK THE THRESHOLD COVENANT ***


Produced by KD Weeks, Chris Curnow and the Online
Distributed Proofreading Team at http://www.pgdp.net (This
file was produced from images generously made available
by The Internet Archive)


</pre>


<div class='tnotes'>

<p class='c000'>Minor errors or inconsistencies in punctuation and formatting have been
silently corrected. Please see the transcriber’s <a href='#endnote'>note</a> at the end of this
text for details regarding the handling of any other textual issues
encountered during its preparation.</p>

<div class='epubonly'>

<p class='c000'>The few Hebrew words and phrases in the text cannot be correctly rendered
in this media format. The Hebrew characters are therefore replaced with a
direct transliteration rendered in a bold font. Each word is transliterated
by the author as well. There were no vowel marks in the text.</p>

</div>

<p class='c000'>Footnotes have been resequenced to be unique, and were moved to the end
of the text. Hyperlinks are provided for ease of reference. Any references
to those notes in the text have been amended as well. In the Topical Index,
references to cited authors which appear only in the footnotes on the given
pages are linked directly to the notes.</p>

</div>

<div class='pbb'></div>
<hr class='pb c001' />
<div>
  <h1 class='c002'>THE <br /> THRESHOLD COVENANT</h1>
</div>

<div class='nf-center-c1'>
<div class='nf-center c003'>
    <div>OR</div>
    <div class='c004'><span class='xlarge'>THE BEGINNING OF RELIGIOUS RITES</span></div>
    <div class='c004'>BY</div>
    <div class='c004'><span class='xlarge'>H. CLAY TRUMBULL</span></div>
    <div class='c004'><span class='small'>Author of “Kadesh-barnea,” “The Blood Covenant,”</span></div>
    <div><span class='small'>“Studies in Oriental Social Life,” etc.</span></div>
    <div class='c004'>NEW YORK</div>
    <div class='c004'>CHARLES SCRIBNER’S SONS</div>
    <div class='c004'>1896</div>
  </div>
</div>

<div class='pbb'></div>
<hr class='pb c001' />

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div><span class='sc'>Copyright</span>, 1896</div>
    <div>BY</div>
    <div><span class='large'>H. CLAY TRUMBULL</span></div>
  </div>
</div>

<div class='pbb'></div>
<hr class='pb c001' />

<div class='chapter'>
  <span class='pageno' title='iii' id='Page_iii'></span>
  <h2 class='c005'>PREFACE.</h2>
</div>

<p class='c006'>This work does not treat of the origin of man’s
religious faculty, or of the origin of the sentiment of
religion; nor does it enter the domain of theological
discussion. It simply attempts to show the beginning
of religious rites, by which man evidenced a belief,
however obtained, in the possibility of covenant relations
between God and man; and the gradual development
of those rites, with the progress of the race
toward a higher degree of civilization and enlightenment.
Necessarily the volume is not addressed to a
popular audience, but to students in the lessons of
primitive life and culture.</p>

<p class='c000'>In a former volume, “The Blood Covenant,” I
sought to show the origin of sacrifice, and the significance
of transferred or proffered blood or life. The
facts given in that work have been widely accepted as
lying at the basis of fundamental doctrines declared
in the Hebrew and Christian Scriptures, and have
also been recognized as the source of perverted views
which have had prominence in the principal ethnic religions
of the world. Scholars of as divergent schools
of thought as Professors William Henry Green of
<span class='pageno' title='iv' id='Page_iv'></span>Princeton, Charles A. Briggs of New York, George E.
Day of Yale, John A. Broadus of Louisville, Samuel
Ives Curtiss of Chicago, President Mark Hopkins of
Williams, Rev. Drs. Alfred Edersheim of Oxford and
Cunningham Geikie of Bournemouth, Professor Fréderic
Godet of Neuchatel, and many others, were agreed
in recognizing the freshness and importance of its
investigations, and the value of its conclusions. Professor
W. Robertson Smith, of Cambridge, in thanking
me for that work, expressed regret that he had not seen
it before writing his “Kinship and Marriage in Early
Arabia.” He afterwards made repeated mention of
the work as an authority in its field, in his Burnett
Lectures on the “Religion of the Semites.”</p>

<p class='c000'>This volume grew out of that one. It looks back
to a still earlier date. That began as it were with
Cain and Abel, while this begins with Adam and
Eve. It was while preparing a Supplement for a
second edition of that volume that the main idea of
this work assumed such importance in my mind that
I was led to make a separate study of it, and present
it independently. The special theory here advanced
is wholly a result of induction. The theory came
out of the gathered facts, instead of the facts being
gathered in support of the theory.</p>

<p class='c000'>Of course, these facts are not new, but it is believed
that their synthetic arrangement is. It has been a
<span class='pageno' title='v' id='Page_v'></span>favorite method with students of primitive religions
to point out widely different objects of primitive
worship and their corresponding cults among different
peoples, and then to try to show how the ceremonials
of the Hebrew and Christian Scriptures were
made up from these primitive cults. But the course
of investigation here pursued seems to show that
the earlier cult was the simple one, which has been
developed in the line of the Bible story, and that
the other cults, even those baser and more degraded,
are only natural perversions of the original simple
one. This is a reversal of the usual order in studies
of primitive religious rites. Here it is first the
simple, then the complex; first the one germ, then
the many varieties of growth from that germ.</p>

<p class='c000'>As this particular subject of investigation seems to
be a hitherto untrodden field, I am unable to refer to
any published works as my principal sources of information.
But I have gathered important related
facts from various directions, giving full credit in explicit
foot-notes, page by page. Many added facts
confirmatory of my position might, undoubtedly, have
been found through yet wider and more discerning
research, and they will be brought to light by other
gleaners in the same field. Indeed, a chief value of
this volume will be in the fresh study it provokes on
the part of those whom it stimulates to more thorough
<span class='pageno' title='vi' id='Page_vi'></span>investigation in the direction here pointed out. And
if such study shows an added agreement between
some of the main facts of modern scientific investigation
and those disclosed in the Bible narrative, that
will not be a matter of regret to any fair-minded
scholar.</p>

<p class='c000'>In my earlier studies for this work, I had valuable
assistance from the late Mr. John T. Napier; and in
my later researches I have been materially assisted by
Professors Herman V. Hilprecht, E. Washburn Hopkins,
William R. Lamberton, John Henry Wright,
Robert Ellis Thompson, Morris Jastrow, Jr., D.G.
Brinton, Adolph Erman, W. Max Müller, W. Hayes
Ward, M.B. Riddle, Minton Warren, Alfred Gudeman,
John P. Peters, M.W. Easton, and A.L. Frothingham,
Jr., President George Washburn, Rev. Drs.
Marcus Jastrow, H.H. Jessup, George A. Ford, William
W. Eddy, and Benjamin Labaree, Rev. William
Ewing, Rev. Paulus Moort, Dr. Talcott Williams, Dr.
J. Solis Cohen, Dr. A.T. Clay, Dr. T.H. Powers
Sailer, Judge Mayer Sulzberger, Mr. S. Schecter, Mr.
Frank Hamilton Cushing, Captain John G. Bourke,
Mr. Khaleel Sarkis, Mr. John T. Haddad, Mr. Montague
Cockle, Mr. Le Roy Bliss Peckham, the late
Mr. William John Potts, and other specialists. To
all these I return my sincere thanks.</p>

<p class='c000'>Facts and suggestions that came to my notice after
<span class='pageno' title='vii' id='Page_vii'></span>the main work was completed, or that, while known
to me before, did not seem to have a place in the
direct presentation of the argument, have been given
a place in the Appendix. These may prove helpful
to scholars who would pursue the investigation beyond
my limits of treatment.</p>

<p class='c000'>Comments of eminent specialists in Europe and
America, to whom the proof-sheets of the volume
were submitted before publication, are given in a
Supplement. Important additions are thus made to
the results of my researches, which are sure to be
valued accordingly.</p>

<div class='c007'>H.C.T.</div>

<div class='lg-container-l'>
  <div class='linegroup'>
    <div class='group'>
      <div class='line in1'><span class='sc'>Philadelphia</span>,</div>
      <div class='line in3'><em>Passover Week, 1896</em>.</div>
    </div>
  </div>
</div>

<div class='chapter'>
  <span class='pageno' title='ix' id='Page_ix'></span>
  <h2 class='c005'>CONTENTS.</h2>
</div>
<hr class='c008' />

<div class='nf-center-c1'>
<div class='nf-center c009'>
    <div>I.</div>
    <div class='c004'>PRIMITIVE FAMILY ALTAR.</div>
  </div>
</div>

<p class='c000'><span class='sc'>(1.) A Blood Welcome at the Door, <a href='#Page_3'>3</a>. (2.) Reverence for
the Threshold Altar, <a href='#Page_10'>10</a>.  (3.) Threshold Covenanting in
the Marriage Ceremony, <a href='#Page_25'>25</a>.  (4.) Stepping or Being Lifted
across the Threshold, <a href='#Page_36'>36</a>.  (5.) Laying Foundations in Blood,
<a href='#Page_45'>45</a>. (6.) Appeals at the Altar, <a href='#Page_57'>57</a>. (7.) Covenant Tokens on the
Doorway, <a href='#Page_66'>66</a>. (8.) Symbol of the Red Hand, <a href='#Page_74'>74</a>. (9.) Deities
of the Doorway, <a href='#Page_94'>94</a>.</span></p>

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div>II.</div>
    <div class='c004'>EARLIEST TEMPLE ALTAR.</div>
  </div>
</div>

<p class='c000'><span class='sc'>(1.) From House to Temple, <a href='#Page_99'>99</a>. (2.) Sacredness of the Door,
<a href='#Page_102'>102</a>. (3.) Temple Thresholds in Asia, <a href='#Page_108'>108</a>. (4.) Temple Thresholds
in Africa, <a href='#Page_126'>126</a>.  (5.) Temple Thresholds in Europe, <a href='#Page_132'>132</a>.
(6.) Temple Thresholds in America, <a href='#Page_144'>144</a>. (7.) Temple Thresholds
in Islands of the Sea, <a href='#Page_148'>148</a>. (8.) Only One Foundation, <a href='#Page_153'>153</a>.</span></p>

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div>III.</div>
    <div class='c004'>SACRED BOUNDARY LINE.</div>
  </div>
</div>

<p class='c000'><span class='sc'>(1.) From Temple to Domain, <a href='#Page_165'>165</a>. (2.) Local Landmarks, <a href='#Page_166'>166</a>.
(3.) National Borders, <a href='#Page_177'>177</a>. (4.) Border Sacrifices, <a href='#Page_184'>184</a>.</span></p>

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div>IV.</div>
    <div class='c004'>ORIGIN OF THE RITE.</div>
  </div>
</div>

<p class='c000'><span class='sc'>(1.) A Natural Question, <a href='#Page_193'>193</a>. (2.) An Answer by Induction,
<a href='#Page_194'>194</a>. (3.) No Covenant without Blood, <a href='#Page_196'>196</a>. (4.) Confirmation
of this View, <a href='#Page_197'>197</a>.</span></p>

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div>V.</div>
    <div class='c004'>HEBREW PASS-OVER, OR CROSS-OVER, SACRIFICE.</div>
  </div>
</div>

<p class='c000'><span class='sc'>(1.) New Meaning in an Old Rite, <a href='#Page_203'>203</a>. (2.) A Welcome with
Blood, <a href='#Page_204'>204</a>.  (3.)  Bason, or Threshold, <a href='#Page_206'>206</a>. (4.) Pass-over or
Pass-by, <a href='#Page_209'>209</a>. (5.) Marriage of Jehovah with Israel, <a href='#Page_212'>212</a>.</span></p>

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div>VI.</div>
    <div class='c004'>CHRISTIAN PASSOVER.</div>
  </div>
</div>

<p class='c000'><span class='sc'>(1.) Old Covenant and New, <a href='#Page_215'>215</a>. (2.) Proffered Welcome
by the Father, <a href='#Page_216'>216</a>. (3.) Bridegroom and Bride, <a href='#Page_218'>218</a>. (4.) Survivals
of the Rite, <a href='#Page_221'>221</a>.</span></p>

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div>VII.</div>
    <div class='c004'>OUTGROWTHS AND PERVERSIONS OF THIS RITE.</div>
  </div>
</div>

<p class='c000'><span class='sc'>(1.) Elemental Beginnings, <a href='#Page_223'>223</a>. (2.) Main Outgrowths, <a href='#Page_225'>225</a>.
(3.) Chief Perversions, <a href='#Page_228'>228</a>.</span></p>

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div>APPENDIX.</div>
  </div>
</div>

<p class='c000'><span class='sc'>Significance of Blood in the Marriage Rite, <a href='#Page_243'>243</a>. Exhibiting
the Evidences, <a href='#Page_245'>245</a>. Substitute Blood for Deception, <a href='#Page_248'>248</a>.
Public Performance of the Rite, <a href='#Page_250'>250</a>. Bible Testimony, <a href='#Page_251'>251</a>.</span>
<span class='sc'>Woman as a Door, <a href='#Page_252'>252</a>. Symbolism of the Two Sexes, <a href='#Page_257'>257</a>. Symbolism
of Tree and Serpent, <a href='#Page_258'>258</a>. Covenant of Threshold-Crossing,
<a href='#Page_259'>259</a>. Doorkeeper, and Carrier, <a href='#Page_263'>263</a>. Passing over
into a Covenant, <a href='#Page_266'>266</a>. England’s Coronation Stone, <a href='#Page_268'>268</a>.</span></p>

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div>INDEXES.</div>
  </div>
</div>

<p class='c000'><span class='sc'>Topical Index, <a href='#Page_273'>273</a>. Scriptural Index, <a href='#Page_301'>301</a>.</span></p>

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div>SUPPLEMENT.</div>
    <div class='c004'>COMMENTS OF SPECIALISTS.</div>
  </div>
</div>

<p class='c000'><span class='sc'>From the Rev. Dr. Marcus Jastrow, <a href='#Page_307'>307</a>. From Professor
Dr. Herman V. Hilprecht, <a href='#Page_309'>309</a>. From Professor Dr. Fritz
Hommel, <a href='#Page_313'>313</a>. From Professor Dr. A.H. Sayce, <a href='#Page_314'>314</a>. From Professor
Dr. W. Max Müller, <a href='#Page_315'>315</a>. From Professor Dr. C.P.
Tiele, <a href='#Page_317'>317</a>. From Professor Dr. E. Washburn Hopkins, <a href='#Page_318'>318</a>.
From the Rev. Dr. William Elliot Griffis, <a href='#Page_319'>319</a>. From Professor
Dr. John P. Mahaffy, <a href='#Page_324'>324</a>. From Professor Dr. William
A. Lamberton, <a href='#Page_326'>326</a>. From Professor Dr. Daniel G. Brinton,
<a href='#Page_328'>328</a>. From the Rev. Dr. Edward T. Bartlett, <a href='#Page_329'>329</a>. From Professor
Dr. T.K. Cheyne, <a href='#Page_330'>330</a>. Additional from Professor Dr.
Fritz Hommel, <a href='#Page_333'>333</a>.</span></p>

<div class='pbb'></div>
<hr class='pb c001' />

<div class='nf-center-c1'>
  <div class='nf-center'>
    <div><span class='xlarge'>THE THRESHOLD COVENANT.</span></div>
  </div>
</div>

@code {

}
