<div class='chapter'>
  <span class='pageno' title='165' id='Page_165'></span>
  <h2 class='c005'>III. <br /> SACRED BOUNDARY LINE.</h2>
</div>

<h3 class='c010'>1.  FROM TEMPLE TO DOMAIN.</h3>

<p class='c011'>
  Man’s first dwelling-place was the cave, or the tent,
  or the hut, in which he made a home with his family.
  The threshold and hearth of that dwelling-place was
  the boundary of his earthly possessions. It was the
  sacred border or limit of the portion of the earth’s surface
  over which he claimed control, and where he and
  his were under the special protection of the deity with
  whom he was in covenant. Therefore the threshold
  hearth was hallowed as a place of covenant worship.
</p>

<p class='c000'>
  As families were formed into tribes and communities,
  they came to have a common ruler or priest, and
  his dwelling-place was counted by all as the common
  center of covenant with their common deity; and
  when they would worship that deity there, they worshiped
  at the threshold altar of his sanctuary. So it
  was that the threshold was the place of the hearth-fire
  and altar, in both house and temple.
</p>

<p class='c000'>
  <span class='pageno' title='166' id='Page_166'></span>When man acquired property rights beyond his
  dwelling-place, and communities and peoples gained
  control over portions of country more or less extensive,
  the boundary limits of their possessions were
  extended, but were no less real and positive than
  before. The protecting deity of the region thus
  bounded was recognized as having sway in that domain;
  and those who were dwellers there were in
  covenant relations with him. Therefore it was that
  the boundary line of such domain was deemed its
  threshold, and as such was held sacred as a place
  of worship and of sacrifice.
</p>

<h3 class='c010'>2.  LOCAL LANDMARKS.</h3>

<p class='c011'>
  A private landmark was a sacred boundary, and
  was a threshold altar for its possessor. To remove
  or to disregard such a local threshold, was an offense
  not only against its owner, but against the deity in
  whose name it had been set up.
</p>

<p class='c000'>
  Among the earliest remains from unearthed Babylonia
  are local landmarks, or threshold boundary
  stones, inscribed, severally, with a dedication and an
  appeal to the deity honored by him who erected the
  stone. These local landmarks were ordinarily in the
  form of a phallus; as phallic forms were numerous
  under Babylonian temple thresholds. Among the
  <span class='pageno' title='167' id='Page_167'></span>records of those peoples are writings, showing the
  importance attached to such threshold stones, in
  the contracts accompanying their setting up, and in
  the sacred ceremonies on that occasion.
</p>

<p class='c000'>
  Illustrations of the importance attached by the
  ancient Babylonians to a boundary stone, or threshold
  landmark, are found in the records of the imprecations
  inscribed on these phallic pillars, as directed
  against the violator of their sacredness.<a id='r471' /><a href='#f471' class='c012'><sup>[471]</sup></a> For example,
  a Babylonian, Sir-usur [“O snake-god protect”], a
  descendant of the house of Habban, presented a valuable
  tract of land to his daughter on her betrothal to
  Tâbashâp-Marduk. The withering curse inscribed on
  the conventional boundary-stone pillar is as follows:
</p>

<p class='c000'>
  “For all future time: Whosoever, of the brothers,
  sons, family, relatives, descendants, servants purchased
  or house-born, of the house of Habban, be he a prefect,
  or an overseer, or anybody else, shall rise and stand
  up to take this field away, or to remove this boundary
  stone, and causes this field to be presented to a god,
  or sends some one to take it away [for the state],
  or brings it into his own possession; who changes the
  area, the limit, or the boundary stone, divides it into
  pieces, or takes a piece from it, saying, ‘The field
  <span class='pageno' title='168' id='Page_168'></span>and <em>mulugi</em><a id='r472' /><a href='#f472' class='c012'><sup>[472]</sup></a> have not been presented;’ or who on
  account of the dire curse [written] on this boundary
  stone, sends a fool, a deaf man, a blind man, a reckless
  man, an enemy, an alien, an ignorant man, and causes
  this inscribed stone to be removed, throws it into the
  water, hides it in the earth, crushes it with a stone,
  burns it with fire, effaces it and writes something else
  on it, or puts it into a place where nobody can see it,–upon
  this man may the great gods Anu, Bêl, Ea,
  and Nusku, look wrathfully, uproot his foundation,
  and destroy his offspring. May Marduk, the great
  lord, cause him to carry dropsy as an ever-entangling
  net; may Shamash the judge, greatest of heaven and
  earth, decide all his lawsuits, standing relentlessly
  against him; may Sin, the light dwelling in the brilliant
  heavens, cover him with leprosy as a garment;
  like a wild ass may he lie down at the wall surrounding
  his city; may Ishtar, mistress of heaven and earth,
  lead him into evil daily before the god and the king;
  may Ninib, born in the temple Ekura, the sublime
  son of Bêl, uproot his area, his limit, and his boundary
  stone; may Gula, the great physician, consort of
  the god Ninib, put never-ceasing poison into his body
  till he urinates blood and pus like water; may Rammân,
  first of heaven and earth, the strong son of the
  god Anu, inundate his field, and destroy the corn,
  <span class='pageno' title='169' id='Page_169'></span>that thorns may shoot up, and may his feet tread
  down vegetation and pasturage; may Nabû, the sublime
  messenger, bring want and famine upon him,
  and whatsoever he desires for the hole of his mouth
  may he not obtain; and may the great gods, as many
  names as are mentioned on this inscribed stone, curse
  him with a dire curse that cannot be removed, and
  destroy his seed for ever and ever.”<a id='r473' /><a href='#f473' class='c012'><sup>[473]</sup></a>
</p>

<p class='c000'>
  Prominence is given, in the ancient laws of India, to
  the manner in which disputed boundaries between
  villages, and between land owners, shall be settled;
  and it is made evident that a peculiar sacredness
  attaches to these landmarks. The king was to decide
  the dispute, after hearing testimony and examining
  evidence. Trees, and mounds, or heaps of earth,
  were preferred as landmarks; and tanks, wells, cisterns,
  and fountains, as also temples, were desired on
  boundary lines.<a id='r474' /><a href='#f474' class='c012'><sup>[474]</sup></a>
</p>

<p class='c000'>
  Emphasis was laid on the sacredness of the local
  landmark, in the laws of the Hebrews; and a curse
  was pronounced against him who dared remove this
  threshold altar. “Thou shalt not remove thy neighbor’s
  <span class='pageno' title='170' id='Page_170'></span>landmark, which they of old time have set, in
  thine inheritance which thou shalt inherit, in the land
  that the Lord thy God giveth thee,” was an injunction
  in the fundamental law of the Promised Land.<a id='r475' /><a href='#f475' class='c012'><sup>[475]</sup></a>
  And it passed into a proverb of duty: “Remove not
  the ancient landmark, which thy fathers have set.”<a id='r476' /><a href='#f476' class='c012'><sup>[476]</sup></a>
  It was a reproach to a people that there were those
  among them who would “remove the landmarks”
  and disregard sacred property rights.<a id='r477' /><a href='#f477' class='c012'><sup>[477]</sup></a> And among
  the curses which were to be spoken from the summit
  of Ebal, when Israel took possession of Canaan,
  was this: “Cursed be he that removeth his neighbor’s
  landmark. And,” it was added, “all the people shall
  say, Amen.”<a id='r478' /><a href='#f478' class='c012'><sup>[478]</sup></a>
</p>

<p class='c000'>
  Abraham and Abimelech found that their followers
  were quarreling over the boundary line between their
  respective domains on the borders of the Negeb.
  Abraham claimed the well at Beer-sheba as his by
  right, but the servants of Abimelech forcibly took possession
  of it. So the two chieftains met and agreed
  upon a border line, and made a covenant with accompanying
  sacrifices. “And Abraham planted a
  tamarisk tree in Beer-sheba” as his border landmark,
  “and called there on the name of the Lord, the Everlasting
  God.”<a id='r479' /><a href='#f479' class='c012'><sup>[479]</sup></a> Border landmarks were in the form
  <span class='pageno' title='171' id='Page_171'></span>of a pillar, a tree, a heap, or a stele, in Oriental countries
  generally.
</p>

<p class='c000'>
  When Jacob and Laban agreed to part in peace
  after their stormy meeting in Gilead, they set up a
  heap of stones and a stone pillar as a monument of
  witness of their mutual covenant, and as a landmark
  of their agreed territorial boundary. This memorial
  of their covenant was called “Galeed,” or “Witness
  Heap,” and “Mizpah,” or “Watch Tower.” “And
  Laban said to Jacob, Behold this heap, and behold the
  pillar, which I have set betwixt me and thee. This
  heap be witness, and the pillar be witness, that I will not
  pass over this heap to thee, and that thou shalt not pass
  over this heap and this pillar unto me, for harm. The
  God of Abraham, and the God of Nahor, the God [or,
  gods] of their father, judge betwixt us.”<a id='r480' /><a href='#f480' class='c012'><sup>[480]</sup></a> The new
  boundary mark was a token of a sacred covenant.
</p>

<p class='c000'>
  In classic literature and customs the sacred boundary
  landmark is prominent as devoted to, or as representing,
  various deities, at different times. Zeus and
  Hermes among the Greeks; Jupiter, Mercury, Silvanus,
  and Terminus, among the Romans, are sometimes
  interchangeably referred to in this connection.
  The legends and symbols employed seem to indicate
  that life and its transmission took their start at the
  threshold boundary, and therefore a pillar or a phallus
  <span class='pageno' title='172' id='Page_172'></span>marked every new beginning along a road or at a
  territorial boundary.
</p>

<p class='c000'>
  An image of Zeus, or Jupiter, was sometimes employed
  as a boundary landmark, and an image of
  Hermes, or Mercury, was at the starting-point of a
  road, and again at various points along the road.
  Zeus, or Jupiter, was chief of gods as the arbiter of
  life. Hermes, or Mercury, was earliest known as the
  fertilizing god of earth, and hence was the promoter
  of all forms of life, as guardian of flocks, fish, fields,
  and fruits. He also guarded those who went out
  from the threshold. Sacrifices were offered to him by
  Athenian generals as they started on their expeditions.
  He was even spoken of as the inventor of sacrifices
  and the promoter of commerce and of enrichment.<a id='r481' /><a href='#f481' class='c012'><sup>[481]</sup></a>
</p>

<p class='c000'>
  Of Terminus, Ovid say: “When the night shall
  have passed away [and the threshold of a new day is
  to be crossed], let the god who by his landmark
  divides the fields be worshiped with the accustomed
  honors. Terminus,<a id='r482' /><a href='#f482' class='c012'><sup>[482]</sup></a> whether thou art a stone, or
  whether a stock sunk deep in the field by the ancients,
  <span class='pageno' title='173' id='Page_173'></span>yet even in this form thou dost possess divinity.”<a id='r483' /><a href='#f483' class='c012'><sup>[483]</sup></a>
  This symbol of Terminus was regularly “sprinkled
  with the blood of a slain lamb,” in recognition of its
  sacredness.
</p>

<p class='c000'>
  It is said that Numa, the second king of Rome, who
  was revered by the Romans as the author of their
  whole system of religious worship, directed that every
  one should mark the boundaries of his landed property
  by stones consecrated to Jupiter, and that yearly sacrifices
  should be offered at these boundary stones, at
  the festival of the Terminalia.<a id='r484' /><a href='#f484' class='c012'><sup>[484]</sup></a> At this festival the
  two owners of adjacent property crowned the statue
  or stone pillar with garlands, and raised a rude altar,
  on which they offered up corn, honeycombs, and
  wine, and sacrificed a lamb or a sucking pig, with
  accompanying praises to the god.<a id='r485' /><a href='#f485' class='c012'><sup>[485]</sup></a>
</p>

<p class='c000'>
  Silvanus also was a god of the boundary. He was
  represented by a tree grove, as Terminus was by a
  pillar, and offerings of fruit, grain, and milk, and of
  pigs, were made to him. When he would be guarded
  against as a source of evil in a home, the protectors
  of the inmates would perform certain ceremonies at
  the threshold of the house.
</p>

<p class='c000'>
  A tree, and sometimes a grove, was the sacred landmark
  <span class='pageno' title='174' id='Page_174'></span>of a village boundary in primitive lands. Such
  trees and groves are still to be found in Equatorial
  Africa. Describing some of these in Zinga and its
  vicinity, Stanley expresses surprise that they have so
  long remained untouched in “a country left to the
  haphazard care of patriarchal chiefs ignorant of written
  laws.”<a id='r486' /><a href='#f486' class='c012'><sup>[486]</sup></a> But reverence for a threshold landmark
  seems to be in the very nature of a primitive people,
  as truly as any primitive sentiment; and sentiment is
  in itself a dominant law.
</p>

<p class='c000'>
  At the boundary line between two villages in Samoa,
  in olden time, there were two stones said to have
  been two living beings. When any quarrel arose,
  those engaged in it were told, “Go and settle it at the
  stones;” and they went to those boundary line stones
  and fought out their contest.<a id='r487' /><a href='#f487' class='c012'><sup>[487]</sup></a>
</p>

<p class='c000'>
  Trees and stone pillars are still known as boundary
  landmarks between parishes and townships in Europe
  and America, as in Asia, Africa, and Polynesia in more
  primitive days; and their importance is recognized as
  peculiar, even if not always absolutely sacred. The
  annual custom of “beating the bounds” of a parish
  by the parish authorities survives in some parts of
  England to-day. A procession makes the circuit of
  the parish boundary, under the care of a “select
  vestryman,” or other parish official, halting at every
  <span class='pageno' title='175' id='Page_175'></span>landmark to identify it and carefully to observe its
  location.
</p>

<p class='c000'>
  In former times it was customary to take the boys
  of the parish on this round, and beat them at every
  landmark, in order to impress upon their memories its
  precise position. More recently the boys are permitted
  to carry willow wands peeled white, and with
  these to beat the landmarks. The later plan is certainly
  more satisfactory to the boys, and it is quite as
  likely to impress their memories. Formerly this ceremony
  was accompanied by religious services, in which
  the clergyman invoked curses on him who “transgresseth
  the bounds and doles of his neighbor,” and
  blessings on him who regarded the landmarks.<a id='r488' /><a href='#f488' class='c012'><sup>[488]</sup></a>
</p>

<p class='c000'>
  It has been suggested that this fixing and honoring
  of the landmarks by an annual festival goes back to
  the Roman Terminalia, in the days of Numa, but
  there is reason to believe that it was far earlier than
  that. There are traces of it in primitive times, among
  various primitive peoples.
</p>

<p class='c000'>
  In Russia, the Cossacks long had a custom somewhat
  like this, in the case of a disputed boundary
  line. When the boundary had been formally determined,
  all the boys of the two contiguous stanitsas, or
  land divisions, were collected, and driven by the people
  <span class='pageno' title='176' id='Page_176'></span>along the frontier line. “At each landmark a number
  of boys were soundly whipped and allowed to run
  home,” in order that in later years they might be able
  to testify as to the spot where that landmark stood.
  In cases where the boys’ memory failed to be accurate,
  an arbiter was chosen from the older inhabitants, and
  sworn to act honestly to the best of his knowledge;
  and his decision was accepted as final.<a id='r489' /><a href='#f489' class='c012'><sup>[489]</sup></a>
</p>

<p class='c000'>
  A similar custom of beating the bounds under a
  “selectman” of the town has existed in portions of
  New England until recently, and perhaps it has not
  yet died out there. Thus Ralph Waldo Emerson
  speaks of the selectmen of Concord perambulating
  the bounds of its township “once in five years,” up to
  1858.<a id='r490' /><a href='#f490' class='c012'><sup>[490]</sup></a> Is there not a survival of this old custom in
  the habit of striking a child on his birthday as many
  blows as he has passed years, when he comes to the
  threshold of another year of his life?
</p>

<p class='c000'>
  Mile-posts would seem to have been originally
  landmarks separating the public way from private
  lands, being placed at regular distances along the road
  for convenience of measurement and locating. They
  marked the threshold of the “king’s highway” to and
  from his capital in the Roman empire, as trees marked
  the border-lines of the principal roads in Greece.
</p>

<div>
  <span class='pageno' title='177' id='Page_177'></span>
  <h3 class='c010'>3. NATIONAL BORDERS.</h3>
</div>

<p class='c011'>
  Stone pillars marking the exact boundaries of states
  or nations, whether settled by a joint commission or
  by a conqueror’s fiat, are not a modern invention,
  although they are in use to-day. They are of old
  time, and of primitive ages. And these boundaries
  of a country are by their very nature its thresholds.
</p>

<p class='c000'>
  In Babylonia, the name of Nebuchadrezzar meant
  literally, “Nebo protect the boundary!” The threshold
  of the empire was sacred; and the deity, with
  whom the Babylonian king was in covenant, was the
  protector of that boundary, and of those who dwelt
  within it. From the earliest times onward an Oriental
  sovereign would set up a pillar, or pillars, or
  stele, at the extreme limits of his newly extended
  dominion, as the outer threshold or doorway of his
  empire.
</p>

<p class='c000'>
  From Tiglath-Pileser I. to Esarhaddon, from about
  1100 B.C. to 669 B.C., the great Assyrian kings tell
  us, in their inscriptions, that whenever they restored
  an old boundary of their predecessors that had been
  lost to them, or extended their boundary beyond its
  former limits, they had set up a large stele bearing their
  image at this threshold of their empire.<a id='r491' /><a href='#f491' class='c012'><sup>[491]</sup></a> Frequently
  <span class='pageno' title='178' id='Page_178'></span>these stele doorways,<a id='r492' /><a href='#f492' class='c012'><sup>[492]</sup></a> with the king represented on
  the threshold, had inscriptions on them giving the
  story of the new conquests, with an ascription of
  honor to the covenant god by whose power they had
  been wrought. Prominent mountain peaks, sources
  of rivers, the temples or market-places of conquered
  cities, the banks of lakes, or the shores of the sea, are
  chosen as conspicuous places for such steles. National
  boundary marks of this character are still to be
  seen on the rocks of Nahr-el-Kelb, above Beyroot, on
  the shores of the Mediterranean, and at the sources of
  the Tigris and the Euphrates.<a id='r493' /><a href='#f493' class='c012'><sup>[493]</sup></a>
</p>

<p class='c000'>
  Ashurnâsirapli (king of Assyria, 885–860 B.C.) tells
  of such a new boundary mark set up by him at the
  farthest point of his conquests, “whither nobody of
  my royal ancestors had advanced.... At that time
  I made a picture [a stele] of my person. The glory
  of my power I wrote upon it. On the mountain Eki,
  in the city Ashurnâsirapli [named after the king], at a
  spring I set it up.”<a id='r494' /><a href='#f494' class='c012'><sup>[494]</sup></a>
</p>

<p class='c000'>
  A similar custom would seem to have prevailed
  with the rulers of ancient Egypt. Sneferu, a king of
  the fourth dynasty, greatest among the very early
  names of the Old Empire (say, about 4000 B.C.), went
  <span class='pageno' title='179' id='Page_179'></span>down as a conqueror into the Peninsula of Sinai, and
  left there inscribed a mammoth figure of himself, on
  the granite hills above the famous copper and turquoise
  mines of Wady Magharah. He is styled in
  the accompanying inscription the “vanquisher of a
  foreign people.”<a id='r495' /><a href='#f495' class='c012'><sup>[495]</sup></a>
</p>

<p class='c000'>
  As early as the twelfth dynasty of ancient Egypt,
  before the days of Abraham, stone thresholds marked
  the upper border of that mighty empire. “Two huge
  pillars of stone, covered with long inscriptions, served
  formerly as boundary marks between the Egyptian
  empire and the negro-land called Heh.”<a id='r496' /><a href='#f496' class='c012'><sup>[496]</sup></a> King Usurtasen
  III., who set up these landmarks, says in an
  inscription on the second of them: “Every one of my
  sons who maintains this boundary which I have fixed,
  he shall be called my son who was born of me. My
  son is like the protector of his father (that is Horus),
  like the preserver of the boundary of his father (that
  is Osiris.) But if he abandons it, so that he does not
  fight upon it, he is not my son, he is not then born
  of me. I have caused my own image to be set up,
  on this boundary which I have fixed, not that ye
  may (only) worship it (the image of the founder), but
  that ye may fight upon it.”
</p>

<p class='c000'>
  <span class='pageno' title='180' id='Page_180'></span>On the oldest map in the world, a map of the gold
  districts in Nubia, in the nineteenth dynasty of Egypt,
  there is a mention of the “memorial stone of King
  Mineptah I. Seti I.” And that memorial stone, of
  this new threshold of domain, marked the boundary
  line of empire in that direction.<a id='r497' /><a href='#f497' class='c012'><sup>[497]</sup></a>
</p>

<p class='c000'>
  Rameses II. had it recorded on the walls of the
  rock grotto of Bayt-el-Walli concerning his threshold
  extensions: “The deeds of victory are inscribed a
  hundred thousand times on the glorious Persea. As
  the chastiser of the foreigners, <em>
    who has placed his
    boundary-marks according to his pleasure
  </em> in the land
  of the Ruthennu, he is in truth the son of Ra, and his
  very image.”<a id='r498' /><a href='#f498' class='c012'><sup>[498]</sup></a>
</p>

<p class='c000'>
  On the eastern border of Lower Egypt, the main
  passage way from the Delta into Arabia, the great
  gateway of the empire toward the north and the east,
  is still known as <em>El Gisr</em>, or “The Threshold.”<a id='r499' /><a href='#f499' class='c012'><sup>[499]</sup></a>
  This point is near Lake Timsah, on the line of the
  modern Suez Canal.
</p>

<p class='c000'>
  In ancient Greece, Theseus “set up a pillar,” as a
  threshold stone between Peloponnesus and Attica,–then
  called Ionia,–“writing upon it an epigram in two
  trimeters, bounding the land. Of these [inscriptions]
  the one toward the east side said, ‘This is not Pelopennesus,
  <span class='pageno' title='181' id='Page_181'></span>but Ionia,’ and that toward the west, ‘This
  is Pelopennesus, not Ionia.’”<a id='r500' /><a href='#f500' class='c012'><sup>[500]</sup></a>
</p>

<p class='c000'>
  Even the term, the “Pillars of Hercules,” as the
  boundaries of the Grecian empire and the then known
  world, is an indication of this idea in the classic age,
  as well as in the primitive mind. Calpë and Abyla
  were the door-posts of the great outer passage way,
  and the threshold between those pillars was founded
  upon the seas, and established upon the floods.<a id='r501' /><a href='#f501' class='c012'><sup>[501]</sup></a>
</p>

<p class='c000'>
  As showing that the term “threshold” is not
  applied to these boundary stones merely by accommodation,
  it is sufficient to quote from Justinian in
  the case. He declares specifically that “as the
  threshold makes a certain boundary in a house, so
  also the ancients designed that the boundary of the
  empire should be its threshold; hence it is called the
  ‘threshold,’ as if it were a certain bound and term.”<a id='r502' /><a href='#f502' class='c012'><sup>[502]</sup></a>
  Speaking of one who has been in foreign captivity,
  and who desires a resumption, or a restoration, of his
  civil rights, on his coming back to his country, Justinian
  says that such a return “is called <em><span lang="la" xml:lang="la">postliminium</span></em>
  [a recrossing of the threshold], because at that same
  threshold the thing which he has lost is restored to
  him.”<a id='r503' /><a href='#f503' class='c012'><sup>[503]</sup></a>
</p>

<p class='c000'>
  When the old Portuguese navigators started out on
  <span class='pageno' title='182' id='Page_182'></span>their voyages of discovery, they were accustomed to
  take with them stone pillars to set up in a prominent
  place at the farthest limits of their newly claimed territory
  as the national door-posts or threshold in that
  direction. Such a pillar was erected at the mouth of
  the Congo River, at the time of its discovery by Diego
  Cão, or Cam, in 1484–85. On this account, the river
  was known for a time as the “Rio de Padrão,” or
  “Pillar River.”<a id='r504' /><a href='#f504' class='c012'><sup>[504]</sup></a> It might, indeed, have been called
  the “River of the Threshold.”
</p>

<p class='c000'>
  This custom of setting up stone pillars as boundary
  marks along the borders of countries, nations, and
  states, has been continued down to the present day.
  Such landmarks are still to be seen along the borders
  of the great divisions of Europe, and they are on the
  lines of the several states of the United States of
  America. The line between the English grants in
  America, originally made to the Duke of York and
  to Lord Baltimore, was, after much dispute, run by
  two English surveyors, Charles Mason and Jeremiah
  Dixon, in 1763–67, and marked by stone pillars at
  intervals of five miles. This was generally known
  as “Mason and Dixon’s line;” it separated Pennsylvania
  from Delaware, Maryland, and Virginia, and
  was the dividing line between the free and the slave
  states before the Civil War of 1861–65. One of those
  <span class='pageno' title='183' id='Page_183'></span>early stone landmarks on that line is still to be seen
  near Oxford, in Chester County, Pennsylvania, as an
  illustration of a practice beginning in Babylonia as far
  back as 4000 B.C., and continued in America down
  to A.D. 1895.<a id='r505' /><a href='#f505' class='c012'><sup>[505]</sup></a>
</p>

<p class='c000'>
  European titles of rank bear traces of the importance
  formerly attached to national boundary lines and
  their preservation. The old German title of “markgraf,”
  the “graf” or count or warden of the marches,
  designated a representative or servant of the king who
  was in charge of the “marches,” or “marks,” or
  “border lines,” which guarded the thresholds of the
  empire in different directions. It was under “Henry
  the Fowler,” early in the tenth century, that this title,
  as a title, first gained prominence. Afterwards it became
  hereditary; “and hence have come the innumerable
  margraves, marquises, and such like of modern
  times.”<a id='r506' /><a href='#f506' class='c012'><sup>[506]</sup></a>
</p>

<p class='c000'>
  “Letters of marque” were letters of commission,
  or permission, granted by the government to individuals,
  in time of war, to pass over the boundary
  mark, or national threshold, for purposes of seizure or
  reprisal. And a “marquee” is primarily a tent over,
  or before, the threshold of a military commander’s
  tent.
</p>

<div>
  <span class='pageno' title='184' id='Page_184'></span>
  <h3 class='c010'>4. BORDER SACRIFICES.</h3>
</div>

<p class='c011'>
  An altar would have no meaning unless sacrifices
  were offered at it. If, therefore, the boundary threshold
  of an empire were an altar for that empire, sacrifices
  would surely be offered there; and the records
  of history, and the customs of old times and later,
  show this to have been the case.
</p>

<p class='c000'>
  Sacrifices were offered at the new boundary of an
  empire, by ancient Assyrian and Egyptian kings,
  when they set up a pillar, or stele, at the freshly acquired
  threshold in that direction. Thus, for example,
  Ashurnâsirapli (king of Assyria, 885–860 B.C.), telling
  of his far-reaching conquests, says that he marched
  with his armies to the slopes of the Lebanon, and to
  the great sea of the Westland, and that at the mountains
  of Ammanus he made and set up a stele of
  victory, and offered sacrifices unto his gods.<a id='r507' /><a href='#f507' class='c012'><sup>[507]</sup></a>
</p>

<p class='c000'>
  At the Egyptian boundary line in the Sinaitic
  Peninsula, there was a temple with its sacrifices to
  “the sublime Hathor, queen of heaven and earth and
  the dark depths below, whom the Egyptians worshiped
  as the protectress of the land of Mafkat.”
  There were other temples with their sacrifices at that
  point.<a id='r508' /><a href='#f508' class='c012'><sup>[508]</sup></a> On the southern boundary of Egypt, in the
  <span class='pageno' title='185' id='Page_185'></span>gold district of Nubia, there was “the temple of Amon
  in the holy mountain,” where threshold sacrifices were
  offered.<a id='r509' /><a href='#f509' class='c012'><sup>[509]</sup></a>
</p>

<p class='c000'>
  One of the most ancient of Chinese classics is the
  Shih King. Its age is not known, but it is certain
  that it was a classic in the days of Confucius, five
  centuries before the Christian era. This work contains
  frequent references to sacrifices at the border
  altars, or the altars of the boundary. There were
  public sacrifices at the “border altar” in the beginning
  of every new year; and again when a ruler
  crossed his border line on a warlike mission.<a id='r510' /><a href='#f510' class='c012'><sup>[510]</sup></a>
</p>

<p class='c000'>
  When, in ancient times, a Chinese emperor passed
  over the outer threshold of his empire, he offered a
  sacrifice of a dog, by running over it with the wheels
  of his chariot. This is supposed to have been a propitiatory
  offering to the dog-shaped guardians of the
  roadway threshold, known also among the Indo-Aryans
  and the Assyro-Babylonians.<a id='r511' /><a href='#f511' class='c012'><sup>[511]</sup></a>
</p>

<p class='c000'>
  From what is known of modern customs in this line,
  and from occasional historical references to the matter,
  it would seem that where there were no gateways, or
  double columns to stand for door-posts, or doorway
  <span class='pageno' title='186' id='Page_186'></span>stele, it was the practice to divide or separate the
  animals offered in sacrifice, so as to make a passage-way
  between them, as through a door or gate, and
  to pour out the blood of the victims on the earth
  between the two portions, so that the offerer, or the
  one welcomed, might pass over, or step across, that
  blood, as in a threshold covenant.
</p>

<p class='c000'>
  It has already been noted that when General Grant
  came to the border line of Assioot, in Upper Egypt,
  as he landed from his Nile boat, a bullock was sacrificed
  in covenant welcome, its head being put on one
  side of the gang-plank, and its body on the other;
  while its blood was between the two, so that it should
  be stepped over in the act of landing.<a id='r512' /><a href='#f512' class='c012'><sup>[512]</sup></a> And every
  year, when the great Hajj procession returns from
  Meccah to Syria, it is welcomed, as it approaches
  Damascus, by just such sacrifices as this. Sheep and
  oxen are sacrificed before the caravan, their blood
  being poured out in the middle of the road, and their
  bodies being divided and placed on either side of the
  way. Then those who approach by this “new and
  living way,”<a id='r513' /><a href='#f513' class='c012'><sup>[513]</sup></a> on the boundary line of their country,
  renew their covenant with those within, by passing
  over the blood.<a id='r514' /><a href='#f514' class='c012'><sup>[514]</sup></a>
</p>

<p class='c000'>
  There seems to be a reference to such a mode of
  <span class='pageno' title='187' id='Page_187'></span>boundary sacrifices, in the description of the Lord’s
  covenant welcome to Abraham, on the border of the
  land promised to him for a possession.<a id='r515' /><a href='#f515' class='c012'><sup>[515]</sup></a> Abraham
  was near the southern boundary of Canaan. He had
  the promise of the Lord, that he and his seed should
  possess that land; but as yet he was childless, and he
  had no control over any portion of the land. He
  naturally desired some tangible assurance, in accordance
  with the customs of mankind, that the Lord’s
  promises to him would be made good. Therefore
  when the Lord said to him, “I am the Lord that
  brought thee out of Ur of the Chaldees, to give thee
  this land to inherit it,” Abraham replied with the
  question, “O Lord God, whereby shall I know that I
  shall inherit it?”
</p>

<p class='c000'>
  Then the Lord responded with these directions,
  apparently in accordance with a well-known mode of
  covenanting among men: “Take me an heifer of three
  years old, and a she-goat of three years old, and a ram
  of three years old, and a turtledove, and a young
  pigeon.” Abraham seems to have understood what
  was to be done with these victims for sacrifice. “And
  he took him all these, and divided them in the midst,
  and laid each half over against the other: but the
  birds divided he not.” The blood of the victims was
  doubtless poured out on the earth where they were
  <span class='pageno' title='188' id='Page_188'></span>sacrificed, midway between the places of the divided
  portions, as is the present custom.
</p>

<p class='c000'>
  “And it came to pass, that, when the sun went down,
  and it was dark, behold a smoking furnace [or brazier,
  or censer], and a flaming torch [a fire and a light as a
  symbol of the Divine presence] that passed [covenant-crossed
  the blood on the threshold] between these
  pieces.” And the record adds: “In that day the
  Lord made a covenant [a border-altar covenant] with
  Abram, saying, Unto thy seed have I given this land,
  from the river of Egypt unto the great river, the river
  Euphrates: the Kenite, and the Kenizzite, and the
  Kadmonite, and the Hittite, and the Perizzite, and the
  Rephaim, and the Amorite, and the Canaanite, and
  the Girgashite, and the Jebusite.”
</p>

<p class='c000'>
  Thus Abram was assured that the Lord had covenanted
  to protect his boundaries; as Nebuchadrezzar
  long afterward desired that his god Nebo would protect
  his empire boundary or threshold. As to the
  fact of boundary sacrifices in these lands and elsewhere,
  in those days and earlier, there would seem to
  be no room for question.
</p>

<p class='c000'>
  It is not to be expected that border sacrifices would
  at all times, and in all places, be just alike; but a
  common primitive symbolism would be likely to show
  itself in them all. In Persia, these sacrifices are still
  common, when one is to be received with honors at
  <span class='pageno' title='189' id='Page_189'></span>the border of a new territory or jurisdiction.<a id='r516' /><a href='#f516' class='c012'><sup>[516]</sup></a> Morier,
  describing his journey through Persia, in the early
  part of this century, speaks of the first entrance of a
  new ruler into the territory he was to govern. “The
  khan, with all his attendants, accompanied us about
  two miles. He was preparing to enter Bushire, his
  new government, with all splendor. From the town
  to the swamps [from the territorial border to the border
  of the capital] were erected stages on which bullocks
  were to be sacrificed, and from which their
  heads were to be thrown under his horse’s feet as he
  advanced; a ceremony, indeed, appropriated to princes
  alone, and to them only on particular occasions.”<a id='r517' /><a href='#f517' class='c012'><sup>[517]</sup></a>
</p>

<p class='c000'>
  On another occasion, when the British envoy approached
  Kauzeroon, on a visit of ceremony, he was
  welcomed at the threshold of the town by a corresponding
  ceremony. “A bottle which contained
  sugar candy was broken under the feet of the envoy’s
  horse, a ceremony never practiced in Persia to any
  but to royal personages.”<a id='r518' /><a href='#f518' class='c012'><sup>[518]</sup></a>
</p>

<p class='c000'>
  <span class='pageno' title='190' id='Page_190'></span>the gates “oxen and sheep in great numbers were
  sacrificed just as he passed, and their heads thrown
  under his horse’s feet.” And “glass vases filled with
  sugar were broken before him.” On this occasion the
  Shah frequently looked at a watch, “anxious that he
  should enter the gates exactly at the time prescribed
  by the astrologers” for his crossing the threshold.<a id='r519' /><a href='#f519' class='c012'><sup>[519]</sup></a>
</p>

<p class='c000'>
  More recently, Layard has testified to the prevalence
  of such customs. Speaking of his reception
  among the Yezidis, he tells of his approach to the village
  of Guzelder, and of his welcome there: “The
  head of the village of Guzelder, with the principal
  inhabitants, had come to invite me to eat bread in his
  house, and we followed him.... Before we reached
  Guzelder, the procession had swollen to many hundreds....
  As I approached, sheep were brought into
  the road and slain before my horse’s feet, and as we
  entered the yard of Akko’s house the women and men
  joined in the loud and piercing ‘<em>tahlel</em>.’”<a id='r520' /><a href='#f520' class='c012'><sup>[520]</sup></a>
</p>

<p class='c000'>
  Again, as Layard entered the village of Redwan,
  he was similarly welcomed. “I alighted,” he says,
  “amidst the din of music and the ‘<em>tahlel</em>’ at the
  house of Nazi, the chief of the whole Yezidi district;
  two sheep being slain before me as I took my feet
  from the stirrups.”<a id='r521' /><a href='#f521' class='c012'><sup>[521]</sup></a>
</p>

<p class='c000'>
  <span class='pageno' title='191' id='Page_191'></span>When, some twenty years ago, a European prince
  visited the Mt. Lebanon region,<a id='r522' /><a href='#f522' class='c012'><sup>[522]</sup></a> a generous host
  killed a valuable cow on the road by which the prince
  must come into his region. Then the royal visitor
  and his retinue were requested to step over, not upon,
  the blood of the slaughtered cow, at the threshold of
  that host’s domain.
</p>

<p class='c000'>
  On the occasion of a caravan starting out from the
  boundary line of a country in the East, there are border
  sacrifices offered, even in recent times. Thus
  Burckhardt tells of this ceremony, when he went from
  Egypt to Nubia.
</p>

<p class='c000'>
  The various traders going with this caravan assembled
  at the starting-point, having their goods with
  them. “At noon the camels were watered, and knelt
  down by the side of their respective loads. Just
  before the lading commenced, the Ababde women
  appeared with earth vessels in their hands, filled with
  burning coals. They set them before the several
  loads, and threw salt upon them.” It has already
  been shown that salt stands for blood, in the minds of
  primitive peoples. “At the rising of the bluish flame
  produced by the burning of the salt, they exclaimed,
  ‘May you be blessed in going and in coming!’”<a id='r523' /><a href='#f523' class='c012'><sup>[523]</sup></a>
  <span class='pageno' title='192' id='Page_192'></span>And this sacrifice was supposed to secure safety
  against evil spirits encountered in crossing the boundary
  line.
</p>

<p class='c000'>
  Thus it would seem that, from the beginning, on
  the national threshold, as on the threshold of the
  temple and of the home, sacrifices were offered, and
  boundary marks were set up, in recognition of a peculiar
  sacredness of the border line,–which is in itself a
  foundation and a limit. These boundary marks were
  commonly a pillar or a tree, in apparent symbolism
  of a fructifying or a fruit-bearing agency, of the transmission
  or the continuance of life. And the establishment
  and protection of these boundary marks was
  deemed well pleasing to God or to the gods, and in
  the nature of a holy covenant service.
</p>

@code {

}
