<div class="card mt-1">

<div class="card-header"><h5 class="text-center">Shabbat References | Genesis 2:1-3</h5></div>

<div class="card-body">
	<h5 class="card-title">Genesis 2:1-3</h5>
	<blockquote>
		<p>
			<sup><b>1</b></sup>
			Thus the <i>hashshamayim</i> <span class="hebrew16">הַשָּׁמַיִם</span> <sup>heavens</sup> <i>vehaaretz</i> <span class="hebrew16">וְהָאָרֶץ</span> <sup>and the earth</sup>
			were finished, and all <i>tzevaam</i> <span class="hebrew16">צְבָאָם</span> <sup>the host</sup> of them.
		</p>
		<p>
			<sup><b>2</b></sup>
			And on <i>hashshevii</i> <span class="hebrew16">הַשְּׁבִיעִי</span> <sup>the seventh</sup> day <i>Elohim</i> <span class="hebrew16">אֱלֹהִים</span> <sup>God</sup>
			ended his work which he had made; <i>vaiyishbot</i> <span class="hebrew16">וַיִּשְׁבֹּת</span> <sup>and he rested</sup> on
			<i>hashshevii</i> <span class="hebrew16">הַשְּׁבִיעִי</span> <sup>the seventh</sup> day from all his work which he had made.
		</p>
		<p>
			<sup><b>3</b> </sup>
			And <i>Elohim</i> <span class="hebrew16">אֱלֹהִים</span> <sup>God</sup> <i>vayvarech</i> <span class="hebrew16">וַיְבָרֶךְ</span> <sup>blessed</sup>
			<i>hashshevii</i> <span class="hebrew16">הַשְּׁבִיעִי</span> <sup>the seventh</sup> day, <i>vaykadDesh</i> <span class="hebrew16">וַיְקַדֵּשׁ</span> <sup>and sanctified</sup> it:
				because that in it he had rested <span class="hebrew16">שָׁבַת</span> <mark><b><i>shavat</i></b></mark> from all his work which God created and made.
		</p>
		<small class="float-end"><i>Beresheeth</i> <span class="hebrew16">בְּרֵאשִׁית</span> <sup>Genesis </sup> 2:1-3</small>
	</blockquote>
</div>

</div>

@code {

}
