<div class="card mt-1">

	<div class="card-header">
		<h5 class="text-center">Yom Kippur References | Leviticus 23</h5>
		<p class="small mt-1 text-black-50 text-center">See also: Numbers 29:7-11</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Leviticus 23:26-32</h5>
		<blockquote>

			<p>
				<sup><b>26</b></sup>
				And <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew16">וַיְדַבֵּר</span> <sup>spake unto</sup>
				<i>Moseh</i> <span class="hebrew16">מֹשֶׁה</span> <sup>Moses</sup>, saying,
			</p>

			<p>
				<sup><b>27</b></sup>
				Also on <span class="text-danger fw-bold">the tenth day</span> of this <span class="text-danger fw-bold">seventh month</span>
				there shall be a 
				<mark><b><i><sup>Yom HaKippurim</sup></i></b></mark> <span class="hebrew16">יוֹם הַכִּפֻּרִים</span> <mark><b><sup>day of atonements:</sup></b></mark>
				it shall be an <i>kodesh</i> <span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew16">מִֽקְרָא־קֹדֶשׁ</span> <sup>convocations</sup>.
				unto you; and ye shall afflict your souls
				, and offer an offering made by fire unto the LORD.
			</p>

			<p>
				<sup><b>28</b></sup>
				And ye shall do no work in that same day: for it is a 
				<span class="hebrew16">יוֹם הַכִּפֻּרִים</span> <mark><b>day of atonements</b></mark>,
				to make an <mark><b><i><sup>kapar</sup></i></b></mark> <span class="hebrew16">לְכַפֵּר</span> <mark><b>atonement</b></mark> for you 
				before the LORD your God.
			</p>

			<p>
				<sup><b>29</b></sup>
				For whatsoever soul it be that shall not be afflicted in that same day
				, he shall be cut off from among his people.
			</p>

			<p>
				<sup><b>30</b></sup>
				And whatsoever soul it be that doeth any work in that same day
				, the same soul will I destroy from among his people.
			</p>

			<p>
				<sup><b>31</b></sup>
				Ye shall do no manner of work:
				it shall be a statute for ever throughout your generations in all your dwellings.
			</p>

			<p>
				<sup><b>32</b></sup>
				It shall be unto you a sabbath of rest, and ye shall afflict your souls:
				in the <span class="text-danger fw-bold">the ninth day</span> of the <span class="text-danger fw-bold">of the month at even</span>, from even unto even
				, shall ye celebrate your sabbath.
			</p>

			<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:26-32</small>
		</blockquote>

	</div>

</div>

@code {

}
