

<div class="card  border-warning mt-3">
	<div class="card-header">

		<div class="row">
			<div class="col-12">
				<div class="card-body d-flex justify-content-end">
					<ArchiveShowHideToggle CurrentShowOrHide=@CurrentShowTable OnToggleSelected="@ReturnedToggle" />
					
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card-body">

					<p>CurrentShowTable: @CurrentShowTable</p>

					@if (CurrentShowTable)
					{
						<p>ToDo: Show Archive Table</p>


						@if (InDepthStudyList is not null)
						{
							<p class="ms-5">InDepthStudyList is NOT null</p>
						}
						else
						{
							<p class="ms-5">InDepthStudyList IS null</p>
						}
					}

				</div>
			</div>
		</div>

	</div>
</div>


