@page "/InDepthStudy"

@using Blazored.Toast.Services
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using System.Threading.Tasks

@inject Data.IRepository? db
@inject LivingMessiah.Web.Features.UpcomingEvents.Weekly.ICacheService svc
@inject ILogger<CurrentInDepthStudyCard>? Logger
@inject IToastService? Toast


@using Page = LivingMessiah.Web.Links.IndepthStudy
<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<ItineraryCard />

@if (VM is not null)
{
	<ShowHideLastVideoComponent VM="VM" />
}
else
{
	<p>InDepthStudyQuery IS NULL</p>
}

<ArchiveTable ShowTable="false" />

@code {
	protected bool TurnSpinnerOff = false;
	public Data.InDepthStudyQuery? InDepthStudyQuery;  // vwCurrentWeeklyVideo? CurrentWeeklyVideo;
	public CurrentVideoVM? VM;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			Logger!.LogDebug("{Class}!{Method}", nameof(CurrentInDepthStudyCard), nameof(OnInitializedAsync));
			InDepthStudyQuery = await db!.GetIndepth()!;

			if (InDepthStudyQuery == null)
			{
				Toast!.ShowWarning($"{nameof(InDepthStudyQuery)} NOT FOUND");
			}
			else
			{
				VM = new CurrentVideoVM();
				VM.Date = InDepthStudyQuery.ShabbatDate.ToString(DateFormat.ddd_mm_dd);
				VM.Title = InDepthStudyQuery.Title;
				VM.GraphicFile = InDepthStudyQuery.GraphicFile ?? Blobs.DefaultImage();
				VM.Category = InDepthStudyQuery.Category;
				VM.SubCategory = InDepthStudyQuery.SubCategory;
				VM.YouTubeUrl = InDepthStudyQuery.YouTubeUrl;
				VM.BookChapterLabel = $"{InDepthStudyQuery.BookTitle} {InDepthStudyQuery.Chapter}";
				VM.BiblicalUrlReference = InDepthStudyQuery.BiblicalUrlReference;
			}
		}
		catch (System.Exception ex)
		{
			Logger!.LogError(ex, "{Class}!{Method}; {Command}", nameof(CurrentInDepthStudyCard), nameof(OnInitializedAsync), nameof(db.GetIndepth));
			Toast!.ShowError("An invalid operation occurred reading database, contact your administrator");
		}
		finally
		{
			TurnSpinnerOff = true;
		}
	}
}
