@using FeastDayType = LivingMessiah.Web.Features.Calendar.Enums.FeastDay
@using LivingMessiah.Web.Infrastructure
@using Microsoft.Extensions.Logging;

@inject Data.IService? svc

<span class="badge @vm!.BadgeColor text-dark fw-bold fs-6">@vm!.DaysDifferentFormat</span> @vm!.SuffixDescription


@code {
	[Parameter, EditorRequired] public FeastDayType? FeastDayType { get; set; }

	HeaderServiceModel? vm = new();
	protected override void OnParametersSet()
	{
		vm = svc!.GetHeaderServiceModel(FeastDayType!);
	}

}
