@using FeastDayType = LivingMessiah.Web.Features.Calendar.Enums.FeastDay
@using LivingMessiah.Web.Infrastructure
@using Microsoft.Extensions.Logging

@inject ILogger<HeaderXsSm>? Logger

<div class="d-print-none mb-2">

	<div class="row mt-3  gx-1">
		<div class="col-3 text-center mt-2">

			<PrevNextXsSmButtons CurrentFilter="CurrentFilter"
													 OnFilterSelected="ReturnedGrandChildFilter" 
													 IsPrev=true />
		</div>

		<div class="col-6 text-center">
			<div class="card bg-primary text-white">
				<div class="card-body">

					<h4 class=""><b>@CurrentFilter!.PlannerTitle</b> </h4>
					<DaysIndicatorBadgeXsSm FeastDayType="CurrentFilter" />

				</div>
			</div>
		</div>

		<div class="col-3 text-center mt-2">

			<PrevNextXsSmButtons CurrentFilter="CurrentFilter"
													 OnFilterSelected="ReturnedGrandChildFilter"
													 IsPrev=false />

		</div>
	</div>

</div>


@code {
	[Parameter, EditorRequired] public required FeastDayType? CurrentFilter { get; set; }
	[Parameter, EditorRequired] public EventCallback<FeastDayType> OnFilterSelected { get; set; }

	/*
	See "C:\Source\LivingMessiahWiki\Blazor\Blazor-PrevNext\FilterPrevNextButtons.md"
	*/
	private void ReturnedGrandChildFilter(FeastDayType filter)
	{
		Logger!.LogDebug("...inside {Class}!{Method}; filter: {Filter}"
			, nameof(HeaderXsSm), nameof(ReturnedGrandChildFilter), filter);
		OnFilterSelected.InvokeAsync(filter);
	}

}
