@using LivingMessiah.Web.Infrastructure
@using FeastDayType = LivingMessiah.Web.Features.Calendar.Enums.FeastDay

@inject Data.IService? svc

<div class="row mt-3">
	<div class="col-3">
		<p class="mt-3 text-center fw-bold">@vm!.GregorianDate</p>
	</div>

	<div class="col-6 text-center">
		<div class="card bg-primary text-white">
			<div class="card-body">
				<h4><i class="@FeastDayType!.Icon"></i> <b>@FeastDayType!.PlannerTitle</b> <span class="hebrew"> @FeastDayType!.Hebrew</span> </h4>
				<span class="badge @vm.BadgeColor text-dark fw-bold fs-6">@vm!.DaysDifferentFormat</span> @vm!.SuffixDescription
			</div>
		</div>
		
	</div>

	<div class="col-3">
		<p class="mt-3 text-center fw-bold">@vm.HebrewDate</p>
	</div>

</div>


@code {

	[Parameter, EditorRequired] public FeastDayType? FeastDayType { get; set; }

	HeaderServiceModel? vm = new();
	protected override void OnParametersSet()
	{
		vm = svc!.GetHeaderServiceModel(FeastDayType!);
	}

}
