@using FeastDayType = LivingMessiah.Web.Features.Calendar.Enums.FeastDay
@using LivingMessiah.Web.Infrastructure


<div class="d-print-none mb-2">

	<div class="row mt-3  gx-1">
		<div class="col-3 text-center mt-2">

			Prev

		</div>

		<div class="col-6 text-center">
			<div class="card bg-primary text-white">
				<div class="card-body">

@* 					
					<h4 class=""><b>@_SelectedFilter!.PlannerTitle</b> </h4>
					<DaysIndicatorBadgeXsSm FeastDayType="CurrentFilter"
																	Today="DateUtil.GetDateTimeWithoutTime(DateTime.Now.AddDays(Constants.Test.AddDays).AddHours(Utc.ArizonaUtcMinus7))" />
 *@

				</div>
			</div>

		</div>

		<div class="col-3 text-center mt-2">

			NEXT


		</div>
	</div>

</div>







@code {
	[Parameter, EditorRequired] public required FeastDayType? CurrentFilter { get; set; }
	[Parameter, EditorRequired] public EventCallback<FeastDayType> OnFilterSelected { get; set; }

	protected void OnClickFilter(FeastDayType filter)
	{
		OnFilterSelected.InvokeAsync(filter);
	}




}


@code {

}
