
<div class="row">
	<div class="col-6">

		<div class="control_wrapper">
			<SfDropDownList TValue="string" TItem="YearLookupVM"
											Placeholder="Select Year"
											@bind-Value="@ChangedID"
											DataSource="@YearLookupList">
				<DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
				<DropDownListEvents TItem="YearLookupVM" TValue="string"
														ValueChange="OnChange">
				</DropDownListEvents>
			</SfDropDownList>
		</div>

	</div>

	<div class="col-6">
		<p class="float-right">Selected Year: @ChangedID (@ChangedText)</p>


	</div>

</div>

<div class="row">
	<div class="col-12">
		<input @oninput="OnEmailChanged" type="text" value="@Email" />
	</div>
	
</div>