@using LivingMessiah.Web.Pages.Sukkot.Enums;

<div class="mt-3">
	<ul style="list-style-type:none; padding-inline-start: 0px">
		@foreach (var item in AttendanceDate.List.OrderBy(o => o.Value).ToList())
		{
		<li class="font-monospace @GetCSS(item.Date)">@item.Title</li>
		}
	</ul>
</div>
@code {
	[Parameter, EditorRequired] public DateTime[]? SelectedDates { get; set; }

	private string GetCSS(DateTime date)
	{
		if (SelectedDates is null)
		{
			return "";
		}
		else
		{
			if (Array.Exists(SelectedDates, d => d == date))
			{
				return "fw-bold text-primary";
			}
			else
			{
				return "";
			}
		}
		
	}

}
