@using Page = LivingMessiah.Web.Links.Sukkot.RegistrationSteps

<div class="row d-print-none mt-5">
	<div class="col-12">
		<a href="@Page.Index"
			 class="btn btn-info" title="@Title">
			<i class="far fa-arrow-alt-circle-left"></i> @Title 
		</a>
	</div>
</div>

