@page "/Grid12Calendar"

<PageTitle>Grid 12 Calendar</PageTitle>

<div class="pb-1 mt-4 mb-5 border-bottom border-info">
	<h2>Grid 12 Calendar</h2>
</div>


<div class="row">
	<div class="col-12">
		<div class="progress" style="height: 40px;">
			<div class="progress-bar bg-success fs-4" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Sep</div>
			<div class="progress-bar bg-warning fs-4" role="progressbar" style="width: 75%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Oct</div>
		</div>
	</div>
</div>

<div class="row g-0 text-center">
	<div class="col-1">W<sub>e</sub></div>
	<div class="col-1">T<sub>h</sub></div>
	<div class="col-1">F<sub>r</sub></div>
	<div class="col-1">S<sub>a</sub></div>
	<div class="col-1">S<sub>u</sub></div>
	<div class="col-1">M<sub>o</sub></div>
	<div class="col-1">T<sub>u</sub></div>
	<div class="col-1">W<sub>e</sub></div>
	<div class="col-1">T<sub>h</sub></div>
	<div class="col-1">F<sub>r</sub></div>
	<div class="col-1">S<sub>a</sub></div>
	<div class="col-1">S<sub>u</sub></div>
</div>


<div class="row text-center g-0">
	<div class="col-1 fs-6 bg-light text-black-50">28</div>
	<div class="col-1 fs-4 bg-primary text-white">29</div>
	<div class="col-1 fs-4 bg-primary text-white">30</div>
	<div class="col-1 fs-4 bg-primary text-white">01</div>
	<div class="col-1 fs-4 bg-primary text-white">02</div>
	<div class="col-1 fs-4 border-white text-black-50">03</div>
	<div class="col-1 fs-4 bg-primary text-white">04</div>
	<div class="col-1 fs-4 bg-primary text-white">05</div>
	<div class="col-1 fs-4 bg-primary text-white">06</div>
	<div class="col-1 fs-4 bg-primary text-white">07</div>
	<div class="col-1 fs-4 bg-info text-white">08</div>
	<div class="col-1 fs-6 bg-light text-black-50">09</div>
</div>


<div class="mt-5 mb-1">
	<ul>
		<li><b>Fri, 09/29</b> Preparation Day, High Sabbath begins at sunset</li>
		<li><b>Sat, 09/30</b> First Day of Sukkot (Sabbath)</li>
		<li><b>Sat, 10/07</b> Last Day (Great Day), Sabbath</li>
		<li><b>Sun, 10/08</b> Sukkot ended previous night; tear down camp</li>
	</ul>
</div>