@page "/importantlinks"
@using static LivingMessiah.Web.Links.ImportantLinks

<div class="pb-2 mt-4 mb-2">
	<h2><span class="text-warning @Icon"></span> @Title</h2>

</div>

<div class="card card-body bg-light">
	<p class="lead text-muted">
		Below are links to websites that may be of interest to others.
		Please feel free to suggest additions if you know of websites that you find useful in your study and that you think might be helpful to others.
	</p>
</div>

<br />

<div class="d-none d-lg-block">

	<div class="row">
		<div class="col-lg-4">
			<EtzBneyYosef></EtzBneyYosef>
		</div>
		<div class="col-lg-4">
			<IsraeliteReturn></IsraeliteReturn>
		</div>
		<div class="col-lg-4">
			<BYNA></BYNA>
		</div>
	</div>
	<hr />

	<div class="row">
		<div class="col-lg-4">
			<AboveAllImages></AboveAllImages>
		</div>
		<div class="col-lg-4">
			<TorahTogether></TorahTogether>
		</div>
		<div class="col-lg-4">
			<MyHebrewBible></MyHebrewBible>
		</div>
	</div>
	<hr />

	<div class="row">
		<div class="col-lg-4">
			<Hebrew4Christians></Hebrew4Christians>
		</div>
		<div class="col-lg-4">
			<FaithLife></FaithLife>
		</div>
		<div class="col-lg-4">
			&nbsp;
		</div>
	</div>

</div>

<div class="d-none d-md-block d-lg-none">
	<div class="row">
		<div class="col-md-6">
			<EtzBneyYosef></EtzBneyYosef>
		</div>
		<div class="col-md-6">
			<IsraeliteReturn></IsraeliteReturn>
		</div>
	</div>
	<hr />

	<div class="row">
		<div class="col-md-6">
			<BYNA></BYNA>
		</div>
		<div class="col-md-6">
			<AboveAllImages></AboveAllImages>
		</div>
	</div>
	<hr />

	<div class="row">
		<div class="col-md-6">
			<TorahTogether></TorahTogether>
		</div>
		<div class="col-md-6">
			<MyHebrewBible></MyHebrewBible>
		</div>
	</div>
	<hr />

	<div class="row">
		<div class="col-md-6">
			<Hebrew4Christians></Hebrew4Christians>
		</div>
		<div class="col-md-6">
			<FaithLife></FaithLife>
		</div>
	</div>

</div>

<div class="d-md-none">
	<EtzBneyYosef></EtzBneyYosef>
	@* ToDo: Need to pass down class mt-3 to this components when is xs mode *@
	@*<hr />*@
	<IsraeliteReturn></IsraeliteReturn>
	@*<hr />*@
	<BYNA></BYNA>
	@*<hr />*@

	<TorahTogether></TorahTogether>
	@*<hr />*@
	<AboveAllImages></AboveAllImages>
	@*<hr />*@
	<MyHebrewBible></MyHebrewBible>
	@*<hr />*@
	<Hebrew4Christians></Hebrew4Christians>
	@*<hr />*@
	<FaithLife></FaithLife>
</div>

