@using LivingMessiah.Web.Enums;
@using LivingMessiah.Web.Shared.Header.Store

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (ToolbarState.Value.BibleBook is not null)
{
	<ul class="list-inline">

		@for (int i = 1; i <= ToolbarState.Value.BibleBook.LastChapter; i++)
		{
			<li class="list-inline-item">
				<a href='@AnchorBookChapterUrl(i)' title="@BookChapterTitle(i)" target="_blank">@i</a>
			</li>
		}
	</ul>
	
	<WebsiteSelect />

}
