@using static LivingMessiah.Web.Links.Account
@using LivingMessiah.Web.Shared
@using LivingMessiah.Web.SmartEnums
@using LivingMessiah.Web.Shared.Header.Enums
@using LivingMessiah.Web.Enums

<div class="container-fluid bg-light">

	<div class="@MediaQuery.XsOrSm.DivClass">

		<div class="row pt-2 pb-1 d-print-none">
			<div class="col-12">
				<AuthorizeView>
					<Authorized>
						<LogoutForm />
						<ProfileAnchor IsXsOrSm="true" />
					</Authorized>

					<NotAuthorized>
						<div class="col-12">
							<LoginAnchor />
						</div>
					</NotAuthorized>
				</AuthorizeView>
			</div>
		</div>

		<div class="row pt-2 pb-1 d-print-none">
			<div class="col-12">
				<BibleSearchTypeahead />
			</div>
		</div>

	</div>

	<div class="@MediaQuery.MdOrLgOrXl.DivClass">

		<div class="row pt-2 pb-1 d-print-none">
			<div class="col-6">
				<BibleSearchTypeahead />
			</div>
			<div class="col-6">
				<AuthorizeView>
					<Authorized>
						<LogoutForm />
						<ProfileAnchor IsXsOrSm="false" />
					</Authorized>

					<NotAuthorized>
						<div class="col-12">
							<LoginAnchor />
						</div>
					</NotAuthorized>
				</AuthorizeView>

			</div>
		</div>
	</div>

	@*<WebsiteSelect />*@

	@*<CounterAnchorSimple />*@
	<CounterAnchorEventSubscription />

	
@*	<div class="row d-print-none">
		<div class="col-12">
			<Toolbar />
		</div>
	</div>
*@


	@*
		<h5 class="mt-3">Step Bible: @BibleBook.Acts.Title </h5>
		<BookChapterAnchorList BibleBook=BibleBook.Acts  BibleWebsite=BibleWebsite.StepBible/>

		<h5 class="mt-3">Step Bible: @BibleBook.Exodus.Title </h5>
		<BookChapterAnchorList BibleBook=BibleBook.Exodus  BibleWebsite=BibleWebsite.StepBible/>
	*@

</div>

