@using Page = LivingMessiah.Web.Links.Account

<form class="float-end" method="post" action="@Page.LogoutAction">
	<button type="submit" class="btn btn-xs btn-outline-info text-black-50">
		<u>@Page.TitleLogout</u> <i class="@Page.IconLogout"></i>
	</button>
</form>
