@using LivingMessiah.Web.Shared.Header.Enums
@using LivingMessiah.Web.SmartEnums;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="row g-3 align-items-center">
	<div class="col-auto">
		<label for="bibleWebsitEnum" class="col-form-label">Website:</label>
	</div>
	<div class="col-auto">
		<select class="form-select" @onchange="ChangingBibleWebsite" id="bibleWebsitEnum">
			@foreach (var item in BibleWebsite.List.OrderBy(o => o.Value))
			{
				<option selected="@IsSelectedBibleWebsite(item.Name)" value="@item">@item.Title</option>
			}
		</select>
	</div>
</div>
