@page "/Articles"
@using static LivingMessiah.Web.Articles2.Index.Anchors

@*	border-bottom*@
<div class="pb-2 mt-4 mb-2">
	<h2><span class="text-warning @Icon"></span> @Title</h2>
</div>

<div class="list-group">
	@*<a href="#" class="list-group-item list-group-item-action active">Active Example</a>*@
	<a class="list-group-item list-group-item-action list-group-item-warning"
		 href="/Articles/MakingChallahBread">
		<i class="fas fa-link"></i> Making Challa Bread
	</a>
	<a class="list-group-item list-group-item-action list-group-item-warning"
		 href="/Articles/Prepared">
		<i class="fas fa-link"></i> Prepared
	</a>
	<a class="list-group-item list-group-item-action list-group-item-warning"
		 href="/Articles/Pesach">
		<i class="fas fa-link"></i> Pesach
	</a>
	@* ToDo: Fix CreateTagHelper reference <a class="list-group-item list-group-item-action list-group-item-warning" href="PesachRP"><i class="fas fa-link"></i>  @CreateTagHelper<global::Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper>()</a>*@
	@*<a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Disabled Example</a>*@
</div>
