
<TableTemplate Items="Data">
	<TableHeader>
		<th>Shabbat Date</th>
		<th>Torah</th>
		<th>Haftorah</th>
		<th>Brit</th>
	</TableHeader>
	<RowTemplate>
		<td>@context.ShabbatDateMD</td>
		<td>@context.Torah</td>
		<td>@context.Haftorah</td>
		<td>@context.Brit</td>
	</RowTemplate>
</TableTemplate>

@code {
	[Parameter, EditorRequired] public List<Query>? Data { get; set; }
}
