@page "/upcomingevents"
@using Markdig
@using Page = LivingMessiah.Web.Links.UpcomingEvents

@using LivingMessiah.Web.Features.SpecialEvents 
@using LivingMessiah.Web.Features.UpcomingEvents.Weekly

<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

@if (ShowCurrentWeeklyVideos)
{
	<Videos />
}

@* ToDo: THIS IS NOT GOING TO WORK IN ITS CURRENT STATE *@
@* Maybe this need to be in Components/ *@
<DisplayCard />


