@using Microsoft.Extensions.Options
@using LivingMessiah.Web.Settings

@inject IOptions<AppSettings> AppSettings
@*<button class="btn btn-lg btn-outline-primary my-3" @onclick="GetApplicationSettings">
		Show Application Settings
	</button>*@


<div class="card my-5">
	
	<div class="row no-gutters">

		<div class="col-12">
			<div class="card-header">Application Settings</div>
			<div class="card-body">
				<p class="card-title">GoogleAnalytics: @AppSettings.Value.GoogleAnalytics</p>
			</div>

		</div>
	</div>
</div>

@*<li class="list-group-item">
		<a href="@Dump"
			 title="Dump" class="list-group-item list-group-item-warning">
			<b>Dump Settings</b>
			<i class="fas fa-chevron-right"></i>
		</a>
	</li>*@
