@page "/ThresholdCovenant/Commentary/Identity"

<div class="card border-warning my-3">
	<h5 class="card-header text-center">2. Identity is <i>uber</i> important!</h5>
	<div class="card-body">

		<i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
		<blockquote class="blockquote">
			I, John Marsing, identify as the specifically mentioned target audience of Yeshua's ministry ... the <strong>lost sheep of the House of Israel</strong>.
			<sup><a href="https://www.blueletterbible.org/kjv/mat/15/24/s_944024">Mat 15:24</a>, <a href="https://www.blueletterbible.org/kjv/mat/10/5-7/s_939005">Mat 10:5-7</a></sup>.
			It was the house of Israel that got the <strong>bill of divorce</strong> <sup><a href="https://www.blueletterbible.org/kjv/jer/3/8/s_748008">Jer 3:8</a></sup>
			and through the redemptive work of the blood of Yeshua this bill of divorcement was, to use Paul's word, "<strong>nailed to the cross</strong>" <sup><a href="https://www.blueletterbible.org/kjv/col/2/14/s_1109014">Col 2:14</a></sup>.
			Thereby enabling me not only the ability to <b>do the Torah</b> but to do so <b>with authority</b> because now I'm a <strong>named party to the sacred contract with Yehovah</strong> <sup>Exo 20, Jer 31:31-35 etc.</sup>
			that holds the office of priest	<sup><a href="https://www.blueletterbible.org/kjv/exo/19/6/s_69006">Exo 19:6</a>, <a href="https://www.blueletterbible.org/kjv/1pe/2/9/s_1153009">1Pe 2:9</a></sup>
		</blockquote>

	</div>
</div>



<!--
Image Creation: 

2. an Ambassador of the Kingdom of Heaven presenting himself dignitary with 
- Setting an ancient city gates surrounded by the elders of the village

- Actor Herald:
	- Caption: "now comes the Ambassador of the <i>Netserim</i> for the purpose of advancing the Kingdom of Heaven on Earth." 

- Actor Ambassador :
	- Actions
		- approaching the gates as if he was entering a court room
		- carrying his passport for identity, rod and staff ???
	- Caption: "I got questions"
	- Ref: https://myhebrewbible5.blob.core.windows.net/mhb-container/Article/Word-Study-G4243-presbeuo-ambassador.pdf

- Ref: https://myhebrewbible.azurewebsites.net/Article/PagedList?page=1&searchText=netser&filterId=Latest
- Ref: <a href="https://myhebrewbible.azurewebsites.net/Article/587/We-are-in-the-World-not-of-the-World">
- Ref: We are in the World not of the World <sup>#587</sup></a>
-->

@code {

	// Ignore Spelling: uber, Netserim, Jer

}
