@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards

<div class="card border-warning my-3">
	<h4 class="card-header text-center">JKM commentary on Exodus 12</h4>

	<div class="card-body">

		<h5 class="card-title">
			<VerseAnchor Book="BibleBook.Exodus" ChapterVerse="12:1-51 (ch. 12)" HrefSuffix="exo/12/1/s_62001" SubTitle="The Pesach (Passover) Lamb" />
		</h5>

		<p class="fs-1">ToDo: Finish</p>

		<p class="card-text text-center bg-info-subtle">
			<b>Resource</b> MyHebrewBible (MHB)
			<ul>
				<li>
					<MhbArticleAnchor Id=1011
														SlugTitle="Exodus 11 to 12:28 Od Nega Echad | One More Plague"
														SlugUrl="Exo-11-to-12-28-Od-Nega-Echad-One-More-Plague" />
				</li>
				<li>
					<MhbArticleAnchor Id=1013
														SlugTitle="Exodus 12:29-51 Vayhi Bachatzi | it was at Midnight"
														SlugUrl="Exo-12-29-to-51-Vayhi-bachatzi-it-was-at-midnight" />

				</li>
			</ul>
		</p>

	</div> <!-- <div "card-body Exodus 12" -->
</div> <!-- <div "card" -->
@code {

}
