@page "/ThresholdCovenant/Commentary/JKMZec120203"

<div class="card border-warning my-3">
	<h5 class="card-header text-center">Zechariah 12:1-3, my notes on</h5>
	<div class="card-body">
	
		<p>ToDo: finish the notes from 119 Ministries teaching on the Threshold Covenant</p>
		<p>MD File: Zec-12-02-03_119-Ministries-teaching-on-the-Threshold-Covenant.md</p>
		@* Folder: C:\Users\JohnM\Desktop Local\My-Notes-App\Articles\Threshold-Covenant\ *@
	</div>
</div>

@code {

}
