@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards

@*
	<h3 class="bg-warning text-center">Events occurring on the Passover</h3>
	<p class="card-text text-center">According to Jewish traditions, it was...</p>
*@

<PassoverEventsTemplateCard>
	<Col1>
		on a <b>passover night</b> when <b>Jehovah entered into a cross-over covenant with Abraham</b> on the boundary of his new possessions in Canaan.
	</Col1>
	<Col2>

		<ul>
			<li>
				<VerseAnchor Book="BibleBook.Genesis"
										 ChapterVerse="15:1–21"
										 HrefSuffix="gen/15/1-21/s_15001"
										 SubTitle="covenant of the pieces">
				</VerseAnchor>
			</li>

			<li>
				<InternalAnchor BookSection="III Sacred Boundary Line"
												SubSection="4. Border Sacrifices"
												SubTitle="[563] See pp. 186–188, supra.">
				</InternalAnchor>
			</li>

		</ul>

	</Col2>
</PassoverEventsTemplateCard>

<PassoverEventsTemplateCard>
	<Col1>
		It was on a <b>passover night</b> that <b>Lot welcomed the angel visitors to his home in Sodom</b>.
	</Col1>
	<Col2>
		<VerseAnchor Book="BibleBook.Genesis"
								 ChapterVerse="19:1-25"
								 HrefSuffix="gen/19/1-25/s_19001"
								 SubTitle="the doom of Sodom">
		</VerseAnchor>
		@* <sup>[564]</sup> *@
	</Col2>
</PassoverEventsTemplateCard>


<PassoverEventsTemplateCard>
	<Col1>
		It was at the <b>passover season</b> that <b>the Israelites crossed the threshold of their new home in Canaan</b>,
		<b>when the walls of Jericho fell down</b>,
		and <b>the blood-colored thread on the house of Rahab</b> was <b>a symbol of the covenant of the Hebrew spies with her and her household</b>.
	</Col1>
	<Col2>
		<ul>
			<li>
				<VerseAnchor Book="BibleBook.Joshua"
										 ChapterVerse="2:1-20"
										 HrefSuffix="jos/2/1-20/s_189001"
										 SubTitle="Rahab Welcomes the Spies">
				</VerseAnchor>
			</li>

			<li>
				<VerseAnchor Book="BibleBook.Joshua"
										 ChapterVerse="5:10-12"
										 HrefSuffix="jos/5/10-12/s_192010"
										 SubTitle="Pesach kept at Gilgal, manna ceases">
				</VerseAnchor>
			</li>
			<li>
				<VerseAnchor Book="BibleBook.Joshua"
										 ChapterVerse="6:12–17"
										 HrefSuffix="jos/6/12-17/s_193012"
										 SubTitle="Jericho is surrounded and accursed">
				</VerseAnchor>

			</li>
		</ul>

		@* <sup>[565]</sup> Compare ⤵️ *@

	</Col2>
</PassoverEventsTemplateCard>


<PassoverEventsTemplateCard>
	<Col1>
		The <b>protection of the Israelites against the Midianites</b>,
	</Col1>
	<Col2>
		<VerseAnchor Book="BibleBook.Judges"
								 ChapterVerse="7:1–25"
								 HrefSuffix="jdg/7/1-25/s_218001"
								 SubTitle="ideon Uses 300 Chosen Men to Defeat the Midianites">
		</VerseAnchor>
	</Col2>
</PassoverEventsTemplateCard>


<PassoverEventsTemplateCard>
	<Col1>
		<b>the Assyrians</b>,
	</Col1>

	<Col2>
		<ul>
			<li>
				<VerseAnchor Book="BibleBook.SecondKings"
										 ChapterVerse="19:20-36"
										 HrefSuffix="2ki/19/20-36/s_332020"
										 SubTitle="Isaiah's prophecy of the destruction of Sennacherib, and the good of Zion">
				</VerseAnchor>
			</li>

			<li>
				<VerseAnchor Book="BibleBook.SecondChronicles"
										 ChapterVerse="32:1-22"
										 HrefSuffix="2ch/32/1-22/s_399001"
										 SubTitle="Sennacherib Threatens Jerusalem; Hezekiah's Prayer Answered">
				</VerseAnchor>
			</li>
		</ul>

		@* <sup>[567]</sup> *@

	</Col2>
</PassoverEventsTemplateCard>

<PassoverEventsTemplateCard>
	<Col1>
		<b>the Medes and the Persians</b>
	</Col1>
	<Col2>
		<VerseAnchor Book="BibleBook.Esther"
								 ChapterVerse="9:12–19"
								 HrefSuffix="est/9/12-19/s_435012"
								 SubTitle="Xerxes, at the request of Esther, grants another day of slaughter, and Haman's sons to be hanged">
		</VerseAnchor>
		@* <sup>[568]</sup *@
	</Col2>
</PassoverEventsTemplateCard>

<PassoverEventsTemplateCard>
	<Col1>
		and again  <b>the final overthrow of Babylon</b>
	</Col1>
	<Col2>
		<VerseAnchor Book="BibleBook.Daniel"
								 ChapterVerse="5:1–30"
								 HrefSuffix="dan/5/1-30/s_855001"
								 SubTitle="Belshazzar's Impious Feast; Daniel Interprets the Handwriting on the Wall">
		</VerseAnchor>
		@* <sup>[569]</sup *@

	</Col2>
</PassoverEventsTemplateCard>

<div class="card-body">

	<p class="card-text">
		<b>all these events were said to have been at the passover season</b>.<sup>[570]</sup>
		<mark>
			These traditions would seem to show that the <b>pass-over covenant</b> was deemed a <b>cross-over covenant</b>,
			and a covenant of welcome at the family and the national threshold
		</mark>.
	</p>

	<QuotationPTemplate Person="<sup>[570]</sup> Trumbull">
		Edersheim’s Temple: Its Ministry and Services, p. 196 f.
	</QuotationPTemplate>

</div>

@code {
	// Ignore Spelling: Edersheim’s, Midianites
}
