@page "/ThresholdCovenant/Commentary/Passport"

<div class="card border-warning my-3">
	<div class="row g-0">
		<div class="col-md-6">

			<div class="card-body">
				<h4 class="card-title">Passports and Identity</h4>
				<h5>1. <i>diabateriou</i> διαβατηρίου <strong>passport</strong></h5>
				<p class="card-text">
					This got my attention...
				</p>
				<p class="card-text ps-3">
					in the story of the exodus. Jerome, with his understanding of Oriental life, gives <em>limen</em>, “threshold,” for <b><i>saph</i></b>, at this point.<sup>[553 Vulgate]</sup> Philo Judæus, out of his Egyptian Jewish experiences
					, <strong>describing the Jewish  passover festival, speaks of it as "the feast <em>diabateria</em>,</strong> which the Jews called <b><i>paskha</i></b>."
					<b><i>Diabateria</i></b> are "offerings <strong>before crossing a <mark>border</mark></strong>," or threshold sacrifices.

					<small class=""> <sup>pg. 207 &amp; 208</sup></small>
				</p>

				<p class="card-text">
					I tried to research <em>diabateria</em> and I got this from <a href="https://translate.google.com/?sl=auto&amp;tl=en&amp;text=diabateriou&amp;op=translate">Google Translator</a>
					<i>diabateriou</i> διαβατηρίου <mark><strong>passport</strong></mark>
				</p>

				<h5 class="pt-2">About Passport</h5>
				<ul class="list-group">
					<li class="list-group-item">Required <b>identity</b> cross a border</li>
					<li class="list-group-item">Borders <b>define jurisdiction</b></li>
				</ul>


			</div>
		</div>

		<div class="col-md-6 p-2">
			<img src="@ThresholdCovenant.Blobs.Image("Torah-is-the-passport-for-a-kingdom-of-priests-500x500.jpg")"
					 alt="Torah is the passport for a Kingdom of Priests" class="d-block w-100">
		</div>

	</div>
</div>


@code {

}
