@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards
@using LivingMessiah.Web.Features.ThresholdCovenant.Commentary

<!-- PassoverEventsCard BEGIN -->
<div class="card border-info my-3">
	@* <h3 class="card-header text-center">Events occurring on the Passover</h3> *@
	<h3 class="card-title text-center mt-2"><span class="badge bg-info">Events occurring on the Passover</span></h3>

	@* <h3 class="bg-warning text-center">Events occurring on the Passover</h3> *@

	<div class="card-body">
		<p class="card-text text-center">According to Jewish traditions, it was...</p>
	</div>

	<div class="card-body">
		<PassoverEvents />
	</div>

</div>
<!-- PassoverEventsCard END -->
@code {

}
