@page "/SukkotAdmin/Donations/ByRegistrationId/"
@using LivingMessiah.Web.Pages.SukkotAdmin.Constants
@using static LivingMessiah.Web.Links.Sukkot
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using SukkotApi.Domain

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

<div class="pb-2 mt-4 mb-2">
	<h3 class="bg-light">
		<i class="fas fa-dollar-sign"></i> Donations by -
		@FamilyName  #@RegistrationId
	</h3>
</div>


<LoadingComponent IsLoading="Donations==null && DatabaseWarning==false">
	@*<ByRegistrationTable></ByRegistrationTable>*@
</LoadingComponent>


@if (DatabaseError)
		{
<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
		}
		else
		{
			if (DatabaseWarning)
			{
<p class="text-warning">@DatabaseWarningMsg</p>
			}
		}



