@page "/SukkotAdmin/Donations/ByRegistration/"
@using LivingMessiah.Web.Pages.SukkotAdmin.Constants
@using static LivingMessiah.Web.Links.Sukkot
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using SukkotApi.Domain

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

<h3><i class="fas fa-dollar-sign"></i> Donation Line Item by Registration</h3>
<h5 class="text-muted">
	<a href="@LivingMessiah.Web.Links.Sukkot.Donations.Index" class="btn btn-primary btn-sm float-right">
		<i class="fa fa-table"></i> Report <i class="fas fa-caret-right"></i>
	</a>
</h5>

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<ByRegistrationTable></ByRegistrationTable>
</AuthorizeView>