@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options

<ul class="list-inline">
	<li class="list-inline-item"><small><b>SId</b> (Status ID):</small></li>
	<li class="list-inline-item"><small>2: Registration Form Completed</small></li>
	<li class="list-inline-item"><small>4: Partially Paid</small></li>
	<li class="list-inline-item"><small>5: Fully Paid</small></li>
	<li class="list-inline-item"><small>6: Canceled</small></li>
</ul>
