@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards

<!-- 3. BasonThreshold BEGIN -->

<div class="card border-warning my-3">
	<h5 class="card-header text-center">3. BASON, OR THRESHOLD.</h5>

	<div class="card-body">

		<p class="card-text">
			It is strange that the Hebrew word for <b>"threshold"</b> (<b><i>saph</i></b>) in this narrative is translated <b>"bason"</b> in our English Bible.
			It is because of this that the identity of the passover sacrifice with the primitive <b>Threshold Covenant</b> is so generally lost sight of.
			This word <b><i>saph</i></b> occurs many times in the Old Testament text, and in nine cases out of ten <sup>&dagger;</sup> it is translated <b>"threshold</b>,"
			or <b>"door</b>," or “<b>door-post</b>,” or the like.
			It would seem that it should be so translated in this instance.
		</p>

		<p class="card-text">
			&dagger; the KJC word study ⤵️ suggests more like ≈78%
		</p>

	</div>

	<WordStudyH5592Saph />

	<div class="card-body">
		<Quotation Quote="listen to this ⤵️" IsMarkup="false" Person="Mark" />
		<p class="card-text">
			In some cases where <b><i>saph</i></b> is translated <b>"bason</b>," or <b>"cup</b>,"
			➡️ the term <mark>"threshold" would be more appropriate</mark> ⬅️, as when included in an enumeration of the temple furniture.
		</p>
	</div>

	<VerseDiv Book="BibleBook.Jeremiah"
						ChapterVerse="52:19"
						HrefSuffix="jer/52/19/s_797019"
						SubTitle="">
		<Jer_52_19 />
	</VerseDiv>

	<div class="card-body">

		<p class="card-text">
			Bronze and silver thresholds were often mentioned in the furniture of Babylonian and Assyrian temples;<sup>[551 See pp. 109–111, supra.]</sup>
			and they might well have had mention among the Hebrews.
			It is possible, however, that there was a <b>cavity, as a blood receptacle</b>, in the threshold of houses or temples where sacrifices were so frequent;
			and this would account for the use of the word <i>saph</i> as "bason," even where it referred to the threshold of the door.
		</p>

		<Quotation Quote="because this trough was cut into the threshold so that when the blood was spilled it would hold it there and keep it there so they could dip the hyssop into it and sprinkle it on the door post."
							 IsMarkup="false" Person="Mark" />

	</div>

	<div class="card-body">
		<p class="card-text"> 
			The translators of the Septuagint, living in Egypt and familiar with the customs of that land, rendered <b><i>saph</i></b> by <b><i>thyra</i></b>, 
			"<b>doorway</b>, in the story of the exodus. "
		</p>
	</div>

		<VerseDiv Book="BibleBook.Jeremiah"
						ChapterVerse="52:19 LXX"
						HrefSuffix="jer/52/19/s_797019"
						SubTitle="LXX (Septuagint)">
		<Jer_52_19_LXX />
	</VerseDiv>


	<div class="card-body">
		<p class="card-text">
			Jerome, with his understanding of Oriental life, gives <i>limen</i>, "threshold," for <b><i>saph</i></b>, at this point.<sup>[553 Vulgate]</sup> 
			Philo Judæus, out of his Egyptian Jewish experiences, describing the Jewish passover <sup>JKM: <b>Yehovah's passover</b></sup> festival, 
			speaks of it as "the feast <i>diabateria</i>, which the Jews called <b><i>paskha</i></b>."<sup>[554 Philo’s Opera, Mangey, 2:292.]</sup> 
			<b><i>Diabateria</i></b> are "offerings <b>before crossing a <mark>border</mark></b>,"<sup>[555 Liddell and Scott’s Greek-English Lexicon, s. v.]</sup> or threshold sacrifices.
		</p>

		<ul>
			<li>
				<p><a href="https://en.wikipedia.org/wiki/Thomas_Mangey">Mangey, Thomas</a></p>
			</li>
			<li>
				<p><a href="https://books.google.com/books?id=SUw7AAAAcAAJ&amp;printsec=frontcover&amp;source=gbs_atb#v=onepage&amp;q=const&amp;f=false">Philonis Judaei Opera</a></p>
			</li>
			<li>
				<p>JKM: <a href="https://translate.google.com/?sl=auto&amp;tl=en&amp;text=diabateriou&amp;op=translate">Google Translator</a> <i>diabateriou</i> διαβατηρίου <b>passport</b></p>
			</li>
		</ul>

		<p class="card-text">
			Rabbi Ishmael, a Talmudist, in explaining the passage descriptive of the institution of the passover in Egypt, says:
			"One dug a hole in the [earthen] threshold, and slaughtered into that,"
			"<b>for <em>saph</em> signifies here nothing else than threshold</b>." <sup>[556 Cited in Levy’s Neuheb. Wörterb., s. v. "Saph."]</sup>
		</p>

		<p class="card-text">
			A striking illustration of the error of translating <b><i>saph</i></b> "a bason" or "a cup," is shown in the rendering of
			<b>Zechariah 12:1–3</b> in our English Bible.  The Lord is there promising to <b>protect the borders</b> of Jerusalem against all besiegers.
			"Thus saith the Lord, which ... layeth the foundation of the earth:... Behold, I will make Jerusalem a threshold [or, boundary stone, Hebrew,
			<b><i>saph</i></b>] of reeling unto all the peoples round about....I will make Jerusalem a burdensome stone for all the peoples."
		</p>

	</div>

	
	<VerseDiv Book="BibleBook.Zechariah"
						ChapterVerse="12:1-3"
						HrefSuffix="zec/12/1-3/s_923001"
						SubTitle="Jerusalem a 'cup' of trembling to herself and and a burdensome stone to her adversaries.">
		<Zec_12_01_03 />
	</VerseDiv>


	<div class="card-body"> 	

		@* See my notes from <a href='Zec-12-02-03_119-Ministries-teaching-on-the-Threshold-Covenant.html'>119 Ministries teaching on the Threshold Covenant</a> *@
		<Quotation Quote="ToDo: finish JKM_Zec_12_02_03"
							 IsMarkup="false" Person="JKM" />

		<p class="card-text">
			The figure seems to be that of the besiegers staggering as they come against that foundation, or threshold stone, which the Lord has established. <b>Yet saph is here translated “cup,” and the passage thereby rendered meaningless</b>.
		</p>	

		<p class="card-text">
			There would seem, indeed, to be <b>little room for doubt</b> that <b><i>saph</i></b> should be translated "threshold" in the description of the <b>pass-over sacrifice</b>. 
			In Assyrian, the word <b><i>sippu</i></b>, from the same root as the Hebrew <i>saph</i>, <b>means only threshold, not bason or cup</b>. 
			<sup>[557] This on the authority of Prof. Dr. H.V. Hilprecht.</sup>
		</p>

	</div>


</div>
<!-- 3. BasonThreshold END -->
