<!-- 0. MyNotesCard BEGIN -->

<div class="card border-warning my-3">
	<h5 class="card-header text-center">My Notes on <b>Threshold Covenant</b>; by H. Clay Trumbull</h5>
	<div class="card-body">
		<h5 class="card-title">Background</h5>

		<p class="card-text">
			My name is <b>John Marsing</b> and I am an elder here at <b>Living Messiah</b>.
			These are my notes that I compiled from the teaching given by our congregational leader <b>Mark Webb</b> which he gave on 04/06/2024.
			Living Messiah follows a <a href="https://livingmessiah.com/Parasha">triennial reading of the Torah</a> (called <em>parasha</em> in Hebrew) and on every Shabbat Mark does a teaching on that.
			On this date it was Deuteronomy chapter 4 and in his presentation he read from sections of H. Clay Trumbull's book "Threshold Covenant".
			The video can be found <a href="https://www.youtube.com/live/jQJG4EpL-H8?si=Z8HEhn80KeqJETKX&amp;t=7260">here</a> which starts time-stamp <b>2.01.00</b>
		</p>

		<p class="card-text">
			I took the time to create this document for a couple of reasons.
			<ol>
				<li>The claims in this book are powerful and <i>right in my wheel house</i></li>
				<li>
					I was able to create a compelling <a href="https://myhebrewbible.azurewebsites.net/Article/1561/The-Threshold-Covenant-by-H-Clay-Trumbull">reference document 🔗</a> that could be useful.
					Luckily I found an <a href="https://www.gutenberg.org/files/49216/49216-h/49216-h.htm">on-line source</a> 🔗 source I found of the book (originally written in 1896).
				</li>
			</ol>
		</p>

		<p class="card-text">
			This reference document has evolved into a page (this page) on Living Messiah's website '<a href="https://LivingMessiah.com/ThresholdCovenant/">LivingMessiah.com/ThresholdCovenant 🔗</a>.
			As of April 2024, the scope of this page is only for part V, sections 1-4.
		</p>

		<p class="card-text">
			My intent is to preserve as much as possible the original work while also injecting my comments, Mark's comments, and adding emphasis, and links to relevant sources.
		</p>

	</div>
</div>


<div class="card border-warning my-4">
	<h5 class="card-header text-center">Summary of the Threshold Covenant</h5>
	<div class="card-body">
		<h5 class="">What if...?</h5>
		<ul class="list-group">
			<li class="list-group-item">What if "Yehovah's passover <span class="hebrew"> פֶּסַח </span> <sup><b><i>pesach</i></b> <a href="https://www.blueletterbible.org/lexicon/h6453/kjv/wlc/0-1/">H6453</a></sup>" was way more than the Angel of death <u>passing over</u> the children of Israel so as to avoid the tenth and final plague?</li>
			<li class="list-group-item">What if the context of Exodus chapter 12, which describes the passover, was a rite that was well known and that by doing a detailed word study of key words one could find a bias in the translation?</li>
		</ul>
	</div>

	<div class="card-body">
		<h5 class="">About me</h5>

		<p class="card-text">
			As a <strong>pro</strong>-nomian Christian,
			a student of <strong>actual</strong> <a href="https://en.wikipedia.org/wiki/Sola_scriptura"><em>sola scriptura</em></a>
			and one who is skilled at <a href="https://myhebrewbible.azurewebsites.net/Article/PagedList?page=1&filterId=WordStudies">word studies</a>,
			I can appreciate someone like Mr. H. Clay Trumbull doing and showing his work.
		</p>

		<p class="card-text">but there's more...</p>

		<p class="card-text">
			I mention this here because a <a href="https://myhebrewbible.azurewebsites.net/Article/200/Acts-12-4-The-one-and-only-occurrence-of-Easter-in-the-King-James">word study</a>
			that I have done on the King Jame's translation of "<em>Easter</em>" is clearly and unequivocally biased.
			What Trumbull is suggesting is that even in modern day Rabbinical Judaism there is a bias as well.
			Although not nearly as bad as antinomian Christianity it is still significant.
		</p>

	</div>
</div>

<div class="card border-warning my-3">
	<div class="row g-0">
		<div class="col-md-6">

			<div class="card-body">
				<h5 class="card-title">Cutting to the chase</h5>
				<p class="card-text">
					Trumbull is suggesting that the word translated as <strong>bason</strong> or <strong>cup</strong> <span class="hebrew"> בַּסַּף </span> <em>saph</em> <sup> <a href="https://www.blueletterbible.org/lexicon/h5592/kjv/wlc/0-1/">H5592</a></sup>
					should be the term <mark>threshold</mark> (as in threshold covenant) would be more appropriate.
				</p>
			</div>
		</div>

		<div class="col-md-6 p-2">
			<img src="/images/cross-over.jpg" class="img-fluid rounded-start" alt="...">
		</div>

	</div>
</div>

<div class="card border-warning my-3">
	<div class="row g-0">
		<div class="col-md-6">

			<div class="card-body">
				<h4 class="card-title">Passports and Identity</h4>
				<h5>1. <i>diabateriou</i> διαβατηρίου <strong>passport</strong></h5>
				<p class="card-text">
					This got my attention...
				</p>
				<p class="card-text ps-3">
					in the story of the exodus. Jerome, with his understanding of Oriental life, gives <em>limen</em>, “threshold,” for <b><i>saph</i></b>, at this point.<sup>[553 Vulgate]</sup> Philo Judæus, out of his Egyptian Jewish experiences
					, <strong>describing the Jewish  passover festival, speaks of it as "the feast <em>diabateria</em>,</strong> which the Jews called <b><i>paskha</i></b>."
					<b><i>Diabateria</i></b> are "offerings <strong>before crossing a <mark>border</mark></strong>," or threshold sacrifices.

					<small class=""> <sup>pg. 207 &amp; 208</sup></small>
				</p>

				<p class="card-text">
					I tried to research <em>diabateria</em> and I got this from <a href="https://translate.google.com/?sl=auto&amp;tl=en&amp;text=diabateriou&amp;op=translate">Google Translator</a>
					<i>diabateriou</i> διαβατηρίου <mark><strong>passport</strong></mark>
				</p>

				<h5 class="pt-2">About Passport</h5>
				<ul class="list-group">
					<li class="list-group-item">Required <b>identity</b> cross a border</li>
					<li class="list-group-item">Borders <b>define jurisdiction</b></li>
				</ul>


			</div>
		</div>

		<div class="col-md-6 p-2">
			<img src="/images/Torah-is-the-passport-for-a-kingdom-of-priests-500x500.jpg" class="d-block w-100" alt="...">
		</div>

	</div>
</div>

<div class="card border-warning my-3">
	<h5 class="card-header text-center">2. Identity is uber important!</h5>
	<div class="card-body">

		<i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
		<blockquote class="blockquote">
			I, John Masing, identify as the specifically mentioned target audience of Yeshua's ministry ... the <strong>lost sheep of the House of Israel</strong>.
			<sup><a href="https://www.blueletterbible.org/kjv/mat/15/24/s_944024">Mat 15:24</a>, <a href="https://www.blueletterbible.org/kjv/mat/10/5-7/s_939005">Mat 10:5-7</a></sup>.
			It was the house of Israel that got the <strong>bill of divorce</strong> <sup><a href="https://www.blueletterbible.org/kjv/jer/3/8/s_748008">Jer 3:8</a></sup>
			and through the redemptive work of the blood of Yeshua this bill of divorcement was, to use Paul's word, "<strong>nailed to the cross</strong>" <sup><a href="https://www.blueletterbible.org/kjv/col/2/14/s_1109014">Col 2:14</a></sup>.
			Thereby enabling me not only the ability to <b>do the Torah</b> but to do so <b>with authority</b> because now I'm a <strong>named party to the sacred contract with Yehovah</strong> <sup>Exo 20, Jer 31:31-35 etc.</sup>
			that holds the office of priest	<sup><a href="https://www.blueletterbible.org/kjv/exo/19/6/s_69006">Exo 19:6</a>, <a href="https://www.blueletterbible.org/kjv/1pe/2/9/s_1153009">1Pe 2:9</a></sup>
		</blockquote>

	</div>
</div>

<!-- 0. MyNotesCard END -->

@code {

}
