@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards

<!-- 1. NewMeaningOldRite BEGIN -->

<div class="card border-warning my-3">
	<h4 class="card-header text-center">
		V. HEBREW PASS-OVER, OR CROSS-OVER, SACRIFICE
	</h4>

	<div class="card-body">
		<h5 class="card-title">
			1. NEW MEANING IN AN OLD RITE.
		</h5>
	</div>

	<div class="card-body">
		<p class="card-text">
			How the significance of the Hebrew passover rite stands out in the light of this primitive custom!
			It is not that this rite had its origin in the days of the Hebrew exodus from Egypt,
			but that Jehovah then and there emphasized the meaning and sacredness of a rite already familiar to Orientals.
			In dealing with his chosen people, God did not invent a new rite or ceremonial at every stage of his progressive revelation to them;
			but he took a rite with which they were already familiar, and gave to it a new and deeper significance in its new use and relations.
		</p>

		<Quotation Quote="Just like Yeshua did with the cup" IsMarkup="false" Person="Mark Webb" />

		<p class="card-text">
			Long before that day, a covenant welcome was given to a guest who was to become as one of the family,
			or to a bride or bridegroom in marriage, by the outpouring of blood on the threshold of the door,
			and by staining the doorway itself with the blood of the covenant.
			And now Jehovah announced that he was to visit Egypt on a designated night, and that those who would welcome him should prepare a threshold covenant,
			or a pass-over sacrifice, as a proof of that welcome; for where no such welcome was made ready for him by a family,
			he must count the household as his enemy.
			@* <sup>[541] Exo 12:1:20</sup> *@
		</p>

		<VerseDiv Book="BibleBook.Exodus"
							ChapterVerse="12:1-2"
							HrefSuffix="exo/12/1-2/s_62021"
							SubTitle="The beginning of the year is changed">
			<Exo_12_01_02 />
		</VerseDiv>
	</div>


	<div class="card-body">
		<img src="/images/death-swallowed-up-1280-576.jpg" class="img-fluid" alt="death swallowed up">
	</div>

	<VerseDiv Book="BibleBook.Exodus"
						ChapterVerse="12:3-10"
						HrefSuffix="exo/12/3-10/s_62024"
						SubTitle="The Passover rite is instituted">
		<Exo_12_03_10 />
	</VerseDiv>

	<div class="card-body">
		<Quotation Quote="Take note of the four <i>Aleph Tav's'<i> <sup>(H853)</sup> and that it's right after the phrase <b>shall eat it</b>."
							 IsMarkup="true" Person="JKM" />
	</div>

	<div class="card-body">
		<div class="bg-info-subtle">
@* 			<p class="card-text fs-6 ms-2 -2 mb-0">
				Yeshua identified as the Lamb of Elohim
			</p>
 *@			<div class="ms-3 p-2">
				<Mat_26_26 />	
			</div>
			
		</div>
	</div>


	<div class="row">
		<div class="col-sm-6 col-lg-4">
			<VerseDiv Book="BibleBook.Exodus"
								ChapterVerse="12:11"
								HrefSuffix="exo/12/11/s_62011"
								SubTitle="">
				<Exo_12_11 />
			</VerseDiv>
		</div>

		<div class="col-sm-6 col-lg-8">
			<div class="card-body">
				<img src="/images/yahovahs-passover.jpg" class="img-fluid" alt="Yahovahs Passover">
			</div>
		</div>
	</div>

	<VerseDiv Book="BibleBook.Exodus"
						ChapterVerse="12:12-14"
						HrefSuffix="exo/12/12-14/s_62012"
						SubTitle="">
		<Exo_12_12_14 />
	</VerseDiv>
	
	<VerseDiv Book="BibleBook.Exodus"
						ChapterVerse="12:15-20"
						HrefSuffix="exo/12/15-20/s_62015"
						SubTitle="Unleavened bread">
		<Exo_12_15_20 />
	</VerseDiv>



	<div class="card-body">
		<p class="card-text">
			In announcing this desire for a welcoming sacrifice by the Hebrews, God spoke of it as <mark><b>Jehovah’s passover</b></mark>,
			as if the <b>pass-over rite was a familiar one</b>, which was now to be observed as a <b>welcome to Jehovah</b>.
			<sup>see Exo 12:11 above</sup> Moses, in reporting the Lord’s message to the Hebrews,
			did not speak of the proposed sacrifice as something of which they knew nothing until now, but he first said to them,
			"Draw out, and take you lambs according to your families, and kill the passover"–or <b>the threshold cross-over</b>;
			<sup>Exo 12:21, 27</sup>
			and then he added details of special instruction for this <mark><b>new use of the old rite</b></mark>.
		</p>
	</div>


	<VerseDiv Book="BibleBook.Exodus"
						ChapterVerse="12:21, 27"
						HrefSuffix="exo/12/21/s_62021"
						SubTitle="">
		<Exo_12_21_and_27 />
	</VerseDiv>	

</div>

<!-- 1. NewMeaningOldRite END -->



@code {

}
