@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards

<div class="card border-warning my-3">
	<h5 class="card-header text-center">4. PASS-OVER OR PASS-BY.</h5>

	<div class="card-body">

		<p class="card-text">
		</p>

	</div>
</div>
<!--  -->

@code {

}
