@page "/SmartEnums"
@using LivingMessiah.Web.Pages.KeyDates.Queries

<h3>Smart Enums</h3>

<ul>
		<li><a href="/SmartEnums/BibleBooks">Bible Books</a></li>
</ul>

<LunarMonths></LunarMonths>
<FeastDays></FeastDays>
<Seasons></Seasons>