@page "/SmartEnums"

<h3>Smart Enums</h3>

@*<ul>
	<li><a href="/SmartEnums/BibleBooks">Bible Books</a></li>
	<li><a href="/SmartEnums/LunarMonths">Lunar Months</a></li>
	<li><a href="/SmartEnums/FeastDays">Feast Days</a></li>
	<li><a href="/SmartEnums/Seasons">Seasons</a></li>
</ul>*@

<LunarMonths></LunarMonths>
<FeastDays></FeastDays>
<Seasons></Seasons>