@page "/SmartEnums"
<PageTitle>SmartEnums</PageTitle>
<h3>Smart Enums</h3>

<ul>
		<li><a href="/SmartEnums/BibleBooks">Bible Books</a></li>
</ul>

<LunarMonths></LunarMonths>
<FeastDays></FeastDays>
<Seasons></Seasons>