@page "/HeavensDeclare"
@using static LivingMessiah.Web.Anchors.AnchorHeavensDeclare.Anchors

<div class="d-print-none">
	<h2><i class="@Icon"></i> @Title</h2>
</div>
<hr class="warning" />

<p class="lead">
	Barry interviews fellow BYNA Elder Mark Webb on the upcoming Solar Eclipse on December 14th, 2020.
	Check out these two awesome youtube videos (or podcast, scroll to the bottom.)
</p>


<h3 class="mt-5 mb-3">
	<span class="text-danger"><i class="fab fa-youtube"></i></span> Videos
</h3>

@foreach (var item in Videos)
{
	<YouTubeHeavensDeclare UrlId="@item.UrlId"
												 Title="@item.Title">
</YouTubeHeavensDeclare>
}







