

<div class="row mt-2">
	<div class="col-12">
		@if (IsCollapsed)
		{
			<Button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
							class="btn-primary btn-sm  float-right">
				Detail Grid <i class='fas fa-chevron-down'></i>
			</Button>

		}
		else
		{
			<Button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
							class="btn-primary btn-sm float-right">
				Hide Grid <i class='fas fa-chevron-up'></i>
			</Button>
		}
	</div>
</div>


@if (!IsCollapsed)
{
	@ChildContent
}

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	public bool IsCollapsed { get; set; } = true;

	protected void ToggleButtonClick(bool isCollapsed)
	{
		IsCollapsed = !isCollapsed;
	}
}
