
<div class="card-header"><h4 class=""><i>Chag</i> <span class="hebrew30">חַג</span></h4></div>

<div class="card-body">
	<div class="card-title">
		<a href="https://www.blueletterbible.org/lexicon/H2282/kjv/wlc/0-1/" class="" target="_blank">
			Strong's H2282
		</a> <i class="fas fa-external-link-alt"></i>
	</div>
	<p class="card-text">
		<b>Definition:</b>From H2287; feast (56x), sacrifice (3x), feast days (2x), solemnity (1x). pilgrim-feast; Lev 23:6, 34,39,41
		From <span class="hebrew16">חָגַג</span>  (H2287) Lev 23:39, 41; : keep (8x), ...feast (3x), celebrate (1x), keep a solemn feast (1x), dancing (1x), holyday (1x), reel to and fro (1x).
	</p>
</div>

@code {

}


