@* <div class="card border-primary mt-5"> </div> *@
<div class="card-header"><h4 class=""><i>Moed</i> <span class="hebrew30">מוֹעֵד</span></h4></div>


<div class="card-body">
	<div class="card-title">
		<a href="https://www.blueletterbible.org/lexicon/h4150/kjv/wlc/0-1/" class="" target="_blank">
			Strong's H4150
		</a> <i class="fas fa-external-link-alt"></i>
	</div>
	<p class="card-text">
		<b>Definition:</b> from H3259; properly, an appointment, i.e. a fixed time or season; specifically, a festival; conventionally a year; by implication, an assembly (as convened for a definite purpose); technically the congregation; by extension, the place of meeting; also a signal (as appointed beforehand):—appointed (sign, time), (place of, solemn) assembly, congregation, (set, solemn) feast, (appointed, due) season, solemn(-ity), synogogue, (set) time (appointed).
	</p>
</div>

@code {

}
