<div class="card-header"><h4 class=""><i>Zikron</i> <span class="hebrew30">זִכָּרוֹן</span></h4></div>

<div class="card-body">
	<div class="card-title">
		<a href="https://www.blueletterbible.org/lexicon/H2146/kjv/wlc/0-1/" class="" target="_blank">
			Strong's H2146
		</a> <i class="fas fa-external-link-alt"></i>
		 | <a href="https://myhebrewbible.azurewebsites.net/Article/1455/Word-Study-H2146-Zikron-Memorial-Remembrance" class="" target="_blank">
			MyHebrewBible Article
		</a> <i class="fas fa-external-link-alt"></i>

		
	</div>
	<p class="card-text">
		<b>Definition:</b> from H2142; a memento (or memorable thing, day or writing):-memorial, record.
	</p>

	<p class="card-text">
		<b>KJC Occurrences: 24</b>
	</p>
	<ul>
		<li><b>memorial</b>: 17; Exo 12:14, Exo 13:9, Exo 17:14, Exo 28:12 (2), Exo 28:29, Exo 30:16, Exo 39:7, Lev 23:24,	Num 5:15, Num 5:18, Num 10:10, Num 16:40, Num 31:54, Jos 4:7, Neh 2:20, Zec 6:14; Job 13:12</li>
		<li><b>remembrance[s]</b>: 6; Ecc 1:11 (2), Ecc 2:16, Isa 57:8, Mal 3:16</li>
		<li><b>records</b>: 1; Est 6:1</li>
	</ul>
</div>

@code {

}
