@page "/CounterEventSubscription"

@implements IDisposable

@*

# Event Subscription Model
- ToDo: Move this to a Markdown document

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

The `@inherits` is required to ensure the component re-renders whenever its state changes. 
Razor pages only allows one `@inherits` and it's possible that you already have not e.g. `@inheritsMicrosoft.AspNetCore.Components.ComponentBase`
To overcome this you can instead subscribe to the `StateChanged` event and execute `InvokeAsync(StateHasChanged)`. 
If you do use the event, remember to `@implement IDisposable` and unsubscribe from the event too, otherwise your app will leak memory.

*@

<h1>Counter Event Subscription</h1>
<p>Current count: @CounterState.Value.ClickCount</p>
<button class="btn btn-primary" @onclick=IncrementCount>Click me</button>