@*<h3>AlertBox</h3>*@

@*@HeaderContent DOESN'T WORK*@

@*<div class="alert @CssClass">

	@ChildContent
</div>*@


<div @attributes="AdditionalAttributes" class="alert">

	@ChildContent
</div>

@code {
	// Before using Attribute Splatting
	//[Parameter] public string CssClass { get; set; } = "alert-danger";

	// DOESNT WORK
	//[Parameter] public RenderFragment HeaderContent { get; set; }

	[Parameter] public RenderFragment ChildContent { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
		= new Dictionary<string, object>() { {"class", "alert-danger" } };  // preseting the default

	string CssClass => AdditionalAttributes
		.TryGetValue("class", out var value) ? value.ToString() : string.Empty;

}
