@using LivingMessiah.Domain.Bible
@using Microsoft.AspNetCore.Components


<div class="jumbotron">
	NOT WORKING
</div>


<div class="row mt-n2">

	<div class="col-12">
		<label for="bookGroupEnum" class="control-label">Bible Book Group</label>
		<InputSelectEnum @bind-Value="bgEnum"
										 @onclick="OnClickCallback"
										 class="form-control" id="bookGroupEnum" />
	</div>

</div>

@code {

	[Parameter]
	public BookGroupEnum bgEnum { get; set; }

	public Book book { get; set; }

	[Parameter]
	public EventCallback<BookGroupEnum> BgEnumChanged { get; set; }

	/*
	@onclick="OnBgEnumChanged"
	private Task OnBgEnumChanged(Microsoft.AspNetCore.Components.ChangeEventArgs e)
	{
		book = Book.Genesis;
		int i = int.TryParse(e.Value.ToString(), out i) ? i : 0;
		if (i == 0) return BgEnumChanged.InvokeAsync(book.BookGroupEnum);
		book = Book.FromValue(i);
		return BgEnumChanged.InvokeAsync(book.BookGroupEnum);
	}
	*/

	[Parameter]
	public EventCallback<MouseEventArgs> OnClickCallback { get; set; }



	/*
	<input @oninput="OnPasswordChanged" value="@Password" />	

	BibleBookDropDownList @bind-bgEnum="bgGroupEnumParent" />
		InvalidOperationException: Object of type 'LivingMessiah.Web.Pages.BlazorExamples.Components
			.BibleBookDropDownList' does not have a property matching the name 'bgEnumChanged'.
	*/

}
