
@*ToDo This is being used*@

<div class="card border-primary">
	<div class="card-header"><h5 class="text-center">Bible Reference</h5></div>
	<div class="card-body">
		<p class="lead">
			@RelatedVerse
		</p>
		<p class="lead">
			<blockquote>
				<ol start="99">
					<li>
						ToDo
					</li>
					<li>
						ToDo
					</li>
				</ol>
				<small><i>Vayiqra</i> <sup>Leviticus </sup> 23:99-99</small>
			</blockquote>
		</p>
	</div>
</div>

