@using Page = LivingMessiah.Web.Pages.Feasts.LinkSmartEnums.FeastLinks

<div class="row col-12">
	<div class="pt-2 mt-0">
		<a href="@Page.Index"
			 title="@Page.Title" class="btn btn-info btn-sm">
			<i class="far fa-arrow-alt-circle-left"></i> Back to @Page.Title
		</a>
	</div>
</div>
