

<div class="card  border-primary my-5">
	<div class="card-header">

		<div class="d-flex justify-content-between">
			<div class="fs-4">
				Calendar <br />Explanation 
			</div>
			<div class="fs-4">
				Mark Webb <br />Presentation
			</div>
			<div class="p-1">
				<a href="https://youtu.be/VPnDBbp-rpM?si=wEh95ti1NOxbOFYP"
					 class="btn btn-danger btn-lg"
					 target="_blank">
					<i class="fab fa-youtube"></i>
				</a>

			</div>

		</div>

	</div>

	<div class="card-body text-center">
		<img class="img-fluid rounded" src='@Blobs.UrlCalendar("calendar-explanation-by-mark.jpg")'  />
	</div> 


</div>

@code {

}
