<div class="card bg-white text-primary py-1 mb-4 ">
	@foreach (var fdd in FeastDayDetails!)
	{
		<div class=" row mt-1 mb-1">
			<div class="col-1">&nbsp;</div>
			<div class="col-4">@NotesFDD(fdd.AddDays)</div>			
			<div class="col-7">@fdd.Description</div>
		</div>
	}
</div>
