@using LivingMessiah.Web.Pages.SukkotAdmin.RegistrationNotes.Enums
@using Microsoft.Extensions.Logging;

@inject ILogger<FilterButtons>? Logger

<div class="d-print-none mb-2">
	<div class="container d-flex justify-content-end mt-2">
		@foreach (var item in NotesFilter.List.OrderBy(o => o.Value))
		{
			<button @onclick="@(() => OnButtonClicked(item))"
							class="btn @item.CssTextColor btn-sm @_disabled @ActiveFilter(item)">
				@item.Name &nbsp;<i class="fas fa-chevron-circle-right"></i>
			</button>
		}

	</div>

</div>

@code {
	[Parameter] public EventCallback<NotesFilter> OnFilterSelected { get; set; }
	[Parameter, EditorRequired] public bool ShowDetailCard { get; set; }

	private string _disabled = "";

	private NotesFilter? _selectedFilter = Constants.DefaultFilter; // NotesFilter.Admin;

	protected override void OnParametersSet()
	{
		string inside = $"{nameof(FilterButtons)}!{nameof(OnParametersSet)}";
		Logger!.LogDebug(string.Format("inside {0}; _disabled: {1}; _selectedFilter: {2} ", inside, _disabled, _selectedFilter!.Name));
		if (ShowDetailCard)
		{
			_disabled = " disabled";
		}
		else
		{
			_disabled = "";
		}
	}

	private void OnButtonClicked(NotesFilter filter)
	{
		Logger!.LogInformation($"Inside {nameof(FilterButtons)}!{nameof(OnButtonClicked)}; filter: {filter.Name}");
		_selectedFilter = filter;

		Logger!.LogInformation($"..._selectedFilter.Name: {_selectedFilter.Name}. Calling InvokeAsync of {nameof(OnFilterSelected)} next");
		OnFilterSelected.InvokeAsync(filter);
	}

	public string ActiveFilter(NotesFilter filter)
	{
		if (filter == _selectedFilter)
		{
			return "active";
		}
		else
		{
			return "";
		}
	}

}
