

<div class="row col-12 my-2">
	<div class="mb-3">

		<button @onclick="@(() => DoNotAgree_ButtonClick())"
						class="btn btn-danger">
			<i class="far fa-hand-paper"></i> No, I Do NOT Agree
		</button>

		<button @onclick="@(() => Agree_ButtonClick())"
						class="btn btn-success">
			<i class="fas fa-check"></i> Yes, I Agree
		</button>

	</div>
</div>



