@page "/BlazorSyncFusion/Button"
@using Syncfusion.Blazor.Buttons

<div class="row my-2">
	<div class="col-3">
		<h5>Toggle Button with Icon</h5>
		<SfButton CssClass="e-flat"
							IsPrimary="true"
							IconCss="@IconCss"
							Content="@Content"
							IsToggle="true"
							@onclick="OnToggleClick"
							@ref="ToggleBtnObj">
		</SfButton>

	</div>

	<div class="col-3">
		<h5>Button with Icon positioned to the right DOESN'T WORK!!!</h5>
		<SfButton IconCss="e-icons e-play-icon" IconPosition="IconPosition.Right">PLAY</SfButton>

	</div>

	<div class="col-3">
		<h5>Button sizes</h5>
		<SfButton CssClass="e-small">SMALL</SfButton>
		<SfButton>NORMAL</SfButton>

	</div>

	<div class="col-3">

	</div>
</div>

<hr />

<h5 class="mt-5">Button Styles</h5>
<p>The Blazor Button has the following predefined styles that can be defined using the CssClass property.</p>

<div class="row col-12 my-2">
	<SfButton CssClass="e-primary">Primary</SfButton><br />
	<SfButton CssClass="e-success">Success</SfButton><br />
	<SfButton CssClass="e-info">Info</SfButton><br />
	<SfButton CssClass="e-warning">Warning</SfButton><br />
	<SfButton CssClass="e-danger">Danger</SfButton><br />
	<SfButton CssClass="e-link">Link</SfButton><br />
</div>

<hr />
<h5 class="mt-5">Button Types</h5>

<div class="row col-12 my-2">
	<p>
		Flat Button<br />
		Outline Button<br />
		Round Button<br />
		Primary Button<br />
		Toggle Button.<br />
	</p>

</div>

<hr />

<h5 class="mt-5">Primary Button</h5>
<div class="row col-12 my-2">

	<p>
		The primary button is styled with background color and it is used to represent a primary action.
		To create a Primary Button, set the IsPrimary property to true.
	</p>

	<SfButton IsPrimary="true">Primary</SfButton>

</div>

<hr />

<h5 class="mt-5">Button Appearance</h5>
<div class="row col-12 my-2">

	<p>
		To modify the Button appearance, you need to override the default CSS of Button component
	</p>
	<p><code>.e-btn</code>	To customize the button.</p>
	<p><code>.e-btn:hover</code>	To customize the button on hover.</p>
	<p><code>.e-btn:focus</code>	To customize the button on focus.</p>
	<p><code>.e-btn:active</code>	To customize the button on active.</p>
</div>

<hr />

<h5 class="mt-5">Right-To-Left</h5>
<p>I don't know what this does really</p>
<div class="row col-12">
	<div class="col-6">
		<SfButton CssClass="e-primary" IconCss="e-icons e-setting-icon" EnableRtl="true">Settings</SfButton><br />
	</div>
	<div class="col-6">
		<SfButton CssClass="e-warnint" IconCss="e-icons e-setting-icon" EnableRtl="true">תּוֹרָה</SfButton>
	</div>


</div>

<hr />

<a href="https://blazor.syncfusion.com/documentation/button/types-and-styles"><small>link</small></a>

@code {
	SfButton ToggleBtnObj;
	public string IconCss = "e-icons e-play";
	public string Content = "Play";
	public void OnToggleClick()
	{
		if (ToggleBtnObj.Content == "Play")
		{
			this.Content = "Pause";
			this.IconCss = "e-icons e-pause";
		}
		else
		{
			this.Content = "Play";
			this.IconCss = "e-icons e-play";
		}
	}
}

<style>

	.e-play::before {
		content: '\e324';
	}

	.e-pause::before {
		content: '\e326';
	}

	.e-play-icon::before {
		content: '\e324';
	}

	.e-pause-icon::before {
		content: '\e326';
	}

	.e-setting-icon::before {
		content: '\e679';
	}
</style>