@page "/BlazorSyncFusion/TreeGrid"
@using Syncfusion.Blazor.TreeGrid

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h3><i class="fas fa-dollar-sign"></i> Tree Grid</h3>
</div>

<SfTreeGrid ChildMapping="Children" TreeColumnIndex="1" DataSource="@TreeData" TValue="BusinessObject">
	<TreeGridColumns>
		<TreeGridColumn Field="TaskId" HeaderText="Task ID" Width="80" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
		<TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="160"></TreeGridColumn>
		<TreeGridColumn Field="Duration" HeaderText="Duration" Width="100" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
		<TreeGridColumn Field="Progress" HeaderText="Progress" Width="100" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
		<TreeGridColumn Field="Priority" HeaderText="Priority" Width="80"></TreeGridColumn>
	</TreeGridColumns>
</SfTreeGrid>

@code{
	public class BusinessObject
	{
		public int TaskId { get; set; }
		public string TaskName { get; set; }
		public int Duration { get; set; }
		public int Progress { get; set; }
		public string Priority { get; set; }
		public List<BusinessObject> Children { get; set; }
	}
	public List<BusinessObject> TreeData = new List<BusinessObject>();
	protected override void OnInitialized()
	{
		List<BusinessObject> Record1 = new List<BusinessObject>();
		BusinessObject Child1 = new BusinessObject() { TaskId = 2, TaskName = "Plan timeline", Progress = 100, Duration = 5, Priority = "Normal" };
		BusinessObject Child2 = new BusinessObject() { TaskId = 3, TaskName = "Plan budget", Duration = 5, Progress = 100, Priority = "Low" };
		BusinessObject Child3 = new BusinessObject() { TaskId = 4, TaskName = "Allocate resources", Duration = 5, Progress = 100, Priority = "Critical" };
		Record1.Add(Child1);
		Record1.Add(Child2);
		Record1.Add(Child3);
		TreeData.Add(new BusinessObject() { TaskId = 1, TaskName = "Planning", Duration = 10, Progress = 70, Children = Record1, Priority = "High" });


		List<BusinessObject> Record2 = new List<BusinessObject>();
		BusinessObject Child4 = new BusinessObject() { TaskId = 6, TaskName = "Software Specification", Progress = 60, Duration = 3, Priority = "Normal" };
		BusinessObject Child5 = new BusinessObject() { TaskId = 7, TaskName = "Develop Prototype", Duration = 3, Progress = 100, Priority = "Critical" };


		Record2.Add(Child4);
		Record2.Add(Child5);
		TreeData.Add(new BusinessObject() { TaskId = 5, TaskName = "Design", Duration = 3, Progress = 86, Children = Record2, Priority = "High" });
	}
}