@page "/Sukkot/PaymentCanceled"

@using Page = LivingMessiah.Web.Links.Sukkot.Stripe.CancelRegistration
<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h1><span class="text-warning @Page.Icon"></span> @Page.Title</h1>
</div>

<div id="content">
	<div class="post">
		<h2 class="title">We're sorry you had a problem</h2><br />
		<div class="entry">
			<p>
				It appears that your donation transaction was not completed.  If you changed your mind, that's perfectly fine.
				However, if you ran into some other difficulty, feel free to contact us and we will work to correct the problem.
				You can email us at @((MarkupString)AnchorEmail).
			</p>
			<p>In any case, we appreciate your interest in supporting our ministry.</p>
			<br>
		</div>
	</div>
</div>
<!-- end #content -->

@code {
	protected readonly MarkupString AnchorEmail = 
		new MarkupString($"<a href='mailto:{Emails.Donations.Email()}'>{Emails.Donations.Email()}</a>");
}

				
