@using LivingMessiah.Web.Pages.Calendar.Enums

<div class="card bg-light py-1 mb-4">
	<div class=" row">
		<div class="col-1">&nbsp;</div>
		<div class="col-3">Full Name</div>
		<div class="col-3">Hebrew</div>
		<div class="col-5">Biblical</div>
	</div>

	<div class=" row">
		<div class="col-1">&nbsp;</div>
		<div class="col-3">@LunarMonth!.FullName</div>
		<div class="col-3"><span class="hebrew">@LunarMonth.Hebrew</span></div>
		<div class="col-5">
			@LunarMonth.BiblicalName
			<span class="hebrew">@LunarMonth.BiblicalHebrew</span>
		</div>
	</div>
</div>


@code {
	//LunarMonthDetail.razor.cs
	[Parameter] public LunarMonth? LunarMonth { get; set; }
}
