@page "/Trumpets"

@using LivingMessiah.Web.Pages.Feasts.Components

@using Page = LivingMessiah.Web.Links.Feast
<PageTitle>@Page.Trumpets.Title</PageTitle>

<ReturnAnchor></ReturnAnchor>


<div class="pb-1 mt-4 mb-5 border-bottom border-primary">
	<h2><i class="@Page.Trumpets.Icon"></i> @Page.Trumpets.Title</h2>
</div>

<BibleReference Feast="@LinkSmartEnums.Feast.Trumpets"/>
