@using LivingMessiah.Web.Features.Feasts.StrongsReferenceCards

<h3 class="mt-4 mb-1">Common Hebrew Words</h3>

<div class="card border-info">

	<div class="row gx-1">
		<div class="col-6"><Moed_H4150 /></div>
		<div class="col-6"><Chag_H2282 /></div>
	</div>

	<div class="row gx-1">
		<div class="col-6"><Mikra_H4744 /></div>
		<div class="col-6"><Zikron_H2142 /></div>
	</div>
</div>

@code {

}
