@using CalendarEnums = LivingMessiah.Web.Features.Calendar.Enums

<h2 class="text-center">
	<span class="badge @GetBadgeColor()">@FeastDay!.PlannerTitle</span>
</h2>

<p class="card-text text-center">@GetDate()</p>

@code {
	[Parameter, EditorRequired] public CalendarEnums.FeastDay? FeastDay { get; set; }

	private string GetBadgeColor()
	{
		return FeastDay!.IsHighSabbath ? "bg-primary" : "bg-info";
	}

	private string GetDate()
	{
		return FeastDay!.EndOfWeekAddDays 
			!= 0 ? 
			$"{FeastDay!.Date.ToString(DateFormat.dddd_MMMM_dd)} to {FeastDay!.Date.AddDays(FeastDay!.EndOfWeekAddDays).ToString(DateFormat.dd)}" :
			FeastDay!.Date.ToString(DateFormat.dddd_MMMM_dd);
	}

}