
<div class="card bg-light mt-1 mb-4">

	<div class="card-header"><h5 class="text-center">Introduction</h5></div>
	<div class="card-body">
		<p class="card-text">
			Mapping the Gregorian calendar with the Hebrew calendar is hard because the beginning and end of a date is different (midnight and evening respectively).
			What that means is that to show a high Sabbath day, you need to spread it out over two Gregorian days.
		</p>

		<p class="card-text mb-1">
			<u>Planner Notes</u>
		</p>
		<ul class="card-text">
			@* <li>The dates listed are the day</li> *@
			<li>High Sabbaths are shown in <span class="badge bg-primary">blue</span></li>
			<li>Other days are shown in <span class="badge bg-info">turquoise</span></li>
			<li><b>Hanukkah</b>, <b>Passover</b> and <b>Tabernacles</b> dates are spread out over a week and they have multiple dates</li>
			<li>
				In order to make the planner concise the weekly Sabbaths are not includes (even though it defined as a convocation <i>mikra</i>).
			</li>
		</ul>

	<p class="card-text">
		At the bottom of the page are a few common Hebrew words that are related to the feasts.
	</p>

	</div>


</div>


@code {
}
