@if (IsCollapsed)
{
	<Button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
					class="btn btn-outline-primary btn-sm float-end">
		Details <i class='fas fa-chevron-down'></i>
	</Button>
}
else
{
	<Button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
					class="btn btn-outline-primary btn-sm float-end">
		Hide <i class='fas fa-chevron-up'></i>
	</Button>
	
	 <div class="card bg-secondary text-white mt-5">
		@ChildContent
	</div>

@* 	<div class="card border-secondary">
		@ChildContent 
	</div> *@
}

@code {
[Parameter] public RenderFragment? ChildContent { get; set; }
	
	public bool IsCollapsed { get; set; } = true;
	protected void ToggleButtonClick(bool isCollapsed)
	{
		IsCollapsed = !isCollapsed;
	}
}
