<div class="card mt-1">

	<div class="card-header"><h5 class="text-center">Shabbat References | Leviticus 23:3</h5></div>

	<div class="card-body">
		<h5 class="card-title">Leviticus 23:3</h5>
		<blockquote>
			<p>
				<sup><b>3</b></sup>
				Six days shall work be done: but the seventh day is the <mark><b><i>shabbat</i></b></mark> <span class="hebrew16">שַׁבַּת</span> <sup>the sabbath</sup> of <i>shabbaton</i> <span class="hebrew16">שַׁבָּתוֹן</span> <sup>of rest</sup>
				, an  <i>kodesh</i> <span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew16">מִקְרָא־</span> <sup>convocation</sup>
				; ye shall do no work therein: it is the  <mark><b><i>shabbat</i></b></mark> <span class="hebrew16">שַׁבַּת</span> <sup>sabbath</sup> of <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup>
				in all your <i>Mooshevoteiche</i> <span class="hebrew16">מוֹשְׁבֹתֵיכֶם פ</span> <sup>dwellings</sup>.
			</p>
			<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:3</small>
		</blockquote>
	</div>

</div>

@code {

}
