
<div class="card mt-1">

	<div class="card-header">
		<h5 class="text-center"> Omer Counting References | Leviticus 23</h5>
		<p class="small mt-1 text-black-50 text-center">See also: Exodus 34:22; Numbers 28:26-31; Deuteronomy 16:9, 10</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Leviticus 23:15-16</h5>
		<blockquote>

			<p>
				<sup><b>15</b></sup>
				And ye shall count unto you from 
				<span class="text-danger fw-bold">the morrow</span> after the <span class="text-danger fw-bold">sabbath</span>, from the day that ye brought
				the sheaf <span class="hebrew16">עֹמֶר</span> <mark><b><i>omer</i></b></mark> of the wave offering; 
				<span class="text-danger fw-bold">seventh sabbaths</span> shall be complete:
			</p>

			<p>
				<sup><b>16</b></sup>
				Even unto <span class="text-danger fw-bold">the morrow</span> after the <span class="text-danger fw-bold">seventh sabbath</span> shall ye number fifty days;
				and ye shall offer a new meat offering unto <span class="hebrew16">לַיהוָה</span>.
			</p>

			<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:15-16</small>
		</blockquote>

	</div>

</div>

@code {

}
