<div class="card mt-1">

	<div class="card-header"><h5 class="text-center">Feast References | Leviticus 23</h5></div>

	<div class="card-body">
		<h5 class="card-title">Leviticus 23:1-2</h5>
		<blockquote>

			<p>
				<sup><b>1</b></sup>
				And <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew16">וַיְדַבֵּר</span> <sup>spake unto</sup>
				<i>Moseh</i> <span class="hebrew16">מֹשֶׁה</span> <sup>Moses</sup>, saying,
			</p>

			<p>
				<sup><b>2</b></sup>
				Speak unto <i>benei</i> <span class="hebrew16">בְּנֵי</span> <sup>the children</sup> <i>Yisrael</i> <span class="hebrew16">יִשְׂרָאֵל</span> <sup>of Israel</sup>
				, and say unto them, Concerning the <i>moadei</i> <span class="hebrew16">מוֹעֲדֵי</span> <sup>feasts</sup> <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup>
				, which ye shall proclaim to be <i>kodesh</i> <span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> convocations, even these are my <i>moedi</i> <span class="hebrew16">מוֹעֲדֵי</span> <sup>feasts</sup>.
			</p>

			<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:1-2</small>
		</blockquote>

	</div>

</div>

@code {

}
