@page "/UpcomingEventsDataAdaptorGrid"
@using LivingMessiah.Web.Data
@using Syncfusion.Blazor.Data

@using Microsoft.Extensions.Logging
@inject ILogger<UpcomingEventsDataAdaptorGrid> Logger

<h3>Upcoming Events Data Adaptor Grid</h3>

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row mt-4">

			<SfGrid TValue="NonKeyDateCrudVM"
							Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
				<SfDataManager AdaptorInstance="typeof(GridDataAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
				<GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
				<GridColumns>
					<GridColumn Field="@nameof(NonKeyDateCrudVM.Id)" IsPrimaryKey="true" Visible="true" Width="40"></GridColumn>

					<GridColumn Field=@nameof(NonKeyDateCrudVM.EventDate) Format="yyyy/MM/dd" HeaderText="Date" Width="40">
					</GridColumn>

					<GridColumn Field=@nameof(NonKeyDateCrudVM.EventTypeEnum) HeaderText="Event Type" Width="40">
					</GridColumn>

					<GridColumn Field=@nameof(NonKeyDateCrudVM.YouTubeId) HeaderText="YouTube Id" Width="30">
					</GridColumn>

					<GridColumn Field=@nameof(NonKeyDateCrudVM.Title) HeaderText="Title" Width="90">
					</GridColumn>

					<GridColumn Field=@nameof(NonKeyDateCrudVM.SubTitle) HeaderText="Sub Title" Width="90">
					</GridColumn>

					@*
						ImageUrl, YouTubeId, WebsiteUrl, WebsiteDescr, Description
					*@
				</GridColumns>
				<GridEvents TValue="NonKeyDateCrudVM" OnActionFailure="Failure"></GridEvents>
			</SfGrid>
		</div>
	</div>
</div>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	<p class="text-success">Record Found</p>
}


@code {

	protected bool DatabaseError { get; set; } = false;
	protected string DatabaseErrorMsg { get; set; }

	void Failure(Syncfusion.Blazor.Grids.FailureEventArgs e)
	{
		Logger.LogDebug($"Error inside {nameof(UpcomingEventsDataAdaptorGrid)}; e.Error: {e.Error}");
		DatabaseErrorMsg = e.Error.ToString();
		DatabaseError = true;
	}
}
