@page "/BibleSearch"

@using Page = LivingMessiah.Web.Links.BibleSearch

<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>

<nav class="navbar navbar-light bg-light">
	<div class="container-fluid">
		<BibleSearchForm/>
	</div>
</nav>
