@page "/"
@namespace LivingMessiah.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<component type="typeof(LivingMessiah.Web.Shared.Meta)" render-mode="ServerPrerendered" />
	<title>Living Messiah</title>
	<base href="~/" />
	@*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	@*<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />*@
	<link href="css/site.css" rel="stylesheet" />
	<link href="LivingMessiah.Web.styles.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
				integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
				crossorigin="anonymous">
</head>
<body>
	<component type="typeof(App)" render-mode="ServerPrerendered" />

	<div id="blazor-error-ui">
		<environment include="Staging,Production">
			An error has occurred. This application may no longer respond until reloaded.
		</environment>
		<environment include="Development">
			An unhandled exception has occurred. See browser dev tools for details.
		</environment>
		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>

	<script src="_framework/blazor.server.js"></script>
	<script src="_content/Microsoft.AspNetCore.Components.Web.Extensions/headManager.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/font-awesome/js/all.min.js"></script>
</body>
</html>
