@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace LivingMessiah.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<component type="typeof(LivingMessiah.Web.Shared.Meta)" render-mode="ServerPrerendered" />
	<title>Living Messiah</title>
	<base href="~/" />

	<link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
				integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
				crossorigin="anonymous">
	<link href="css/site.css" rel="stylesheet" />
	<link href="LivingMessiah.Web.styles.css" rel="stylesheet" />
	<link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
	<!-- <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" /> -->
	<link href="css/syncfusion-blazor-icons.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
				integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
				crossorigin="anonymous">
	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
	<link rel="stylesheet" href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" />
	<script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
</head>
<body>
	<component type="typeof(App)" render-mode="ServerPrerendered" />
	<div id="blazor-error-ui">
		<environment include="Staging,Production">
			An error has occurred. This application may no longer respond until reloaded.
		</environment>
		<environment include="Development">
			An unhandled exception has occurred. See browser dev tools for details.
		</environment>
		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>

	<script src="_framework/blazor.server.js"></script>

	<!--
		This js is needed for Shared/AnchorNavigation
		ToDo: can this be changed leverage JavaScript isolation?
		https://www.meziantou.net/javascript-isolation-in-blazor-components.htm
	-->
	<script>
		function BlazorScrollToId(id) {
				const element = document.getElementById(id);
				if (element instanceof HTMLElement) {
						element.scrollIntoView({
								behavior: "smooth",
								block: "start",
								inline: "nearest"
						});
				}
		}
	</script>



</body>
</html>
