@page "/swales"
@using static LivingMessiah.Web.Links.WindmillRanchSwales

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><span class="text-primary @Icon"></span> @Title</h2>
</div>

<p class="lead">
		If your interested in this subject, please check out this video 
	</p>

	<h3>
		Swales: earth works for conservation and storage PDC by Geff Lawton 
	</h3>

	[video](https://youtu.be/W-f2genlUZI)

	- 00:23 Swales are not elements that fit into steep landscapes- 0:34 they intercept sheet flow recharging the groundwater- 1:00 infiltration is assisted by the true roots, trees are essential as components to swales - 1:30 topsoils on the mound are increased and loosened by material gotten from the trench- 1:40 it's acceptable to plant trees in the trench because they won't drown in the desert- 2:00 you can plant leguminous nitrogen fixing trees above the trench - 2:20 Swells without trees risk waterlog- 2:24 local rainfall deficit exists because of the lack of evapotranspiration- 2:54 you put it another way swales are tree growing systems. They are of utmost importance in deserts because rain is needed (and they are in frequent but come in large events). The added trees transpire more water to the cloud base increasing rainfall and definitely increasing condensation in the desert- 3:25 crown spread of the fringent trees will eventually cover the Swale- 3:47 the width of the Swale can be governed by the crown spread. This for the reduces evaporation and reduces salt concentration- 4:30 grazing from the back slope and hangover forage up to ditch up to the bottom of the mound is beneficial because it introduces manure that gets diluted evenly through the soil when it rains- 7:05 swale width and depth: large property large swales small property small swales.- slope makes a difference- 7:20 infiltration rates makes a difference, shallow and wider are better for sandy conditions.- 8:05 as efficiency increases you can divert more water in. This enables you to plant high-value trees. - 8:40 You can move the system up and advance it in quality. This is advantageous in towns to collect runoff- 9:59 it's not the materials that you're swalling through it's the pioneer trees you might have to go to in sand as you're planning initially... And then as conditions change (improved absorption & fertility) you can move to high quality trees- 10:40 in arid areas it's most important to plant trees on swells because salt concentration may occur downhill and collapse soils- 11:00 In the long run, swales are temporary as they replaced by trees... They are the precursor to forest rehabilitation- 11:30 the base of a swell can be ripped to increase absorption. They can also be covered in sand or gravel (don't know why). Gypsum is good for heavy clay- 12:30 on flat country you you don't have a mound because you spread the material out spread the mound out (on the lower side usually). In hill country- 

	<h3><b>distance between swales</b></h3>
	The Windmill Ranch context is... - 1,320' (1/4 mi) with a 1% slope- the avg. width of the wash is 165' (1/8 the width of the 40 acres property) so that's 217,800 sq. ft. (or 10 acres.- About 30 of the 40 acres drains on the wash. The avg annual rainfall is 15" or 1.25 cubic feet- 30 acres = 1,306,801 sq. ft 
	- **Swale capacity**: 13 swales with 5' base 2' deep 165' wide = 21,450 cu ft * 7.5 gal/cu ft = 160,875 gallons ~ 5% of 3 mil gal of July 3rd flood.
	- 12:38 on Hill country "the potential vertical height of the tree maturity projected horizontally back to the hill determines the maximum density (ie distance between the each swale).- > so is he saying that I should only plant one swale with trees that avg. 13 ft tall? That doesn't make sense to me. - 14:00 another possible measurement for distances between swales is [to plant rows of] trees to 20 times the average swale [base] width (dependent on rain fall). The average width of a swale base is 3' to 6'- > so 1,320'/(20*5') = 13.2 total swales. This calculation seems more favorable to our WR context.- 14:15 the inter Swale spacing is 3-18 meters 10' to 56' in many dry areas they may function as runoff for swales themselves ???
	- >
	Earthworks need to harmonize the landscape. It has to minimize the use of resources, minimize are impact, increased biodiversity in a balanced and positive way as well as making human settlements better,

	[Water harvesting & the Swale plume] (https://youtu.be/0wETVPEkHso)
	<a href="https://youtu.be/1I-Et4FnEvA">[Geoff Lawton at the Arizona Swales :fa-thumbs-up:</a>
	<a href="https://youtu.be/YLvMDbScebE"> :fa-thumbs-up:Geoff Lawton at a 2000 year old Oasis in Morocco</a>
	### Geoff Lawton - [**Level Sill** "The swale goes up hill"](https://youtu.be/I5OU7LG9Cl8) 15:15
	### Geoff Lawton Best Practices for Swales- [how deep, wide and far apart](https://youtu.be/nbkiHhrO6fY)> While there are circumstances which would change things what is the "rule of thumb" for **how deep** and **wide** to make them? How **far apart** to space them, and how to plan ahead for eventual downslope saturation? Will the bottom swale always eventually transform into a wet terrace?

	<h2>Purpose of Swales</h2>
	<ul>
		<li><a href="https://youtu.be/W-f2genlUZI"></a>Geoff Lawton 18 minute YouTube video describing the point and purpose of <b>swales</b></li>
		<li><a href="https://youtu.be/Rz6i5I42JmM">What are Swells - Part 1</a></li>
		<li>CHAPTER 6 <sub>7</sub> – WATER IN PERMACULTURE <a href="https://raktamachat.org/permaculture-thailand-asia/info/rak-tamachat-permaculture-media/permaculture-a-designers-manual/chapter-7-water-in-permacutlure/earthworks-for-water-conservation-and-storage-in-permaculture/">a-designers-manual/chapter-7-water-in-permacutlure </a></li>
		<li><span class="badge-warning">earthworks for water conservation and storage</span> in permaculture</li>
	</ul>


@*Ransom Ranch
	Highway 80 towards Douglas.
	Turn left onto Double Adobe Rd.
	Go 5 miles to Frontier Rd. and turn left.
	Go exactly 2.5 miles to Calle de Amigos and turn left. This is a dirt road.
	3/4 mile to Ransom Ranch. Park carefully due to dry, sandy soil.

	31.502467501152175, -109.76110475912121
	https://goo.gl/maps/6RezqhTt3D5UgiG16*@


@code {

}
