@page "/KeyDates"
@using static LivingMessiah.Web.Links.KeyDates
@using LivingMessiah.Web.Pages.KeyDates.Enums
@using static LivingMessiah.Web.Services.Auth0

@*<div class="jumbotron text-center">
	<h1>
		<span class="text-warning">WARNING | DATES NOT YET CONFIRMED</span>
	</h1>
</div>*@


<hr class="warning" />
<LmmCalendarAdvertisement CalenderReadyForSale="@CalenderReadyForSale">
</LmmCalendarAdvertisement>

