
<div class="mt-4">
	<h3>KeyDate.Constants</h3>
@* 	<TableTemplate Items="CurrentKeyDateConstants" HeaderCSS="@HeaderCSS">
		<TableHeader>
			<th class="text-end">Previous <br />Year</th>
			<th class="text-end">Current <br />Year</th>
			<th class="text-end">Next <br />Year</th>
		</TableHeader>
		<RowTemplate>
			<td>@context.PreviousYear</td>
			<td>@context.NextYear</td>
			<td>@context.CurrentYear</td>
		</RowTemplate>

	</TableTemplate> *@

	<div class="row">
		<div class="col-4">Previous Year</div>
		<div class="col-4">Current Year</div>
		<div class="col-4">Next Year</div>
	</div>

	<div class="row">
		<div class="col-4">@CurrentKeyDateConstants!.PreviousYear</div>
		<div class="col-4">@CurrentKeyDateConstants!.CurrentYear</div>
		<div class="col-4">@CurrentKeyDateConstants!.NextYear</div>
	</div>

</div>

@code {
	[Parameter, EditorRequired] public Queries.KeyDateConstantsQuery? ParamKeyDateConstants { get; set; }
	//protected string? HeaderCSS = "table table-striped table-secondary table-hover";

	//protected List<Queries.KeyDateConstantsQuery>? CurrentKeyDateConstants { get; set; }
	protected Queries.KeyDateConstantsQuery? CurrentKeyDateConstants { get; set; }

	protected override void OnParametersSet()
	{
		CurrentKeyDateConstants = ParamKeyDateConstants;
	}

}
