<p>
	Born in Eastern Oregon, raised in Carson City, Nevada, John has lived in Arizona since 1979.
	Trained as a computer programmer and web developer, John has several websites that he has authored and maintains, including
	<a href="http://myhebrewbible.com/" target="_blank">MyHebrewBible.com</a> and
	<a href="http://musicfromgod.com/" target="_blank">MusicFromGod.com</a>.
	<br /><br />
	He has a passion for studying the scripture from the perspective of law, see
	<a href="http://TorahLawForm.com/" target="_blank">TorahLawForm.com</a>.
	John has been Torah observant and Y'shua believing for many years and has been involved with and helped found several Torah-based organizations
	(see <a href="http://tzuryisrael.azurewebsites.net/" target="_blank">TzuryIsrael.AzureWebsites.net</a>)
	and congregations.
	<br /><br />
	His unique perspective is a valuable asset to our leadership team.
</p>

<ul>
	@*<li><a href="@Url" class="btn btn-light" target="_blank">@UrlSimple <i class="fas fa-external-link-alt"></i></a></li>*@
	<li><a href="https://TorahLawForm.com/" class="btn btn-light" target="_blank">TorahLawForm.com <i class="fas fa-external-link-alt"></i></a></li>
</ul>

