<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-5">
				<img src="@Blobs.Leadership("wanda-hebron-memorial-200-260.jpg")" 
					class = "img-fluid"
					alt="Wanda Hebron" />
    </div>
    <div class="col-7">
      <div class="card-body">
        <h5 class="card-title">Wanda Hebron</h5>
        <p class="card-text">
					In February 2022, Wanda Hebron passed away from cancer after a three-year battle.
					The two met in 2002 and have four adult children between them and six grandchildren.
					Although both Paul and Wanda grew up in church and served in various leadership capacities over the years,
					they discovered the value of the Torah in 2012 and began their continued search for a deeper understanding of the Father’s instructions.
        </p>
      </div>
    </div>
  </div>
</div>

