@page "/RegistrationEntry/SuperUser"

@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot

@* Hint: If the only reason you need a code behind is to implement Authorize, then just use the `@attrubue` this e.g.*@
@attribute [Authorize(Roles = Roles.AdminOrSukkot)] 

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@using Page = LivingMessiah.Web.Links.Sukkot.RegistrationEntry.SuperUser
<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h3><i class="fas fa-table"></i> @Page.Title</h3>
</div>

<SfTab CssClass="">
	<TabItems>

		<TabItem>
			<ChildContent>
				<TabHeader Text="List"></TabHeader>
			</ChildContent>
			<ContentTemplate>

				<RegistrationGrid />

			</ContentTemplate>
		</TabItem>

		<TabItem>
			<ChildContent>
				<TabHeader Text="Edit"></TabHeader>
			</ChildContent>
			<ContentTemplate>
				<EntryForm />
			</ContentTemplate>
		</TabItem>

	</TabItems>
</SfTab>

