<div class="list-group">

	<a href="@LivingMessiah.Web.Links.AudioVisual.Index"
		 title="@LivingMessiah.Web.Links.AudioVisual.Title"
		 class="list-group-item list-group-item-warning ">
		<i class="@LivingMessiah.Web.Links.AudioVisual.Icon fa-fw fa-3x" aria-hidden="true"></i>
		<span class="home-page-xs"><b>@LivingMessiah.Web.Links.AudioVisual.Title</b></span>
	</a>

</div>