<div class="list-group">

	<a href="@LivingMessiah.Web.Links.DashBoard.Index"
		 title="@LivingMessiah.Web.Links.DashBoard.Title khoshen H2833"
		 class="list-group-item list-group-item-warning ">
		<i class="@LivingMessiah.Web.Links.DashBoard.Icon fa-fw fa-3x" aria-hidden="true"></i>
		<span class="home-page-xs"><b>@LivingMessiah.Web.Links.DashBoard.Title</b></span>
		<span class="float-end text-info">
			<span class="hebrew">חֹשֶׁן</span> <br />
		</span>
	</a>

</div>