@page "/"
<HomeImage></HomeImage>

<div class="d-md-none">
	<AuthorizeView Roles="admin">
		<Admin></Admin>
	</AuthorizeView>

	<AuthorizeView>
		<DashboardButton></DashboardButton>
	</AuthorizeView>

	<div class="row">
		<div class="col-12">
			<IntroductionAndWelcome MediaQueryEnum="MediaQueryEnum.Sm" />
		</div>
	</div>

	<SidebarButtons></SidebarButtons>
	<ShabbatMeter></ShabbatMeter>
	<div class="d-print-none">
		<SocialMediaButtons></SocialMediaButtons>
	</div>
</div>


<div class="d-none d-md-block d-lg-none d-xl-none">
	<div class="row">
		<div class="col-7">
			<IntroductionAndWelcome  MediaQueryEnum="MediaQueryEnum.Md" />
		</div>
		<div class="col-5">
			<AuthorizeView Roles="admin">
				<Admin></Admin>
			</AuthorizeView>
			<AuthorizeView>
				<DashboardButton></DashboardButton>
			</AuthorizeView>
			<SidebarButtons></SidebarButtons>
			@* <ShabbatMeter IsMini="true" Format="MMMM dd"></ShabbatMeter> *@
			<ShabbatMeter></ShabbatMeter>
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>
		</div>
	</div>
</div>

<div class="d-none d-lg-block">
	<div class="row">
		<div class="col-8">
			<IntroductionAndWelcome MediaQueryEnum="MediaQueryEnum.Lg" />
		</div>
		<div class="col-4">

			<AuthorizeView Roles="admin">
				<Admin></Admin>
			</AuthorizeView>
			<AuthorizeView>
				<DashboardButton></DashboardButton>
			</AuthorizeView>
			<SidebarButtons></SidebarButtons>

			<ShabbatMeter></ShabbatMeter>
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>

		</div>
	</div>
</div>