@page "/"
@using static LivingMessiah.Web.Services.Auth0

<HomeImage></HomeImage>

<div class="d-md-none">

	<AuthorizeView Roles=@Roles.Admin>
		<Admin></Admin>
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.AdminOrAudiovisual>
		<AudioVisualButton></AudioVisualButton>
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.AdminOrKeyDates>
		<KeyDatesEditButton></KeyDatesEditButton>
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.Admin>
		<DashboardButton></DashboardButton>
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.AdminOrElder>
		<DashboardButton></DashboardButton>
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.AdminOrSukkot>
		<SukkotButton></SukkotButton>
	</AuthorizeView>

	<div class="row">
		<div class="col-12">
			<IntroductionAndWelcome MediaQueryEnum="MediaQueryEnum.Sm" />
		</div>
	</div>

	<SidebarButtons></SidebarButtons>
	<ShabbatMeter></ShabbatMeter>
	<div class="d-print-none">
		<SocialMediaButtons></SocialMediaButtons>
	</div>
</div>


<div class="d-none d-md-block d-lg-none d-xl-none">
	<div class="row">
		<div class="col-7">
			<IntroductionAndWelcome  MediaQueryEnum="MediaQueryEnum.Md" />
		</div>
		<div class="col-5">
			<AuthorizeView Roles=@Roles.Admin>
				<Admin></Admin>
			</AuthorizeView>

			<AuthorizeView Roles=@Roles.AdminOrAudiovisual>
				<AudioVisualButton></AudioVisualButton>
			</AuthorizeView>
			
			<AuthorizeView Roles=@Roles.AdminOrKeyDates>
				<KeyDatesEditButton></KeyDatesEditButton>
			</AuthorizeView>

			<AuthorizeView Roles=@Roles.Admin>
				<DashboardButton></DashboardButton>
			</AuthorizeView>
			<SidebarButtons></SidebarButtons>
			@* <ShabbatMeter IsMini="true" Format="MMMM dd"></ShabbatMeter> *@
			<ShabbatMeter></ShabbatMeter>
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>
		</div>
	</div>
</div>

<div class="d-none d-lg-block">
	<div class="row">
		<div class="col-8">
			<IntroductionAndWelcome MediaQueryEnum="MediaQueryEnum.Lg" />
		</div>
		<div class="col-4">

			<AuthorizeView Roles=@Roles.Admin>
				<Admin></Admin>
			</AuthorizeView>

			<AuthorizeView Roles=@Roles.AdminOrAudiovisual>
				<AudioVisualButton></AudioVisualButton>
			</AuthorizeView>

			<AuthorizeView Roles=@Roles.AdminOrKeyDates>
				<KeyDatesEditButton></KeyDatesEditButton>
			</AuthorizeView>

			<AuthorizeView Roles=@Roles.Admin>
				<DashboardButton></DashboardButton>
			</AuthorizeView>
			<SidebarButtons></SidebarButtons>

			<ShabbatMeter></ShabbatMeter>
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>

		</div>
	</div>
</div>