
@if (MediaQueryEnum == MediaQueryEnum.Xs | MediaQueryEnum == MediaQueryEnum.Sm)
{
<div class="card border-warning mb-4">
	<div class="card-header">
		<h2 class="card-title text-warning text-center"><b>Welcome</b></h2>
	</div>

	<div class="body p-2">
		<Welcome />
	</div>

	@if (IsCollapsed)
	{
		<div class="card-footer bg-transparent">
			<Button @onclick="Collapsed_ButtonClick"
							class="btn-primary btn-sm float-right">
				Learn More... <i class="fas fa-chevron-down"></i>
			</Button>

		</div>
	}
	else
	{
		<div class="body p-2"> <VisionAndMission />	</div>
		<div class="body p-2"> <Resolve MediaQueryEnum="@MediaQueryEnum"></Resolve>	</div>
		<div class="card-footer  bg-transparent">
			<Button @onclick="Collapsed_ButtonClick"
							class="btn-primary btn-sm float-right">
				Shrink <i class="fas fa-chevron-up"></i>
			</Button>
		</div>
	}

</div>

}
else
{
	<div class="card border-warning mr-0">
		<div class="card-header">
			<h2 class="text-warning text-center"><b>Welcome</b></h2>
		</div>

		<div class="body p-2">
			<Welcome />
		</div>
		<div class="body p-2">
			<VisionAndMission />
		</div>
		<div class="body p-2">
			<Resolve MediaQueryEnum="@MediaQueryEnum"></Resolve>
		</div>

	</div>
}

@*

	<div class="card-footer bg-transparent border-warning text-center">

	<div class="@IsCollapsed">
			<div class="card border-warning mb-3">

				<div class="card-body">

				</div>

			</div>
		</div>*@
