<div class="list-group">

	<a href="@LivingMessiah.Web.Links.KeyDatesEdit.Index"
		 title="@LivingMessiah.Web.Links.KeyDatesEdit.Title"
		 class="list-group-item list-group-item-danger ">
		<i class="@LivingMessiah.Web.Links.KeyDatesEdit.Icon fa-fw fa-3x" aria-hidden="true"></i>
		<span class="home-page-xs"><b>@LivingMessiah.Web.Links.KeyDatesEdit.Title</b></span>
	</a>

</div>