@using static LivingMessiah.Web.Services.Auth0

<section id="main">

	<AuthorizeView Roles=@Roles.Admin>
		<AdminList />
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.AudioVisual>
		<AdminWirecastButton />
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.Sukkot>
		<SukkotAdminButton />
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.KeyDates>
		<KeyDatesEditButton />
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.Admin>
		@*<DashboardButton></DashboardButton>*@
	</AuthorizeView>

</section>
