@using static LivingMessiah.Web.Services.Auth0

<section id="main">
	<AuthorizeView Roles=@Roles.Admin>
		<Admin></Admin>
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.AdminOrAudiovisual>
		<AudioVisualButton></AudioVisualButton>
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.AdminOrKeyDates>
		<KeyDatesEditButton></KeyDatesEditButton>
	</AuthorizeView>

	<AuthorizeView Roles=@Roles.Admin>
		<DashboardButton></DashboardButton>
	</AuthorizeView>

</section>
