<hr class="warning" />

<div class="row">

	<div class="col-3">

		<a href="https://twitter.com/LivingMessiah"
			 class="btn btn-info" title="Follow us on Twitter"
			 data-show-count="false" data-size="large" data-show-screen-name="false">
			<i class="fab fa-twitter fa-fw fa-2x" aria-hidden="true"></i>
		</a>
	</div>

	<div class="col-3">

		<a href="https://www.facebook.com/LivingMessiahMinistries"
			 class="btn btn-primary" title="See our Facebook page">
			<i class="fab fa-facebook-f fa-fw fa-2x" aria-hidden="true"></i>
		</a>
	</div>

	<div class="col-3">

		<a href="@SocialMedia.YouTube.YouTubeNormal()"
			 class="btn btn-danger" title="Watch our videos on YouTube">
			<i class="fab fa-youtube fa-fw fa-2x" aria-hidden="true"></i>
		</a>
	</div>

	<div class="col-3">

		<a href="https://github.com/LivingMessiah"
			 class="btn btn-warning" title="Living Messiah website is NOW OPEN SOURCE!!!"
			 data-show-count="false" data-size="large" data-show-screen-name="false">
			<i class="fab fa-github fa-fw fa-2x" aria-hidden="true"></i>
		</a>
	</div>

</div>

@*<div class="row">

	<div class="col-4">

		<a href="https://github.com/LivingMessiah"
			 class="btn btn-warning" title="Living Messiah website is not open source"
			 data-show-count="false" data-size="large" data-show-screen-name="false">
			<i class="fab fa-github fa-fw fa-2x" aria-hidden="true"></i>
		</a>
	</div>

	<div class="col-4">

	</div>

	<div class="col-4">

	</div>

</div>*@


@*<p>ToDo: Port Twitter javascript (extracted from _SidebarButtons)</p>*@

@*<script>
		!function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0],
				p = /^http:/.test(d.location) ? 'http' : 'https';
			if (!d.getElementById(id)) {
				js = d.createElement(s);
				js.id = id;
				js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs);
			}
		}(document, 'script', 'twitter-wjs');
	</script>*@


@code {

}
