@using Page = LivingMessiah.Web.Links.Sukkot.SuperUser

<div class="list-group">
	<div class="card mb-3 bg-warning">
		<div class="card-body">

			<i class="@Page.Icon" aria-hidden="true"></i>
			<a href="@Page.Index" title="@Page.Title">
				@Page.Title
			</a>

		</div>
	</div>
</div>
