
<h3><span class="badge bg-warning">Our Vision</span></h3>
<p class="lead">
	To build community from a Hebraic understanding by gathering together with others whom YHWH is gathering that desire to call upon The Name of THE LORD, <span class="hebrew">יהוה</span> in order to understand and apply His commandments as we walk in His plan of Salvation.
</p>

<h3><span class="badge bg-warning">Our Mission</span></h3>
<p class="lead">
	Proclaiming by our lifestyle,The Living Word of THE LORD, <span class="hebrew">יהוה</span> and His mighty deeds.
</p>
