<p class="lead">
	Welcome to <b>Living Messiah Ministries</b>, located in Mesa, Arizona.
	We are building community from a Hebraic understanding while acknowledging the redemptive and reconciling work of Yahushua Ha Mashiach (Jesus The Messiah).
</p>
