<a href="@Blobs.UrlPdfs("omer-2020-04-13-with-background.pdf")" target="_blank"
	 title="Beautiful blank Calendar Download"
	 class="btn btn-primary btn-sm px-1">
	<i class="far fa-file-pdf"></i> <b>@Title</b> <i class="fas fa-file-download"></i>
</a>
<p class="text-primary mt-0"><small><b>Blank Calendar</b></small></p>
