@using LivingMessiah.Web.Pages.KeyDate.Constants
<h4 class="mt-4">Leviticus 23:15-16 - <i>Shavuot</i> Omer Counting Instructions</h4>

<blockquote>
	<sup>15</sup> And ye shall count unto you from the morrow after the sabbath, from the day that ye brought the sheaf of the wave offering; seven sabbaths shall be complete:  
	<sup>16</sup> Even unto the morrow after the seventh sabbath shall ye number fifty days; and ye shall offer a new meat offering unto <span class="hebrew16">לַיהוָה</span>.

	<small><i>Vayiqra</i> <sup>Leviticus </sup> 23:15-16</small>
</blockquote>

<h4 class="my-4">First day after the Sabbath <b>@((MarkupString)Omer.FirstDayAfterTheSabbath)</b></h4>
