@using LivingMessiah.Web.Shared.BibleVerses
<div class="d-none d-print-block">
	<CountingInstructions></CountingInstructions>
</div>

<Lev_023_17_to_21 Header="Shavuot Instructions">
</Lev_023_17_to_21>
