<div class="d-none d-print-block">
	<CountingInstructions></CountingInstructions>
</div>

<h4 class="mt-4">Leviticus 23:17-22 - <i>Shavuot</i> Instructions</h4>

<blockquote>

	<ol start="17">
		<li>
			Ye shall bring out of your habitations two wave loaves of two tenth deals: they shall be of fine flour; they shall be baken with leaven; they are the <span class="hebrew16">בִּכּוּרִים</span> <sup>firstfruits <i>bik·ku·Rim</i></sup> unto <span class="hebrew16">לַיהוָה</span>.
		</li>

		<li>
			And ye shall offer with the bread seven lambs without blemish of the first year, and one young bullock, and two rams: they shall be for a burnt offering unto <span class="hebrew16">לַיהוָה</span>, with their meat offering, and their drink offerings, even an offering made by fire, of sweet savour unto  <span class="hebrew16">לַיהוָה</span>.  
		</li>

		<li>
			Then ye shall sacrifice one kid of the goats for a sin offering, and two lambs of the first year for a sacrifice of peace offerings.  
		</li>

		<li>
			And the priest shall wave them with the bread of <span class="hebrew16">הַבִּכּוּרִים</span> <sup>the firstfruits <i>hab·bik·ku·Rim</i></sup> for a wave offering before <span class="hebrew16">לַיהוָה</span>, with the two lambs: they shall be holy to the LORD for the priest.  
		</li>

		<li>
			And ye shall proclaim on the selfsame day, that it may be an holy convocation unto you: ye shall do no servile work therein: it shall be a statute for ever in all your dwellings throughout your generations.  
		</li>

		<li>
			And when ye reap the harvest of your land, thou shalt not make clean riddance of the corners of thy field when thou reapest, neither shalt thou gather any gleaning of thy harvest: thou shalt leave them unto the poor, and to the stranger: <span class="hebrew16">יְהוָה אֱלֹהֵיכֶם</span>.
		</li>
	</ol>

	<small><i>Vayiqra</i> <sup>Leviticus </sup> 23:17-22</small>
</blockquote>

<p class="mb-5">
	<small>Note, "the LORD" has been replaced with the Hebrew <span class="hebrew16">לַיהוָה</span> and "I am the LORD your God" with <span class="hebrew16">יְהוָה אֱלֹהֵיכֶם</span></small>
</p>

