
<div class="row">
	<div class="col-sm-2 bg-light">Sun / Mon</div>
	<div class="col-sm-2 bg-light">Tuesday</div>
	<div class="col-sm-2 bg-light">Wednesday</div>
	<div class="col-sm-2 bg-light">Thursday</div>
	<div class="col-sm-2 bg-light">Friday</div>
	<div class="col-sm-2 bg-light">Saturday</div>
</div>
<br />
@for (int weeks = 1; weeks < 8; weeks++)
{
	<div class="row">

		@for (int j = 2; j < 8; j++)
		{
			omerLaggingCnt += 1;
			omerActualCnt += 1;
			if (omerLaggingCnt == 1 | omerLaggingCnt == 7 | omerLaggingCnt == 13 | omerLaggingCnt == 19 | omerLaggingCnt == 25 | omerLaggingCnt == 31 | omerLaggingCnt == 37)
			{
				omerActualCnt += 1;
			}
		<div class="col-sm-2">
			<span class='fa-stack fa-3x'>
				@((MarkupString)CalendarFont(omerActualCnt))
				<span class='fa-stack-1x hebrew36'>
					@((MarkupString)Content(omerActualCnt))
				</span>
			</span>
			@((MarkupString)Footer(omerActualCnt))
			<br />
		</div>
		}
	</div>

}
