@using LivingMessiah.Web.Pages.KeyDates.Constants

<div class="d-print-none">
	<div class="float-end">
		<BlankCalendarDownloadAnchor Title="Calendar Download"></BlankCalendarDownloadAnchor>
	</div>
</div>


<div class="d-print-none">
	<h1><span class="badge bg-warning">Shavuot @Years.Current</span></h1>
</div>

<div class="d-none d-print-block">
	<h3 class="text-center mt-0 mb-2 pt-0">Shavuot @Years.Current | Omer Count</h3>
</div>

<div class="d-print-none">
	<a class="btn btn-sm btn-default" href="javascript:window.print()">
		<span class="fas fa-print"></span> Print Blank
	</a>
</div>

<div class="d-print-none">
	<CountingInstructions></CountingInstructions>
</div>
