@page "/Shavuot"
@using static LivingMessiah.Web.Pages.Shavuot.Domain.OmerGematriaFactory

<Header></Header>

<div class="d-block d-sm-none">
	<TableXs CurrentDay="CurrentDay"></TableXs>
</div>

<div class="d-print-none">
	<div class="row d-none d-sm-block">
		<GridSixWideSmMdLgXl CurrentDay="CurrentDay"></GridSixWideSmMdLgXl>
	</div>
</div>

<div class="d-none d-print-block">
	<TablePrint></TablePrint>
</div>

<div class="card border-warning text-center">
	<div class="card-header bg-warning">
		<h2><span class="card-title mb-0"><b><i>Shavuot</i></b> !!!</span></h2>
	</div>

	<div class="card-body">
		<span class='fa-stack fa-5x'>
			<i class='far fa-calendar fa-stack-2x'></i>
			<strong class='fa-stack-1x calendar-text'><span class='text-danger'>@GetHebrew(50)</span></strong>
		</span>
		<p class="display-2"><span class='badge badge-info'>50!</span></p>
	</div>

</div>

<Footer></Footer>
<AlephBet></AlephBet>