<table class="table table-xtra-condensed">
	<thead class="thead-light">
		<tr>
			<th class="text-center"><u>Su</u></th>
			<th class="text-center"><u>Mo</u></th>
			<th class="text-center"><u>Tue</u></th>
			<th class="text-center"><u>Wed</u></th>
			<th class="text-center"><u>Thu</u></th>
			<th class="text-center"><u>Fri</u></th>
			<th class="text-center"><u>Sat</u></th>
		</tr>
	</thead>

	<tbody>

		@for (int weeks = 1; weeks < 8; weeks++)
		{
			<tr>

				@for (int j = 1; j < 8; j++)
				{
					dayXs += 1;

					<td class="text-center">
						<span class='fa-stack'>
							<i class='fas fa-square fa-stack-2x'></i>
							@((MarkupString)FaCheck(dayXs))
							@((MarkupString)DetailXs(dayXs))
						</span>
						<p class="text-center mb-1"><sup>@dayXs</sup></p>
					</td>

				}
			</tr>
		}
	</tbody>
</table>
