@using LivingMessiah.Web.Features.Feasts.VerseReferenceCards

<div class="d-none d-print-block">
	<CountingInstructions></CountingInstructions>
</div>

<div class="card border-primary mt-5">
	<Lev_23_17_21 />
</div>