@page "/NavigationSearch"
@using Page = LivingMessiah.Web.Links.NavigationSearch
@using LivingMessiah.Web.SmartEnums

<PageTitle>@Page.Title</PageTitle>

@* <nav class="navbar navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand">Navbar</a>
		<form class="d-flex">
			<input class="form-control me-2" @bind="item" 
				type="search" aria-label="Search">
			<button class="btn btn-outline-success" 
				type="submit" @onclick="() => SearchClicked()">
				Search
			</button>
		</form>
	</div>
</nav> *@

@* @if (Msg is not null)
{
	<p>@Msg</p>
} *@

<hr />

<input class="form-control me-2" @bind-value="SearchText"
			 @bind-value:event="oninput" 
			 placeholder="Search by page" />

@if (!Links!.Any())
{
	<p>Loading some links...</p>
}
else
{
	<div class="h5 mb-3">
		<ol class="fa-ul">
			@foreach (var link in FilteredLinks!)
			{
				<li><a href="@link.Index">@link.Title</a></li>
			}
		</ol>
	</div>
}