<div class="card-header"><h5 class="text-center">Purim References | Esther 9</h5></div>

<div class="card-body">
	<h5 class="card-title">Esther 9:24-32</h5>
	<blockquote>

		<p class="fs-5">
			<sup><b>24</b></sup>
			Because Haman the son of Hammedatha, the Agagite, the enemy of all the Jews, had devised against the Jews to destroy them
			, and had cast <i>pur</i> <span class="hebrew">פּוּר</span> <sup>Pur</sup>, that is, the lot, to consume them, and to destroy them;
		</p>
		<p class="fs-5">
			<sup><b>25</b></sup>
			But when Esther came before the king, he commanded by letters that his wicked device, which he devised against the Jews
			, should return upon his own head, and that he and his sons should be hanged on the gallows.
		</p>
		<p class="fs-5">
			<sup><b>26</b></sup>
			Wherefore they called these days <i>phurim</i> <span class="hebrew">פוּרִים</span> <sup>Purim</sup>
			after the name of <i>hapur</i> <span class="hebrew">הַפּוּר</span> <sup>Pur</sup>. Therefore for all the words of this letter
			, and of that which they had seen concerning this matter, and which had come unto them,
		</p>
		<p class="fs-5">
			<sup><b>27</b></sup>
			The Jews ordained, and took upon them, and upon their seed, and upon all such as joined themselves unto them
			, so as it should not fail, that they would keep these two days according to their writing, and according to their appointed time every year;
		</p>
		<p class="fs-5">
			<sup><b>28</b></sup>
			And that these days should be remembered and kept throughout every generation, every family, every province, and every city
			; and that these days of <i>happurim</i> <span class="hebrew">הַפּוּרִים</span> <sup>Purim</sup> should not fail from among the Jews, nor the memorial of them perish from their seed.
		</p>
		<p class="fs-5">
			<sup><b>29</b></sup>
			Then Esther the queen, the daughter of Abihail, and Mordecai the Jew, wrote with all authority
			, to confirm this second letter of Purim.
		</p>
		<p class="fs-5">
			<sup><b>30</b></sup>
			And he sent the letters unto all the Jews, to the hundred twenty and seven provinces of the kingdom of Ahasuerus, with words of peace and truth,
		</p>
		<p class="fs-5">
			<sup><b>31</b></sup>
			To confirm these days of <i>phurim</i> <span class="hebrew">פוּרִים</span> <sup>Purim</sup> in their times appointed
			, according as Mordecai the Jew and Esther the queen had enjoined them, and as they had decreed for themselves and for their seed, the matters of the fastings and their cry.
		</p>
		<p class="fs-5">
			<sup><b>32</b></sup>
			And the decree of Esther confirmed these matters of <i>phurim</i> <span class="hebrew">פוּרִים</span> <sup>Purim</sup>; and it was written in the book.
		</p>

		<small class="float-end"><i>Hadasah</i> <span class="hebrew16">אֶסְתֵּר</span> <sup>Esther </sup> 9:24-32</small>
	</blockquote>

</div>


@code {
	
}
