
<div class="card-header">
	<h5 class="text-center">Hanukkah References | John 10</h5>
	<p class="small mt-1 text-black-50 text-center">Re. the word <i>Hanukkah</i>, see e.g. Nehemiah 12:27</p>
</div>

<div class="card-body">
	<h5 class="card-title">John 10:22</h5>
	<blockquote>
		<p class="fs-5">
			<sup><b>22</b></sup>
			And it was at Jerusalem the feast of the <mark><b>dedication</b></mark> <sup><i>egkainia</i> G1456; <i>Hanukkah</i><span class="hebrew16">חֲנֻכָּה</span> H2598</sup> , and it was winter.
		</p>
		<small class="float-end"><i>Yochanan </i> <sup>John </sup> 10:22</small>
	</blockquote>

</div>


@code {

}
