
<div class="card-header"><h5 class="text-center">Hanukkah References | John 10</h5></div>

<div class="card-body">
	<h5 class="card-title">John 10:22</h5>
	<blockquote>
		<p>
			<sup><b>22</b></sup>
			And it was at Jerusalem the feast of the dedication, and it was winter.
		</p>
		<small class="float-end"><i>Yochanan </i> <sup>John </sup> 10:22</small>
	</blockquote>

</div>


@code {

}
