<div class="card-header"><h5 class="text-center">Trumpets References | Leviticus 23</h5></div>

<div class="card-body">
	<h5 class="card-title">Leviticus 23:23-25</h5>
	<blockquote>

		<p class="fs-5">
			<sup><b>23</b></sup>
			And <span class="hebrew">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew">וַיְדַבֵּר</span> <sup>spake unto</sup>
			<i>Moseh</i> <span class="hebrew">מֹשֶׁה</span> <sup>Moses</sup>, saying,
		</p>

		<p class="fs-5">
			<sup><b>24</b></sup>
			Speak unto the children of Israel, saying, In the seventh month
			, in the first day of the month, shall ye have a <i>shabbaton</i> <span class="hebrew">שַׁבָּתוֹן</span> <sup>of rest</sup>
			, a <i>zichron</i> <span class="hebrew">זִכְרוֹן</span> <sup>memorial</sup> of <i>teruah</i> <span class="hebrew">תְּרוּעָה</span> <sup>blowing of trumpets</sup>
			, an <i>kodesh</i> <span class="hebrew">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew">מִקְרָא־</span> <sup>convocations</sup>.
		</p>

		<p class="fs-5">
			<sup><b>25</b></sup>
			Ye shall do no servile work therein:
			but <i>vehikravtem</i> <span class="hebrew">וְהִקְרַבְתֶּם</span> <sup>ye shall offer</sup>
			an offering made <i>ishsheh</i> <span class="hebrew">אִשֶּׁה</span> <sup>by fire</sup>
			unto <span class="hebrew">לַיהוָה ס</span> <sup>the LORD</sup>.
		</p>

		<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:23-25</small>
	</blockquote>

</div>

@code {

}
