
<div class="card-header"><h5 class="text-center"> Passover Bible References | Leviticus 23</h5></div>
<div class="card-body">
	<h5 class="card-title">Leviticus 23:4-8</h5>
	<blockquote>

		<p class="fs-5">
			<sup><b>4</b></sup>
			These are the <i>moadei</i> <span class="hebrew">מוֹעֲדֵי</span> <sup>feasts</sup> of <span class="hebrew">יְהוָה</span> <sup>the LORD</sup>
			, even <i>kodesh</i> <span class="hebrew">קֹדֶשׁ</span> <sup>holy</sup> <i>mikrei</i> <span class="hebrew">מִקְרָאֵי</span> <sup>convocations</sup>
			, which ye shall <i>tikreu</i> <span class="hebrew">תִּקְרְאוּ</span> <sup>proclaim</sup> in their <i>bemoadam</i> <span class="hebrew">בְּמוֹעֲדָם</span> <sup>seasons</sup>.
		</p>

		<p class="fs-5">
			<sup><b>5</b></sup>
			In the fourteenth day of the first month <i>bein</i> <span class="hebrew">בֵּין</span> <sup>at {or between}</sup> even is
			<span class="hebrew">לַיהוָה</span> <sup>the LORD's</sup> <i>pesach</i> <span class="hebrew">פֶּסַח</span> <sup>passover</sup>.
		</p>

		<p class="fs-5">
			<sup><b>6</b></sup>
			And on the fifteenth day of the same month is the <i>chag</i> <span class="hebrew">חַג</span> <sup>feast</sup>
			of <i>hammatztzot</i> <span class="hebrew">הַמַּצּוֹת</span> <sup>unleavened bread</sup> unto <span class="hebrew">לַיהוָה</span> <sup>the LORD</sup>:
			seven days ye must eat <i>matztzot</i> <span class="hebrew">מַצּוֹת</span> <sup>unleavened bread</sup>.
		</p>

		<p class="fs-5">
			<sup><b>7</b></sup>
			In the <i>harishon</i> <span class="hebrew">הָרִאשׁוֹן</span> <sup>first</sup> day ye shall have an <i>kodesh</i>
			<span class="hebrew">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew">מִקְרָא־</span> <sup>convocation</sup>
			: ye shall do no servile work therein.
		</p>

		<p class="fs-5">
			<sup><b>8</b></sup>
			But ye shall offer an offering made by fire unto <span class="hebrew">לַיהוָה</span> <sup>the LORD</sup> seven days
			: in the seventh day is an <span class="hebrew">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew">מִקְרָא־</span> <sup>convocation</sup>
			: ye shall do no servile work therein.
		</p>

		<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:4-8</small>
	</blockquote>

</div>



@code {

}
