<div class="card-header"><h5 class="text-center"> The sheaf of firstfruits | Leviticus 23</h5></div>
<div class="card-body">
	<h5 class="card-title">Leviticus 23:10-11 <sup><a href="https://www.blueletterbible.org/lxx/lev/23/11/t_conc_113011" target="_blank"><b>NETS</b></a></sup></h5>
	<blockquote>
		<p class="fs-5">
			<sup><b>10</b></sup>
			Speak to the sons of Israel, and you shall say to them: 
			When you enter into the land that I give you and you reap its harvest, you shall also bring a sheaf as the
			first fruit <span class="hebrew">רֵאשִׁית</span> <sup><i>reshit</i></sup> 
			of your harvest <span class="hebrew">קְצִירְכֶם</span> <sup><i>ketzirechem</i></sup>.
			to the priest
		</p>

		<p class="fs-5">
			<sup><b>11</b></sup>
			And he shall raise up the sheaf before the Lord, acceptable for you; on the 
			<b>day after the <mark>first</mark></b> πρώτης <sup><i>protos</i> <a href="https://www.blueletterbible.org/lexicon/g4413/lxx/lxx/0-1/" target="_blank">G4414</a></sup>  the priest shall raise it up.
		</p>
		<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:10-11</small>
	</blockquote>

</div>

@code {
	// And he shall wave the sheaf before the LORD, to be accepted for you: on the morrow after the sabbath the priest shall wave it. <sup>Lev 23:11 KJV</sup>
}
