<div class="card-header"><h5 class="text-center">Weeks Reference | Leviticus 23</h5></div>
	<div class="card-body">
		<h5 class="card-title">Leviticus 23:17-21</h5>
		<blockquote>

			<p class="fs-5">
				<sup><b>17</b></sup>
				Ye shall bring out of your habitations two wave loaves of two tenth deals:
				they shall be of fine flour; they shall be baken with leaven;
				they are the <span class="hebrew">בִּכּוּרִים</span> <sup>firstfruits <i>bik·ku·Rim</i></sup> unto <span class="hebrew">לַיהוָה</span>.
			</p>

			<p class="fs-5">
				<sup><b>18</b></sup>
				And ye shall offer with the bread seven lambs without blemish of the first year
				, and one young bullock, and two rams: they shall be for a burnt offering
				unto <span class="hebrew">לַיהוָה</span>,
				with their meat offering, and their drink offerings, even an offering made by fire, of sweet savour unto <span class="hebrew">לַיהוָה</span>.  
			</p>

			<p class="fs-5">
				<sup><b>19</b></sup>
				Then ye shall sacrifice one kid of the goats for a sin offering
				, and two lambs of the first year for a sacrifice of peace offerings.
			</p>

			<p class="fs-5">
				<sup><b>20</b></sup>
				And the priest shall wave them with the bread of <span class="hebrew">הַבִּכּוּרִים</span> <sup>the firstfruits <i>hab·bik·ku·Rim</i></sup>
				for a wave offering before <span class="hebrew">לַיהוָה</span>, with the two lambs: they shall be holy to the LORD for the priest.  
			</p>

			<p class="fs-5">
				<sup><b>21</b></sup>
				And ye shall proclaim on the selfsame day, that it may be an holy convocation unto you
				: ye shall do no servile work therein: it shall be a statute for ever in all your dwellings throughout your generations.
			</p>

		<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:17-21</small>
		</blockquote>

	</div>


@code {

}
