<div class="card-header"><h5 class="text-center">Tabernacles References | Leviticus 23</h5></div>

<div class="card-body">
	<h5 class="card-title">Leviticus 23:33-38</h5>
	<blockquote>

		<p class="fs-5">
			<sup><b>33</b></sup>
			And <span class="hebrew">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew">וַיְדַבֵּר</span> <sup>spake unto</sup>
			<i>Moseh</i> <span class="hebrew">מֹשֶׁה</span> <sup>Moses</sup>, saying,
		</p>

		<p class="fs-5">
			<sup><b>34</b></sup>
			Speak unto the <i>benei</i> <span class="hebrew">בְּנֵי</span> <sup>children</sup> <i>Yisrael</i> <span class="hebrew">יִשְׂרָאֵל</span> <sup>of Israel</sup>
			, saying, The fifteenth day of this seventh month
			shall be the <i>chag</i> <span class="hebrew">חַג</span> <sup>feast</sup> of <i>hassukkot</i> <span class="hebrew">הַסֻּכּוֹת</span> <sup>tabernacles</sup>
			for seven days unto <span class="hebrew">לַיהוָה</span> <sup>the LORD</sup>.
		</p>

		<p class="fs-5">
			<sup><b>35</b></sup>
			On the first day shall be an <i>kodesh</i> <span class="hebrew">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew">מִקְרָא־</span> <sup>convocations</sup>
			: ye shall do no servile work therein.
		</p>

		<p class="fs-5">
			<sup><b>36</b></sup>
			Seven days ye <i>takrivu</i> <span class="hebrew">תַּקְרִיבוּ</span> <sup>shall offer</sup>
			an offering made <i>ishsheh</i> <span class="hebrew">אִשֶּׁה</span> <sup>by fire</sup>
			unto <span class="hebrew">לַיהוָה ס</span> <sup>the LORD</sup>:
			on the eighth day shall be
			an <i>kodesh</i> <span class="hebrew">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew">מִקְרָא־</span> <sup>convocations</sup> unto you
			; and ye shall offer an offering made by fire unto the LORD:
			it is a <i>atzeret</i> <span class="hebrew">עֲצֶרֶת</span> <sup>solemn assembly</sup>
			; and ye shall do no servile work therein.
		</p>

		<p class="fs-5">
			<sup><b>37</b></sup>
			These are the feasts of the LORD, which ye shall proclaim to be holy convocations
			, to offer an offering made by fire unto the LORD, a burnt offering, and a meat offering
			, a sacrifice, and drink offerings, every thing upon his day:
		</p>

		<p class="fs-5">
			<sup><b>38</b></sup>
			Beside the sabbaths of the LORD, and beside your gifts, and beside all your vows
			, and beside all your freewill offerings, which ye give unto the LORD.
		</p>

		<small class="float-end"><i>Vayiqra</i> <span class="hebrew">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:33-38</small>
	</blockquote>
</div>

<div class="card-body">
	<h5 class="card-title">Leviticus 23:39-44</h5>
	<blockquote>

		<p class="fs-5">
			<sup><b>39</b></sup>
			Also in the fifteenth day of the seventh month, when ye have gathered in the fruit of the land
			, ye shall keep a feast unto the LORD seven days: on the first day shall be a sabbath
			, and on the eighth day shall be a sabbath.
		</p>

		<p class="fs-5">
			<sup><b>40</b></sup>
			And ye shall take you on the first day the boughs of goodly trees, branches of palm trees
			, and the boughs of thick trees, and willows of the brook
			; and ye shall rejoice before the LORD your God seven days.
		</p>

		<p class="fs-5">
			<sup><b>41</b></sup>
			And ye shall keep it a feast unto the LORD seven days in the year.
			It shall be a statute for ever in your generations: ye shall celebrate it in the seventh month.
		</p>
		<p class="fs-5">
			<sup><b>42</b></sup>
			Ye shall dwell in booths seven days; all that are Israelites born shall dwell in booths:
		</p>

		<p class="fs-5">
			<sup><b>43</b></sup>
			That your generations may know that I made the children of Israel to dwell in booths
			, when I brought them out of the land of Egypt: I am the LORD your God.
		</p>

		<p class="fs-5">
			<sup><b>44</b></sup>
			And Moses declared unto the children of Israel the feasts of the LORD.
		</p>

		<small class="float-end"><i>Vayiqra</i> <span class="hebrew">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:39-44</small>
	</blockquote>


</div>


@code {

}
