<div class="card-header"><h5 class="text-center">Yom Kippur References | Leviticus 23</h5></div>

<div class="card-body">
	<h5 class="card-title">Leviticus 23:26-32</h5>
	<blockquote>

		<p class="fs-5">
			<sup><b>26</b></sup>
			And <span class="hebrew">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew">וַיְדַבֵּר</span> <sup>spake unto</sup>
			<i>Moseh</i> <span class="hebrew">מֹשֶׁה</span> <sup>Moses</sup>, saying,
		</p>

		<p class="fs-5">
			<sup><b>27</b></sup>
			Also on the tenth day of this seventh month there shall be a day of atonement:
			it shall be an holy convocation unto you; and ye shall afflict your souls
			, and offer an offering made by fire unto the LORD.
		</p>

		<p class="fs-5">
			<sup><b>28</b></sup>
			And ye shall do no work in that same day: for it is a day of atonement
			, to make an atonement for you before the LORD your God.
		</p>

		<p class="fs-5">
			<sup><b>29</b></sup>
			For whatsoever soul it be that shall not be afflicted in that same day
			, he shall be cut off from among his people.
		</p>

		<p class="fs-5">
			<sup><b>30</b></sup>
			And whatsoever soul it be that doeth any work in that same day
			, the same soul will I destroy from among his people.
		</p>

		<p class="fs-5">
			<sup><b>31</b></sup>
			Ye shall do no manner of work:
			it shall be a statute for ever throughout your generations in all your dwellings.
		</p>

		<p class="fs-5">
			<sup><b>32</b></sup>
			It shall be unto you a sabbath of rest, and ye shall afflict your souls:
			in the ninth day of the month at even, from even unto even
			, shall ye celebrate your sabbath.
		</p>

		<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:26-32</small>
	</blockquote>

</div>


@code {

}
