@using Microsoft.Extensions.Logging;

@inject ILogger<TocToggleButton> Logger

<button class="btn btn-primary btn-sm"
				@onclick="ButtonClicked">
	<i class="fas fa-bars"></i>
	Table of Contents
</button>


@code {
	[Parameter, EditorRequired] public bool CurrentBoolValue { get; set; }
	[Parameter, EditorRequired] public EventCallback<bool> OnToggleSelected { get; set; }

	public bool _currentBoolValue { get; set; }
	protected override void OnParametersSet()
	{
		Logger!.LogDebug("{Class}!{Method}; CurrentBoolValue: {CurrentBoolValue}"
		, nameof(TocToggleButton), nameof(OnParametersSet), CurrentBoolValue);
		_currentBoolValue = CurrentBoolValue;
	}

	private void ButtonClicked()
	{
		OnToggleSelected.InvokeAsync(!_currentBoolValue); // flip the boolean value
	}

}

