@*<div class="container"></div>*@

<div class="row">
	<div class="col-12">
		<div class="mx-auto" style="width: 300px;">
			<span class="hebrew tiny text-muted align-content-center">
				<a title="Aleph">א</a>
				<a title="Bet">ב</a>
				<a title="Gimel">ג</a>
				<a title="Dalet">ד</a>
				<a title="He">ה</a>
				<a title="Vav">ו</a>
				<a title="Zayin">ז</a>
				<a title="Cheth">ח</a>
				<a title="Teth">ט</a>
				<a title="Yodh">י</a>
				<a title="Kaph">כ</a>
				<a title="Lamed">ל</a>
				<a title="Mem">מ</a>
				<a title="Nun">נ</a>
				<a title="Samek">ס</a>
				<a title="Ayin">ע</a>
				<a title="Pe">פ</a>
				<a title="Tsade">צ</a>
				<a title="Qoph">ק</a>
				<a title="Resh">ר</a>
				<a title="Shin">ש</a>
				<a title="Tav">ת</a>
				&nbsp;&nbsp;-&nbsp;&nbsp;
				<a title="Kaph">ך</a>
				<a title="Mem">ם</a>
				<a title="Nun">ן</a>
				<a title="Pe">ף</a>
				<a title="Tsade">ץ</a>
			</span>
		</div>
	</div>
</div>
