<table class="table table-striped table-sm mt-3">

	@*<thead>	</thead>*@
	<tr>
		<th>#</th>
		<th>Parasha</th>
		<th>Meaning</th>
		<th>Read Date</th>
		<th>Torah</th>
		<th>Haftorah</th>
		<th>Brit Chadashah</th>
	</tr>

	<tbody>
		<tr>
			<td colspan="7">
				<a id="Numbers"></a>
				<span class="badge badge-danger">Numbers</span> &nbsp;
				<span class="text-muted"><i>Bamidbar</i></span>
				<span class="float-right hebrewchart">בְּמִדְבַּר</span>
			</td>
		</tr>
		<tr>
			<td>35.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/102?slug=bemidar-numbers-1-1-to-2-13-number-35-1"><i>Bemidar</i></a>
			</td>
			<td>In the wilderness</td>
			<td>
				<span class="badge badge-danger">2017</span><br>
				Aug 26
			</td>

			<td>Num 1:1-2:13</td>
			<td>Ezekiel 47:13-23</td>
			<td>Revelation 7</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Aug 26 Num 1:1-2:13 Bemidar/In the wilderness Haftorah: Ezekiel 47:13-23 Brit: Revelation 7 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Aug 26 Num 1:1-2:13 Bemidar/In the wilderness Haftorah: Ezekiel 47:13-23 Brit: Revelation 7 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>35.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/103?slug=ish-al-diglo-numbers-2-14-to-3-13-number-35-2"><i>Ish Al Diglo</i></a>
			</td>
			<td>Each Man by His Own Banner</td>
			<td>
				Sep 2
			</td>

			<td>Num 2:14-3:13</td>
			<td>Isaiah 8:18-22</td>
			<td>Luke 15:1-7</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 2 Num 2:14-3:13 Ish Al Diglo/Each Man by His Own Banner Haftorah: Isaiah 8:18-22 Brit: Luke 15:1-7 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 2 Num 2:14-3:13 Ish Al Diglo/Each Man by His Own Banner Haftorah: Isaiah 8:18-22 Brit: Luke 15:1-7 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>35.3</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/104?slug=v-eleh-toldot-numbers-3-14-to-4-20-number-35-3"><i>V'eleh Toldot</i></a>
			</td>
			<td>These are the Generations</td>
			<td>
				Sep 9
			</td>

			<td>Num 3:14-4:20</td>
			<td>Isaiah 43:8-13</td>
			<td>Acts 5:1-16; Hebrews 12</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 9 Num 3:14-4:20 V'eleh Toldot/These are the Generations Haftorah: Isaiah 43:8-13 Brit: Acts 5:1-16  Hebrews 12 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 9 Num 3:14-4:20 V'eleh Toldot/These are the Generations Haftorah: Isaiah 43:8-13 Brit: Acts 5:1-16  Hebrews 12 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>37.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/106?slug=naso-numbers-4-21-to-5-10-number-37-1"><i>Naso</i></a>
			</td>
			<td>Elevate</td>
			<td>
				Sep 16
			</td>

			<td>Num 4:21-5:10</td>
			<td>Judges 13:2-25; 1 Samuel 6:10-16</td>
			<td>1 Corinthians 12:12-18</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 16 Num 4:21-5:10 Naso/Elevate Haftorah: Judges 13:2-25  1 Samuel 6:10-16 Brit: 1 Corinthians 12:12-18 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 16 Num 4:21-5:10 Naso/Elevate Haftorah: Judges 13:2-25  1 Samuel 6:10-16 Brit: 1 Corinthians 12:12-18 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>37.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/107?slug=ki-tisteh-numbers-5-11-to-31-number-37-2"><i>Ki Tisteh</i></a>
			</td>
			<td>If She Goes Astray</td>
			<td>
				Sep 23
			</td>

			<td>Num 5:11-31</td>
			<td>Hosea 4:14-15</td>
			<td>2 Peter 2</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 23 Num 5:11-31 Ki Tisteh/If She Goes Astray Haftorah: Hosea 4:14-15 Brit: 2 Peter 2 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 23 Num 5:11-31 Ki Tisteh/If She Goes Astray Haftorah: Hosea 4:14-15 Brit: 2 Peter 2 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>37.3</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/108?slug=ki-yafli-lindor-numbers-6-1-to-21-number-37-3"><i>Ki Yafli Lindor</i></a>
			</td>
			<td>If . . . Make a Special Vow</td>
			<td>
				Sep 30
			</td>

			<td>Num 6:1-21</td>
			<td>1 Samuel 1:7-11</td>
			<td>Luke 1:8-17</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 30 Num 6:1-21 Ki Yafli Lindor/If . . . Make a Special Vow Haftorah: 1 Samuel 1:7-11 Brit: Luke 1:8-17 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Sep 30 Num 6:1-21 Ki Yafli Lindor/If . . . Make a Special Vow Haftorah: 1 Samuel 1:7-11 Brit: Luke 1:8-17 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>37.4</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/109?slug=ko-habarchu-numbers-6-22-to-7-89-number-37-4"><i>Ko haBarchu</i></a>
			</td>
			<td>Thus Shall You Bless</td>
			<td>
				Oct 7
			</td>

			<td>Num 6:22-7:89</td>
			<td>Jeremiah 31:21-34</td>
			<td>John 13:1-30</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Oct 7 Num 6:22-7:89 Ko haBarchu/Thus Shall You Bless Haftorah: Jeremiah 31:21-34 Brit: John 13:1-30 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Oct 7 Num 6:22-7:89 Ko haBarchu/Thus Shall You Bless Haftorah: Jeremiah 31:21-34 Brit: John 13:1-30 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>38.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/110?slug=b-ha-alot-cha-numbers-8-1-to-9-23-number-38-1"><i>B'ha'alot'cha</i></a>
			</td>
			<td>In your going up</td>
			<td>
				Oct 14
			</td>

			<td>Num 8 &amp; 9</td>
			<td>Zechariah 4</td>
			<td>Revelation 11</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Oct 14 Num 8 &amp; 9 B'ha'alot'cha/In your going up Haftorah: Zechariah 4 Brit: Revelation 11 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Oct 14 Num 8 &amp; 9 B'ha'alot'cha/In your going up Haftorah: Zechariah 4 Brit: Revelation 11 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>38.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/111?slug=avo-yamaim-vo-chodesh-numbers-10-1-to-36-number-38-2"><i>Avo-yamaim vo-chodesh</i></a>
			</td>
			<td>Whether days or a month</td>
			<td>
				Oct 21
			</td>

			<td>Num 10</td>
			<td>1 Samuel 27:7-12</td>
			<td>1 Corinthians 14:1-9</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Oct 21 Num 10 Avo-yamaim vo-chodesh/Whether days or a month Haftorah: 1 Samuel 27:7-12 Brit: 1 Corinthians 14:1-9 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Oct 21 Num 10 Avo-yamaim vo-chodesh/Whether days or a month Haftorah: 1 Samuel 27:7-12 Brit: 1 Corinthians 14:1-9 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>38.3</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/112?slug=ha-am-bemitun-nim-numbers-11-1-to-35-number-38-3"><i>Ha'am Bemitun'nim</i></a>
			</td>
			<td>The People Sought Complaints</td>
			<td>
				Oct 28
			</td>

			<td>Num 11</td>
			<td>Judges 6:1-16</td>
			<td>Acts 12:3-12; 1 Corinthians 10</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Oct 28 Num 11 Ha'am Bemitun'nim/The People Sought Complaints Haftorah: Judges 6:1-16 Brit: Acts 12:3-12  1 Corinthians 10 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Oct 28 Num 11 Ha'am Bemitun'nim/The People Sought Complaints Haftorah: Judges 6:1-16 Brit: Acts 12:3-12  1 Corinthians 10 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>38.4</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/113?slug=vatdaber-miryam-vaharon-numbers-12-1-to-16-number-38-4"><i>Vatdaber Miryam vAharon</i></a>
			</td>
			<td>Miriam and Aaron spoke</td>
			<td>
				Nov 4
			</td>

			<td>Num 12</td>
			<td>Isaiah 59:1-21</td>
			<td>Romans 11:22-13:4</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Nov 4 Num 12 Vatdaber Miryam vAharon/Miriam and Aaron spoke Haftorah: Isaiah 59:1-21 Brit: Romans 11:22-13:4 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Nov 4 Num 12 Vatdaber Miryam vAharon/Miriam and Aaron spoke Haftorah: Isaiah 59:1-21 Brit: Romans 11:22-13:4 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>39.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/114?slug=shelah-l-cha-numbers-13-1-to-33-number-39-1"><i>Shelah L'cha</i></a>
			</td>
			<td>Send for yourself</td>
			<td>
				Nov 11
			</td>

			<td>Num 13</td>
			<td>Joshua 2:1-11; Joshua 18:1-2</td>
			<td>Hebrews 11:24-31</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Nov 11 Num 13 Shelah L'cha/Send for yourself Haftorah: Joshua 2:1-11  Joshua 18:1-2 Brit: Hebrews 11:24-31 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Nov 11 Num 13 Shelah L'cha/Send for yourself Haftorah: Joshua 2:1-11  Joshua 18:1-2 Brit: Hebrews 11:24-31 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>39.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/115?slug=vayibchu-haam-numbers-14-1-to-45-number-39-2"><i>Vayibchu haAm</i></a>
			</td>
			<td>The People Wept</td>
			<td>
				Nov 18
			</td>

			<td>Num 14</td>
			<td>2 Chronicles 36:5-23</td>
			<td>Philippians 3</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Nov 18 Num 14 Vayibchu haAm/The People Wept Haftorah: 2 Chronicles 36:5-23 Brit: Philippians 3 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Nov 18 Num 14 Vayibchu haAm/The People Wept Haftorah: 2 Chronicles 36:5-23 Brit: Philippians 3 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>39.3</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/116?slug=ki-tavo-u-el-eretz-numbers-15-1-to-41-number-39-3"><i>Ki Tavo'u el Eretz</i></a>
			</td>
			<td>When You Come into the Land</td>
			<td>
				Nov 25
			</td>

			<td>Num 15</td>
			<td>Jeremiah 17:19-27</td>
			<td>1 John 2 and 3</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Nov 25 Num 15 Ki Tavo'u el Eretz/When You Come into the Land Haftorah: Jeremiah 17:19-27 Brit: 1 John 2 and 3 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Nov 25 Num 15 Ki Tavo'u el Eretz/When You Come into the Land Haftorah: Jeremiah 17:19-27 Brit: 1 John 2 and 3 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>40.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/117?slug=korach-numbers-16-1-to-50-number-40-1"><i>Korach</i></a>
			</td>
			<td>Korah</td>
			<td>
				Dec 2
			</td>

			<td>Num 16</td>
			<td>1 Samuel 11:14-12:22</td>
			<td>2 Timothy 2:8-21; Jude 1</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 2 Num 16 Korach/Korah Haftorah: 1 Samuel 11:14-12:22 Brit: 2 Timothy 2:8-21  Jude 1 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 2 Num 16 Korach/Korah Haftorah: 1 Samuel 11:14-12:22 Brit: 2 Timothy 2:8-21  Jude 1 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>40.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/118?slug=v-qach-meitam-mattah-numbers-17-1-to-18-32-number-40-2"><i>V'qach Meitam Mattah</i></a>
			</td>
			<td>Take from Them a Staff</td>
			<td>
				Dec 9
			</td>

			<td>Num 17 &amp; 18</td>
			<td>Ezekiel 44:15-28</td>
			<td>Hebrews 5:1-6</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 9 Num 17 &amp; 18 V'qach Meitam Mattah/Take from Them a Staff Haftorah: Ezekiel 44:15-28 Brit: Hebrews 5:1-6 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 9 Num 17 &amp; 18 V'qach Meitam Mattah/Take from Them a Staff Haftorah: Ezekiel 44:15-28 Brit: Hebrews 5:1-6 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>41.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/119?slug=chukkat-numbers-19-1-to-20-13-number-41-1"><i>Chukkat</i></a>
			</td>
			<td>Ordinance of</td>
			<td>
				Dec 16
			</td>

			<td>Num 19:1-20:13</td>
			<td>Judges 11:1-33</td>
			<td>John 20:1-31</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 16 Num 19:1-20:13 Chukkat/Ordinance of Haftorah: Judges 11:1-33 Brit: John 20:1-31 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 16 Num 19:1-20:13 Chukkat/Ordinance of Haftorah: Judges 11:1-33 Brit: John 20:1-31 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>41.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/120?slug=malachim-mikadesh-numbers-20-14-to-22-1-number-41-2"><i>Malachim MiKadesh</i></a>
			</td>
			<td>Messengers from Kadesh</td>
			<td>
				Dec 23
			</td>

			<td>Num 20:14-22:1</td>
			<td>Ezekiel 44:29-31</td>
			<td>John 20:1-31</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 23 Num 20:14-22:1 Malachim MiKadesh/Messengers from Kadesh Haftorah: Ezekiel 44:29-31 Brit: John 20:1-31 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 23 Num 20:14-22:1 Malachim MiKadesh/Messengers from Kadesh Haftorah: Ezekiel 44:29-31 Brit: John 20:1-31 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>42.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/121?slug=balak-numbers-22-2-to-23-1-number-42-1"><i>Balak</i></a>
			</td>
			<td>Destoyer</td>
			<td>
				Dec 30
			</td>

			<td>Num 22:2-23:1</td>
			<td>Micah 5:6-6:8</td>
			<td>1 Peter 5:5-7</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 30 Num 22:2-23:1 Balak/Destoyer Haftorah: Micah 5:6-6:8 Brit: 1 Peter 5:5-7 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Dec 30 Num 22:2-23:1 Balak/Destoyer Haftorah: Micah 5:6-6:8 Brit: 1 Peter 5:5-7 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>42.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/122?slug=v-yaas-balaq-numbers-23-2-to-25-9-number-42-2"><i>V'yaas Balaq</i></a>
			</td>
			<td>Balak Did</td>
			<td>
				<span class="badge badge-danger">2018</span><br>
				Jan 6
			</td>

			<td>Num 23:2-25:9</td>
			<td>Joshua 17:1-18</td>
			<td>James 3:1-4:17</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Jan 6 Num 23:2-25:9 V'yaas Balaq/Balak Did Haftorah: Joshua 17:1-18 Brit: James 3:1-4:17 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Jan 6 Num 23:2-25:9 V'yaas Balaq/Balak Did Haftorah: Joshua 17:1-18 Brit: James 3:1-4:17 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>43.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/123?slug=pin-has-numbers-25-10-to-26-51-number-43-1"><i>Pin'has</i></a>
			</td>
			<td>Dark Skin</td>
			<td>
				Jan 13
			</td>

			<td>Num 25:10-26:51</td>
			<td>1 Kings 18:46-19:21</td>
			<td>Matthew 23:1-12; Ephesians 4:1-16</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Jan 13 Num 25:10-26:51 Pin'has/Dark Skin Haftorah: 1 Kings 18:46-19:21 Brit: Matthew 23:1-12  Ephesians 4:1-16 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Jan 13 Num 25:10-26:51 Pin'has/Dark Skin Haftorah: 1 Kings 18:46-19:21 Brit: Matthew 23:1-12  Ephesians 4:1-16 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>43.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/124?slug=l-eleh-numbers-26-52-to-27-23-number-43-2"><i>L'eleh</i></a>
			</td>
			<td>To These</td>
			<td>
				Jan 20
			</td>

			<td>Num 26:52-27:23</td>
			<td>Malachi 2:1-9</td>
			<td>Ephesians 1:3-23</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Jan 20 Num 26:52-27:23 L'eleh/To These Haftorah: Malachi 2:1-9 Brit: Ephesians 1:3-23 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Jan 20 Num 26:52-27:23 L'eleh/To These Haftorah: Malachi 2:1-9 Brit: Ephesians 1:3-23 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>43.3</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/125?slug=qarbani-numbers-28-1-to-29-40-number-43-3"><i>Qarbani</i></a>
			</td>
			<td>My Offerings</td>
			<td>
				Jan 27
			</td>

			<td>Num 28 &amp; 29</td>
			<td>Ezekiel 45:13-25</td>
			<td>Hebrews 10:1-39</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Jan 27 Num 28 &amp; 29 Qarbani/My Offerings Haftorah: Ezekiel 45:13-25 Brit: Hebrews 10:1-39 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Jan 27 Num 28 &amp; 29 Qarbani/My Offerings Haftorah: Ezekiel 45:13-25 Brit: Hebrews 10:1-39 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>44.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/126?slug=matot-numbers-30-1-to-31-54-number-44-1"><i>Matot</i></a>
			</td>
			<td>Tribes</td>
			<td>
				Feb 3
			</td>

			<td>Num 30 &amp; 31</td>
			<td>Jeremiah 1:1-2:3</td>
			<td>Matthew 5:33-37</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Feb 3 Num 30 &amp; 31 Matot/Tribes Haftorah: Jeremiah 1:1-2:3 Brit: Matthew 5:33-37 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Feb 3 Num 30 &amp; 31 Matot/Tribes Haftorah: Jeremiah 1:1-2:3 Brit: Matthew 5:33-37 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>44.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/127?slug=umiqneh-rav-numbers-32-1-to-42-number-44-2"><i>Umiqneh Rav</i></a>
			</td>
			<td>Much Cattle</td>
			<td>
				Feb 10
			</td>

			<td>Num 32</td>
			<td>Jeremiah 2</td>
			<td>James 2:1-26</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Feb 10 Num 32 Umiqneh Rav/Much Cattle Haftorah: Jeremiah 2 Brit: James 2:1-26 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Feb 10 Num 32 Umiqneh Rav/Much Cattle Haftorah: Jeremiah 2 Brit: James 2:1-26 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>45.1</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/128?slug=masa-ei-numbers-33-1-to-56-number-45-1"><i>Masa'ei</i></a>
			</td>
			<td>Stages</td>
			<td>
				Feb 17
			</td>

			<td>Num 33</td>
			<td>Jeremiah 3</td>
			<td>Acts 6; James 4:1-12</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Feb 17 Num 33 Masa'ei/Stages Haftorah: Jeremiah 3 Brit: Acts 6  James 4:1-12 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Feb 17 Num 33 Masa'ei/Stages Haftorah: Jeremiah 3 Brit: Acts 6  James 4:1-12 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>45.2</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/129?slug=zot-haaretz-numbers-34-1-to-35-8-number-45-2"><i>Zot haAretz</i></a>
			</td>
			<td>This is the Land</td>
			<td>
				Feb 24
			</td>

			<td>Num 34:1-35:8</td>
			<td>Jeremiah 4; Ezekiel 45:1-8</td>
			<td>Ephesians 2:1-22</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Feb 24 Num 34:1-35:8 Zot haAretz/This is the Land Haftorah: Jeremiah 4  Ezekiel 45:1-8 Brit: Ephesians 2:1-22 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Feb 24 Num 34:1-35:8 Zot haAretz/This is the Land Haftorah: Jeremiah 4  Ezekiel 45:1-8 Brit: Ephesians 2:1-22 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
		<tr>
			<td>45.3</td>
			<td>
				<a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/130?slug=ki-atem-ovrim-et-hayarden-numbers-35-9-to-36-13-number-45-3"><i>Ki Atem Ovrim et haYarden</i></a>
			</td>
			<td>When You Cross the Jordan</td>
			<td class="text-danger">
				Mar 3
			</td>

			<td>Num 35:9-36:13</td>
			<td>Jeremiah 5</td>
			<td>John 4:1-45</td>
			@*<td>
				<a title="Shabbat Shalom! שַׁבָּת שָׁלוֹם Mar 3 Num 35:9-36:13 Ki Atem Ovrim et haYarden/When You Cross the Jordan Haftorah: Jeremiah 5 Brit: John 4:1-45 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 class="btn btn-info btn-sm"
					 href="https://twitter.com/intent/tweet?text=Shabbat Shalom! שַׁבָּת שָׁלוֹם Mar 3 Num 35:9-36:13 Ki Atem Ovrim et haYarden/When You Cross the Jordan Haftorah: Jeremiah 5 Brit: John 4:1-45 at-LivingMessiah https://livingmessiah.com/Parasha/"
					 target="_blank">
					<i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
				</a>
			</td>*@
		</tr>
	</tbody>
</table>
