@using Page = LivingMessiah.Web.Links.Parasha.Archive

<div class="row">
	<div class="col-12">
		<a class="btn btn-outline-primary btn-sm float-end"
			 href="@Page.Index">
			<small>Archive</small>
		</a>
	</div>
</div>


