
<table class="table table-sm table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Parasha</th>
			<th>Meaning</th>
			<th>Read Date</th>
			<th>Torah</th>
			<th>Haftorah</th>
			<th>Brit Chadashah</th>
			<th><i class="fas fa-external-link-square-alt"></i></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="8">
				<a id="Deuteronomy"></a>
				<span class="badge badge-danger">Deuteronomy</span> &nbsp;
				<span class="text-muted"><i>Devarim</i></span>
				<span class="float-right hebrewchart">דְּבָרִים</span>
			</td>
		</tr>
		<tr>
			<td>46.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/131?slug=devarim-deuteronomy-1-1-to-46-number-46-1"><i>Devarim</i></a></td>
			<td>Words</td>
			<td class=""><span class="badge badge-danger">2021</span><br>Mar 13</td>


			<td></td>
			<td>Isaiah 1:1-27</td>
			<td>1 Timothy 3:1-7; Hebrews 3</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-23.htm" title="Ahavta URL [131]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>46.2</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/132?slug=vanephen-deuteronomy-2-1-to-3-22-number-46-2"><i>Vanephen</i></a></td>
			<td>We Turned</td>
			<td class="">Mar 20</td>


			<td></td>
			<td></td>
			<td>Romans 9</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-24.htm" title="Ahavta URL [132]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>47.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/133?slug=va-etchanan-deuteronomy-3-23-to-29-number-47-1"><i>Va&#x2019;etchanan</i></a></td>
			<td>And I pleaded</td>
			<td class="">Mar 27</td>


			<td></td>
			<td>Isaiah 40:1-11</td>
			<td>Mark 12:28-34; Romans 2:1-3:31</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-25.htm" title="Ahavta URL [133]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>47.2</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/134?slug=yisrael,-sh-ma-deuteronomy-4-1-to-49-number-47-2"><i>Yisrael, Sh&#x27;ma</i></a></td>
			<td>Israel, Listen</td>
			<td class="">Apr 3</td>


			<td></td>
			<td>Isaiah 40:12-14</td>
			<td>Luke 3:1</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-26.htm" title="Ahavta URL [134]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>47.3</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/135?slug=vayiqra-moshe-deuteronomy-5-1-to-6-3-number-47-3"><i>Vayiqra Moshe</i></a></td>
			<td>Moses Summoned</td>
			<td class="">Apr 10</td>


			<td></td>
			<td>Isaiah 40:15-26</td>
			<td>Romans 10:1</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-27.htm" title="Ahavta URL [135]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>47.4</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/136?slug=vazot-hamitzvot-deuteronomy-6-4-to-7-26-number-47-4"><i>Vazot haMitzvot</i></a></td>
			<td>This is the Commandment</td>
			<td class="">Apr 17</td>


			<td></td>
			<td></td>
			<td>Matthew 4:1</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-28.htm" title="Ahavta URL [136]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>48.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/137?slug=ekev-deuteronomy-8-1-to-20-number-48-1"><i>Ekev</i></a></td>
			<td>On the heel of (because)</td>
			<td class="">Apr 24</td>


			<td></td>
			<td>Isaiah 49:14-51:3</td>
			<td>Luke 4:11; Romans 8:31-39</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-29.htm" title="Ahavta URL [137]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>48.2</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/138?slug=atah-over-hayom-deuteronomy-9-1-to-29-number-48-2"><i>Atah Over Hayom</i></a></td>
			<td>You are Crossing Over Today</td>
			<td class="">May 1</td>


			<td></td>
			<td></td>
			<td>Ephesians 2:11</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-30.htm" title="Ahavta URL [138]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>48.3</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/139?slug=pesal-lecha-deuteronomy-10-1-to-11-25-number-48-3"><i>Pesal Lecha</i></a></td>
			<td>Carve for Yourself</td>
			<td class="">May 8</td>


			<td></td>
			<td></td>
			<td>Colossians 3:1</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-31.htm" title="Ahavta URL [139]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>49.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/140?slug=re-eh-deuteronomy-11-26-to-12-19-number-49-1"><i>Re&#x27;eh</i></a></td>
			<td>See!</td>
			<td class="">May 15</td>


			<td></td>
			<td>Isaiah 54:11-55:5</td>
			<td>Luke 6:20; 1 John 4:1-6</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-32.htm" title="Ahavta URL [140]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>49.2</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/141?slug=ki-yarchiv-deuteronomy-12-20-to-15-6-number-49-2"><i>Ki-Yarchiv</i></a></td>
			<td>When He Enlarges</td>
			<td class="">May 22</td>


			<td></td>
			<td></td>
			<td>Matthew 7:15</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-33.htm" title="Ahavta URL [141]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>49.3</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/142?slug=ev-yon-deuteronomy-15-7-to-16-17-number-49-3"><i>Ev-yon</i></a></td>
			<td>A Poor Man</td>
			<td class="">May 29</td>


			<td></td>
			<td></td>
			<td>Luke 4:14</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-34.htm" title="Ahavta URL [142]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>50.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/143?slug=shoftim-deuteronomy-16-18-to-17-13-number-50-1"><i>Shoftim</i></a></td>
			<td>Judges</td>
			<td class="">Jun 5</td>


			<td></td>
			<td>Isaiah 51:12-52:12</td>
			<td>John 5:1; 1 Corinthians 5:9-13</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-35.htm" title="Ahavta URL [143]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>50.2</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/144?slug=ki-habo-deuteronomy-17-14-to-18-13-number-50-2"><i>Ki haBo</i></a></td>
			<td>When You Enter</td>
			<td class="">Jun 12</td>


			<td></td>
			<td>1 Samuel 8:1-7; Jeremiah 31:31-34</td>
			<td>John 19:11-22; Acts 13:13-44</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-36.htm" title="Ahavta URL [144]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>50.3</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/145?slug=navi-miqirb-cha-deuteronomy-18-14-to-20-9-number-50-3"><i>Navi Miqirb&#x27;cha</i></a></td>
			<td>A Prophet from Your Midst</td>
			<td class="">Jun 19</td>


			<td></td>
			<td>Jeremiah 29:8-30:9</td>
			<td>Galatians 5:1-6:10</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-37.htm" title="Ahavta URL [145]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>50.4</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/146?slug=ki-tiqrav-el-iyr-deuteronomy-20-10-to-21-9-number-50-4"><i>Ki Tiqrav el Iyr</i></a></td>
			<td>When You Approach a City</td>
			<td class="">Jun 26</td>


			<td></td>
			<td>Joshua 24:1-15</td>
			<td>John 10:11-31</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-38.htm" title="Ahavta URL [146]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>51.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/147?slug=ki-tetse-deuteronomy-21-10-to-22-5-number-51-1"><i>Ki Tetse</i></a></td>
			<td>When you go out</td>
			<td class="">Jul 3</td>


			<td></td>
			<td>Isaiah 54:1-10</td>
			<td>Luke 20:27-38; Galatians 3:1-5:26</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-39.htm" title="Ahavta URL [147]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>51.2</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/148?slug=kein-tzipor-deuteronomy-22-6-to-23-8-number-51-2"><i>Kein Tzipor</i></a></td>
			<td>A Bird|s Nest</td>
			<td class="">Jul 10</td>


			<td></td>
			<td>Micah 5:1-6</td>
			<td>Matthew 22:1-14</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-40.htm" title="Ahavta URL [148]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>51.3</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/149?slug=ki-tetzei-machaneh-deuteronomy-23-9-to-20-number-51-3"><i>Ki-tetzei Machaneh</i></a></td>
			<td>When a Camp</td>
			<td class="">Jul 17</td>


			<td></td>
			<td>Isaiah 1:16-26</td>
			<td>Matthew 8:1-14</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-41.htm" title="Ahavta URL [149]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>51.4</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/150?slug=ki-chidor-neder-deuteronomy-23-21-to-24-18-number-51-4"><i>Ki-chidor neder</i></a></td>
			<td>When You Make a Vow</td>
			<td class="">Jul 24</td>


			<td></td>
			<td>Isaiah 19:1-25</td>
			<td>Matthew 5:30-37</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-42.htm" title="Ahavta URL [150]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>51.5</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/151?slug=ki-tik-tzor-deuteronomy-24-19-to-25-19-number-51-5"><i>Ki-tik&#x27;tzor</i></a></td>
			<td>When You Reap</td>
			<td class="">Jul 31</td>


			<td></td>
			<td>Hosea 10:12-15</td>
			<td>Luke 12:13-48</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-43.htm" title="Ahavta URL [151]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>52.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/152?slug=ki-tavo-deuteronomy-26-1-to-27-26-number-52-1"><i>Ki Tavo</i></a></td>
			<td>When you enter in</td>
			<td class="">Aug 7</td>


			<td></td>
			<td>Isaiah 60</td>
			<td>Romans 11:1-15; Revelation 21:9-22:7</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-44.htm" title="Ahavta URL [152]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>52.2</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/153?slug=im-shamoa-deuteronomy-28-1-to-29-9-number-52-2"><i>Im-Shamoa</i></a></td>
			<td>If You Hearken</td>
			<td class="">Aug 14</td>


			<td></td>
			<td>Isaiah 55:1-5</td>
			<td>John 14:1-31</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-45.htm" title="Ahavta URL [153]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>53.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/154?slug=nitsavim-deuteronomy-29-10-to-30-10-number-53-1"><i>Nitsavim</i></a></td>
			<td>You are standing</td>
			<td class="">Aug 21</td>


			<td></td>
			<td>Isaiah 55:6-58:8</td>
			<td>Romans 10:1-13</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-46.htm" title="Ahavta URL [154]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>53.2</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/155?slug=hamitzvah-deuteronomy-30-11-to-31-13-number-53-2"><i>haMitzvah</i></a></td>
			<td>This Commandment</td>
			<td class="">Aug 28</td>


			<td></td>
			<td>Jeremiah 12:15-17</td>
			<td>Matthew 11:7-30</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-47.htm" title="Ahavta URL [155]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>64.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/156?slug=vayelekh-deuteronomy-31-14-to-30-number-64-1"><i>Vayelekh</i></a></td>
			<td>And he went</td>
			<td class="">Sep 4</td>


			<td></td>
			<td>Hosea 14:2-9; Joel 2:15-27; Micah 7:18-20</td>
			<td>John 12:35-14:26; Hebrews 13:5-8</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-48.htm" title="Ahavta URL [156]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>66.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/157?slug=haazinu-deuteronomy-32-1-to-52-number-66-1"><i>Haazinu</i></a></td>
			<td>Give ear</td>
			<td class="">Sep 11</td>


			<td></td>
			<td>Ezekiel 17:22-24</td>
			<td>John 17:1-26</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-49.htm" title="Ahavta URL [157]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>67.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/158?slug=vezot-habracha-deuteronomy-33-1-to-29-number-67-1"><i>VeZot HaBracha</i></a></td>
			<td>This is the blessing</td>
			<td class="">Sep 18</td>


			<td></td>
			<td>Ezekiel 37:15-20</td>
			<td>Matthew 19:25-20:16; Jude 1:8-9</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-50.htm" title="Ahavta URL [158]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
		<tr>
			<td>68.1</td>
			<td><a href="https://myhebrewbible.com/Parasha/Triennial/LivingMessiah/159?slug=vayaal-moshe-deuteronomy-34-1-to-12-number-68-1"><i>Vayaal Moshe</i></a></td>
			<td>Moses Ascended</td>
			<td class="">Sep 25</td>


			<td></td>
			<td>Joshua 1</td>
			<td>Matthew 4:5-11</td>

			<td><a href="http://www.ahavta.org/Commentary Y-3/Y3-51.htm" title="Ahavta URL [159]" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
		</tr>
	</tbody>
</table>