@page "/parasha/Archive"
@using static LivingMessiah.Web.Links.ParashaArchive

<div class="pb-2 mt-4 mb-2 border-bottom">

	<h3><i class="@Icon"></i>  @Title</h3>
	<div class="row col-12 mb-2">
		<a href="@LivingMessiah.Web.Links.Parasha.Index"
			 title="Current Parasha" class="btn btn-outline-info btn-sm">
			<i class="far fa-arrow-alt-circle-left"></i> <small>Back to Current Parasha</small>
		</a>
	</div>

	<div class="">
		<SfTab CssClass="">
			<TabItems>

				<TabItem>
					<ChildContent>
						<TabHeader Text="Leviticus"></TabHeader>
					</ChildContent>
					<ContentTemplate>
						<ArchiveTableStaticLev></ArchiveTableStaticLev>
					</ContentTemplate>
				</TabItem>

				<TabItem>
					<ChildContent>
						<TabHeader Text="Numbers"></TabHeader>
					</ChildContent>
					<ContentTemplate>
						<ArchiveTableStaticNum></ArchiveTableStaticNum>
					</ContentTemplate>
				</TabItem>

				<TabItem>
					<ChildContent>
						<TabHeader Text="Deuteronomy"></TabHeader>
					</ChildContent>
					<ContentTemplate>
						<ArchiveTableStaticDeu></ArchiveTableStaticDeu>
					</ContentTemplate>
				</TabItem>

			</TabItems>
		</SfTab>
	</div>

</div>
