@page "/parasha/Archive/Leviticus"

<table class="table table-striped table-sm">

	<tr align="center">
		<th>2017</th>
		<th>Torah</th>
		<th>Prophets</th>
		<th>Brit Hadashah</th>
	</tr>
	<tr>
		<td>Jan 7</td>
		<td>Exodus 27:20 - 28:43</td>
		<td>Hosea 14:4-9</td>
		<td>Hebrews 4:14-16</td><!--65-->
	</tr>
	<tr>
		<td>Jan 14</td>
		<td>Exodus 29:1-46</td>
		<td>Isaiah 61:7 - 62:5</td>
		<td>Hebrews 2:10-18</td><!--66-->
	</tr>
	<tr>
		<td>Jan 21</td>
		<td>Exodus 30:1-10</td>
		<td>Malachi 1:11-2:7</td>
		<td>Revelation 8:1-5</td><!--67-->
	</tr>

	<tr>
		<td>Jan 28</td>
		<td colspan="3" align="center"><strong>Rosh Chodesh Eleventh Month</strong></td>
	</tr>

	<tr>
		<td>Jan 28</td>
		<td>Exodus 30:11-38</td>
		<td>2 Kings 12:1-16</td>
		<td>2 Corinthians 9:6-11</td><!--68-->
	</tr>
	<tr>
		<td>Feb 4</td>
		<td>Exodus 31:1 - 32:14</td>
		<td>Ezekiel 20:1-7</td>
		<td>Colossians 3:1-5</td><!--69-->
	</tr>
	<tr>
		<td>Feb 11</td>
		<td>Exodus 32:15 - 34:26</td>
		<td>2 Samuel 22:10-51</td>
		<td>Romans 9:14-16</td><!--70-->
	</tr>
	<tr>
		<td>Feb 18</td>
		<td>Exodus 34:27 - 36:38</td>
		<td>Jeremiah 31:31-40</td>
		<td>1 Corinthians 12:1-13</td><!--71-->
	</tr>
	<tr>
		<td>Feb 25</td>
		<td>Exodus 37:1 - 38:20</td>
		<td>1 Kings 8:8-22</td>
		<td>1 Peter 2:4-10</td><!--72-->
	</tr>
	<tr>
		<td>Feb 27</td>
		<td colspan="3" align="center"><strong>Rosh Chodesh Twelfth Month</strong></td>
	</tr>
	<tr>
		<td>Mar 4</td>
		<td>Exodus 38:21-31</td>
		<td>Jeremiah 30:18-22</td>
		<td>Romans 12:1-13</td><!--73-->
	</tr>
	<tr>
		<td>Mar 11</td>
		<td colspan="3" align="center"><strong>Purim</strong><br>(Purim begins the evening of March 10)</td>
	</tr>
	<tr>
		<td>Mar 11</td>
		<td>Exodus 39:1 - 40:38</td>
		<td>Isaiah 33:20 - 34:8</td>
		<td>Ephesians 2:17-22</td><!--74-->
	</tr>
	<tr>
		<td>Mar 18</td>
		<td>Leviticus 1:1 - 2:16</td>
		<td>Isaiah 48:12 - 49:3</td>
		<td>Ephesians 5:1-10</td><!--75-->
	</tr>
	<tr>
		<td>Mar 25</td>
		<td>Leviticus 3:1-17</td>
		<td>Isaiah 43:21-28</td>
		<td>James 1:13-15</td><!--76-->
	</tr>
	<tr>
		<td>Mar 28</td>
		<td colspan="3" align="center"><strong>Rosh Chodesh First Month</strong></td>
	</tr>
	<tr>
		<td>Apr 1</td>
		<td>Leviticus 4:1-35</td>
		<td>Ezekiel 18:1-18</td>
		<td>Revelation 5:6-10</td><!--77-->
	</tr>
	<tr>
		<td>Apr 8</td>
		<td>Leviticus 5:1-19</td>
		<td>Zechariah 5:3 - 6:15</td>
		<td>James 5:16-20<br>Matthew 18:15-17</td><!--78-->
	</tr>
	<tr>
		<td>Apr 10</td>
		<td colspan="3" align="center"><strong>Pesach</strong><br>(Passover meal begins at sundown April 10)</td>
	</tr>
	<tr>
		<td>Apr 11</td>
		<td colspan="3" align="center"><strong>Feast of Unleavened Bread - First Day</strong><br>(First day began with Passover meal)</td>
	</tr>
	<tr>
		<td>Apr 15</td>
		<td>Exodus 33:12-34:26<br>Numbers 28:19-25</td>
		<td>Ezekiel 37:1-14</td>
		<td>1 Corinthians 5:1-8</td><!--79-->
	</tr>
	<tr>
		<td>Apr 16</td>
		<td colspan="3" align="center"><strong>Ha Bikkurim</strong><br>(First day of the Counting of the Omer)</td>
	</tr>
	<tr>
		<td>Apr 17</td>
		<td colspan="3" align="center"><strong>Feast of Unleavened Bread - Last Day</strong><br>(Feast ends at sundown)</td>
	</tr>
	<tr>
		<td>Apr 22</td>
		<td>Leviticus 6:1-11 (E)<br>Leviticus 5:20-6:4 (H)</td>
		<td>Jeremiah 7:21-28</td>
		<td>1 Peter 2:21-25</td><!--80-->
	</tr>
	<tr>
		<td>Apr 27</td>
		<td colspan="3" align="center"><strong>Rosh Chodesh Second Month</strong></td>
	</tr>
	<tr>
		<td>Apr 29</td>
		<td>Leviticus 6:12-7:38 (E)<br>Leviticus 6:5-7:38 (H)</td>
		<td>Malachi 3:4-12</td>
		<td>Luke 6:39-49</td><!--81-->
	</tr>
	<tr>
		<td>May 6</td>
		<td>Leviticus 8:1-36</td>
		<td>Ezekiel 43:27 - 44:8</td>
		<td>Matthew 24:29-44;<br>25:31; 26:30</td><!--82-->
	</tr>
	<tr>
		<td>May 13</td>
		<td>Leviticus 9:1 - 11:46</td>
		<td>2 Samuel 6:1-7;<br>1 Kings 8:54-61</td>
		<td>Mark 7:1-23</td><!--83-->
	</tr>
	<tr>
		<td>May 20</td>
		<td>Leviticus 12:1 -13:28</td>
		<td>2 Kings 4:42 - 5:19;<br>Isaiah 66:7-13</td>
		<td>Matthew 1:18-24;<br>John 7:37-44</td><!--84-->
	</tr>
	<tr>
		<td>May 26</td>
		<td colspan="3" align="center"><strong>Rosh Chodesh Third Month</strong></td>
	</tr>
	<tr>
		<td>May 27</td>
		<td>Leviticus 13:29-59</td>
		<td>2 Kings 5:1-9</td>
		<td>Hebrews 2:11-18</td><!--85-->
	</tr>
	<tr>
		<td>Jun 3</td>
		<td>Leviticus 14:1-57</td>
		<td>2 Kings 7:1-16</td>
		<td>Matthew 8:1-4;<br>Luke 5:12-14; Ephesians 4:1-32</td><!--85-->
	</tr>
	<tr>
		<td>Jun 4</td>
		<td colspan="3" align="center"><strong>Shavuot</strong></td>
	</tr>
	<tr>
		<td>Jun 10</td>
		<td>Leviticus 15:1-33</td>
		<td>Ezekiel 43:18-27</td>
		<td>Philippians 3:1-21</td><!--85-->
	</tr>
	<tr>
		<td>Jun 17</td>
		<td>Leviticus 16:1-34</td>
		<td>Ezekiel 44:1-15</td>
		<td>Jude 6-21</td><!--85-->
	</tr>
	<tr>
		<td>Jun 24</td>
		<td colspan="3" align="center"><strong>Rosh Chodesh Fourth Month</strong></td>
	</tr>
	<tr>
		<td>Jun 24</td>
		<td>Leviticus 17:1-16</td>
		<td>Ezekiel 22:1-19</td>
		<td>1 John 5:1-21</td><!--86-->
	</tr>
	<tr>
		<td>Jul 1</td>
		<td>Leviticus 18:1-30</td>
		<td>Ezekiel 22:20-31</td>
		<td>1 Corinthians 5:1 - 6:10</td><!--87-->
	</tr>
	<tr>
		<td>Jul 8</td>
		<td>Leviticus 19:1 - 20:27</td>
		<td>Isaiah 4:2-6;<br>Amos 9:7-17</td>
		<td>Matthew 18:1-35</td><!--88-->
	</tr>
	<tr>
		<td>Jul 15</td>
		<td>Leviticus 21:1-24</td>
		<td>Ezekiel 44:1-31</td>
		<td>1 Timothy 3:1-16</td><!--89-->
	</tr>
	<tr>
		<td>Jul 22</td>
		<td>Leviticus 22:1 - 23:44</td>
		<td>Isaiah 56:1-12</td>
		<td>1 Corinthians 15:20-23</td><!--90-->
	</tr>
	<tr>
		<td>Jul 23</td>
		<td colspan="3" align="center"><strong>Rosh Chodesh Fifth Month</strong></td>
	</tr>
	<tr>
		<td>Jul 29</td>
		<td>Leviticus 24:1-23</td>
		<td>Hosea 14:1-9</td>
		<td>John 7:1-53</td><!--91-->
	</tr>
	<tr>
		<td>Aug 5</td>
		<td>Leviticus 25:1-38</td>
		<td>Jeremiah 32:6-27</td>
		<td>John 10:1-33</td><!--92-->
	</tr>
	<tr>
		<td>Aug 12</td>
		<td>Leviticus 25:39 - 26:2</td>
		<td>Ezekiel 12:17-28</td>
		<td>Galatians 4:1 - 5:1</td><!--93-->
	</tr>
	<tr>
		<td>Aug 19</td>
		<td>Leviticus 26:3 - 27:34</td>
		<td>Jeremiah 16:16 - 17:4</td>
		<td>John 15</td><!--94-->
	</tr>
	<tr>
		<td>Aug 22</td>
		<td colspan="3" align="center"><strong>Rosh Chodesh Sixth Month</strong></td>
	</tr>
	<tr>
		<td>Aug 26</td>
		<td>Numbers 1:1 - 2:13</td>
		<td>Hosea 1:10 - 2:11</td>
		<td>Revelation 7:1-17</td><!--95-->
	</tr>
	<tr>
		<td>Sep 2</td>
		<td>Numbers 2:14 - 3:13</td>
		<td>Isaiah 8:18-22</td>
		<td>Luke 15:1-7</td><!--96-->
	</tr>
	<tr>
		<td>Sep 20</td>
		<td colspan="3" align="center"><strong>Rosh Chodesh Seventh Month & Yom Teruah</strong></td>
	</tr>

	<tr>
		<td>Sep 29</td>
		<td colspan="3" align="center"><strong>Yom Kippur</strong></td>
	</tr>

</table>
