<div class="card mt-2 @CardCss" style="width: 100%">
	<div class="card-header h3 px-2">
		<span class='badge @HeaderBadgeColor pb-15'>@Title</span>

			@if (IsCollapsed)
			{
				<Button @onclick="Collapsed_ButtonClick"
								class="btn-primary btn-sm  float-right">
					Detail <i class='fas fa-chevron-down'></i>
				</Button>
			}
			else
			{
				<Button @onclick="Collapsed_ButtonClick"
								class="btn-primary btn-sm float-right">
					Hide <i class='fas fa-chevron-up'></i>
				</Button>
			}
	</div>

	@if (!IsCollapsed)
	{
		@ChildContent
	}

</div>