@using static LivingMessiah.Web.Parasha.Anchors

<h4><i class="@IconCurrent"></i> Current Parasha</h4>

<div class="d-block d-sm-none">
	<div class="row">
		<div class="col-7">
			<CurrentParashaButton IsPrinterFriendly="_isPrinterFriendly"></CurrentParashaButton>
		</div>

		<div class="col-5">
			<ParashaCalendar></ParashaCalendar>
		</div>
	</div>
</div>

<div class="d-none d-sm-block">
	<div class="row">
		<div class="col-sm-10">
			<CurrentParashaButton IsPrinterFriendly="_isPrinterFriendly"></CurrentParashaButton>
		</div>

		<div class="col-sm-2">
			<ParashaCalendar></ParashaCalendar>
		</div>
	</div>
</div>

@code {
	//protected bool _isPrinterFriendly = false;
	 bool _isPrinterFriendly = false;
}

