@inherits BaseIndexTable

<LoadingComponent IsLoading="ParashaList==null">

	@foreach (var item in ParashaList)
	{
		if (item.RowCntByBookId == 1)
		{
			if (Book != null)
			{
				<div class="row">
					<div class="col-4">Read<br />Date</div>
					<div class="col-4"><br />Torah</div>
					<div class="col-4"></div>
				</div>
			}
		}

	}
			@*<div class="row">
				<div class="col-4"></div>
				<div class="col-4"></div>
				<div class="col-4"></div>
			</div>*@
		</LoadingComponent>