@page  "/ParashaNextBook"
@using Page = LivingMessiah.Web.Links.Parasha
<PageTitle>@Page.Title</PageTitle>

<h2>
	<i class="@Page.Icon"></i> @Page.Title <b><u>Next Book</u></b>
	<br />
</h2>

@*
	ToDo
	- Need logic to determine what the current Parasha.BookId, only then can you determine what the next book is
	- This is how \Pages\Parasha\Index.razor calls it
		- <IndexTable IsXsOrSm="true" BookId="@Parasha.BookId"></IndexTable>
*@

<div class="row d-none d-sm-block">
	<IndexTable IsXsOrSm="false" IsNextTorahBook="true"></IndexTable>
</div>
<div class="d-block d-sm-none">
	<IndexTable IsXsOrSm="true" IsNextTorahBook="true"></IndexTable>
</div>
