<div class="row">
	<div class="col-12">
		<h3><span class="badge badge-warning">Weekly Torah Study for Beginners</span></h3>
		<img src=@Blobs.UrlRoot("bibleSm.jpg") class="img-fluid" asp-append-version="true" />

		@*<p class="lead mt-2">
			<img src=@Blobs.Persons("Jerry.jpg") class="img-fluid rounded-circle float-right" alt="Jerry Watkins" />
			<b>Jerry Watkins</b>, a member of our <i>Beit Din</i>, is hosting a class for those who are not as familiar with the Bible and the <i>Torah</i> as they would like to be.
			It is a discussion-based class where you can feel comfortable asking any questions that you may have.
			Beginning with Genesis (<i>B'resheet</i>) and working through to Deuteronomy (<i>D'varim</i>),
			the class moves at a pace comfortable for the group.
		</p>

		<p class="lead">
			Jerry has been teaching the Torah for almost 15 years and has developed a curriculum for small group study.
			(You can take a look at this curriculum at his website,
			<a href="http://www.torahtogether.com"> TorahTogether.com </a> <span class="fas fa-external-link"></span>)
			He believes strongly that reading and discussing the Torah in an open, small group setting truly changes people's lives.
			All are welcome to join him.
		</p>*@

		<h3><span class="far fa-calendar"></span>&nbsp;<span class="badge badge-warning">Tuesday Nights</span></h3>
		<ul class="lead">
			<li><i class="text-warning far fa-clock"></i> 5:00 - 6:30 pm at <b>Living Messiah</b></li>
			<li>Meets every Tuesday evening</li>
			<li>
				Study through interactive dialog and discussion.
			</li>
			@*<li>Student Workbooks are available for the class at a cost of $10 each.</li>
			<li>
				<span class="far fa-envelope"></span>&nbsp;Contact
				<a href="mailto:jerry@livingmessiah.com?Subject=Torah%20Together" target="_top"> jerry@livingmessiah.com</a> for more information
			</li>*@
		</ul>

		<h3><span class="fab fa-youtube"> <span class="badge badge-warning">Playlist</span></span></h3>
		<p class="lead">
			The classes are recorded on YouTube where you can watch it live or watch previous shows. Click
			<a href="https://www.youtube.com/watch?v=HWcL2CREbuc&list=PLAmg7YxItfMRqM0phnmHEqWlbZxaEGEAy" class="btn  btn-outline-primary btn-sm" target="_blank">
				<i class="fab fa-youtube"></i> HERE
			</a>
			<span class="fas fa-external-link-alt"></span>
		</p>


		@*<h3><span class="badge badge-warning">Extras</span></h3>
		<p class="lead">
			Here are some extra PDF's that Jerry created for his class.
			<ul class="lead">
				<li>
					Getting to know God:
					<a href="@Blobs.UrlPdfs("getting-to-know-god-jerry-watkins.pdf")" class="btn btn-outline-primary btn-sm" target="_blank"> <i class="fas fa-file-pdf"> PDF </i></a> and
					<a href="https://youtu.be/Vdql2UF6qww?t=5m" class="btn  btn-outline-primary btn-sm" target="_blank"><i class="fab fa-youtube"></i> video </a>
				</li>
				<li>
					History Timeline:
					<a href="@Blobs.UrlPdfs("history-timeline-jerry-watkins.pdf")" class="btn  btn-outline-primary btn-sm" target="_blank"><i class="fas fa-file-pdf"> PDF </i> </a> and
					<a href="https://www.youtube.com/watch?v=HoQPqcsCMBc" class="btn  btn-outline-primary btn-sm" target="_blank"><i class="fab fa-youtube"></i> video </a>
				</li>
			</ul>
		</p>*@


	</div>
</div>
