@page "/AboutUs"
@using static LivingMessiah.Web.Links.AboutUs

<img src='@Blobs.UrlOther("about-us-1-1024-385.jpeg")'
		 alt="@Descr" class="img-fluid rounded mt-3" />

<div class="card border-primary mb-3">

	<div class="card-body">
		<h5 class="card-title">We look forward to gathering with you on Shabbat</h5>

		<h4 class="card-text text-center"><b>Welcome</b></h4>
		<ul class="fa-ul size14">
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				Living Messiah Ministries represents a family and a Kingdom, YHWH is gathering together.
				<blockquote class="blockquote">
					<small>Isaiah, 43, Ezekiel 37</small>
				</blockquote>
			</li>
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We share a common identity, we may not always share a common doctrine.
			</li>
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We build relationships through mutual respect.
			</li>
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We are patient with the guiding and directing gifts of the Holy Spirit at work in each of us.
			</li>
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We honor boundaries established by the leadership covering for this community.
			</li>
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We display respect and consideration towards others in conversation, actions and attire.
			</li>
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We avoid divisive debates, criticism, and speaking ill of others.
			</li>
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We proclaim The Word of God, not political perceptions, to the best of our understanding.
			</li>

			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We study and learn from each other through interactive dialog during our services.
			</li>
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We welcome you to share detailed topics or testimonies during our <i>open mic</i> after our meal.
			</li>

			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We thank you for your grace as our children learn along side us during services.
			</li>

			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We invite you to join us either on line or in person for our Tuesday night Torah study.
			</li>

			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We share a meal together after service, Leviticus 11 is our guide for preparing food.
			</li>

			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We prepare in advance for this meal to the best of our ability in order to guard the Shabbat.
			</li>
			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We wash our hands before going through the buffet line and touch only what we intend to take.
			</li>

			<li>
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				We invite our guests, those 50 and wiser and our clean up team to the buffet line first.
			</li>
		</ul>

		<div class="card-footer bg-transparent border-primary text-center">We look forward, to worship, study and fellowship with you!</div>

	</div>

</div>

