@page "/About"
@using static LivingMessiah.Web.About.Anchors

<h2><i class="@Icon"></i> @Title</h2>

<StatementOfFaith></StatementOfFaith>
<VisionStatement></VisionStatement>
<LivingTabernacle></LivingTabernacle>
<PersonalResolution></PersonalResolution>
<WeeklyTorahStudy></WeeklyTorahStudy>
<DavidicDancing></DavidicDancing>
@*<OnegAbout></OnegAbout>*@
<FAQ></FAQ>

@*<div class="d-sm-none">
		ToDo: IndexXsAccordion
	</div>
	<div class="d-none d-sm-block d-md-none d-lg-none d-xl-none">

		<div class="row py-3">
			<div class="col-8 col-sm-9 content">
				<h3>What We Believe</h3>
			</div>
			<div class="col-4 col-sm-3">

				<div class="menu sticky-top p-1 bg-light">
					<h5 class="text-primary pt-5">Contents</h5>
				</div>

			</div>
		</div>
	</div>

	<div class="d-none d-md-block">
		<div class="row">
			<div class="col-md-9">
				<h1>What We Believe</h1>
				<h1>What We Do</h1>
			</div>
			<div class="col-md-3">
				<div class="menu sticky-top p-1 bg-light">
					<h5 class="text-primary pt-5">Contents</h5>
				</div>
			</div>
		</div>
	</div>*@
