@page "/Community"

@using Page = LivingMessiah.Web.Links.Community
<PageTitle>@Page.Title</PageTitle>

<img src='@Blobs.UrlOther("community-bb-1024-385.jpeg")' alt="@Page.Descr" class="img-fluid rounded mt-3" />

<div class="card border-primary mb-3">
	<div class="card-body">
		<p class="lead">
			Visit our <b>Community Bulletin Board</b><br>
			This bulletin board is made available so that you can post items or events you would like to share with the community <b>that are not facilitated by Living Messiah</b>.
		</p>
	</div>
</div>

