@page "/confirm_donation.html"
@using static LivingMessiah.Web.Links.PayPal.ConfirmDonation

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h1><span class="text-success @Icon"></span> @Title</h1>
</div>

<div id="content">
	<div class="post">
		<h2 class="title">Thank you for your support&nbsp;!</h2><br />
		<div class="entry">
			<p>
				We're confident that God will bless you for supporting our ministry.
				If you have any questions concerning your donation, please feel free to contact us at
				<a href="mailto:donations@livingmessiah.com">donations@livingmessiah.com</a>.
			</p>
			<p>Again, we greatly appreciate your support of this ministry.</p>
			<br>
		</div>
	</div>
</div>
<!-- end #content -->
