@page "/donate"
@using Page = LivingMessiah.Web.Links.PayPal.Donate
<PageTitle>@Page.Title</PageTitle>

<h2><span class="text-primary @Page.Icon mb-3"></span> @Page.Title</h2>

<p class="lead text-primary text-center">
	<sup><small><i class="far fa-heart text-muted"></i></small></sup> We greatly appreciate your support of this ministry <sup><small><i class="far fa-heart text-muted"></i></small></sup>
</p>
<p class="size14 text-center">
	You can make a donation on-line<i class="badge bg-info">1</i> or by check <i class="badge bg-info">2</i>.
</p>

<br />

<div class="row">

	<div class="col-sm-6">
		<div class="card card-body bg-light">
			<p class="lead">
				<i class="badge bg-info">1</i> We have decided to no longer use PayPal for processing Living Messiah Ministries online donations.
			</p>
			<p class="lead">
				We are currently working on alternative solutions. 
				In the interim, you could send donations via <b>Zelle Pay</b> with the <b>Donations@LivingMessiah.com</b> email.
			</p>

			<a href="https://www.zellepay.com/"
				 class="btn-primary btn-lg" target="_blank">
				<span class="fas fa-external-link-alt"></span> Zelle Pay
			</a>

		</div>
	</div>

	<div class="col-sm-6">
		<div class="card card-body bg-light">
			<p class="lead">
				<i class="badge bg-info">2</i> To mail Living Messiah Ministries a check...
				<address>
					<strong>Living Messiah Ministries</strong><br>
					19 North Robson #106<br>
					Mesa, AZ 85201   USA
				</address>
			</p>
			<i class="fas fa-envelope-square fa-5x text-primary"></i>
		</div>
	</div>

</div>

@code {

	//public static class PayPal
	//{
	//	public const string HostedButton = "DLJ4ELB2CN3HJ";
	//}
	/*
	public static class Routing
		{
		public const string ConfirmDonation = "Confirm_donation";
		public const string CancelDonation = "Cancel_donation";
		public const string ConfirmDonationHtml = "confirm_donation.html";
		public const string CancelDonationHtml = "cancel_donation.html";
	}
	*/
}
