@page "/mishpocha"
@using static LivingMessiah.Web.Mishpocha

<p class="lead"><i>Mishpocha</i> is Hebrew for Family Life</p>

<img src='@Blobs.UrlOther("mishpocha-1024-385.jpeg")' alt="@Descr" class="img-fluid rounded mt-3" />

<div class="card border-primary mb-3">

	<div class="card-body">
		<img src='@Blobs.UrlOther("wanda-marie-hebron-cancer-free.jpg")' 
				 alt="@Descr" class="img-fluid rounded mt-3" />

		<p class="size14">
			My name is <b>Wanda Marie Hebron</b>. I was recently diagnosed with triple negative breast cancer grade 3, which is the worst kind of breast cancer you can get. They found no genetic markers, and have said I am currently stage 2b.

			<br /><br />The recommended treatment is chemotherapy followed by surgery if the tumor has been reduced enough. Then followed up with radiation treatment. We don't know how many rounds of chemotherapy or radiation at this point.

			<br /><br />We have done a lot of research into both standard care and alternative care. After much soul searching and prayer we have decided to try alternative first. Regardless of which treatment we do, both are expensive. Today we learned that our copay for one round of chemotherapy would be just under $1,200.00 USD. That does not include doctor visit copays, medications prescribed for the side effects of chemo or anything else. Alternative treatments can range from $20,000 USD on the low end to double and triple that. We don’t have the funds for either at this point.

			<br /><br />I will be documenting my journey hopefully for the benefit of others and use the funds from this gofundme campaign to pay for alternative treatments and/or standard treatment if alternative does not work. Unfortunately insurance covers zero for alternative treatment.

			<br /><br />We thank you for your support and listening to our journey.
		</p>
		<p class="size16">
			<ul class="fa-ul size16">
				<li>
					<i class="fa-li fas fa-external-link-square-alt"></i>
					See my <a href="https://www.gofundme.com/wandas-journey-to-be-cancer-free" target="_blank">GoFundMe page</a>
				</li>
				<li>
					<i class="fa-li fas fa-external-link-square-alt"></i>
					Please follow along with us on our <a href="https://www.facebook.com/tobecancerfree/" target="_blank">Facebook page</a>  <i class="fab fa-facebook-f"></i>
				</li>

			</ul>
		</p>

	</div>

</div>
