@page "/RuthOmerCount"

@using Page = LivingMessiah.Web.Links.RuthOmerCount
<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2>@Page.Title</h2>
</div>

<div class="row">
	<div class="col-12 text-center">
		<h4 class="mt-5">To Register, click the button or scan the QR</h4>
	</div>
</div>

<div class="row">

	<div class="col-sm-6">
		<div class="card card-body text-center">
			<a href="https://lp.constantcontactpages.com/cu/gmH6ec4"
				 class="btn-primary btn-lg" target="_blank">
				Click to Register <span class="fas fa-external-link-alt"></span>
			</a>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="card card-body">
			<img src="@Blobs.RuthOmerCount("ruth-omer-count-advert-QR.jpg")" alt="QR Code" class="img-fluid rounded my-1" />
		</div>
	</div>

</div>


<video width="320" height="240" controls>
  <source src='@Blobs.RuthOmerCount("ruth-omer-count-advert-video.mp4")'
     title="Video Description" type="video/mp4">
  Counting the Omer with Ruth
</video>
