@page "/BlazorSyncFusion/DropDowns/DropDownList/SfDropDownListTuple"
@using LivingMessiah.Web.Enums
@using LivingMessiah.Web.Services
@inject IBibleService svc

<h1> Doesn't WORK</h1>

<SfDropDownList TItem="Tuple<string, string>" TValue="string" PopupHeight="230px"
								Placeholder="Select a something"
								@bind-Value="@SelectedValue" DataSource="@Books">
	<DropDownListEvents TItem="Tuple<string, string>" TValue="string" ValueChange="OnChange"></DropDownListEvents>
	<DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
</SfDropDownList>

<p>Value: @SelectedValue</p>
<p>Id: @SelectedId</p>

@code {

	public string SelectedValue;
	public int SelectedId;

	protected List<Tuple<string, string>> Books => svc.GetBibleBooks().ToList();

	public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, Tuple<string, string>> args)
	{
		int i = int.TryParse(args.ItemData.Item1, out i) ? i : 0;
		SelectedId = i;
	}

}
