@page "/account/PasswordChanged"

@using Page = LivingMessiah.Web.Links.Account.PasswordChanged
<PageTitle>@Page.PageTitle</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>


@code {
	/*
		?email=aeaij%40yahoo.com&success=true&message=You%20can%20now%20login%20to%20the%20application%20with%20the%20new%20password.
		?email=aeaij.yahoo.com&success=true&message=You can now login to the application with the new password.
		*/
}
