@page "/BBCP"

@using LivingMessiah.Web.SmartEnums

@using Page = LivingMessiah.Web.Links.SampleCode.SyncfusionSfDropDownList
<PageTitle>@Page.Title</PageTitle>
<div class="pb-1 mt-4 mb-1 border-bottom border-info">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<BibleBookChapterDDL></BibleBookChapterDDL>
