@using LivingMessiah.Web.SmartEnums;


<div class="@MediaQuery.MdOrLgOrXl.DivClass">
	<div class="card border-warning me-0">
		<div class="card-header">
			<h2 class="text-warning text-center"><b>Welcome</b></h2>
		</div>

		<div class="body p-2">
			<Welcome />
		</div>
		<div class="body p-2">
			<VisionAndMission />
		</div>
		<div class="body p-2">
			<Resolve MediaQuery="@MediaQuery"></Resolve>
		</div>

	</div>

</div>