@using static LivingMessiah.Web.Services.Auth0

<section id="main">

	@if (Role != "" && Role != @Roles.User)
	{
		@if (Role == @Roles.Admin)
		{
			<h4 class="mb-1 text-danger">Admin Role Links</h4>
			<div class="list-group">
				@foreach (var item in Enums.Nav.List.OrderBy(o => o.Sort))
				{
					<a href="@item!.Index" class="list-group-item" title="@item!.Text">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1"><i class="@item!.Icon" aria-hidden="true"></i> @item!.Text</h5>
						</div>
					</a>
				}
			</div>

		}
		else
		{
			<h4 class="mb-1 text-warning">Elevated Role Links</h4>
			<div class="list-group">
				@foreach (var item in Enums.Nav.List.Where(w => w.Role == @Role).OrderBy(o => o.Sort))
				{
					<a href="@item!.Index" class="list-group-item" title="@item!.Text">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1"><i class="@item!.Icon" aria-hidden="true"></i> @item!.Text</h5>
						</div>
					</a>
				}
			</div>

		}
	}


</section>
