
<h4 class="text-info mt-3">Board of Elders</h4>
<p>
	As a congregation, we have selected a group of mature, like-minded believers to act as our advisors.
	This group has agreed to serve in the role of overseers,
	advising us on important decisions and helping assure that we remain true to God's Word and His Spirit.
	This group consists of the following members:
</p>
