@using LivingMessiah.Web.Features.WindmillRanch.Enums

<div class="d-print-none mt-n2">
	<ul class="list-inline bg-light pl-2">
		@foreach (var item in Windmill.List.OrderBy(o => o.Value))
		{
			<li class="list-inline-item bg-light">
				<a class="badge bg-@item.Color" href="@item.Page">
					<small>@item.Title</small>
				</a>&nbsp;&nbsp;
			</li>
		}
	</ul>
</div>
