@page "/BBCP"
@using LivingMessiah.Web.SmartEnums

<PageTitle>Bible Book Chapter</PageTitle>

<div class="pb-1 mt-4 mb-4 border-bottom">
	<h3>Bible Book Chapter Page</h3>
</div>

<BibleBookChapterDDL></BibleBookChapterDDL>
