<h3>YouTube Feed</h3>

<TableTemplate Items="LatestVideoList">
	<TableHeader>
		<th>Title</th>
		<th>Id</th>
		<th>Published Date</th>
	</TableHeader>
	<RowTemplate>
		<td>@context.Title.Text</td>
		<td>@context.Id.Replace("yt:video:","")</td>
		<td>@context.PublishDate.Date.ToShortDateString()</td>
	</RowTemplate>
</TableTemplate>