@using LivingMessiah.Web.Pages.Sukkot.Constants
<p class="lead mt-3">
	We will be celebrating Sukkot this year from @((MarkupString)RegistrationMeta.IntroductionDates),
	at <b>Greenhouse Trolley Hobby Farm</b> near <b>Sierra Vista, AZ</b>
</p>

<div class="card bg-light my-3">
	<div class="card-header">
		<h3><b>Green House Trolley Hobby Farm</b></h3>
	</div>
	<div class="card-body">
		<p class="lead">
			Go to this Hip Camp <a href="https://www.hipcamp.com/en-US/discover/arizona/the-greenhouse-trolley-hobby-fa" target="_blank">link</a> to have a look.
			Here is a <a href="https://goo.gl/maps/jx2z6vD4n58STAqq9" target="_blank">Google Map</a>&nbsp;<i class="fa fa-map-pin"></i>.
		</p>
	</div>
</div>
