
@if (IsMealsAvailable)
{
	<h3><span class="badge badge-warning">Meals</span></h3>
	<p class="lead">
		Because the facility has a good-sized commercial-grade kitchen, we are able to offer meals for those in our group who wish to partake.
		Our own Chris Lengyel will be managing the kitchen and meal preparation and will need a good supply of helpers for preparation and clean-up - you will be asked to participate.
		We plan to offer <b>2</b> (Brunch and Dinner) prepared meals each day (see below the <b>Document Packet</b> for more details).
		<br />The cost is...
	</p>

	<blockquote class="text-warning">CHANGES FROM LAST YEAR IN <b>BOLD</b></blockquote>

	<p class="lead">
		<ul>
			<li><b>Only two meals Brunch and Dinner</b> both the same price</li>
			<li>Adults $5.00 per person age <b>10</b> & above</li>
			<li>Ages 6-<b>9 $2.50</b></li>
			<li>Ages Under 5 free</li>
			<li>We have added a <b>vegetarian</b> option</li>
		</ul>
	</p>

	<p class="lead">
		Of course, if you would like to supply all of your own food, that's fine.
		We will try to accommodate those who have dietary restrictions if we know before Sukkot - see Chris to arrange this.
	</p>

}
else
{
	@*<p class="lead">
			Sorry, no meals will be offered this year.
		</p>*@
}


@code {
	[Parameter]
	public bool IsMealsAvailable { get; set; }
}
