@using Page = LivingMessiah.Web.Links.Sukkot

<h3><span class="badge bg-warning">Payment</span></h3>

<p class="lead">
	Mail a print out of your registration form with your deposit attached.
	<div class="ml-5">
		<Address />
	</div>
</p>
<p class="lead">
	Please see any of the leadership team if you have any questions.
</p>
