
<h3><span class="badge badge-warning">Sukkot T-shirts - Getum Quick!</span> <i class="fas fa-external-link-alt"></i></h3>
<a href="https://aboveallimages.net/shop?olsPage=t/sukkot" target="_blank">
	<img src="@LivingMessiah.Web.Pages.Sukkot.Constants.Blobs.UrlRoot("2021-sukkot-tshirt-1024-385.jpg")"
			 alt="Sukkot 2010 T-Shirts" class="img-fluid rounded" />
</a>
<br />

<p class="mb-3">
	Orders will be taken until September 20th.
	They will ship September 25th or you can pick them up at Wilderness Ranch if you are attending.
	Please make a note at check out if you want your order shipped to your home or to be picked up at the campground.
	You can always email me too at <a href="mailto:Ralphie@LivingMessiah.com">Ralphie@LivingMessiah.com</a>&nbsp;<i class="far fa-envelope"></i>
</p>
