
<p class="card-text">
	<sup class="verse-number">23</sup> For the LORD will pass through to smite the Egyptians;
	and when he seeth the blood upon the lintel <span class="hebrew"> הַמַּשְׁקוֹף </span> <sup><b>hammashkof</b> </sup> @Strongs.H("H4947"),
	and on the two side posts <span class="hebrew"> הַמְּזוּזֹת </span> <sup><b>hammezuzot</b> </sup> @Strongs.H("H4201"),
	the LORD will pass over the door, and will not suffer the destroyer to come in unto your houses to smite [you].
</p>

<!--
Reference: [547]

2. A WELCOME WITH BLOOD;
4th Paragraph
2nd sentence "They were now to be visited in judgment."[545]; JKM EN 02 | MHB Parsha Exo 1&2
-->
@code {

}
