
<div class="card-body">

	<div class="bg-info-subtle p-1">
		<p class="card-text">
			<sup class="verse-number">4</sup>And Moses said, Thus saith the LORD, About midnight will I go out into the midst of Egypt:
			<sup class="verse-number">5</sup> And all the firstborn in the land of Egypt shall die, from the firstborn of Pharaoh that sitteth upon his throne, even unto the firstborn of the maidservant that [is] behind the mill; and all the firstborn of beasts.
			<sup class="verse-number">6</sup> And there shall be a great cry throughout all the land of Egypt, such as there was none like it, nor shall be like it any more.
			<sup class="verse-number">7</sup> But against any of the children of Israel shall not a dog move his tongue, against man or beast: that ye may know how that the LORD doth put a difference between the Egyptians and Israel.
		</p>


		<p class="card-text text-end mb-0">
			<sup><a href="https://www.blueletterbible.org/kjv/exo/11/4-7/s_61004" target="_blank">@book.Title @refChapterVerse</a></sup>
		</p>
	</div>

</div>

@code {
	//<sup><a href="https://www.blueletterbible.org/kjv/exo/11/4-7/s_61004" target="_blank">🔗</a></sup>
	BibleBook book = BibleBook.Exodus;  
	string refChapterVerse = "11:4-7"; // <em>the last plague</em>
}

