
<p class="card-text">
	<sup class="verse-number">4</sup> And Moses said, Thus saith the LORD, About midnight will I go out into the midst of Egypt:
	<sup class="verse-number">5</sup> And all the firstborn in the land of Egypt shall die, from the firstborn of Pharaoh that sitteth upon his throne, even unto the firstborn of the maidservant that [is] behind the mill; and all the firstborn of beasts.
	<sup class="verse-number">6</sup> And there shall be a great cry throughout all the land of Egypt, such as there was none like it, nor shall be like it any more.
	<sup class="verse-number">7</sup> But against any of the children of Israel shall not a dog move his tongue, against man or beast: that ye may know how that the LORD doth put a difference between the Egyptians and Israel.
</p>

<!--
Reference [545]

2. A WELCOME WITH BLOOD;
3rd Paragraph
The entirety of this paragraph is Exo 11:4-7
-->
@code {

}
