
<p class="card-text">
	<sup class="verse-number">12</sup> For I will pass through the land of Egypt this night, and will smite all the firstborn in the land of Egypt,
	both man and beast; and against all the gods of Egypt I will execute judgment: I [am] <b>Yehovah</b> <span class="hebrew"> יְהֹוָה </span> @Strongs.H("H3068").
	<sup class="verse-number">13</sup> And the blood shall be to you for a <b>token</b> <span class="hebrew"> לְאֹת </span> <sup><i>le·ot</i> @Strongs.H("H226")</sup>
	upon the houses where ye [are]: and when I see the blood, I will <mark>pass over</mark> <span class="hebrew"> וּפָסַחְתִּי </span> <sup><i><b>ufasachti</b></i></sup> @Strongs.H("H6452") you,
	and the plague shall not be upon you to destroy [you], when I smite the land of Egypt.
	<sup class="verse-number">14</sup> And this day shall be unto you for a memorial; and ye shall keep it a feast to <b>Yehovah</b> <span class="hebrew"> יְהֹוָה </span> @Strongs.H("H3068").
	throughout your generations; ye shall keep it a feast by an ordinance for ever.
</p>


@code {

}
