
<div class="card-body">
	<p class="card-text bg-info-subtle p-1">
		<sup class="verse-number"><a href="https://www.blueletterbible.org/kjv/exo/12/23/s_62023" target="_blank">@book.Title  @refChapterVerse</a></sup>
		For the LORD will pass through to smite the Egyptians; and when he seeth the blood upon the lintel, 
		and on the two side posts, the LORD will pass over the door, and will not suffer the destroyer to come in unto your houses to smite [you].
	</p>
</div>

@code {
	BibleBook book = BibleBook.Exodus;
	string refChapterVerse = "12:23";
}
