
<p class="card-text">
	<sup class="verse-number">21</sup>
	Then Moses called for all the elders of Israel, and said unto them, Draw out and take you a lamb according to your families, and kill the passover.
</p>

<p class="card-text">
	<sup class="verse-number">27</sup>
	That ye shall say, It [is] the sacrifice of the LORD'S passover, who passed over the houses of the children of Israel in Egypt, when he smote the Egyptians, and delivered our houses. And the people bowed the head and worshipped.
</p>


@code {
	//<sup class="verse-number">7</sup>
	//<a href="https://www.blueletterbible.org/kjv/exo/12/21/s_62001" target="_blank">21</a>
	//<a href="https://www.blueletterbible.org/kjv/exo/12/27/s_62027" target="_blank">27</a>
	//Exodus 12:21; Exodus 12:27
	//Exo 12:21; Exo 12:27
	//Exo 12:21, Exo 12:27
}
