

<div class="card-body">
	<p class="card-text bg-info-subtle p-1">
		<sup class="verse-number"><a href="https://www.blueletterbible.org/kjv/exo/12/22/s_62022" target="_blank">@book.Title  @refChapterVerse</a></sup>
		And ye shall take a bunch of hyssop, and dip [it] in the blood that [is] in the <b>bason</b> 
		<span class="hebrew"> בַּסַּף </span> <sup><i><b>saph</b></i></sup> @Strongs.H("H5592"), 
		and strike the lintel and the two side posts with the blood that [is] in the <b>bason</b> 
		<span class="hebrew"> בַּסַּף </span>
		and none of you shall go out at the door of his house until the morning.
	</p>
</div>

@code {
	BibleBook book = BibleBook.Exodus;
	string refChapterVerse = "12:22";
}
