
<p class="card-text">
	<sup class="verse-number">12</sup> And ye shall take a bunch of hyssop, and dip [it] in the blood that [is] in the <b>bason</b>
	<span class="hebrew"> בַּסַּף </span> <sup><i><b>saph</b></i></sup> @Strongs.H("H5592"),
	and strike the lintel <span class="hebrew"> הַמַּשְׁקוֹף </span> <sup><b>hammashkof</b> </sup> @Strongs.H("H4947") and the
	two side posts <span class="hebrew"> הַמְּזוּזֹת </span> <sup><b>hammezuzot</b> </sup> @Strongs.H("H4201") with the blood that [is] in the <b>bason</b>
	<span class="hebrew"> בַּסַּף </span>
	and none of you shall go out at the door of his house until the morning.
</p>


@code {

}
