
<p class="card-text">
	<sup class="verse-number">1</sup> And <b>Yehovah</b> <span class="hebrew"> יְהֹוָה </span> @Strongs.H("H3068") spake unto Moses and Aaron in the land of Egypt, saying,
	<sup class="verse-number">2</sup> This month [shall be] unto you the beginning of months: it [shall be] the first month of the year to you.
</p>

@code {

}
