<p class="card-text">
	<sup class="verse-number">11</sup> And thus shall ye eat it <span class="hebrew"> אֹתוֹ </span> <sup><i><b>oto</b></i> </sup> @Strongs.H("H853");
	[with] your loins girded, your shoes on your feet, and your staff in your hand;
	and ye shall eat it <span class="hebrew"> אֹתוֹ </span> <sup><i><b>oto</b></i> </sup> @Strongs.H("H853") in haste:
	it [is] the LORD's <mark> <span class="hebrew"> לַיהוָה </span> </mark> <sup><i><b>laYehovah</b></i></sup> @Strongs.H("H3068")
	<mark>passover</mark> <span class="hebrew"> פֶּסַח </span> <sup><i><b>pesach</b></i></sup> @Strongs.H("H6453").
</p>

@code {

}
