
<p>
	<sup class="verse-number">2</sup>
	If thou buy an Hebrew servant, six years he shall serve: and in the seventh he shall go out free for nothing.
	<sup class="verse-number">3</sup>
	If he came in by himself, he shall go out by himself: if he were married, then his wife shall go out with him.
	<sup class="verse-number">4</sup>
	If his master have given him a wife, and she have born him sons or daughters; the wife and her children shall be her master's, and he shall go out by himself.
	<sup class="verse-number">5</sup>
	And if the servant shall plainly say, I love my master, my wife, and my children; I will not go out free:
	<sup class="verse-number">6</sup>
	Then his master shall bring him unto the judges; he shall also <b>bring him to the door </b> <span class="hebrew"> הַדֶּלֶת </span> <sup><b>haddelet</b> </sup> @Strongs.H("H1817"),
	or unto <b>the door post</b> <span class="hebrew"> הַמְּזוּזָה </span> <sup><b>hammezuzah</b> </sup> @Strongs.H("H4201"); and his master shall <b>bore his ear through with an aul</b>; and he shall serve him for ever.
	<sup></sup>
</p>

<!-- Reference <sup>[561]-->

@code {
	// <sup>JKM EN 04 | MHB Parasha Exo 21 to 22:24 <em>Mishpatim</em></sup>
	// JKM EN 05 | King of Kings
}
