
<p class="card-text">
	<sup class="verse-number">24 [5:4]</sup>
	For he had dominion over all [the region] on this side the river, 
	from <b>Tiphsah</b> <span class="hebrew"> מִתִּפְסַח </span> @Strongs.H("H8607") <sup> <b>&dagger;</b></sup>
	even to Azzah, over all the kings on this side the river: and he had peace on all sides round about him.
</p>

<p class="card-text">
	<b>&dagger;</b>: <b>Tiphsah</b> means <b>cross over</b>. KJC:2 <a href="https://www.blueletterbible.org/kjv/2ki/15/16/s_328016" target="_blank">2Ki 15:16</a>
</p>


<!-- Reference <sup>[559]-->

@code {
	//	<a href="https://www.blueletterbible.org/kjv/1ki/4/24/s_295024" target="_blank">1 Kings 4:24 [5:4]</a>]
}
