
<p class="card-text">
	<sup class="verse-number">19</sup> 
	And the <strong>basons</strong> <span class="hebrew" הַסִּפִּים </span> <sup>		<i>Hassippim</i></sup> @Strongs.H("H5592"),
	and the firepans, and the bowls, and the caldrons, and the candlesticks, and the spoons,
	and the <strong>cups</strong> <span class="hebrew" הַמְּנַקִיוֹת </span> <sup><i>hammenakiYot</i></sup>   @Strongs.H("H4518");
	[that] which [was] of gold [in] gold, and [that] which [was] of silver [in] silver, took the captain of the guard away.
</p>

<!--	Reference: [550]	-->

@code {
	
}
