
<p class="card-text">
	<sup class="verse-number">19 LXX</sup>
	καὶ τὰ σαφφωθ καὶ τὰ μασμαρωθ καὶ τοὺς ὑποχυτῆρας καὶ τὰς λυχνίας καὶ τὰς θυίσκας καὶ τοὺς κυάθους ἃ ἦν χρυσᾶ χρυσᾶ καὶ ἃ ἦν ἀργυρᾶ ἀργυρᾶ ἔλαβεν ὁ ἀρχιμάγειρος
</p>

<!--	Reference: [552]	-->

@code {

}
