
<p class="card-text fs-6 ms-2 p-2 mb-0">
	<a href="https://www.blueletterbible.org/kjv/mat/26/26-28/s_955026" target="_blank">
		Matthew 26:26-28
	</a>

	<span class="verse-outline">&nbsp;Yeshua identified as the Lamb of Elohim</span>

</p>

<p class="card-text ms-3 p-1">
	<sup class="verse-number">26</sup>
	And as they were eating, Jesus took bread, and blessed it, and brake it, and gave it to the disciples, and said, Take, <b>eat; this is my body</b>.
	<sup class="verse-number">27</sup>
	And he took the cup, and gave thanks, and gave it to them, saying, Drink ye all of it;
	<sup class="verse-number">28</sup>
	For this is my blood of the new testament, which is shed for many for the remission of sins.
</p>

<p class="card-text text-end">
	<sub>
		See also
		<a href="https://www.blueletterbible.org/kjv/mar/14/22-24/s_971022" target="_blank">
			Mark 14:22-24
		</a>,
		<a href="https://www.blueletterbible.org/kjv/1co/11/24-25/s_1073024" target="_blank">
			1 Corinthians 11:24-25
		</a>
	</sub>

</p>

@code {

}
