
<div class="card-body">
	<div class="bg-info-subtle">
		<p class="card-text fs-6 ms-2 p-2 mb-0">
			<a href="https://www.blueletterbible.org/kjv/@HrefSuffix" target="_blank">
				@Book!.Title @ChapterVerse
			</a>
			@if (!string.IsNullOrEmpty(SubTitle))
			{
				<span class="verse-outline">&nbsp; @SubTitle</span>
			}

		</p>
		<div class="ms-3 p-2">
			@ChildContent
		</div>

	</div>
</div>

@code {
	[Parameter, EditorRequired] public BibleBook? Book { get; set; } // = BibleBook.Exodus;
	[Parameter, EditorRequired] public string? HrefSuffix { get; set; }  // exo/3/7-10/s_53007
	[Parameter, EditorRequired] public string? ChapterVerse { get; set; }
	[Parameter] public string SubTitle { get; set; } = "";
	[Parameter] public RenderFragment? ChildContent { get; set; }
}

