<div class="card-body bg-success-subtle ms-3">
	
	<h4 class="card-header text-center ">Word Study: <b><i>saph</i></b>  @Strongs.H("H5592")</h4>
	
	<div class="row">
		<div class="col-6">
			<p class="card-text mt-2">King James Concordance (KJC) 32 total occurrences...</p>

			<p class="card-text mb-0"> 25/32 (<b>≈78%</b>) translated door, threshold, posts or gates </p>
			<ul class="list-inline ms-2">
				<li class="list-inline-item">door (12x)</li>
				<li class="list-inline-item">threshold (8x)</li>
				<li class="list-inline-item">posts (3x)</li>
				<li class="list-inline-item">gates (2x)</li>
			</ul>

			<p class="card-text mb-0"> 7/32 (<b>≈22%</b>) translated bason, bowls or cup </p>
			<ul class="list-inline ms-2">
				<li class="list-inline-item">bason (4x)</li>
				<li class="list-inline-item">bowls (2x)</li>
				<li class="list-inline-item">cup (1x)</li>
			</ul>
		</div>

		<div class="col-6">
			<p class="card-text mt-2 mb-0">See example verses</p>

			<ul>
				<li><a href="https://www.blueletterbible.org/kjv/jdg/19/27/s_230027" target="_blank">Jdg 19:27</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/1ki/14/17" target="_blank">1Ki 14:17</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/2ki/12/9" target="_blank">2Ki 12:9, 13</a>, <a href="https://www.blueletterbible.org/kjv/2ki/12/13" target="_blank">13</a>; <a href="https://www.blueletterbible.org/kjv/2ki/22/4" target="_blank">22:4</a>; <a href="https://www.blueletterbible.org/kjv/2ki/23/4" target="_blank">23:4</a>; <a href="https://www.blueletterbible.org/kjv/2ki/25/18" target="_blank">25:18</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/1ch/9/19" target="_blank">1Ch 9:19</a>, <a href="https://www.blueletterbible.org/kjv/1ch/9/22" target="_blank">22</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/2ch/3/7" target="_blank">2Ch 3:7</a>; <a href="https://www.blueletterbible.org/kjv/2ch/23/4" target="_blank">23:4</a>; <a href="https://www.blueletterbible.org/kjv/2ch/34/9" target="_blank">34:9</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/est/2/21" target="_blank">Est 2:21</a>; <a href="https://www.blueletterbible.org/kjv/est/6/2" target="_blank">6:2</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/isa/6/4" target="_blank">Isa 6:4</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/jer/35/4" target="_blank">Jer 35:4</a>; <a href="https://www.blueletterbible.org/kjv/jer/52/19" target="_blank">52:19</a>, <a href="https://www.blueletterbible.org/kjv/jer/52/24" target="_blank">24</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/eze/40/6-7/s_842006" target="_blank">Eze 40:6-7</a>; <a href="https://www.blueletterbible.org/kjv/eze/41/16" target="_blank">41:16</a>; <a href="https://www.blueletterbible.org/kjv/eze/43/8" target="_blank">43:8</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/amo/9/1" target="_blank">Amo 9:1</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/zep/2/14" target="_blank">Zep 2:14</a></li>
				<li><a href="https://www.blueletterbible.org/kjv/zec/12/2" target="_blank"><b>Zec 12:2</b></a></li>
			</ul>
		</div>

	</div>
	
</div>

<!--	Reference: [549]	-->

@code {

}
