
<p class="card-text">
	<sup class="verse-number">1</sup>
		The burden of the word of the LORD for Israel, saith the LORD, which stretcheth forth the heavens, 
		and layeth the foundation of the earth, and formeth the spirit of man within him.  
	<sup class="verse-number">2</sup>
		Behold, I will make Jerusalem a <b>cup</b> <span class="hebrew"> סַף </span> <sup><i>saph</i> </sup> @Strongs.H("H5592")
		of trembling <span class="hebrew"> רַעַל </span> <sup><i>ra'al</i> </sup> @Strongs.H("H7478") unto all the people round about, 
		when they shall be in the siege both against Judah [and] against Jerusalem.  
	<sup class="verse-number">3</sup>
		And in that day will I make Jerusalem a <b>burdensome stone</b> for all people: all that burden themselves with it shall be cut in pieces, 
		though all the people of the earth be gathered together against it.
</p>


@code {
	//https://www.blueletterbible.org/lexicon/h7478/kjv/wlc/0-1
}
