
@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards

<!-- 5. MarriageJehovahIsrael BEGIN -->

<div class="card border-warning my-3">
	<h5 class="card-header text-center">5. Marriage of Jehovah with Israel</h5>

	<div class="card-body">

		<p class="card-text">
			It seems clear that the Egyptian passover rite was a rite of threshold covenanting, as ordered of God and as understood by the Israelites.
			Its sacrifice was on the threshold of the homes of the Hebrews on the threshold of a new year,[573]
			and on the threshold of a new nationality. Then Israel began anew in all things.
			Moreover, it was recognized as the rite of marriage between Jehovah and Israel; as the very Threshold Covenant had its origin in the rite of primitive marriage.

			@* 573 *@

			<ul>
				<li>
					<VerseAnchor Book="BibleBook.Exodus"
											 ChapterVerse="12:1-2"
											 HrefSuffix="exo/12/1-2/"
											 SubTitle="" />
				</li>
				<li>
					<VerseAnchor Book="BibleBook.Leviticus"
											 ChapterVerse="23:5"
											 HrefSuffix="lev/23/5/"
											 SubTitle="" />
				</li>
				<li>
					<VerseAnchor Book="BibleBook.Leviticus"
											 ChapterVerse="9:1–2"
											 HrefSuffix="lev/9/1-2/"
											 SubTitle="" />
				</li>

			</ul>


		</p>

		<p class="card-text">
			That first passover night was the night when Jehovah took to himself in covenant union the “Virgin of Israel,” and became a Husband unto her.
			From that time forward any recognition of, or affiliation with, another God, is called “whoredom,” “adultery,” or “fornication.”[574]
			In this light it is that the prophets always speak of idolatry.
			
			<ul>
				<li>Exod. 34 : 12–16</li>
				<li>Lev. 17 : 7; 20 : 5–8</li>
				<li>Num. 15 : 39, 40</li>
				<li>Deut. 31 : 16</li>
				<li>Judg. 2 : 17; 8 : 27, 33</li>
				<li>2 Kings 9 : 22, 23</li>
				<li>1 Chron. 5 : 25</li>
				<li>2 Chron. 21 : 11</li>
				<li>Psa. 73 : 27; 106 : 38, 39</li>
				<li>Isa. 57 : 3</li>
				<li>Jer. 3 : 1–15, 20; 13 : 27</li>
				<li>Ezek. 6 : 9; 16 : 1–63; 20 : 30; 23 : 1–49</li>
				<li>Hos. 1 : 2; 2 : 2; 3 : 1; 4 : 12–19; 5 : 3, 4; 6 : 6, 7, 10</li>
			</ul>
		</p>

		<p class="card-text">
			Jeremiah recognizes the first passover night as the time of this marriage covenant, when he says:

			“Behold, the days come, saith Jehovah,
			That I will make a new covenant
			With the house of Israel, and with the house of Judah:
			Not according to the covenant that I made with their fathers
			In the day that I took them by the hand
			To bring them out of the land of Egypt;
			Which my covenant they brake,
			Although I was an husband unto them, saith Jehovah.”[575]

			<ul>
				<li>
					<VerseAnchor Book="BibleBook.Jeremiah"
											 ChapterVerse="31:31–32"
											 HrefSuffix="jer/31/31-32/s_776031"
											 SubTitle="His new covenant with both Houses" />
				</li>
				<li>
					<VerseAnchor Book="BibleBook.Hebrews"
											 ChapterVerse="8:8–9"
											 HrefSuffix="heb/8/8-9/s_1141008"
											 SubTitle="reference to Jer 31:31-35" />
				</li>
			</ul>

		</p>

		<p class="card-text">
			And Jehovah, speaking through Ezekiel of his loving choice of the Hebrew daughter of the Amorite and the Hittite,
			says: “Now when I passed by thee, and looked upon thee, behold, thy time was the time of love;
			and I spread my skirt over thee, and covered thy nakedness: yea,
			I sware unto thee, and entered into a covenant with thee, saith the Lord God, and thou becamest mine.”[576]

			<VerseAnchor Book="BibleBook.Ezekiel"
									 ChapterVerse="16:8"
									 HrefSuffix="eze/16/8/s_818008"
									 SubTitle="Her grievous judgment" />
		</p>

		<p class="card-text">
			It seems to be in recognition of the truth that the Egyptian passover was the rite of marriage between Jehovah and Israel,
			that the Song of Songs, the epithalamium of the Hebrew Scriptures, is always read in the synagogue at the passover service.
			This idea of the relation of Jehovah and Israel runs through the entire Old Testament, and shows itself in the Jewish ritual of to-day.
		</p>

		<p class="card-text">
			In the primitive marriage rite the stamp of the red hand of the bridegroom is the certification of the covenant union,
			at the doorway of the family. But in the Egyptian passover it was the virgin of Israel who certified to the marriage covenant by the bloody stamp on the doorway.
			Hence it was a feminine symbol, in a bush of hyssop, that was dipped in the blood and used for this stamping.[577]
		</p>
	</div>

	<VerseDiv Book="BibleBook.Exodus"
						ChapterVerse="12:22"
						HrefSuffix="exo/12/22/s_62022"
						SubTitle="hyssop dipped in bason">
		<Exo_12_22 />
	</VerseDiv>

	<div class="card-body">
		<p class="card-text">
			The tree, or bush, is a universal symbol of the feminine in nature. This is shown, for example, in the tree or brush-topped pole as the symbol of Ashtaroth, “wife,” [578]
		<Quotation Quote="<sup>[578</sup> W. Robertson Smith’s Religion of the Semites, pp. 169–176, and Stade’s Geschichte, p. 460."
							 IsMarkup="true" Person="Trumbull" />
		
		</p>

		<p class="card-text">
			as over against the pillar or obelisk as the symbol of Baal, or “lord,” or “husband.”[579]
			Compare ⤵️
			<ul>
				<li>Exodus 34:12–16</li>
				<li>Deuteronomy 7:5; 12:3</li>
				<li>Judges 3:7 </li>
				<li>2 Kings 23:4</li>
				<li>2 Chronicles 33:3</li>
				<li>etc.</li>
			</ul>
		</p>

	</div>
</div>  <!-- 5. MarriageJehovahIsrael END -->
@code {

}
