@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards
@using LivingMessiah.Web.Features.ThresholdCovenant.Commentary

<!-- 4. PassoverOrPassby BEGIN -->
<div class="card border-warning my-3">
	<h5 class="card-header text-center">4. PASS-OVER OR PASS-BY.</h5>

	<div class="card-body">

		<!-- [2:24:29]	-->
		<p class="card-text">
			The common understanding of the term "passover," in connection with the Hebrew exodus from Egypt, is that it was, on the Lord’s part,
			a passing by those homes where the doorways were blood-stained, <b>without entering them</b>.
			Yet this meaning is <b>not justified</b> by the term itself, nor by the significance of the <b>primitive rite</b>.
			<mark>
				Jehovah did not merely spare his people when he visited judgment on the Egyptians.
				He covenanted anew with them by passing over, or crossing over, the blood-stained threshold into their homes,
				while his messenger of death went into the houses of the Lord’s enemies and claimed the first-born as belonging to Jehovah
			</mark>.<sup>[558]</sup>
		</p>
	</div>

	<div class="card-body">

		<QuotationPTemplate Person="<sup>[558]</sup> Trumbull">
			Among primitive peoples it was a common thought that the first fruits of life in any sphere <b>belonged of right to God</b>, or the gods.
			This was true of the fields, of the flocks and herds, and of the family.
			(See, for example, Frazer’s Golden Bough, II., 68–78, 373–384; also W. Robertson Smith’s Religion of the Semites, pp. 443–446.)
			As in Egypt particular gods were supposed to have power over men and beasts in special localities,
			the first-born belonged to them, and stood as representing their power and protection; <b>yet Jehovah claimed to be Lord over all</b>.
			And now, at the close of the contest between God and the gods, Jehovah took to himself out of the homes of his enemies the devoted first-born of man and of beast,
			<b>in evidence of the truth that the gods of Egypt could not protect them</b>.
		</QuotationPTemplate>

		<p class="card-text">
			This word <b><i>pesakh</i></b> <span class="hebrew"> פֶּסַח </span> @Strongs.H("H6453"), translated <b>"passover"</b>, is a peculiar one.
			Its etymology and root meaning have been much in discussion.
			It is derived from the root <i>pāsăkh</i> "<b>to cross over</b> <b><i>pāsăkh</i>," <span class="hebrew"> פָּסַח </span> </b> @Strongs.H("H6452")
		</p>

		<Quotation Quote="which is that word we used in the Septuagint, it was <b><i>pascha</i></b> and we talked about when he brings ever body out of the land and brings them to ... the promised land"
							 IsMarkup="true" Person="Mark Webb" />

		<QuotationPTemplate Person="JKM">
			JKM: in the New Testament, the Greek word that's translated passover is πάσχα (<b><i>pascha</i></b>)
			<sup><a href="https://www.blueletterbible.org/lexicon/g3957/kjv/tr/0-1/">G3957</a></sup>.
			Obviously the Greeks just took the Hebrew word and transliterated it into Greek, but what's interesting is that transliteration seems to be closer to the <b>cross over</b> Hebrew word <b><i>pāsăkh</i></b>
			than it is to the <b>pesakh</b> @Strongs.H("H6452").
			See <a href="https://myhebrewbible.azurewebsites.net/Article/200/Acts-12-4-The-one-and-only-occurrence-of-Easter-in-the-King-James" target="_blank">MHB | Acts 12 4 The one and only occurrence of Easter in the King James</a> for more details
		</QuotationPTemplate>

	</div>

	<div class="card-body">
		<p class="card-text">
			a meaning which is still preserved in the Hebrew word <i>Tiphsakh</i>, the name of a city on the banks of the Euphrates
		</p>
	</div>

	<div class="row">
		<div class="col-sm-6 col-lg-4">
			<VerseDiv Book="BibleBook.FirstKings"
								ChapterVerse="4:24"
								HrefSuffix="1ki/4/24/s_295024">
				<FirstKi_04_24 />
			</VerseDiv>
		</div>

		<div class="col-sm-6 col-lg-8">
			<div class="card-body">
				<p class="card-text">
					the Hebrew equivalent of the classical <i>Thapsacus</i>.<sup>[560]</sup> <i>Tiphsakh</i> means "crossing", apparently so called from the ford of the Euphrates at that place.
				</p>
				<img src="/images/Gesenius-Hebrew-12ed-H8607.jpg" class="img-fluid" alt="Gesenius Hebrew 12th ed. H8607">

				@*<p><sup>[560] </sup>See Gesenius’s Hebr. und Aram. Handwörterbuch (12th ed.), s. v. "<em>Tiphsakh</em>"</p>*@

			</div>
		</div>
	</div>

	<div class="card-body">

		<p class="card-text">
			<mark>
				Later Jewish traditions and customs point to the meaning of the original passover rite as a crossing over the threshold of the Hebrew homes by Jehovah,
				and not of his passing by his people in order to their sparing
			</mark>.
			A custom by which a Hebrew slave became one of the family in a Hebrew household,
			through <b>having his ear bored with an awl at the door-post of the house</b>,
			and thereby <b>blood staining the doorway</b>, <sup>[Exo 21:2–6]</sup> <b>is connected with the passover rite by the rabbis</b>.
			"The Deity said:
			<mark>The door and the side-posts were my witnesses in Egypt, in the hour when I passed-over the lintel and the two side-posts</mark>,
			and I said that to Me the children of Israel shall be slaves, and not slaves to slaves;
		</p>

	</div>

	<VerseDiv Book="BibleBook.Exodus"
						ChapterVerse="21:2-6"
						HrefSuffix="exo/21/2-6/s_71002" SubTitle="Laws for men servants">
		<Exo_21_02_06 />
	</VerseDiv>

	<div class="card-body">
		<p class="card-text">
			I brought them out <b>from bondage to freedom</b>;
			and this man who goeth and taketh a lord to himself shall be bored through before these witnesses.
			"<sup>[562]</sup>
		</p>
		<Quotation Quote="<sup>[562]</sup> Talmud Babyl., Qiddusheen, fol. 22, b."
							 IsMarkup="true" Person="Trumbull" />

		<h3 class="card-title text-center mt-3"> ⬇️ <span class="badge bg-info">Events occurring on the Passover</span> ⬇️ </h3>
		@* <h3 class="card-title text-center mt-2"><span class="badge bg-info-subtle"> ⬇️ Events occurring on the Passover ⬇️ </span></h3> *@
	</div>


	<div class="card-body">
		<QuotationPTemplate Person="JKM">
			How does this relate to King of Kings? e.g. Dan 2:37, 1Ti 6:15, Rev 17:14, 19:16. It maybe nothing (put it on my ToDo list)

			<a href="https://myhebrewbible.azurewebsites.net/Article/689/Word-Study-G558-apeleutheros-freeman-1Co-7-21-22" target="_blank">
				Word Study G558 apeleutheros freeman 1Co 7:21-22
			</a>
			<a href="https://myhebrewbible.azurewebsites.net/Article/1321/Jer-31-31-34-Prophecy-Sovereignty-Torah-Patterns" target="_blank">
				Jer 31:31-34 Prophecy, Sovereignty, Torah, Patterns
			</a>
		</QuotationPTemplate>

		@* <PassoverEvents /> *@

		<QuotationPTemplate Person="Mark Webb">
			<sup>[2:13:03]</sup> <b>Wow!</b>
			That's right. So when he says <b>cup</b> means <b>threshold</b> and all of you are entering in a new,
			it's new to you, when you take this cup and pour it over your threshold, you are now covenanting with
			the God of Abraham, Isaac and Jacob.
			And if you're not willing to uphold by the terms of the covenant, you better not drink it.
			You better not take it. You better not eat it.
		</QuotationPTemplate>

		<Quotation Quote="Mark didn't read this next paragraph, I think he forgot his place in the text"
							 IsMarkup="false" Person="JKM" />

		<p class="card-text">
			In the passover rite as observed by modern Jews, at a certain stage of the feast the outer door is opened, and an extra cup and chair are arranged at the table,
			in the hope that <b>God’s messenger will cross the threshold</b>, and enter the home as a welcome guest.
			<sup>[571]</sup> All this points to the meaning of "<b>cross-over</b>," and not of "<b>pass-by</b>."
		</p>

		<QuotationPTemplate Person="Trumbull">
			<sup>[571]</sup> Edersheim’s The Temple: Its Ministry and Services, p. 197;
			Home and Synagogue of Modern Jew, pp. 159–161;
			Ginsburg’s art. "Passover," in Kitto’s Cycl. of Bib. Lit.
		</QuotationPTemplate>

		<p class="card-text">
			In some parts of northern and eastern Europe there is a custom still preserved among the Jews of <b>jumping over a tub of water on passover night</b>,
			which is said to be symbolic of crossing the Red Sea, but <b>which shows that the passover feast was a feast of crossing over</b>.
			<sup>[572]</sup>
		</p>


		<Quotation Quote="<sup>[572</sup> On the testimony of Rev. Dr. Marcus Jastrow"
							 IsMarkup="true" Person="Trumbull" />

		<QuotationPTemplate Person="Mark Webb">
			<sup>[2:13:53]</sup>I want you to know, for all of us this year, as our homes are stained with that wine, as our door post,
			lintel and threshold is stained, know this, that because this means you covenanted with God Almighty and that his obligation to you is in a covenant rite,
			this is all covenant rites from Adam,
			that if an enemy enters that door to try to do harm to you God Almighty is obligated to defend you at ever means he has at his disposal.
			If the Adversary tries to come through your doorway to do something to you your defender is God Almighty.
			If the Enemy tries to come into this house if you covenanted by pouring that wine down those lips, the enemy is now subject to coming against God Almighty.
			So now we have a whole new meaning and understanding of pass-over or cross-over.
			And what a difference it's going to mean to this year as we not only do that at the door but we do it and partake of it,
			how serious it is at what's happening this covenant rite with him.
			Yeshua who is the blood of, as Dale said, the blood of the lamb is the antidote for the snake bite.
			That now we take that blood of Yeshua, which the wine represents blood and we now enter into covenant with him because as it was said by Ward,
			that that blood, that life of Yeshua was distinctly different than everyone else on earth.
			...There's no obligation to it. There's no contract to it. It's free and it's sovereign.
			And we get to enter into that with him.
		</QuotationPTemplate>

	</div>

</div>
<!-- 4. PassoverOrPassby END -->

<PassoverEventsCard />

@code {

}
