@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards

<!-- 2. WelcomeWithBlood BEGIN -->
<div class="card border-warning my-3">
	<h5 class="card-header text-center">2. A WELCOME WITH BLOOD.</h5>

	<div class="card-body">

		<p class="card-text">
			A lamb was the chosen sacrifice in the <b>welcome to Jehovah</b>. Each household, or family, was to take one
			lamb for this offering. No directions were given as
			to the place or manner of its sacrifice; for that seems
			to have been understood by all, because of the very
			“<b>pass-over</b>,” or <b>threshold cross-over</b>. This is
			implied, indeed, in the directions for the use of the
			blood when it was poured out: “Kill the passover,”
			in the usual place; “and ye shall take a bunch of
			hyssop, and dip it in the blood that is at the <em>threshold</em>
			[Hebrew, <b><em>saph</em></b>], and strike the lintel and the two
			side posts with the blood that is at the <em>threshold</em>.”<sup>Exo 12:22</sup>
		</p>

	</div>

	<VerseDiv Book="BibleBook.Exodus"
						ChapterVerse="12:22"
						HrefSuffix="exo/12/22/s_62022"
						SubTitle="hyssop dipped in bason">
		<Exo_12_22 />
	</VerseDiv>


	<div class="card-body">

		<Quotation Quote="that's the cup that they are dipping the hyssop into and bringing it up and dosing it because it's spilled there"
							 IsMarkup="false" Person="Mark Webb" />

		<p class="card-text">
			In that welcome with blood there was <mark>covenant	protection from Jehovah</mark> as he came into Egypt to <b>execute judgment on his enemies</b>.
			The Egyptians	had already refused him allegiance, and put themselves in open defiance of his authority.
			They were	now to be <b>visited</b> in judgment.
		</p>
	</div>


	<VerseDiv Book="BibleBook.Exodus"
						ChapterVerse="11 7:10"
						HrefSuffix="exo/3/7-10/s_53007"
						SubTitle="Yehovah sends Moshe to deliver Israel">
		<Exo_03_07_10 />
	</VerseDiv>



	<div class="card-body">

		<p class="card-text">
			But in order to the	distinguishing of the Lord’s people from his enemies,	the Hebrews were to prepare a
			blood welcome at their	doorway, and the Lord would honor this welcome by	covenanting with those who proffered it.
		</p>

	</div>

	<VerseDiv Book="BibleBook.Exodus"
						ChapterVerse="11:4-7"
						HrefSuffix="exo/11/4-7/s_61004"
						SubTitle="Moses threatens Pharaoh with the death the firstborn">
		<Exo_11_04_07 />
	</VerseDiv>

	<div class="card-body">

		<p class="card-text">
			In furtherance of this purpose, the Lord asked for the sacrifice of the <strong>threshold cross-over</strong> by the Hebrews:
			“For the Lord will pass through [the land] to smite the Egyptians;
			and when he seeth the blood upon the lintel, and on the two side posts [of the Hebrew homes],
			the Lord will pass over [cross-over or through] the door,	and will not suffer the destroyer to come in unto your houses to smite you.”
			<sup>[547 Exodus 12:23]</sup>
		</p>

		<p class="card-text">
			In furtherance of this purpose, the Lord asked for the sacrifice of the <strong>threshold cross-over</strong> by the Hebrews:
		</p>
	</div>

	<div class="card-body">
		<div class="bg-info-subtle ms-3 p-1">
			<Exo_12_23 />
		</div>
	</div>

	<div class="card-body">
		<p class="card-text">
			Obviously the figure here employed is of <strong>a sovereign</strong> accompanied by <strong>his executioner</strong>,
			a familiar figure in the ancient East.
			When he comes to a house marked by	tokens of the welcoming covenant,
			the sovereign will covenant-cross that threshold, and enter the home as	a guest, or as a member of the family;
			but where no such preparation has been made for him, his executioner	will enter on his mission of judgment.<sup>[548]</sup>
		</p>
	</div>

</div> 

<!-- 2. WelcomeWithBlood END -->

@code {

}
