<table class="table table-sm table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>#</th>
			<th>Read Date</th>
			<th>Torah</th>
			<th>Haftorah</th>
			<th>Brit Chadashah</th>
			<th>&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td colspan="6">
				<a id="Genesis"></a>
				<span class="badge bg-danger">Genesis</span> &nbsp;
				<span class="text-muted"><i>Beresheeth</i></span>
				<span class="float-end hebrewchart">בְּרֵאשִׁית</span>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>1.1</td>
			<td>Oct 2</td>
			<td>Gen 1:1-19</td>
			<td>Isaiah 45:17-19; Job 38:11-40:2; Isaiah 42:5-7</td>
			<td>John 1:1-5; Colossians 1:1-23; Revelation 22:6-21</td>
		</tr>
		<tr>
			<td>3</td>
			<td>1.2</td>
			<td>Oct 9</td>
			<td>Gen 1:20-2:3</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>1.3</td>
			<td>Oct 16</td>
			<td>Gen 2:4-25</td>
			<td>Ezekiel 28:11-26</td>
			<td>John 1:6-28; Romans 5:12-21; Hebrews 11:1-7</td>
		</tr>
		<tr>
			<td>5</td>
			<td>1.4</td>
			<td>Oct 23</td>
			<td>Gen 3:1-23</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>6</td>
			<td>1.5</td>
			<td>Oct 30</td>
			<td>Gen 3:24-4:26</td>
			<td>Isaiah 42:7-8</td>
			<td>Luke 2:39-41; Romans 3:1-24</td>
		</tr>
		<tr>
			<td>7</td>
			<td>1.6</td>
			<td>Nov 6</td>
			<td>Gen 5:1-6:8</td>
			<td>Isaiah 30:8-15</td>
			<td>John 1:11-23</td>
		</tr>
		<tr>
			<td>8</td>
			<td>2.1</td>
			<td>Nov 13</td>
			<td>Gen 6:9-7:24</td>
			<td>Isaiah 54:5-8</td>
			<td>Matthew 24:4-14; John 1:24-34</td>
		</tr>
		<tr>
			<td>9</td>
			<td>2.2</td>
			<td>Nov 20</td>
			<td>Gen 8:1-14</td>
			<td>Habakkuk 3:1-5</td>
			<td>Acts 1:1-14; Revelation 1:9-20</td>
		</tr>
		<tr>
			<td>10</td>
			<td>2.3</td>
			<td>Nov 27</td>
			<td>Gen 8:15-9:17</td>
			<td>Isaiah 42:9-21</td>
			<td>Matthew 24:4-14; 2 Timothy 2:8-19</td>
		</tr>
		<tr>
			<td>11</td>
			<td>2.4</td>
			<td>Dec 4</td>
			<td>Gen 9:18-10:32</td>
			<td>Isaiah 49:9-13</td>
			<td>Acts 17:26-28; Revelation 5</td>
		</tr>
		<tr>
			<td>12</td>
			<td>2.5</td>
			<td>Dec 11</td>
			<td>Gen 11</td>
			<td>Isaiah 28:10-16; Zephaniah 3:8-13</td>
			<td>1 Corinthians 14:20-33</td>
		</tr>
		<tr>
			<td>13</td>
			<td>3.1</td>
			<td>Dec 18</td>
			<td>Gen 12 &amp; 13</td>
			<td>Joshua 24:3-18</td>
			<td>Hebrews 11:1-10</td>
		</tr>
		<tr>
			<td>14</td>
			<td>3.2</td>
			<td>Dec 25</td>
			<td>Gen 14</td>
			<td>1 Kings 10:9; Isaiah 41:2-14</td>
			<td>Hebrews 7:1-19</td>
		</tr>
		<tr>
			<td>15</td>
			<td>3.3</td>
			<td>Jan 1</td>
			<td>Gen 15</td>
			<td>Isaiah 1:1-27; Zephaniah 3:9-19</td>
			<td>Romans 4:1-9</td>
		</tr>
		<tr>
			<td>16</td>
			<td>3.4</td>
			<td>Jan 8</td>
			<td>Gen 16</td>
			<td>Isaiah 54:1-3</td>
			<td>Galatians 4:21-31</td>
		</tr>
		<tr>
			<td>17</td>
			<td>3.5</td>
			<td>Jan 15</td>
			<td>Gen 17</td>
			<td>Isaiah 63:10-19</td>
			<td>Romans 4:10-25</td>
		</tr>
		<tr>
			<td>18</td>
			<td>4.1</td>
			<td>Jan 22</td>
			<td>Gen 18</td>
			<td>1Samuel 1:1-11; Isaiah 33:17-24</td>
			<td>Luke 8:40-56; Hebrews 11:8-18</td>
		</tr>
		<tr>
			<td>19</td>
			<td>4.2</td>
			<td>Jan 29</td>
			<td>Gen 19</td>
			<td>Isaiah 17:14-18:7</td>
			<td>Luke 17:20-37</td>
		</tr>
		<tr>
			<td>20</td>
			<td>4.3</td>
			<td>Feb 5</td>
			<td>Gen 20</td>
			<td>Isaiah 61:9-10</td>
			<td>Matthew 8:1-13; 1 Corinthians 7:1-2; Galatians 3:15-29</td>
		</tr>
		<tr>
			<td>21</td>
			<td>4.4</td>
			<td>Feb 12</td>
			<td>Gen 21</td>
			<td>1 Samuel 2:21-28</td>
			<td>Matthew 1:18-25</td>
		</tr>
		<tr>
			<td>22</td>
			<td>4.5</td>
			<td>Feb 19</td>
			<td>Gen 22</td>
			<td>Isaiah 33:7-22</td>
			<td>Matthew 27:27-66; John 19:16-17</td>
		</tr>
		<tr>
			<td>23</td>
			<td>5.1</td>
			<td>Feb 26</td>
			<td>Gen 23</td>
			<td>1 Kings 1:1-31; Isaiah 1:1-27</td>
			<td>Acts 7:1-18; 1 Corinthians 15:50-57</td>
		</tr>
		<tr>
			<td>24</td>
			<td>5.2</td>
			<td>Mar 5</td>
			<td>Gen 24:1-41</td>
			<td>Judges 19:20-21; Isaiah 40:1-2</td>
			<td>John 4:7-15; Ephesians 5:15-33</td>
		</tr>
		<tr>
			<td>25</td>
			<td>5.3</td>
			<td>Mar 12</td>
			<td>Gen 24:42-67</td>
			<td>Isaiah 49:14-51:3</td>
			<td>James 4:13-17</td>
		</tr>
		<tr>
			<td>26</td>
			<td>5.4</td>
			<td>Mar 19</td>
			<td>Gen 25:1-18</td>
			<td>2 Samuel 5:17-6:1</td>
			<td>Romans 7</td>
		</tr>
		<tr>
			<td>27</td>
			<td>6.1</td>
			<td>Mar 26</td>
			<td>Gen 25:19-26:11</td>
			<td>Isaiah 65:23-66:8</td>
			<td>Romans 9:9-14; Hebrews 12:14-29</td>
		</tr>
		<tr>
			<td>28</td>
			<td>6.2</td>
			<td>Apr 2</td>
			<td>Gen 26:12-35</td>
			<td>Isaiah 51:12-52:12</td>
			<td>Luke 16:1-15; Romans 9:1-8</td>
		</tr>
		<tr>
			<td>29</td>
			<td>6.3</td>
			<td>Apr 9</td>
			<td>Gen 27:1-29</td>
			<td>Isaiah 46:3-6</td>
			<td>Hebrews 2:14-18; Hebrews 11:20</td>
		</tr>
		<tr>
			<td>30</td>
			<td>6.4</td>
			<td>Apr 16</td>
			<td>Gen 27:30-28:9</td>
			<td>Micah 5</td>
			<td>Romans 10:20-11:36</td>
		</tr>
		<tr>
			<td>31</td>
			<td>7.1</td>
			<td>Apr 23</td>
			<td>Gen 28:10-29:30</td>
			<td>Isaiah 60</td>
			<td>Matthew 9:18-19; Luke 2:1-31; Ephesians 6:5-9</td>
		</tr>
		<tr>
			<td>32</td>
			<td>7.2</td>
			<td>Apr 30</td>
			<td>Gen 29:31-30:21</td>
			<td>Isaiah 60:15; Isaiah 61:10-63:9</td>
			<td>Romans 11:25-36; Revelation 19</td>
		</tr>
		<tr>
			<td>33</td>
			<td>7.3</td>
			<td>May 7</td>
			<td>Gen 30:22-31:2</td>
			<td>1 Samuel 1:11</td>
			<td>Acts 13:16-41; Revelation 20:4-15</td>
		</tr>
		<tr>
			<td>34</td>
			<td>7.4</td>
			<td>May 14</td>
			<td>Gen 31:3-32:3</td>
			<td>Jeremiah 30:10-16; Micah 6:3-7:20</td>
			<td>John 1:24-28; James 4:1-12</td>
		</tr>
		<tr>
			<td>35</td>
			<td>8.1</td>
			<td>May 21</td>
			<td>Gen 32:4-33:17</td>
			<td>Obadiah 1:1-21</td>
			<td>James 1:1-12</td>
		</tr>
		<tr>
			<td>36</td>
			<td>8.2</td>
			<td>May 28</td>
			<td>Gen 33:18-35:8</td>
			<td>Nahum 1:12-2:5</td>
			<td>Revelation 22:8-21</td>
		</tr>
		<tr>
			<td>37</td>
			<td>8.3</td>
			<td>Jun 4</td>
			<td>Gen 35:9-36:43</td>
			<td>Isaiah 43:1-7</td>
			<td>Matthew 5:1-12</td>
		</tr>
		<tr>
			<td>38</td>
			<td>9.1</td>
			<td>Jun 11</td>
			<td>Gen 37</td>
			<td>Jeremiah 38:7-10</td>
			<td>John 19:1-20:10</td>
		</tr>
		<tr>
			<td>39</td>
			<td>9.2</td>
			<td>Jun 18</td>
			<td>Gen 38</td>
			<td>Isaiah 37:31-37</td>
			<td>Romans 9:22-29</td>
		</tr>
		<tr>
			<td>40</td>
			<td>9.3</td>
			<td>Jun 25</td>
			<td>Gen 39</td>
			<td>Isaiah 52:3-9</td>
			<td>Acts 7:9-37</td>
		</tr>
		<tr>
			<td>41</td>
			<td>9.4</td>
			<td>Jul 2</td>
			<td>Gen 40</td>
			<td>Amos 1:3-15</td>
			<td>2 Corinthians 9:6-15</td>
		</tr>
		<tr>
			<td>42</td>
			<td>10.1</td>
			<td>Jul 9</td>
			<td>Gen 41:1-37</td>
			<td>1 Kings 3:15-4:1</td>
			<td>Matthew 2</td>
		</tr>
		<tr>
			<td>43</td>
			<td>10.2</td>
			<td>Jul 16</td>
			<td>Gen 41:38-42:17</td>
			<td>Isaiah 11:2-9</td>
			<td>Acts 7:1-19</td>
		</tr>
		<tr>
			<td>44</td>
			<td>10.3</td>
			<td>Jul 23</td>
			<td>Gen 42:18-43:23</td>
			<td>Isaiah 50:10-52:11</td>
			<td>Luke 1:68-79</td>
		</tr>
		<tr>
			<td>45</td>
			<td>10.4</td>
			<td>Jul 30</td>
			<td>Gen 43:24-44:17</td>
			<td>Jeremiah 42:12-17; Jeremiah 43:12-13</td>
			<td>Luke 19:37-48</td>
		</tr>
		<tr>
			<td>46</td>
			<td>11.1</td>
			<td>Aug 6</td>
			<td>Gen 44:18-46:27</td>
			<td>Joshua 14:6-14; Ezekiel 37:9-14; Ezekiel 37:15-18</td>
			<td>Acts 2:23-37; Revelation 12:1-6</td>
		</tr>
		<tr>
			<td>47</td>
			<td>11.2</td>
			<td>Aug 13</td>
			<td>Gen 46:28-47:31</td>
			<td>1 Kings 2:1-4; 2 Kings 13:14</td>
			<td>Revelation 21:1-10; Revelation 22:1-10</td>
		</tr>
		<tr>
			<td>48</td>
			<td>12.1</td>
			<td>Aug 20</td>
			<td>Gen 48:1-49:27</td>
			<td>Isaiah 43:1-27</td>
			<td>John 19:39-20:9</td>
		</tr>
		<tr>
			<td>49</td>
			<td>12.2</td>
			<td>Aug 27</td>
			<td>Gen 49:28-50:26</td>
			<td>Micah 2:12-13; Zechariah 14:1-21</td>
			<td>John 21:12-19</td>
		</tr>
	</tbody>
</table>