<h4 class="pt-2">
	<span class='badge bg-warning pb-15'>Other Resources</span>
</h4>

@if (IsPrinterFriendly)
{
	<div class="card border-light mb-3">

		<div class="card-body">
			<h3>Links</h3>
			<ul>
				<li class="lead my-2">
					<b>Mishpocha</b>
					https://LivingMessiah/Mishpocha
				</li>

				<li class="lead my-2">
					<b>About Us</b>
					https://LivingMessiah/AboutUs
				</li>

				<li class="lead my-2">
					<b>Community</b>
					https://LivingMessiah/Community
				</li>

			</ul>
		</div>
	</div>
}
else
{
	<div class="card mb-3 bg-light">
		<div class="card-body">
			<ul class="fa-ul">

				<li class="lead my-2">
					<a href="/Mishpocha" class="btn btn-outline-primary" title="Mishpocha">
						Mishpocha <i class="fas fa-chevron-right"></i>
					</a>
				</li>

				<li class="lead my-2">
					<a href="/AboutUs" class="btn btn-outline-primary" title="About Us">
						About Us <i class="fas fa-chevron-right"></i>
					</a>
				</li>

				<li class="lead my-2">
					<a href="/Community" class="btn btn-outline-primary" title="Community">
						Community <i class="fas fa-chevron-right"></i>
					</a>
				</li>

			</ul>
		</div>
	</div>
}



@code {
	[Parameter]
	public bool IsPrinterFriendly { get; set; }
}
