@page "/BlazorExamples/BibleBookInputSelectEnumNOWORKY"
@using LivingMessiah.Domain.Bible
@using LivingMessiah.Web.Pages.BlazorExamples.Components
<h3>BibleBookInputSelectEnum</h3>

<div class="pb-1 mt-4 mb-4 border-bottom">
	<h3><code>EventCallBack</code> and <code>InputSelectEnum</code></h3>
</div>


<div class="p-5 mb-4 bg-light rounded-3">
	<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold">Not Working</h1>
	</div>
</div>


	<BibleBookDropDownList @bind-BgEnum="bgGroupEnumParent" />



	@code {
		private BookGroupEnum bgGroupEnumParent;
	}
