@page "/BlazorExamples/PasswordParent"

<h3>Password Parent <sup><small><code>PasswordParent.razor</code></small></sup></h3>

<p class="text-black-50 ml-3">
	Passing values (e.g. a password) from a child component back to the parent using <code>EventCallBack</code>; see
	<a href="https://www.syncfusion.com/faq/blazor/components/how-do-you-pass-values-from-child-to-parent-using-eventcallback-in-blazor">link</a>
</p>

<div class="card border-info">
	<div class="card-header py-1 text-center">
		Child Component <code>PasswordChild.razor</code>
		<i class="fas fa-chevron-down"></i>
	</div>

	<div class="card-body py-1">
		<PasswordChild @bind-Password="_password" @bind-Email="_email" />
	</div>

	<div class="card-footer py-1 text-center">
		Child Component <code>PasswordChild.razor</code>
		<i class="fas fa-chevron-up"></i>
	</div>

</div>

<p class="mt-3">
	Outside the child component...<br />
	_email: <b>@_email</b><br />
	_password: <b>@_password</b><br />
</p>

@code {
	private string _email;
	private string _password;
}
