@using LivingMessiah.Web.Pages.Sukkot.RegistrationSteps.Enums

<h5>Registration Steps</h5>
@*<p class="text-muted"><small>Test <i>SmartEnum</i> to map <b>state</b></small></p>*@
<div class="card mb-3 border-warning">
@*	<div class="card-header">
		<h4 class="card-title text-center"><code>item.Dump</code></h4>
	</div>
*@
	<div class="card-body">
		<TableTemplate Items="Status.List.OrderBy(o => o.Value).ToList()">
			<TableHeader>
				<th>Id</th>
				<th>Name</th>
				<th>Used in DB Only</th>
				@*<th>CanTransitionTo</th>*@
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td>@context.Name</td>
				<td>@context.UsedInDbOnly</td>
				@*<td>@context.Dump</td>*@
			</RowTemplate>
		</TableTemplate>
	</div>
</div>
