@page "/CodeOfConduct"
@page "/WindmillRanch/CodeOfConduct"

@using LivingMessiah.Web.Features.WindmillRanch.Components

@using Page = Enums.WindmillRanchLinks.CodeOfConduct
<PageTitle>@Page.Title</PageTitle>

<Menubar />

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<h5>Work in progress</h5>

<p>ToDo: What is expected of people when they visit the Windmill Ranch</p>

<ReturnAnchor/>
