@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.Pages.SukkotAdmin.Registration.Domain

@using LivingMessiah.Web.Pages.SukkotAdmin.Donations.Domain

<EditForm Model="VM"
					OnValidSubmit="Add_ButtonClick"
					class="card card-body bg-light mt-5">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="row mt-n2">

		<div class="col-sm-8">
			<div class="mb-3">
				<label for="familyName" class="control-label">Email</label>
				<InputText id="familyName" class="form-control" @bind-Value="VM.EMail" />
				<ValidationMessage For="@(() => VM.EMail)" />
			</div>
		</div>

		<div class="col-sm-4">
			<div class="mt-4">
				<button class="btn btn-outline-success btn-sm">
					<i class="fas fa-save"></i> Add HRA Record
				</button>
			</div>
		</div>
	</div>

</EditForm>