<p>
	Mark and Pollyanna Webb reside in Arizona with their 8 children, 10 grandchildren, sons and daughter in laws, along with their large multi-generational extended family.
</p>
<p>
	Mark was affirmed as a congregational servant-leader on July 7, 2007, and disciples believers in Messiah <i>Yahushua</i> (Jesus), the lost sheep of the House of Israel, in the Hebraic Roots of our Christian faith.  He serves as the congregational leader of Living Messiah Ministries in downtown Mesa.
</p>
<p>
	Experiencing the land of Israel was life changing for the Webb family. They began studying the Hebrew roots of their Christian faith in 2004. Mark began serving as a congregational leader on 7-7-2007 and is currently building community from a Hebraic understanding at Living Messiah Ministries in Mesa Arizona and at Windmill Ranch in Bisbee Arizona.
</p>
<p>
	Mark and Polly are passionate about the study of Biblical Astronomy, observing the prophetic patterns the heavens declare nightly of our Messiah. They are also devoted to the study of Biblical geography, history, customs, languages and the exile and gathering of the whole House of Israel.
</p>
<p>
	The Webb family enjoys traveling and meeting the scattered family of Israel that is being	gathered. We look forward to meeting you!
</p>

<p>
	<BibleQuote Cite="Psalms 19:1">
		<p class="fs-5 text-primary">
			The heavens declare the glory of God; the skies proclaim the work of His hands.
		</p>
	</BibleQuote>
</p>