<p>
	Pat was raised in a believing home and has had a personal relationship with the Messiah since childhood.
	She was married to a Christian pastor with whom she served for 50 years, the last 15 of which were spent proclaiming the Messianic message.
	Together, Pat and her husband raised six children.
	Her wisdom and experience are a valuable resource to the leadership of our Living Messiah family.
</p>

