<p>
	In 2017, Paul’s career as a Graphic Designer provided an opportunity to move from Washington State to Mesa, Arizona,
	where he and his wife Wanda visited Living Messiah for the first time and never left.
</p>

<i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
<blockquote class="blockquote">
	Coming to Arizona has been an incredible journey.
	Now, without Wanda by my side, I’m having to grow in my faith and experience another level of what it means to trust YHWH for everything!
</blockquote>

<MemorialCard />
