<p>
	We moved from Washington state to Arizona in 2020. After 20 plus years in Christianity, we came to the realization that Sabbath was the sign between Yahuah and his people.
	That led us to a journey of re-evaluation of the entire scriptures to understand what Yah desires from his people.
	In light of that, we seek to live our lives pleasing to the God of Abraham, Isaac and Jacob, the God of Israel through his son, Yahushua, the Messiah.
	As an elder, Dan has committed himself to helping lead this ministry in accurately interpreting and obeying the whole Bible.
</p>
<p>
	As the wife of an elder, Renee serves as a prayer partner and fellow student of the scriptures.
	Together it is our desire to help the leadership lead our assembly in the narrow path that leads to life.
</p>
