@using FeastDayType = LivingMessiah.Web.Features.Calendar.Enums.FeastDay
@using LivingMessiah.Web.Features.Feasts.VerseReferenceCards

<div class="d-print-none mb-2">
	@* <div class="container d-flex justify-content-end mt-2"> *@
	<div class="row mt-2">
		<div class="col-12">
			<ToggleButton ButtonLabel="Learn More">
				<LearnMore />
			</ToggleButton>
		</div>
	</div>
	@* </div> *@
</div>



@code {

}
