@using LivingMessiah.Web.Infrastructure
@using FeastDayType = LivingMessiah.Web.Features.Calendar.Enums.FeastDay

<div class="row mt-3">
	<div class="col-3 text-info">
		@GregorianDate
	</div>
	<div class="col-6 text-center">
		<span class="badge bg-warning-subtle text-dark fw-bold fs-6">@DaysFrom</span> @DaysFromNow
	</div>
	<div class="col-3 text-info ">
		<span class="float-end">
			@HebrewDate
		</span>
	</div>
</div>


@code {

	[Parameter, EditorRequired] public FeastDayType? FeastDayType { get; set; }

	protected string? GregorianDate;
	protected int DaysFrom = 0;
	protected string? DaysFromNow;
	protected string? HebrewDate;

	protected override void OnParametersSet()
	{
		GregorianDate = DateTime.Now.AddDays(Constants.Test.AddDays).ToString(DateFormat.FeastDayPlanner); 
		// 		<sup>DateUtil.GetDaySuffix(DateTime.Now.Day)</sup>

		TimeSpan difference = FeastDayType!.Date.AddDays(Constants.Test.AddDays) - DateTime.UtcNow.AddHours(Utc.ArizonaUtcMinus7);

		DaysFrom = (int)difference.TotalDays;
		DaysFromNow = $" days until {FeastDayType.Name}";
		
		HebrewDate = DateUtil.ToTransliteratedHebrewDateString(DateTime.Now.AddDays(Constants.Test.AddDays));
		// <sup>DateUtil.GetDaySuffix(DateTime.Now.Day)</sup>
	}

}
