@using FeastDayType = LivingMessiah.Web.Features.Calendar.Enums.FeastDay
@using LivingMessiah.Web.Features.Calendar.FeastDayPlanner.Constants
@using PageFeasts = LivingMessiah.Web.Features.Feasts.FeastLinks

<div class="row">
	<div class="col-12">

		<div class="card border-primary mt-1">
			<div class="card-body">
				 <EveningAndDay FeastDayType="FeastDayType" />
			</div>
		</div>

	</div>
</div>

@code {

	[Parameter, EditorRequired] public FeastDayType? FeastDayType { get; set; }
	[Parameter, EditorRequired] public bool IsXsOrSm { get; set; }
}