@using Blazored.FluentValidation;
@using LivingMessiah.Web.Pages.Sukkot.RegistrationEntry.HouseRulesAgreement

@inherits Fluxor.Blazor.Web.Components.FluxorComponent


<EditForm Model="VM"
					OnValidSubmit="HandleValidSubmit"
					class="card card-body bg-light mt-5">
	<FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="@true" />
	<ValidationSummary />

	<div class="row mt-n2">

		<div class="col-sm-8">
			<div class="mb-3">
				<label for="familyName" class="control-label">Email</label>
				<InputText id="familyName" class="form-control" @bind-Value="VM!.EMail" />
				<ValidationMessage For="@(() => VM.EMail)" />
			</div>
		</div>

		<div class="col-sm-4">
			<div class="mt-4">
				<button class="btn btn-outline-success btn-sm">
					<i class="fas fa-save"></i> Add HRA Record
				</button>
			</div>
		</div>
	</div>

</EditForm>