@* @typeparam TItem *@
		@using FeastDayType = LivingMessiah.Web.Features.Calendar.Enums.FeastDay

<div class="row mt-2">
	<div class="col-12">

		<div class="card border-primary mt-1">

			<div class="card-header text-center">
				<h5><i class="@FeastDay!.Icon"></i> @FeastDay!.PlannerTitle <span class="hebrew16"> @FeastDay!.Hebrew</span></h5>
			</div>
			<div class="card-body">
				@ChildContent
			</div>
		</div>

	</div>
</div>

@code {
	[Parameter] public FeastDayType? FeastDay { get; set; }
	[Parameter] public RenderFragment? ChildContent { get; set; }
}