@using FeastDayType = LivingMessiah.Web.Features.Calendar.Enums.FeastDay
@using LivingMessiah.Web.Features.Calendar.FeastDayPlanner.Constants
@using PageFeasts = LivingMessiah.Web.Features.Feasts.FeastLinks

<div class="row mt-2">
	<div class="col-12">

		<div class="card border-primary mt-1">
			@if (!IsXsOrSm)
			{
				<div class="card-header text-center">
					<h5><i class="@FeastDayType!.Icon"></i> @FeastDayType!.PlannerTitle <span class="hebrew16"> @FeastDayType!.Hebrew</span></h5>
				</div>
			}
			<div class="card-body">
				<DynamicComponent Type="SelectedFeastDayComponent" />
			</div>
		</div>

	</div>
</div>

@code {

	[Parameter, EditorRequired] public FeastDayType? FeastDayType { get; set; }
	[Parameter, EditorRequired] public bool IsXsOrSm { get; set; }

	protected Type? SelectedFeastDayComponent;
	
	protected override void OnParametersSet()
	{
		SelectedFeastDayComponent = Type.GetType($"{DynamicComponentPaths.FeastDayComponents}{FeastDayType!.Name}");
	}

}