@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IDispatcher Dispatcher

<button onclick="@RepopulateHandler" title="Re-populate the list"
				type="button" class="text-warning btn-sm">
	<i class="fas fa-retweet"></i>
	<small>Re-populate</small>
</button>

@code {
	void RepopulateHandler()
	{
		Dispatcher!.Dispatch(new Get_List_Action());
	}
}
