@using LivingMessiah.Web.Shared.YouTube
@using WVT_Enums = LivingMessiah.Web.Pages.Admin.Video.Enums.WeeklyVideoType

@if (!@LoadQuickly)
{
	@if (CurrentWeeklyVideo != null)
	{
		@if (!IsPrinterFriendly && !LoadQuickly)
		{
			{
				<Card WeeklyVideoTypeValue="WVT_Enums.MainServiceEnglish.Value"></Card>
			}

		}
	}
	else if (LoadFailed)
	{
		<p class="text-danger"><em>Could not load because of an Error</em></p>
	}
	else
	{
		<p><em>Loading...</em></p>
	}

}
else
{
	<div class="card mt-2" style="width: 100%">
		<div class="card-header h3 px-2">
			<span class='badge bg-warning pb-15'>YouTube Not Shown</span>
		</div>
		<div class="card-body">
			<h5 class="">The YouTube iframe is not shown because LoadQuickly is @LoadQuickly</h5>
		</div>
	</div>
}
