@using LivingMessiah.Web.Features.ThresholdCovenant.OriginalHtml

<div class="pb-n1 mt-3 mb-3 border-bottom border-info-subtle">
	<h5> @NavItem.Value @NavItem.Title</h5>
</div>

<ChristianPassOverHtml />

@code {
	protected Enums.NavItem NavItem = Enums.NavItem.ChristianPassOver;
}
