@using LivingMessiah.Web.Features.ThresholdCovenant.BookSections.SubSection

<div class="pb-n1 mt-3 mb-3 border-bottom border-info-subtle">
	<h5> @NavItem.Value @NavItem.Title</h5>
</div>

<MyNotesCard />

<NewMeaningOldRite />

<WelcomeWithBlood />

<BasonThreshold />

<PassoverOrPassby />

<EndNotes /> 

@code {
	// <HebrewPassOverOrCrossOverHtml />
	protected Enums.NavItem NavItem = Enums.NavItem.HebrewPassOverOrCrossOver;
}
