@page "/Hanukkah"
@using LivingMessiah.Web.Features.Feasts.Components
@using LivingMessiah.Web.Features.Feasts.VerseReferenceCards


@using Page = FeastLinks
<PageTitle>@Page.Hanukkah.Title</PageTitle>

<ReturnAnchor></ReturnAnchor>

<div class="pb-1 mt-4 mb-5 border-bottom border-primary">
	<h2><i class="@Page.Hanukkah.Icon"></i> @Page.Hanukkah.Title</h2>
</div>

<div class="card border-primary mt-5">
	<Joh_10_22 />
</div>


