<div class="card bg-light mt-1 mb-4">

	<div class="card-header"><h5 class="text-center">Introduction</h5></div>
	<div class="card-body">
		<p>
			For the most part, this page lists the feasts which in Hebrew is transliterated as <i>moadim</i> or sometimes <i>(c)hag</i>
			the <i>moadim</i> are listed in <span class="badge bg-warning">yellow</span> and others are listed in <span class="badge bg-success">green</span>.
			They are listed in chronological order.
		</p>
	</div>

</div>

@code {

}
